[2017-08-09 06:55] tryadelion opened #172 "how to modify CSS for the current selected day?"
I understand there's a custom templating system for events on the calendar but would like to know if there was a way to modify the template for the current selected day. i wish to display selected dates as a circle and the current <td> text <td> structure makes it quite hard.

[2017-08-09 07:58] tryadelion opened #173 "Clicking on next or past months days in MonthView breaks date selection"
If i clic on the next month days ( visible with a slightly greyed out font on the monthview ), the swipe is triggered, but then clicking on any day triggers again the swipe.  if you click a "next month day" the selected day will be wrong, but swiping again to another month will select the correct value.

[2017-08-09 08:05] tryadelion commented on #173
also, the next month's swipe preview doesn't have the templates or css applied.

uploaded a video: (still processing)

https://youtu.be/KBbwHJbg-d4

[2017-08-09 09:17] tryadelion commented on #173
removed library, readded it on latest version and it worked again.  i don't know how. or why.

[2017-08-09 09:17] #173 closed

[2017-08-09 09:29] plindsay commented on #173
@tryadelion out of curiosity - were you able to trigger the swipe animation when navigating to previous and next months (as shown in your video with the < and > icons)? I've been trying to do this but not managed to yet.

[2017-08-09 09:31] tryadelion commented on #173
not yet, i'ts on the to-do list.

[2017-08-09 13:42] twinssbc commented on #172
@tryadelion If a date is selected, there will be a monthview-selected css class applied on the cell.
Maybe you could customize the style of this css class to achieve your requirement?

[2017-08-09 13:49] twinssbc commented on #171
@jordanpurinton No Events label is displayed when there's no event will happen on the selected date.
If you don't select anything, this label won't appear.

[2017-08-09 13:56] twinssbc commented on #168
@Astacius If there are 2 events in a single hour, are they still not overlapping with each other? To be honest, it won't be user friendly in a small screen if there are many events need to be displayed. The height of an event is too small that can't be selected easily.

[2017-08-09 13:59] twinssbc commented on #170
@Astacius The calendar.currentDate is called in an async callback, I'm not sure if the view will be updated automatically.
Could you check this.calendar.current is pointing to the current scope, not some variable belongs to the callback method scope?
Could you try putting the code inside setTimeout?
[code]

[2017-08-09 15:04] jordanpurinton commented on #171
Well, I want the No Events label to be displayed in the case that I receive a certain error code back in my service provider.

For example, I receive a "Not Found" error, I want that to be reflected in my calendar view once I select a month cell that doesn't have any events tied to it. If that makes sense?

[2017-08-09 15:06] jordanpurinton commented on #171
Here are some screenshots for reference. In the first one, that cell has no events on that date but events in the current month.

In the second example, I have no events on that date and no events in the current month, which then leads to the no events label not being displayed at all.

![capture](https://user-images.githubusercontent.com/12102971/29128751-f6e518e6-7ce1-11e7-98ee-ab858dd5a0f6.PNG)

[2017-08-10 04:58] Astacius commented on #168
Yes, they are not overlapping, they are placed next to each other, but still if I select an event and there are a few events in single hour, only the last event in that hour can be selected.
Maybe not user friendly but I was told to do so.

[2017-08-10 05:02] Astacius commented on #170
I have found the solution but it doesn't look good, I have to first assign data.Date to new object and then I am setting calendar.currentDate.setFullYear manually from that object

[2017-08-10 08:22] Seao opened #174 "onTimeSelected frequently called while vertical scrolling on iOS devices"
Hey @twinssbc,

First thanks for your work on this plugin, it works very well!

I encountered an issue on iOS devices with the onTimeSelected function, which is frequently called while I'm vertically scrolling on the week view. When I'm scrolling slowly and properly, there is no issue. But if it's more a "tap and scroll" movement, the calendar is detecting a click which triggers the onTimeSelected

[2017-08-10 09:53] Astacius opened #175 "How to set manually selected date?"
Is there any way to set selected date from code?

[2017-08-10 13:22] twinssbc commented on #60
@gmarab markDisabled is called when rendering the monthview, not applicable to the weekview and  dayview.

[2017-08-10 13:35] twinssbc commented on #174
@Seao I added tappable per other users' suggestion to eliminate the 300ms
http://technotip.com/5093/tappable-attribute-ionic-2/
I didn't notice that it may introduce the accidental click.
Since there's no other user reporting this issue, I think it's better to leave it there.
Could you try remove the tappable to see if it could solve your problem?

[2017-08-10 13:41] twinssbc commented on #175
@Astacius you just need to set the currentDate.

[2017-08-10 13:44] twinssbc commented on #170
@Astacius, I don't know how date.Date is changed. But Angular watches the object reference change, not some internal property of an object.

[2017-08-10 14:37] MrHOY opened #176 "Calendar empty when eventSource lasted for several days"
Example:
event start: Wed Apr 12 2017 00:00:00 GMT+0700 (SE Asia Standard Time)
event finish: Fri Apr 14 2017 00:00:00 GMT+0700 (SE Asia Standard Time)

I try allDay: true but Calendar still empty event. (monthView)

[2017-08-11 06:21] Astacius commented on #175
oh wow i thought it is something different, ok nevermind

[2017-08-11 06:33] Astacius commented on #170
so I have to assign currentDate to new object to refresh the calendar view?

[2017-08-12 00:42] twinssbc commented on #175
@Astacius Actually currentDate and selectedDate are two different variables internally. But unless you turn off autoSelect, they are always pointing to the same day.

[2017-08-12 00:42] #175 closed

[2017-08-12 00:59] twinssbc commented on #176
@MrHOY Could you show me how do you set the startTime and endTime of the event? Are you using a standard date object or parse from a string?

[2017-08-12 07:11] twinssbc commented on #170
yes, you need to assign currentDate to a new object.

[2017-08-12 07:52] twinssbc commented on #114
@gmarab You could set background-color: white to weekview-header and z-index: -1000 to weekview-normal-event-container.

[2017-08-12 08:00] twinssbc commented on #171
@jordanpurinton If there's no event in this month, for any selected date, the "No Event" label should be displayed. If you check the demo page, events are not loaded at the beginning, and you can see "No Events" label there. I'd like to figure out what happened after you get the error code. What if you set the eventSource to an empty array in your error handling callback?

[2017-08-12 08:42] twinssbc commented on #168
@Astacius Could you also provide the code of dataService.getColor and calculateTop methods?
Also how is Combined  field get calculated?
Did you add any custom style to calendar-event and calendar-event-inner css class?
I suspect although the events are displayed like as not overlapping, their surrounding DOM are overlapping. As you can see from below source code, the eventSelected method is trigge

[2017-08-12 14:13] MrHOY commented on #176
@twinssbc
Data I get:
       start_date: 2017-03-08T07:00:00
       end_date: 2017-03-15T19:00:00
then I change from string to Date():
      startTime: new Date(item.start_date),
      endTime: new Date(item.end_date)
If event start and finish in one day, calendar work good. But event lasted for several days, calendar empty

[2017-08-12 23:30] twinssbc commented on #176
@MrHOY In some browser, some string format is not supported.
https://stackoverflow.com/questions/4310953/invalid-date-in-safari

Could you try creating an event using below code see if it works?
[code]

[2017-08-14 05:31] Astacius commented on #168
dataService.getColor returns a hex of color for a specific event
calculateTop:
[code]
yes I have a custom style for calendar-event:
[code]
You are probably right, so how can I make it work in my case?

[2017-08-14 06:29] #170 closed

[2017-08-14 06:31] #146 closed

[2017-08-14 06:33] #119 closed

[2017-08-14 06:34] #122 closed

[2017-08-14 16:07] jordanpurinton commented on #171
It still isn't working for me unfortunately :/

[2017-08-15 15:22] twinssbc commented on #171
@jordanpurinton After you setting any empty array, if you manually select a date, does the "No Event" label appear?

[2017-08-15 19:46] jordanpurinton commented on #171
No, unfortunately.

[2017-08-16 14:29] twinssbc commented on #171
That sounds very weird.
I guess you set an empty array in the error callback, right?
What if you set an empty array in the normal callback, will the "No Event" label appear?
Does "No Event" label appear at the very beginning, before you trying to load any event?
Is it possible that actually the "No Event" label exists, but overlapped by other DOM element?
Maybe you could share your code snippet th

[2017-08-16 14:48] jordanpurinton commented on #171
**Front end:**
[code]

**Service:**
  /**
   * Take a given date and grab the corresponding schedule event for the employee, if there is one.
   * @param locationId
   * @param startDate
   * @param endDate
   * @returns {Observable<R>}
   */
  getScheduleEvent(locationId, startDate, endDate) {
    let token = localStorage.getItem('Token');
    let headers = new Headers({'Content-Type': 'applicati

[2017-08-16 14:50] jordanpurinton commented on #171
The way my API is set up is that it returns a 404 error when an event isn't found for the date range that gets passed, if that's helpful at all.

[2017-08-18 07:12] Astacius opened #177 "Week starting from monday?"
Right now in week view a week starts from sunday, is there any way to change that to monday?

[2017-08-18 08:11] #177 closed

[2017-08-18 14:01] squierll opened #178 "Display events from firebase"
Hoping someone can help. After several tries, I'm stuck in display events on ionic2-calendar. I fetch data from firebase, but in calendar events not shown.
Here is my code.

**calendar.ts**

    export class CalendarPage {
      eventSource: FirebaseListObservable<any[]>;
      constructor(public firebaseService: FirebaseServiceProvider, public afd: AngularFireDatabase) {}

     ionViewDidLoad(){

[2017-08-19 14:40] ihuyghens opened #179 "Module "*" has no exported member"
Somebody can help me please. I am a beginner with ionic

file: 'file:///var/www/html/redde_mobile/redde/src/app/app.module.ts'
severity: 'Erreur'
message: **# 'Module '"/var/www/html/redde_mobile/redde/src/pages/welcome/welcome"' has no exported member 'Welcome'.'**
at: '6,10'
source: 'ts'

[2017-08-19 14:56] ihuyghens commented on #179
I found the solution
In my welcome.ts page, file the above line has to be updated.
i'm change export class  WelcomePage  to  export class Welcome

[2017-08-19 14:57] #179 closed

[2017-08-19 21:48] squierll commented on #107
@wilsoncx  Thanks a lot.

[2017-08-19 22:52] #178 closed

[2017-08-20 14:12] MrHOY commented on #176
@twinssbc  it work good with your code
But my data get from API and format string, how can I apply my data to calendar ?
Also, I want to take rangeTime( startTime and endTime ) of calendar when load component, how can I do this?
Thank you.

[2017-08-21 09:39] Seao commented on #174
Sorry for the delay. I tried to remove the tappable attribute but this doesn't solve the issue. I decided to modify manually the plugin before each production build. I close this issue, if someone meet the same problem on iOS devices, feel free to reopen it.

[2017-08-21 09:39] #174 closed

[2017-08-22 15:18] Kilomat opened #180 "Day view"
Hey everyone, there are any right way to display day hours by column ?
I mean having the events on the line and the hours per column.

Thx

[2017-08-23 07:19] Avislux opened #181 "Fetched events from post request does not show until swiping to another month."
Hi. I've managed to implement the calendar into my ionic 3 app with almost no issues except for one problem. When I load my calendar page, the page constructor calls a function that makes a post request to a PHP server, which returns the events in a JSON array. In the http.post promise I replace the date strings with date objects and push them to the eventSource array.

Problem is that these event

[2017-08-23 08:16] tryadelion commented on #105
only on android so far. it's weird isn't it? even on high end devices

[2017-08-23 08:35] tryadelion commented on #105
@twinssbc
http://i.imgur.com/fKqAjWG.png
^my chrome profiler result on a mid end device. i hide the calendar before IonViewDidEnter, because before it took about 800ms to load. now the load harm is on the animation layer tho. any way to improve it? i'm not a performance expert.

[2017-08-23 09:28] tryadelion commented on #36
sounds like a possible cause of the android load times

[2017-08-23 10:58] wondergeek opened #182 "Calendar View Customization Error"
Good day,

I am new to ionic and trying to customize the background color for each day of the calendar month.

I tried to the following code snippet
html file
[code]

typescript file:

color definition
[code]
but an error will occur that the color is undefined

 Error: Uncaught (in promise): TypeError: Cannot read property 'color' of undefined
TypeError: Cannot read property 'color' of undefined

[2017-08-23 11:00] wondergeek commented on #158
hi twinssbc,

can you show a sample code snippet on both html and typescript file that customize the calendar view color of each day of the month?

thanks

[2017-08-23 14:20] twinssbc commented on #176
@MrHOY You could use some date library, for example, momentjs, to parse the string to a valid date object.
If you set the queryMode to remote and add rangeChanged callback, you will get the startTime and endTime in the rangeChanged method when loading the calendar.

[2017-08-23 14:26] achillelrc opened #183 "co.calendar is undefined"
Hello,
I'm sorry to ask such a question but i get this error when i try to use the calendar tag in the html file
I followed your instructions and i really don't know how to deal with this..
My version of ionic is 3.8.1 please can you tell me what is wrong?
I attach the calendar's page folder and my app folder
Thanks for your help
Achille
[pages.zip](https://github.com/twinssbc/Ionic2-Calendar/file

[2017-08-23 14:31] twinssbc commented on #158
@wondergeek
For example, in html,

[code]

In ts, you could add your customized logic to calculate a style/class based on the current date or events.
[code]

[2017-08-23 14:35] twinssbc commented on #180
@Kilomat I'm not sure if I understand your requirement. Maybe a mockup could help?

[2017-08-23 14:37] twinssbc commented on #181
@Avislux If you directly modify the element in eventSource array. You could use loadEvents method. Take a
 look at Instance Methods section in README.

[2017-08-23 14:41] twinssbc commented on #182
@wondergeek
The definition of view object is like below:
[code]
As you can see it doesn't have **event** field, but events field as an array.
You could either use [style.backgroundColor]="view.events[0].color" or [style.backgroundColor]="getEventColor(view.events[0])".
Then add some logic of getEventColor in ts file.

[2017-08-23 14:48] achillelrc commented on #183
i found by myself sorry for this stupid question

[2017-08-23 14:48] #183 closed

[2017-08-23 14:57] twinssbc commented on #105
@tryadelion Are you saying you have hidden the calendar, but the app still takes 800 ms to load?
If you try the sample Ionic project, how long will it take to load?

[2017-08-23 14:58] tryadelion commented on #105
@twinssbc  i hide it on load, and then on IonViewWillAppear show it again, so it doesn't lag the load time.  it still takes 800ms to render completely, just not like if the whole thing freeze up like before.

[2017-08-23 15:56] twinssbc commented on #171
@jordanpurinton I used your code, it seems working at my side.
Did you add any customization to the event detail section?
If you set empty array to scheduleEvents in the normal response callback, does "No events found" label appear?
[code]

[2017-08-23 17:42] jordanpurinton commented on #171
Sorry for the HTML dump, but here is my detail list and no events label.
[code]

[2017-08-23 18:32] Avislux commented on #181
Adding
`loadEvents: function() {
        this.eventSource.push({
            title: ‘test’,
            startTime: startTime,
            endTime: endTime,
            allDay: false
        });
        this.myCalendar.loadEvents();
    }`
below the constructor gives me a bunch of syntax errors in my IDE. I assume it's supposed to look something like this:
`loadEvents():void{
        this.myCalenda

[2017-08-24 08:11] lampofdrog opened #184 "ERROR Error: Uncaught (in promise): Error: Template parse errors: Can't bind to 'monthviewEventDetailTemplate' since it isn't a known property of 'calendar'."
hi

![screen shot 2017-08-24 at 09 08 18](https://user-images.githubusercontent.com/11801709/29656277-ef53d7d6-88ab-11e7-9ff9-db1cb8408128.png)

![screen shot 2017-08-24 at 09 10 37](https://user-images.githubusercontent.com/11801709/29656351-209a809c-88ac-11e7-908a-408ce64e7014.png)

help me plz thank you

[2017-08-24 13:57] Kilomat commented on #180
For me the suitable design should be displayed like this:
[https://ibb.co/hRZjbk](url)

Another question : i want to remove  100% height of monthview-container class. how ??
ps : wanna remove this line ":host > div { height: 100%; }\n\n" from the style.

[2017-08-25 17:13] youch12 opened #185 "allDay events in day view are displayed multiple times when swipping"
Hi there everyone, I keep getting this error: when I try to display my events which are all **allDay** events, everything seems fine but when I swipe back or forth and return to a pervious event, the dayView displays my events, each multiple time:
At first display, everything seems fine:

![image](https://user-images.githubusercontent.com/16466678/29724518-a6642240-89c0-11e7-98c5-9bc3b64ec641.png)

[2017-08-26 00:40] twinssbc commented on #171
@jordanpurinton I found you are using selectedDate.events == 0.
I think it should be **selectedDate?.events.length==0**?

[code]

[2017-08-26 00:47] twinssbc commented on #180
@Kilomat
This kind of layout is not supported.
Also this calendar allows you to swipe left and right to switch days.
If you display events by hour horizontally, there will be a horizontal scrollbar.
It's kind of conflict with the swipe action.

[code]

[2017-08-26 00:50] twinssbc commented on #184
@lampofdrog Are you using a PageModule?
If so, you should import the calendar module into your page module, for example
[code]

[2017-08-26 03:15] twinssbc commented on #185
@youch12 I can confirm it's a bug, will fix it this weekend. Thanks for reporting it!

[2017-08-26 11:06] youch12 commented on #185
Thank you

[2017-08-27 15:34] twinssbc commented on #185
@youch12 I have fixed the bug in the latest version.

[2017-08-28 08:00] twinssbc commented on #181
@Avislux could u provide the code snippet about viewchild definition, looks like it doesnt get the calendar instance.

[2017-08-28 10:16] youch12 commented on #185
Thank you !

[2017-08-28 10:16] #185 closed

[2017-08-28 16:04] lampofdrog commented on #184
@twinssbc  thank you very much ;) i will test and i come back to you to confirm the solution

[2017-08-28 17:16] Avislux commented on #181
@twinssbc

[code]

[2017-08-29 02:25] MrHOY commented on #176
Thank you so much,

[2017-08-29 02:25] #176 closed

[2017-08-29 05:50] twinssbc commented on #181
@Avislux I think there are two problems in your code. Your getclasses method is an async call, so the loadevents method should be called in the callback method.
When constructor is called, the calendar element hasn't been fully rendered, so it cant get the viewchild. Its better to load your data in ionViewDidLoad method.

[2017-08-29 14:01] jamesbcn opened #186 "Can't bind to 'ngModel' despite importing FormsModule"
I receive the following error when trying to create a new event on my ionic2-calendar:

    Uncaught (in promise): Error: Template parse errors: Can't bind to 'NgModel' since it isn't a known
    property of 'ion-input'. 1. If 'ion-input' is an Angular component and it has 'NgModel' input, then
    verify that it is part of this module. 2. If 'ion-input' is a Web Component then add
    'CUSTOM_ELE

[2017-08-29 15:46] twinssbc commented on #186
@jamesbcn It seems this issue is not relevant to the calendar control?
I think you need to use ngModel instead of NgModel

[2017-08-29 15:46] #186 closed

[2017-08-30 02:15] Avislux commented on #181
I put loadEvents() everywhere BUT the callback function. Not sure why I didn't think of that. Also put my getClasses() in ionViewDidLoad(), although it seems to work without it.

It works as intended now, thanks!

[2017-08-30 02:15] #181 closed

[2017-08-30 08:46] Kilomat commented on #180
Thank you.

[2017-08-30 08:46] #180 closed

[2017-08-30 08:52] youch12 opened #187 "Month names are incorrect in monthView"
Hi there @twinssbc , I think there is a bug with the callendar's monthView. In the month view, some month names are incorrect, for example:

This is suppose to be June 2017 but it displays may 2017:
![image](https://user-images.githubusercontent.com/16466678/29863114-8f988b06-8d66-11e7-8571-84a5a14e6fbe.png)
This is suppose to be July 2017 but it displays june 2017:
![image](https://user-images.gi

[2017-08-30 14:56] twinssbc commented on #187
@youch12 Could you provide the reproduce steps? It seems the month names are correct at my side.

[2017-08-30 19:19] jordanpurinton commented on #171
Yep! That was it. Thank you so much and again, fantastic directive! Easier than any other one I came across.

[2017-08-30 19:19] #171 closed

[2017-08-30 21:35] magnoou opened #188 "calendar doesn't change language on the go"
I'm using the calendar in my app, and I have a language selector but when I change it, the calendar doesn't change language unless y restart the app since it takes the value in the module provider when the app starts, is there a way to reload it?

{ provide: LOCALE_ID, deps: [LanguageProvider], useFactory: getLocal_id }

I have this in my i18n module, and it works only when the app starts not if i

[2017-08-31 10:51] Upperfoot commented on #5
@twinssbc Can this be closed off or is this still an issue?

[2017-08-31 21:03] youch12 commented on #187
I'm not quite sure I understand what you mean, like I said all the images are from the demo.

[2017-09-01 13:59] twinssbc commented on #187
@youch12 I mean this behavior must be triggered at certain circumstance. I understand that it is quite random, but do you have any clue to reproduce it easily? Do you use some special movement, for example, swipe left x times, the right y times?

[2017-09-01 14:01] twinssbc commented on #5
@Upperfoot I think this behavior still presents. When you swipe from the 3rd slide to the 4th slide, since it's using a 3 slides loop, it will first display the original 1st slide, then quickly turn to the 4th slide.

[2017-09-01 14:09] twinssbc commented on #188
@magnoou I think the question is not calendar specific, but how to change language dynamically in Angular/Ionic app. I wonder if the language can be changed dynamically in other parts of your app?

[2017-09-01 17:07] magnoou commented on #188
@twinssbc yes, every other part of the app changes the language but not the calendar, the only way it changes is when closing the app and opening it again

[2017-09-03 04:20] fredorlima opened #189 "How can I control de swipe function trigger."
In my application I need control blocks of events generated dynamically, and chage the title bar content. Is there any way to push new items in eventSource after the swipe (using this specifc date - daily view)?

[2017-09-03 08:15] twinssbc commented on #189
@fredlima87 It seems your question is not related to the issue title?
To control the swipe function dynamically, you could set the curre**n**tDate variable to previous/next day.
To load the events after the swipe, you could set **queryMode** to ‘remote’ and add logic in **onRangeChanged** method. If you need to directly push items in eventSource, instead of replacing the whole variable, you could

[2017-09-04 13:57] sakshamg6 commented on #49
Still getting this error in 0.2.5 version.

[2017-09-04 14:49] youch12 commented on #187
No special, I just swipe back to previous dates and even to far distant dates, I thought it could be language related but it's not. When I click on dates in these incorrect months, the console displays correct values:
![image](https://user-images.githubusercontent.com/16466678/30031151-38fdcd76-9188-11e7-97d9-48aacbe8208f.png)

[2017-09-06 15:46] twinssbc commented on #187
@youch12 Which browser are you using? So you just swipe back to previous month, the error appears immediately?

[2017-09-07 08:41] youch12 commented on #187
I'm using Opera 47.0.2631.71, and my friend is using Google Chrome 60.0.3112.113: she is experiencing the same issue.

[2017-09-07 10:22] Kr0n092 commented on #188
I'd like to know how to do this as well.

[2017-09-08 15:35] TheKalin opened #190 "Ionic3 - onRangeChanged is not triggered by range change"
Hello I have a problem with this component in ionic3 application. When i'm swiping left and right or changing the calendar mode nothing is happening ;x
My html code:
`
<ion-content text-wrap>
<calendar [eventSource]="eventSource" [noEventsLabel]="foo1" [autoSelect]="false" [queryMode]="remote"  [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" [startingDayWeek]="1" [startingDayMo

[2017-09-09 14:25] twinssbc commented on #190
@TheKalin It needs to bind to a variable like calendarMode, it doesn't support pass a constant value in html.

[2017-09-10 02:53] twinssbc commented on #187
@youch12 What's your time zone and locale? Do you swipe the calendar very quickly?

[2017-09-10 03:23] twinssbc commented on #188
@magnoou
I could expose an instance method to change the locale.
But I wonder how is your language selector working? Just want to check if there's any clean way. Otherwise, each time you change language using the selector, you also need to call the calendar method.

[2017-09-10 23:02] youch12 commented on #187
My time zone is that of Morocco's: GMT+1. No I do not swipe quickly.

[2017-09-11 07:23] TheKalin commented on #190
@twinssbc Ok it works now. I would never guess that this is the issue. Passing startingDayWeek,startingDayMonth values from html templated worked. This is what tricked me.
Anyway, thanks for help!

PS: Do you plan to write a feature for custom period view ? For example 2-3 days in single slide.

[2017-09-11 13:16] twinssbc commented on #190
@TheKalin No plan for that. I try to make this calendar can meet the general requirements, while different people may have different expectation on the custom period view.

[2017-09-11 13:18] TheKalin commented on #190
@twinssbc Oki.Keep up the good work. :) Feel free to close the issue.

[2017-09-11 13:22] #190 closed

[2017-09-12 16:41] magnoou commented on #188
I use the ngx-translate module, so when I change the lang I execute the method

       this.translateService.use(lang);

and save it in my localstorage

       localStorage.setItem(this.LOCALSTORAGE_LANGUAGE_KEY, language);

[2017-09-13 08:28] Astacius opened #191 "Mark multiple days as selected?"
I have to mark the entire week-row in month view as selected, what is the easiest way to do that? Like on this picture:
![capture](https://user-images.githubusercontent.com/26569213/30367340-47f7c038-986e-11e7-9a9f-f6222b9c9ab7.JPG)

[2017-09-15 05:54] chethangowda commented on #79
@twinssbc  I want to refresh the calendar onSwipe left and right, which method will get hit on swipe
Help me out here...

[2017-09-16 13:17] twinssbc commented on #79
@chethangowda onRangeChanged will be triggered if you set the queryMode to 'remote'.

[2017-09-18 16:37] twinssbc commented on #188
@magnoou I exposed **locale** option in the latest version.
It has higher priority than the LOCALE_ID at the module level.
If you change calendar.locale at runtime, the whole calendar language will also be changed dynamically.
Feel free to have a try.

[code]

[2017-09-18 17:09] JoanJosep33 commented on #172
Hello @twinssbc ! Really awesome work! But could you pls explain the option u presented to @tryadelion ?
I want to change the colors (Depending the day one color or another). But I don't understand how to apply css on the class monthview-selected.

Thanks a lot!

[2017-09-18 22:03] magnoou commented on #188
@twinssbc thanks for the time, Ill give it a try and let you know how it goes

[2017-09-18 23:55] twinssbc commented on #172
@JoanJosep33
You could easily add below declaration in your app css file.
[code]

But I think you are looking for different things, as you want to use different color for the days, not the selected date.
You could use customized template to achieve this. For example,
In HTML,
[code]
In ts,
[code]
You could find more details in README.

[2017-09-19 00:02] twinssbc commented on #191
@Astacius I think you could leverage customized view.
For example, in HTML
[code]

In ts,
[code]

Below snippet allows you to add your own css class to the cell based on the events happen on that day. Once you select a date, you could insert some fake event for the whole week.
You could also generate the css class based on the date on that cell if you use view.dates[row*7+col].date.

[2017-09-19 00:09] twinssbc commented on #187
@youch12 I'm sorry, I changed my computer to your timezone, and set the locale to 'fr-FR', still cannot reproduce your issue.
Maybe you could record a video to show how do you reproduce it?
Also what if you change to other timezone or locale, does the issue still happen?

[2017-09-19 00:11] twinssbc commented on #167
@Astacius Do you still meet this issue?

[2017-09-19 17:59] magnoou commented on #188
@twinssbc I just made some tests but with no success, even if I put it like this

let me show you some of my code, so I have a Wrapper class for the callendar which has this template:

`@Component({
	selector: 'calendar-wrapper',
	template: `
		<div style="display: block">

			<calendar-controls
				[viewTitle]="viewTitle"
				[showCalendarIn]="calendarShow"
				[showSearchBar]="showSearchBar"

[2017-09-20 00:16] twinssbc commented on #188
@magnoou locale should be bound to a variable not a constant string.

[code]

[2017-09-21 05:38] Astacius commented on #167
nope, you can close, it was my bad

[2017-09-21 08:54] Bhavana1622 commented on #94
this is what i did and it worked. please check the code. Hope this helps

https://github.com/Bhavana1622/ionic2-calendar-event

[2017-09-21 08:55] Bhavana1622 commented on #158
this is what i did and it worked. Hope this helps.

https://github.com/Bhavana1622/ionic2-calendar-event

[2017-09-21 09:00] Bhavana1622 commented on #119
I've tried this and it works for month view. Hope this helps.

https://github.com/Bhavana1622/ionic2-calendar-event

[2017-09-21 17:24] magnoou commented on #188
I tried both

[2017-09-22 23:36] #167 closed

[2017-09-22 23:44] twinssbc commented on #188
@magnoou How do you change the locale? The new locale only takes effect when the calendar executes its ngOnInit function again.
If you have a button in the page containing the calendar, once you click it, the calendar won't be rendered, so the language won't change immediately. Only when you switch to a different view, for example monthview to weekview or you switch to a new tab in the app, the ng

[2017-09-25 13:11] twbocklertorch opened #192 "Event Detail - Add more classes to elements"
It would be nice to split out and wrap each event item with a <span>, each with its own classname, so that we can control the display better.

For instance, you have this for event detail:
<span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
{{event.startTime|date: 'HH:mm'}} -{{event.endTime|date: 'HH:mm'}}
</span>

It would be nice to have something like this:
<span *ngIf="!event

[2017-09-25 13:18] twbocklertorch opened #193 "Dev vs Prod - Build differences"
I modified the monthviewEventDetailTemplate, so that the event day detail displays differently.  When I package my Ionic3 application using a development profile, the display looks great.  But when I build it using --release, the display looks like the out-of-box version.  Any ideas why these modes would produce different results?

[2017-09-25 19:35] lopezhansel commented on #148
## Possible Solution
I believe a webpack plugin decided to no longer accepts my declaration files that had the extension `.d.ts`.  **I had a file with only type annotations named `user.d.ts` and I was forced to rename it to `user.ts`.** This allowed me to get passed the error.

## More Insight
I had the same error where `Module build failed: TypeError: Cannot read property 'content' of undefined`.

[2017-09-26 06:08] Astacius opened #194 "onTimeSelected(ev) problem"
It seems like it doesn't really select the time you click on but it selects the starting time of an event you click if there is any, how to fix that?

[2017-09-26 13:53] twinssbc commented on #193
@twbocklertorch Did you directly modify the source code or you use the way described in the **View Customization Option** section in README. Is it possible you put your template in a separate file, but it is not packaged in the release mode?

[2017-09-26 13:54] twinssbc commented on #192
@twbocklertorch You could check the **View Customization Option** section in README. It supports using a customized template.

[2017-09-26 14:02] twbocklertorch commented on #193
@twinssbc I created a local repo and modified the calendar.ts file directly.  I modified the event start date within the monthviewDefaultEventDetailTemplate template, built the plugin, and then brought the dist folder code within the node_modules folder.
Is that correct?

[2017-09-26 14:02] twinssbc commented on #194
@Astacius You mean in the weekview and dayview? The root cause is because the event element is floating on the calendar table. Once you click it, the event element (which starts from the startTime cell) is handling the click event, instead of the real underlying timeslot. If you click a cell that is not overlapped by an event, the time should be correct.
I'm still thinking a way to handle the firs

[2017-09-26 14:09] twinssbc commented on #193
@twbocklertorch You don't have to modify the source code.
The calendar supports view customization. Unless certain part of the calendar doesn't support that, you could modify the source code.
For example, if you want to customize the event detail section, you could use below code in your own component.
[code]

[2017-09-26 14:24] twbocklertorch commented on #193
@twinssbc  Great.  That worked...however.  The eventSelected event it not firing.
Here is my custom template:
<template #templateApptCustom let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
            <ion-item-sliding #item

[2017-09-26 14:34] twbocklertorch commented on #193
@twinssbc When running in the browser, I see this error:
Runtime Error
co.eventSelected is not a function

I basically took your month detail template and customized it.  I'm not sure why it's not finding the event selected method.

Thank you...

[2017-09-26 14:36] twbocklertorch commented on #193
@twinssbc Nevermind.  I found the issue.  My template event selected methodname was 'EventSelected(event), while the actual method name was 'onEventSelected(event).  All works.

Thank you for the quick help.  I can now test and release my app.

[2017-09-26 14:36] #193 closed

[2017-09-26 20:08] pimatco opened #195 "Is there a way to add the event below the calendar inside of a card?"
I've been trying this but couldn't find a way.

When you add an event, it appears below the calendar in a one line only. I would like to customize it more and add it in a card.

Thanks for the great work, by the way.

[2017-09-27 13:31] twinssbc commented on #195
@pimatco You probably could try the use the customized template. You could get more details from the "View Customization Option" section in README.

[2017-09-27 15:40] magnoou commented on #188
@twinssbc oh I see, I was testing this change with a button on the same page, moved out and its working now, thanks for your time dude!

[2017-09-28 14:35] sacav1 commented on #130
Hello and thanks for this awesome plugin !

I have the same question with two events which follow each other (the first ends at 9:30 and the second starts at 9:30).

How to display theses two events width full-width ? (like the picture below)

![ionic-calendar](https://user-images.githubusercontent.com/32365066/30972025-c3b52c22-a469-11e7-9d86-718052a25435.png)

[2017-09-29 01:02] JoanJosep33 commented on #172
Hi there, sry for the delay answer. I had no time!

Well, u are right, I've finally solved. But, when I was solving the problem, another one comes up.
Right now, I have this:

    https://gyazo.com/ab3a2f4df4948a3d138773d7f6c1061b

This I did it with the following code:
  `.test{
  background-color: red !important;
}`

My answer is, which is the instrucction to mark the whole square and not just t

[2017-09-29 01:05] selloutdesign commented on #172
I was having trouble doing this and found the answer by targeting
.monthview-selected[_ngcontent-c1]{ background-color: red;}
Not quite sure what is going on here yet - https://angular.io/guide/component-styles#appendix-inspecting-generated-css

[2017-09-29 08:46] JoanJosep33 commented on #172
Wow @selloutdesign , it works!

Amazing man. Thanks to everybody!

[2017-09-29 09:37] achillelrc opened #196 "Can I preload month data?"
Hello!
I use your calendar and I was wondering if it is possible to preload data.
I mean when i scroll to the left or to the right the events doesn't appear directly there is a little latency and the data pops up.
![1](https://image.prntscr.com/image/KcrCUSMfS7m_5Cqarf1EiA.png) ![2](https://image.prntscr.com/image/lMEbFQxlSBKddPo5D5sLjA.png)
For exemple here when I swipe i can still see the event

[2017-09-29 19:25] nandokferrari opened #197 "viewTitle not updating correctly"
I have been experiencig some bugs with viewTitle's update as we slide to a next or previous month. If I start at september, then slide to the next one, i got october; if I slider to the next one again, I should get november, but I get october again for instance.

It also happens in the project's demo, you can here: https://twinssbc.github.io/Ionic2-Calendar/demo/   It duplicates October, and skips

[2017-09-30 01:30] #188 closed

[2017-09-30 02:17] twinssbc commented on #130
@sacav1 I can confirm it's a bug, will fix it later.

[2017-09-30 02:28] twinssbc commented on #196
@achillelrc I think you are looking for pre-render feature, instead of preload. Because you have the control to load the events from your backend in any time range and cache them at the local. And if you think the latency between swiping and displaying the data is because of the time spent on talking to the  backend, you should preload and cache the events.
Regarding the pre-render feature, unfort

[2017-09-30 02:44] twinssbc commented on #197
@nandokferrari
Some other user reports this issue.
https://github.com/twinssbc/Ionic2-Calendar/issues/187
But I'm still not able to reproduce it.

The logic is like below, it will use the first day of the current month to generate the title.
Could you spot anything wrong?
[code]

[2017-09-30 13:09] achillelrc commented on #196
oh okay thanks for the answer :)
Yes i was talking about pre render but i don't knew how to describe that and thank you for the explanation.
Okay no matter but now i'm interested by caching my events how can i do that?
Thanks again and sorry for bad english

[2017-10-02 12:50] scortex84 commented on #158
Hi,
sorry for my bad english. Thank you very much for your exemple.
But, why the dates without events disappearing? How do they keep the default style?

![image](https://user-images.githubusercontent.com/4736327/31078076-0aa34d20-a781-11e7-97a1-a716d257938c.png)

thank you very much for your help !

[2017-10-02 15:00] Bhavana1622 commented on #158
![image](https://user-images.githubusercontent.com/25843455/31083585-ad8ffc4e-a7af-11e7-9945-2126205d72ec.png)

If you are using the example i posted above, its because you have 1 type of events in your array. Dates without events are not getting displayed due to the statement entered in your custom template.

for eg.
 <div *ngFor="let obj of view.dates[row*7+col].events">
                    <p [

[2017-10-02 15:16] scortex84 commented on #158
Thank you very much ! I'm sorry, I'm a beginner...

If "view.dates[row*7+col].events" display only dates having events, is there another property to display all dates ?

I don't know how to use *ngIf... if you have a sample code showing what I want to do, it would be very nice!

thank you very much for your help !!

[2017-10-02 16:27] Bhavana1622 commented on #158
@scortex84
//In ts file

var events=[];
if(*some condition that has the dates having events*){
events.push({
                             title: 'Some Title',
                            startTime: startTime,
                            endTime: endTime,
                            eventColor: 'red'
});
}
else{
events.push({
                             title: 'Some Title2',

[2017-10-03 06:52] scortex84 commented on #158
thank you very very much !! :-)

[2017-10-05 19:50] Simbaclaws opened #198 "Slider has wrong width because of pagetransition"
I'm having a bit of a inconvenience here,

Basically I have a list of items, and once an item is clicked a new page will open with the calendar inside of it.

My problem is that I've made a page transition that starts with a specific height and width and animates to full height and width of the page with the calendar that should be displayed.

The ion slider that's inside of MonthViewComponent whi

[2017-10-07 06:29] Avislux opened #199 "Need to tap twice to fire onEventSelected on iOS"
Hi. On iOS devices there's a problem when trying to click on events. I have to tap an event twice to fire onEventSelected, which I have set to push another view. There's also a small delay before the page is pushed. This doesn't happen in any other device I've tested. Any work around? Thanks.

[2017-10-10 06:31] RS-Shekhawat commented on #95
@twinssbc ,
I need to get click event on week day, so could you suggest me the way of getting this event.

[2017-10-10 15:15] twinssbc commented on #196
@achillelrc Caching events is simple. For example, in theory, you need to only fetch the events between startTime and endTime each time onRangeChanged method is triggered.
But you could add some logic to fetch one year events and assign it to some variable. Then each time onRangeChanged method is triggered, you just extract the slice from the cached events, instead of fetch from the backend.

[cod

[2017-10-10 15:36] twinssbc commented on #199
@Avislux Have you tested it in multiple IOS version or only on a specific version? Also could you debug to locate the delay actually happens on certain line(s) of code?

[2017-10-10 15:40] twinssbc commented on #95
@RS-Shekhawat Are you saying you want to get click event when you click a day in weekview?

[2017-10-10 16:03] twinssbc commented on #198
@Simbaclaws
I'm not sure if resize function could solve your problem.
Check the source code below, it seems this resize method does nothing.
https://github.com/ionic-team/ionic/blob/master/src/components/slides/slides.ts

[code]

I think maybe there are two ways worth to try.
1. Do not display the calendar until the page transition completes. For example, add some ngIf logic to control the visibil

[2017-10-10 16:43] Titoch commented on #121
Hi,
When I use 2 calendars instances (MonthView) on 2 different pages/modules, the first one has a correct behavior.
But the swipes events performed on second calendar#2 are still handled by calendar#1 (even if not displayed / Not same page).

Is there a way to force subscribe/unsubscribe swipe's events on init/destroy of the page?
Thank you very much for your help!

[2017-10-10 18:18] Avislux commented on #199
I have this happening on the latest iOS version on my iPad, as well as the version before it. This also happens on someone else's iPhone. I only have problems on a built app. If I open the app in my iPad's Safari hosted on local network using `ionic serve` I don't get this issue. I believe it has to do with using (click) vs (tap) in the template.

I'm also trying to build a fork but I'm having pro

[2017-10-11 00:02] twinssbc commented on #199
@Avislux The delay happens on which view, monthview, weekview or dayview?
I added tappable attribute in some places to remove the 300ms delay, but not all places, for example the event detail section in monthview.
If you want to customize the event detail section, you could use the custom template, no need to modify the source code.

[2017-10-11 00:55] Avislux commented on #199
It happens in monthview. I wasn't aware of the template customization. That might actually solve all my little issues.
Would it be possible to color a day in monthview differently if it has an event with a specific property?

[2017-10-11 10:50] fdambrosio opened #200 "Demo Page is not working"
Hi, the Demo page https://twinssbc.github.io/Ionic2-Calendar/demo/ is not working, it returns a blank page.

Thanks

[2017-10-11 10:51] darkholiday opened #201 "using the calendar twice in the same page one of them is not responsive anymore."
i want to use the monthview and the dayview in the same page any tips i am new in ionic.
i using the same calendar twice in the same page one of them is not responsive anymore.
but if i use only one its responsive and works perfectly.

[2017-10-11 12:03] RS-Shekhawat commented on #95
@twinssbc yes, when i click on day from week view then i want to get this event. I am attaching my app week design header its my requirement.
![screen shot 2017-10-11 at 5 36 43 pm](https://user-images.githubusercontent.com/25079413/31439562-3dff9982-aeaa-11e7-9cfd-cc3cb3e70ba2.png)

[2017-10-11 15:28] twinssbc commented on #199
@Avislux Yes, the default template is as below
[code]
It only displays the date label by default.
view.dates[row*7+col] actually has below data structure.
[code]
So you could use ngClass or ngStyle on some custom fields, like view.dates[row*7+col].events[0].customProperty to generate some customized css style.

[2017-10-11 15:36] twinssbc commented on #95
@RS-Shekhawat You could use onTimeSelected function.
It has an argument called selectedTime, which could be used to determine the selected day.
Note that this selected time might not be the exact hour you clicks, depending you are clicking on a cell having events or not. Let's say you have an event starting from 7-9, when you click the cell on 8, you might think the selectedTime is 8, but actually

[2017-10-11 15:44] twinssbc commented on #200
@fdambrosio Which browser are you using? Any error message printed out in the console?

[2017-10-11 17:19] fdambrosio commented on #200
@twinssbc now i've seen that it's working, but it require almost 30 seconds to load all the resources and rendering the page. Thanks

[2017-10-11 17:20] #200 closed

[2017-10-12 00:16] cerkiner opened #202 "Doesn't render correctly when its loaded with [hidden]"
On my use case, I need it to appear on certain event triggers, I am using [hidden] to render and load the events on page load and then I am programmatically making it visible when it is necessary.  When it is visible the swipe, click and tap don't work and the styles are not the same with initially loaded version.

[2017-10-12 02:18] Avislux commented on #199
So I tried something like this.
[code]
This gives me a bunch of errors saying
`TypeError: Cannot read property 'allDay' of undefined` when I try to load the calendar page.
Trying it with a custom property gives me a similar error. Ultimately I want the cell color to change based on a custom event property "flag", which is set to 0, 1, or 2.

I used `[ngClass]="{'open-color':view.dates[row*7+col].e

[2017-10-12 14:09] Simbaclaws commented on #198
Dear @twinssbc

Thanks for the great response,

I've solved my issue by using ionViewDidEnter() and then setting the values for the events and current date of the calendar, so that it gets initialized after the page transition completes. Now it works flawlessly.

Thanks for the help :+1:

[2017-10-13 10:21] RS-Shekhawat commented on #95
@twinssbc thanks for reply me, actually i have some changed the functions in the "week.js"  file in node_modules

[2017-10-13 11:57] RS-Shekhawat commented on #95
@twinssbc could you suggest me how to re-generate "weekview.js.map" & "weekview.meta.json" from "weekview.js" file so all the updated code move in these files "weekview.js.map" & "weekview.meta.json" . Because these are encrypted files so, i am little bit confused if i will change these file code and any kind of issue will come after that change.

Thanks

[2017-10-13 14:26] twinssbc commented on #199
@Avislux I think this is because on some date, there's no event, so when you access events[0].allDay, you get read property of undefined error.
You could try the ?. syntax.

[2017-10-13 14:31] twinssbc commented on #95
@RS-Shekhawat If you decided to modify the source code, I suggest you fork the repository and modify the ts file. Then run "npm run build-prod", all necessary files will be generated under aot folder.

[2017-10-13 23:43] Avislux commented on #199
Thanks for your help. That was the issue, but then I  wondered how to check for all events in a day rather than a specific event. So I did this:
`[ngClass]="{'open-color': checkFlags(view.dates[row*7+col].events) == 2, 'closed-color': checkFlags(view.dates[row*7+col].events) == 1}`

[code]
And it worked perfectly. Only problem was that the background color won't fill the entire cell by itself due

[2017-10-13 23:43] #199 closed

[2017-10-14 13:50] twinssbc commented on #201
@darkholiday This is the known issue of ion-slides.
See https://github.com/ionic-team/ionic/issues/12008, Ionic team hasn't come up an official fix for it.

[2017-10-14 14:11] twinssbc commented on #202
@cerkiner I think you need to use *ngIf instead of [hidden]. hidden attribute basically just adds the display:none to the DOM elements so the elements actually already exist. But I guess the underlying Swiper control needs to do some calculation for the DOM element width and offset, so it can't get proper result using the hidden elements. While ngIf generates the DOM elements completely, so no suc

[2017-10-14 14:15] fahmisaad opened #203 "display data from database into calendar"
hi,
as i stated at my title, i trying to figure out how to display data from database(mysql) into calendar.
For example i got data on 2017-10-26 00:11:00 (the datatype is datetime) said meeting, and i want to show this data into my calendar. I really need help on how to do it.

i'm using ionic and php as backend.

i'm following this website as my tutorials.
[https://devdactic.com/ionic-calendar-ap

[2017-10-14 14:33] twinssbc commented on #203
@fahmisaad The calendar only cares the events pushed into eventSource no matter it comes from where.
You could also refer to the Demo page. In the demo page, it directly fills the eventSource with some fake events. You just need to fill the eventSource with the data fetched from your database. Also you probably need to use 'remote' queryMode and load the events in rangeChanged callback function.
Y

[2017-10-14 15:10] johnmikelridz opened #204 "Buttons to Swipe"
For user experience, I have added buttons right beside the viewTitle variable in Ionic. However, I cannot seem to understand how the slider slides to the next month (or the previous month). Is there any possible way we can use (click) and have the calendar either move to the previous month or next month?

[2017-10-14 15:10] johnmikelridz commented on #203
The demo page is not working: https://twinssbc.github.io/Ionic2-Calendar/demo/

[2017-10-14 15:14] twinssbc commented on #204
@johnmikelridz Yes, you just need to set the currentDate to a date in previous/next month.

[2017-10-14 15:16] twinssbc commented on #203
@johnmikelridz please create a separate issue

[2017-10-14 15:19] johnmikelridz commented on #203
Oh, sorry about that. I will do that.

[2017-10-14 15:40] fahmisaad commented on #203
can you give or show some coding example on how to do in "'remote' queryMode and load the events in rangeChanged callback function."part.  Honestly i'm new on ionic.
Trying to find tutorial on internet but sadly didn't found any.

[2017-10-15 00:40] twinssbc commented on #203
@fahmisaad

In HTML,
[code]

In ts,
[code]

[2017-10-15 06:15] johnmikelridz opened #205 "Link seems to be not working"
Hi, as you have asked me to create an issue for this. Please check this demo link:
https://twinssbc.github.io/Ionic2-Calendar/demo/

It seems to be not working - or is it only on my side?

[2017-10-15 06:15] johnmikelridz commented on #205
Never mind. Maybe I had an internet problem yesterday. Seems to be working A-OK! Sorry for the trouble.

[2017-10-15 06:15] #205 closed

[2017-10-16 09:13] RS-Shekhawat commented on #95
@twinssbc ok... thanks for provide me solution, let me try it & if i got any trouble then will update you.

[2017-10-16 09:22] Titoch commented on #204
Hi,
I think the need (it's also my need) is to show the Swipe animation when setting the new currentDate to next/previous month.
Actually, setting this currentDate make the calendar updated but without any animation.

[2017-10-16 10:18] Titoch commented on #158
Hi.
Is there a way to modify (or access) the parent <TD> from a customized template in order to change the event's <TD> class or style (background or inner-borders)  depending on the events date, types?
Actually I manage to modify only the <div> or <p> inside the <TD>.
Thank you.

[2017-10-16 12:52] twinssbc commented on #158
@Titoch Sorry, it seems your comment is not complete. The css class on the parent DOM is fixed. But you could override the styles for the css class. For example, you could set the background color of the parent DOM as transparent, then set different background color for the inner DOM element.

[2017-10-16 12:53] twinssbc commented on #204
@Titoch It's not supported in the current version. I will investigate if I could expose such method.

[2017-10-17 12:56] Simbaclaws opened #206 "scroll to first event?"
I saw there is a method that uses scrollToHour when the view is changed but I'm uncertain how I can get the current week or day that it is viewing in order to scroll to the first event in the calendar. In other words, if for example I have 3 events on a specific day, one starts at 1 AM, the other at 3 AM and the last one on 7 AM I want my view to automatically scroll to 1 AM so that the user doesn

[2017-10-18 06:57] kapilkarda commented on #95
Hello @twinssbc I just  want that In weekView when I click to time "onTimeSelected" I want that field
background to be changed and when I again clicked is goes to unselect..
![image](https://user-images.githubusercontent.com/4336836/31704525-66097d62-b3ff-11e7-9f37-450e1b3526c0.png)

[2017-10-18 09:53] darkholiday commented on #201
Thank you man
keep up the good work ;)

[2017-10-18 09:53] #201 closed

[2017-10-18 10:12] darkholiday opened #207 "Change dayView "day" by clicking on monthView "date" programmatically."
i am using monthView and dayView in the same UI and i would like to do this:
when i select a date on the monthView calendar => the dayView scroll to that date programmatically .
i included a picture so my question will be clear enough :D
i just need some tips and i will do the rest.

![untitled](https://user-images.githubusercontent.com/10091953/31712908-5ec2cf82-b3f4-11e7-8ffd-627e48be3564.png)

[2017-10-18 13:51] twinssbc commented on #207
@darkholiday Because of some bug of the ion-slides, I don't think two calendar work well in the same page, at least the swiping on the second calendar doesn't work.
Anyway, to control the dayview to navigate to a certain date is quite simple, you just need to set the currentDate to the specified date.

[2017-10-18 13:59] twinssbc commented on #95
@kapilkarda Actually onTimeSelected probably doesn't work as you expected. It's because let's say you have an event starting from 7AM to 9AM. The event DOM element basically hover on the 7AM and 8AM cell. Now if you click the 8AM cell, the element response to the click event is not the 8AM cell element, it's the hovering event DOM starting from 7AM. It results to that onTimeSelected will think the

[2017-10-18 14:11] twinssbc commented on #206
@Simbaclaws Unfortunately it doesn't support set scroll position dynamically. It's some fixed value will be used when the view is initialized.

[2017-10-18 15:55] GrindingOgre commented on #81
@twinssbc Hi, i'm using this thread to make a question about the monthviewEventDetailTemplate.

I've created a template that is a ion-list with all the events in the selected day of the calendar, but what i get is that all my content (even the calendar) scrolls up. What i'm trying to get done is that only the ion-list should scroll... Can you help me with this behaviour?

this is my component code

[2017-10-18 16:13] darkholiday commented on #207
Finally i did it XD
Thank you for the tip it helped me a lot.
if someone needs some help concerning this functionality PM me.

[2017-10-18 16:13] #207 closed

[2017-10-19 13:36] twinssbc commented on #81
@GrindingOgre This is because the scroll bar is at the ion-content level, not ion-list level.
So the calendar itself has the css style, height:100%, so it will get the full height of the parent element.
While before calendar, you also have the h2 element, so the total height exceeds the parent element, that's why it appears the scroll bar.

This problem actually could be simplified to one parent e

[2017-10-19 14:20] GrindingOgre commented on #81
@twinssbc At last i've found a solution to my problem, but i think that it's just for me, because i need just the month view.

In the css i've put this rule
    .monthview-container {
        height:auto;
    }

Thanks :)

[2017-10-20 11:19] johnmikelridz opened #208 "Some Customizations for the DayView"
We are currently working on a scheduling / booking app that leverages this ionic2-calendar.
One of the features that I need to have working with this app is the core of it, the booking part. I sent the video to you to understand.

What I want to achieve is the following:

1. Pass the selectedDate to the title of the DayPage (it always shows October 20, or whatever the current date is).
2. Trim dow

[2017-10-21 01:41] twinssbc commented on #208
@johnmikelridz
1. Once you select the date, it also becomes the current date, so no need to set it again. You could also set the currentDate programatically.
2. You could use below css
[code]
3. You just need to add an event to the corresponding timeslot and add some css style for the event element.
4. You could add an event, and have some custom property like 'blocked', then add some css style fo

[2017-10-24 08:35] ramogundogdu commented on #144
@wilsoncx can you please share here how you implemented the calendar with Firebase, especially the method  `getEventos()` ?

[2017-10-24 19:25] frixtiglao commented on #60
@twinssbc is there a way to disable specific dates? For example, Oct. 15, Oct 17, Oct 21, Oct 26 will the ones to be disable only in the calendar.

[2017-10-26 15:10] twinssbc commented on #60
@frixtiglao You could use markDisabled callback method. You just need to check if the date argument equals to the dates you want to disable.

[2017-10-26 15:11] twinssbc commented on #208
@johnmikelridz I just added startHour and endHour options, so you don't need to css to hide part of the calendar as I suggested in item 2 above.

[2017-10-26 15:15] twinssbc commented on #130
@sacav1 I have fixed this bug in the latest version. Feel free to have a try.

[2017-10-26 15:16] twinssbc commented on #114
@gmarab @hakikihacioglu I exposed startHour and endHour option in the latest version. You don't need to use the css hack to hide part of the calendar. Feel free to give a try.

[2017-10-26 17:50] johnmikelridz commented on #208
Oohh, how do I update the code? Do I just run npm install ionic2-calendar@latest --save once more?

As an added to my question number 3 above, how does one initialize an array for eventSource? I want to be able to pull this data from FireStore using AngularFire2 but I want to test it out with mockdata first before I use a service.

Thanks!

[2017-10-27 14:18] twinssbc commented on #208
@johnmikelridz Yes, you just run npm install ionic2-calendar@latest.
To fill some mocked data into eventSource, you could refer to the Demo page in the source code. It is doing the exact thing.

[2017-10-28 06:11] frixtiglao commented on #60
@twinssbc I am using the call back method of the markDisabled but when I put for example "return date = current_date" it will not disable the current date rather it will disable all the dates from the calendar. If you can give a short code example on how to achieve the disabling specific dates, I would really appreciate it. Thanks in advance!

[2017-10-29 03:04] twinssbc commented on #60
@frixtiglao Although they may be the same date, but == will treat them as two different objects. You need to compare them with the timestamp. For example,

[code]

[2017-10-29 11:09] johnmikelridz commented on #208
Thanks for your help.

I'm going to push this a little further.

I am combining the month view and day view on a single page. I want them both to reference the same instance of the calendar. If I select a date on the month view, the day view should update (depending on the eventSource) and vice versa (meaning, if I swipe left / right on the day view - the month view should change it's highlighted

[2017-10-30 00:01] twinssbc commented on #208
@johnmikelridz Unfortunately it's not possible to have two calendars in the same page.
This is due to a bug of the underlying ion-slides. It doesn't support that.

[2017-10-30 16:25] darkholiday commented on #204
any updates about the animation ?

[2017-10-30 16:44] carolineberger opened #209 "Creating a new view"
Hi! I'm super new to javascript- this is my first 'real' project.
Is there a way to create a new view, like monthview, weekview, and dayview? Specifically, I'm looking to create a mode that shows three days. For example, if today is October 30, I'd want to show October 29, 30 and October 31.
Is it possible to use CSS to create this view from the pre-existing views?

Thank you!
Caroline

[2017-11-01 10:36] IversonViana opened #211 "The days go wrong"
The days are out of order, instead of starting on Sunday, starts on Friday.
![calendar](https://user-images.githubusercontent.com/33282266/32271127-9ee82170-bedf-11e7-97b6-b328f75ad96f.JPG)

[2017-11-01 13:49] twinssbc commented on #211
@IversonViana Did you do any customization on the style or use startingDayMonth option?

[2017-11-01 13:57] twinssbc commented on #209
@carolineberger Unfortunately just using CSS is not sufficient to create three-day view. There's some logic in JavaScript code to calculate each event should be placed in which position, and they are calculated based on 7 days. If you want to display the events like the weekview and dayview, I'm afraid you need to read the source code and mimic the logic for 3 days view. If you just want to displa

[2017-11-01 14:16] twinssbc commented on #204
@darkholiday @Titoch
I found the solution.
You could get the underlying Swiper instance by using pure DOM query.
Then you could any Swiper instance method you want.
[code]

[2017-11-01 16:44] frixtiglao commented on #60
@twinssbc Thank you it worked! I will further test the code.

[2017-11-02 15:17] darkholiday commented on #204
i will try it soon i am working on another project right now. i will let you know if it worked or not ;)

[2017-11-02 20:21] RM650 opened #212 "onTimePress($event)"
Hi, is possible to create a custom event working similar like onTimeSelected using press event?

[2017-11-05 02:00] twinssbc commented on #212
@RM650 In monthview, the default template is like below, you could create your own template using monthviewDisplayEventTemplate. In your own template, you could add extra HTML element and attach press event to it.

[code]

[2017-11-05 02:02] twinssbc commented on #211
@IversonViana
Could you provide your code that is using the calendar?
Is there any error printed out in the console?
Can you still swipe to the previous/next month?

[2017-11-05 07:24] RM650 commented on #212
Thanks, I understand. I will try.

[2017-11-05 07:52] RM650 commented on #212
I have one more question. Is possible to custom day view? I know, that I can custom displaying events but what about all view. I want customize drawing col and rows in day view. Is possible by #template or I need override css?

[2017-11-06 05:11] Hermiona opened #214 "calendar does not swiping"
After I updated my ionic-angular packages, the calendar stopped to work correctly.
Ionic info gives me the following information:
![image](https://user-images.githubusercontent.com/19423390/32426208-e9709d9c-c2e2-11e7-90ac-900f007afeca.png)
My package.json is following^
 "@angular/common": "4.4.6",
    "@angular/compiler": "4.4.6",
    "@angular/compiler-cli": "4.4.6",
    "@angular/core": "4.4.6"

[2017-11-06 05:33] rlmax opened #215 "add to holidays"
how can this template adding holidays in numbering mark dot for holiday

[2017-11-06 19:30] IversonViana commented on #211
I got it sorted. The problem was in my main css, I was setting the ion-slide with left: 25%. Thanks for the feedback.

[2017-11-07 13:24] #211 closed

[2017-11-07 13:33] twinssbc commented on #215
@rlmax
For example, the default template is as below
[code]
The data structure of view.dates[row*7+col] is
[code]
You could use a custom function with ngClass to generate some custom styles for the holiday
[code]

[2017-11-07 13:38] twinssbc commented on #214
@Hermiona I can't see your dependencies pasted in the description.
Could you try it in a brand new Ionic project? Normally such issue is caused by a partial upgrade. For example, you updated ionic-angular but some other indirect dependencies are not updated.
Also is there any error printed in the console?

[2017-11-07 13:38] rlmax commented on #215
Thanks for reply i will be trying this code . 👍

[2017-11-07 19:29] RM650 commented on #212
Next question. I want change height & top styles of '.calendar-event'. I know how to add some elements inside, its possible by template directive. Overriding css its not good idea, because when I start draw my event in 8:30am then it is not in middle. I also change '.calendar-cell' height, so I need higher '.calendar-event'. Can you help me?

[2017-11-08 00:57] paean99 commented on #194
Simply using CSS by adding 'pointer-events: none;' to the classes 'calendar-event-wrap' or 'calendar-event' could help for the beginning of a solution (at least for the browser platform). The child elements pointer-events can also be controlled individually.
But i suggest that it should be an togglable option.
Probably a better alternative would be to change the design?

More here: [developer.mozi

[2017-11-08 07:19] youngcholo commented on #197
@twinssbc
Logic is correct, it will get the first day of the current month.
I'm loading my calendar on monthView/queryMode configuration and set current date to today (Nov 8, 2017).

onRangeChanged I'm getting this  :
range changed: startTime: Mon Oct 30 2017 00:00:00 GMT+1100 (AEDT), endTime: Mon Dec 11 2017 00:00:00 GMT+1100 (AEDT).

headerDate : "Wed Nov 01 2017 00:00:00 GMT+1100 (AEDT)", which

[2017-11-08 17:53] RM650 commented on #212
Ok, I have solution. I create directive which update parentElement properties.
`
@Directive({
  selector: '[calendar-event-inner]'
})
export class CalendarEventInnerDirective {
  @Input() displayEvent: any;

  element = <ElementRef>null;
  hourParts = 4;

  constructor(el: ElementRef) {
    this.element = el;
  }

  ngAfterViewInit() {
    this.element.nativeElement.parentNode.style.top = (109 * t

[2017-11-09 10:11] HamzaouiMounir opened #216 "'ng-template' is not a known element:"
Cannot configure the calendar in my app.module.ts [IONIC 2]
'ng-template' is not a known element:
1. If 'ng-template' is an Angular component, then verify that it is part of this module.
2. If 'ng-template' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgModule.schemas' of this component to suppress this message. ("          [ngClass]="getHighlightClass(views[0].dates[row*7+col])">

[2017-11-09 16:31] aces-tm opened #217 "Upgrade to ionic 3.9.2 ngOutletContext error"
I just upgraded to Ionic 3.9.2 which runs Angular 5.0.0 and one of the breaking changes is replacing ngOutletContext with ngTemplateOutletContext. This breaking change causes plugin to display folloring error:

Template parse errors: Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'. 1. If 'ngOutletContext' is an Angular directive, then add 'CommonModule' to the '@Ng

[2017-11-09 21:18] aces-tm commented on #217
So I fixed "j" issue it by adding following code to my ts file:

        dateFormatter: {
            formatDayViewHourColumn: function(date:Date) {
              return moment(date).format('ha')
            },
        }

All the issues on my end are solved. I suggest updating the plugin.

Thanks for the awesome plugin!

[2017-11-10 09:19] GrindingOgre opened #218 "MonthView: Mantain selection when changing month"
Actually, when you change the month (talking abount month view), currentDate is updated with the same day of the new month.
For example:

i've selected the 10th of October, swiping right to November, the new currentDate will be 10th of November.

Is there a way to block this update? I don't want to change my selection between months.

[2017-11-10 12:47] FallenRiteMonk commented on #217
I would also like start using this library.  @aces-tm could you please create a PR for your changes so that it works with ionic 3.9.2 and angular 5.0.0?

[2017-11-10 14:43] aces-tm commented on #217
@FallenRiteMonk Not sure how to create PR, but all you need to do is go to node_modules --> ionic2-calendar and find files dayview.js, monthview.js and weekview.js and in your code editor search for ngOutletContext and replace it with ngTemplateOutletContext. In dayview.js and weekview.js I believe there was 6 locations and in monthview.js there was 7. That's it. Hope it helps.

[2017-11-10 14:58] FallenRiteMonk commented on #217
@aces-tm The problem with changing it in nodes_modules folder is that it's not persistent, but if I'll find the time I'll create a PR in the hope that it gets merged.

[2017-11-10 15:11] aces-tm commented on #217
@FallenRiteMonk I agree... If somebody gives me instructions how to do it I will... I just never done it

[2017-11-10 15:47] FallenRiteMonk commented on #217
I have already done it, but for the next time:
1) Fork repo
2) Clone fork locally
3) Make changes (normally done in new branch)
4) Commit & push
5) Go to github fork and create PR (Use the button that appears on your changed branch)

More detailed:
https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

[2017-11-10 21:10] chsukhesh commented on #217
@aces-tm Thank you. It work's perfectly.

[2017-11-11 03:36] twinssbc commented on #218
@GrindingOgre There's a "autoSelect" option that you can set to false to disable auto selection when swiping.
But it seems you have special use case of the selected date?
When a date is selected, the calendar will do two things
1. The cell is marked as selected state.
2. The events happen on that date will be displayed in the event detail section
If you disable autoSelect, when you swipe to next m

[2017-11-11 06:03] twinssbc commented on #216
@HamzaouiMounir Which Angular version are you using? **ng-template** is introduced in Angular4. If you are still using Angular2, you should use **template**

[2017-11-11 07:32] twinssbc commented on #197
@youngcholo I guess it may due to day light saving.
Looks like this bug is also raised to Angular repo.
https://github.com/angular/angular/issues/8319

Unfortunately I can't reproduce it even when I set the timezone to UTC+11, somehow I'm allowed to turn on/off DST manually in my desktop.
Could you do me a favor to set the headerDate to midday to avoid the edge case around 0AM and see if it could

[2017-11-11 11:53] GrindingOgre commented on #218
It seems that the autoselect could be what i was looking for...

Thanks a lot!

[2017-11-11 12:13] JoanJosep33 opened #220 "Is there any option to (press) event calendar?"
Hello there, I am trying to do a press event, since the double click is not working on Ionic 2.

The problem is that if I create a (press)="myFunction($event)" this event is from the pressed action, and not from the calendar.

Is there any option to do this?

Thank you so much!

[2017-11-11 12:43] dkandari opened #221 "ionic 2 : i need only select date in console. please help me my code is bellow"
html           <calendar
		[eventSource]="eventSource"
		[calendarMode]="calendar.mode"
		[currentDate]="calendar.currentDate"
		(onEventSelected)="onEventSelected($event)"
		(onTitleChanged)="onViewTitleChanged($event)"
		(onTimeSelected)="onTimeSelected($event)"

ts

onTimeSelected(ev) {
console.log('Selected time: '+ ev.selectedTime);

}

console output is : Thu Nov 16 2017 12:00:00 GMT+0530 (I

[2017-11-11 13:53] JoanJosep33 commented on #221
What do u need exactly, put an example.

[2017-11-11 14:20] JoanJosep33 commented on #212
@RM650
Can you pls explain me how u solved the press event??

Thank you.

[2017-11-11 19:46] paean99 commented on #220
You probably need to change the template as explained here: [view-customization-option](https://github.com/twinssbc/Ionic2-Calendar#view-customization-option).

An example with the 'monthviewEventDetailTemplate' would be:
`<template #yourPressTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
            <ion-list class="event-detail-c

[2017-11-11 20:57] danielehrhardt commented on #217
Same yere

[2017-11-12 08:44] RM650 commented on #212
@twinssbc
If I remove all custom code then drawing is bugged, or maybe I should set some options. So, now in visual version is here overlapping and in code is too. So what now? Can u help? If u need I can put some code, just tell me what kind piece of code.
Screen with original code:
![Overlapping](https://image.prntscr.com/image/BWCTe8QxRcSyIZHUem_W1w.png)

@JoanJosep33
Sorry I still working for

[2017-11-12 14:37] twinssbc commented on #212
@RM650 Did you customize any CSS style?
I just tried two fake events as below, and they are not overlapping.
[code]

[2017-11-12 15:53] twinssbc commented on #217
I have released 0.4.0 which supports Ionic 3.9.2. Feel free to have a try.

[2017-11-12 17:23] RM650 commented on #212
@twinssbc Hmm.. strange. I try again and i have exactly the same result. I create new page and copy code from your tutorial and I didn't customize any CSS. Look at the screen:

first block: 10:00
second block 10:30
![Overlapping](https://image.prntscr.com/image/QJ2ZYk-DTymE3ENZml36Jw.png)

HTML:
`
<ion-content>
  <calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [current

[2017-11-12 19:37] JoanJosep33 opened #222 "eventSource events don't update view until change month and come back."
Hello there again :P

I am now working on a pick days. When you pick one day, I added to the events array, and then assign it on the eventSource. The days are inserting well. The problem is that on the calendar will not displayed as marked days until I change the month and come back.

How can we solv this?

`onTimeSelected(ev) {
    this.eventSource = this.myFunction(ev.selectedTime);
}`

 `myFunc

[2017-11-12 22:50] JoanJosep33 commented on #222
Hey!

Finally solved after checking again your Readme.

just had to put:
      this.myCalendar.loadEvents();

Gonna close the issue.

[2017-11-12 22:50] #222 closed

[2017-11-13 00:01] twinssbc commented on #212
@RM650 Could you show me how do you create the date? Are the second and millisecond part both 0?

[2017-11-13 03:17] aces-tm commented on #217
@twinssbc works great thanks

[2017-11-13 08:36] ramogundogdu opened #223 "Error: Missing locale data for the locale "de-DE""
I get the following Error after updating` ionic-angular` from `3.8.0` to `3.9.2`

 `<calendar [eventSource]="eventSource" [locale]="calendar.locale"  ...  </calendar>`

[code]

if I change locale to `'en-GB'` it works, but I need to set up the locale to `'de-DE'`

[2017-11-13 08:44] FallenRiteMonk opened #224 "Locale ERROR"
I get the following error:
[code]
pointing to line 19 of the monthview.ts file (```<th *ngFor="let dayHeader of views[0].dayHeaders">```)
when trying to display a calendar in a different locale. Relevant code parts are:
[code]
It works perfectly fine with locale en-GB, en-US and even just en, but doesn't work for de-DE, it-IT and es-ES (These are just the ones I tried, there might be more).

Ionic

[2017-11-13 08:55] paean99 commented on #224
The maintainer just added new info that might help you at [Ionic2-Calendar#localization](https://github.com/twinssbc/Ionic2-Calendar#localization).

[2017-11-13 08:55] paean99 commented on #223
The maintainer just added new info that might help you at [Ionic2-Calendar#localization](https://github.com/twinssbc/Ionic2-Calendar#localization).

[2017-11-13 09:23] FallenRiteMonk commented on #224
@paean99 I totally missed that. Thanks, now it works.

[2017-11-13 09:23] #224 closed

[2017-11-13 09:44] FallenRiteMonk opened #225 "dynamic locale change"
Having a simple calendar (only month view, no events, no template customization,...) and changing the 'locale' dynamically during runtime, the monthview header doesn't get updated.

Am I missing something, or is this a bug?

[2017-11-13 13:54] twinssbc commented on #225
@FallenRiteMonk How do you change locale? It won't update the current view itself. You need to either switch from a view that doesn't contain calendar or switch to other week/day mode. So that the calendar will get a chance to reinitialize.

[2017-11-13 13:55] #217 closed

[2017-11-13 16:28] FallenRiteMonk commented on #225
@twinssbc I set the apps default locale and then get the users locale from a provider over a subscription, so a view change is not possible since then also the users local is fetched again. Changing the mode of the calendar is also no possibility since that would result in bad user experience. Is there some kind of possibility to trigger a re initialization manually? Maybe by specifying a custom h

[2017-11-13 17:16] RM650 commented on #212
@twinssbc Hehehe, okay man, it was a problem... sorry for the confusion. Thanks :)

[2017-11-13 17:16] #212 closed

[2017-11-13 17:40] paean99 commented on #225
If you only need to set the language one time depending on the device language, you should be able to do it in the parent component of the component with the calendar before the child DOM loads.
Ex: If the calendar is loaded at the root, you can edit app.component.ts:
[code]
With app.html:
[code]

[2017-11-13 18:09] JoanJosep33 commented on #220
Hello @paean99

Copying this code doesen't solve the problem. If I press a day, nothing happens :/

[2017-11-13 19:06] FallenRiteMonk commented on #225
No this is not the case, a user can dynamically change the preferred language during runtime.

[2017-11-13 19:45] paean99 commented on #225
In that case you could just reload the component as described here [stackoverflow - How to reload the current Angular 2 Component](https://stackoverflow.com/a/42369191) or another 'method'. They should work. But they are more similar to hacks than an solution.

The best would probably be to update the loadEvents method of calendar at [calendar.ts#L379](https://github.com/twinssbc/Ionic2-Calendar/b

[2017-11-13 19:54] JoanJosep33 opened #226 "SelectedDay Active when the Day has Event"
Hello there again, I want to know how can I do it to the selectDay get the color as selectedDay even if is marked with an event.

Actually looks like this :

https://gyazo.com/82de42bc6c0cca60f7bd1474632f1c29

I am selecting the Friday 17, but the ActiveDay css is not applying it.

Any consideration?

Thank you!

[2017-11-13 20:27] FallenRiteMonk commented on #225
That doesn't quite work as expected, but it works if I prevent rendering until the users locale is set.
Though for a long term, this isn't the right solution!

@twinssbc what do you think? Can we implement this somehow into the lib? Would really appreciate it and I think there are going to be more use cases for this.

[2017-11-13 20:38] FallenRiteMonk opened #227 "Feature request: spaceBetween"
When having horizontal padding to the calendar the swiping animation looks kind of confusing/weard to me and I think settings the 'spaceBetween' attribute on the 'ion-slides' could improve that and shouldn't be to hard to implement.
http://ionicframework.com/docs/api/components/slides/Slides/#input-properties

@twinssbc What do you think?

[2017-11-14 04:24] paean99 commented on #225
I have put for consideration the start of a possible solution in a pull request.

[2017-11-14 09:58] youngcholo commented on #197
@twinssbc setting hours to 12 will solve the issue. I did a temporary workaround for the viewTitle inside the onRangeChange(ev) while waiting for the response last week.

onRangeChanged(ev) {
  let date = ev.startTime.getDate(),
  month = (ev.startTime.getMonth() + (date !== 1 ? 1 : 0)) % 12,
  year = ev.startTime.getFullYear() + (date !== 1 && month === 0 ? 1 : 0),
  headerDate = new Date(year, m

[2017-11-15 02:46] paean99 commented on #220
I made the code very generic.
One obvious error in it is on the way the event in passed to the myFunction.

The proper way should be: (press)="myFunction($event, event)"
The first ($event) is the DOM event object and the seceond (event) is the one from the calendar.

The two have to be passed i believe.

[2017-11-15 07:30] tryadelion commented on #105
After some versions this is still happening to some androdi devices, @twinssbc

[2017-11-15 11:12] satriantorobimo opened #228 "Event Didn`t Load To Calendar"
Hello,

Please help me, my event didn`t load to my calendar in real device but in browser loaded. I saved my event in local storage. Please help me.

[2017-11-15 12:04] twinssbc commented on #228
@satriantorobimo You could try use Developer Tool to connect to your remote device to debug the code and see if any error printed out in the console.
You could also try just create some dummy events in the eventSource array to see if it works.
Some user hit this problem is because some data storage plugin doesn't work consistently in the real device.

[2017-11-15 12:05] JoanJosep33 commented on #226
after some tries, I solved using the following code:
 .monthview-selected[_ngcontent-c1].monthview-primary-with-event[_ngcontent-c1]{
    background-color: green;
  }

this is how looks like:

https://gyazo.com/c8e49e653596f9694227f7a4af661530

[2017-11-15 12:06] twinssbc commented on #225
@FallenRiteMonk How does the user change locale? Is it at the same page with the calendar? I would assume you have a "settings" page to allow user changing the locale and then navigate back to the calendar page?

[2017-11-15 12:17] #226 closed

[2017-11-15 12:30] paean99 commented on #226
You might consider removing the [_ngcontent-c1] attribute. it is dynamically created by angular for their [View encapsulation](https://angular.io/guide/component-styles#view-encapsulation). You should use ::ng-deep to do a similar thing.

Note from Angular:

 [source](https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep)

[2017-11-15 12:37] twinssbc commented on #227
@FallenRiteMonk Sure, I can add it.

[2017-11-15 12:40] twinssbc commented on #105
@tryadelion Is it related to the use of calendar in your app? If you try the Ionic sample app in the android devices, are you experiencing the same performance issue? Have you tried the step in the Performance Tuning section?

[2017-11-15 12:42] twinssbc commented on #197
@youngcholo Great, I will release a new version containing this change.

[2017-11-15 12:44] tryadelion commented on #105
1) yes.
2) i've been unable to, what i experience is the whole angular slightly lags for 0.8s-2s right now when coming from a page in a menu and going to the calendar, performance wise the profiler turns red like a christmas tree. happens on different apps so far, i've managed to stop it by doing slightly hacks like hiding the calendar for quite some time before opening the page, or lazy loading i

[2017-11-15 14:06] twinssbc commented on #105
@tryadelion Which mode of the calendar are you using? Is there any event get loaded when enter into the calendar page? Could you find any clue in the profiler, for example, the most time consuming method related to the calendar?

[2017-11-15 14:14] tryadelion commented on #105
@twinssbc  i'm using the month view mode.
During calendar launch:

SwiperJS seems to be doing quite some jobs, function calls from polyfills that i can't relate also take a lot.
Animation frame also seems to take quite a lot.
each of those takes 100-300ms, plus ionic's own stuff make up to 1-2s in the end. can't find a clear time consuming method though.

[2017-11-15 14:24] tryadelion commented on #105
Calendar page loading profiling:
![captura de pantalla 2017-11-15 a las 15 21 01](https://user-images.githubusercontent.com/3778474/32840716-c87621ba-ca18-11e7-90d0-eeac71057487.png)

[2017-11-15 14:24] tryadelion commented on #105
The problem for me is not the time it takes to render the page, but that the page hangs.

[2017-11-15 14:30] tryadelion commented on #105
i setted up a 1100ms timer between page load and calendar load. the lag dissapeared. you can see the performance difference between the ionic methods and yours on this screen:
![captura de pantalla 2017-11-15 a las 15 29 00](https://user-images.githubusercontent.com/3778474/32841120-cf6cf1d2-ca19-11e7-8123-1c1ca0cb9ed2.png)
Left yellow and purple blob: page load.  right blob: calendar after 1100ms

[2017-11-15 14:48] twinssbc commented on #105
@tryadelion I'm not sure if it's because of the Menu sliding animation generates too much burden.
I met similar situation in Ionic-Calender which is based on Angular1, at that time, when swiping the calendar, I felt obvious hang. By looking at the profiler, I found it's because the JS calculation and sliding animation happen at the same time. So I added some timeout and disabled the Angular animat

[2017-11-15 15:02] tryadelion commented on #105
i am unable to change my navigation to tab layout right now, but i expect it to behave similarly.

[2017-11-15 18:24] FallenRiteMonk commented on #225
@twinssbc your assumption is right, but I use a settings provider which maintains my settings. So when the page with the calendar opens I subscribe to the BehaviorSubject and get my current state of the settings (so it is not known when rendering the view). Surly to prevent memory leaks I also unsubscribe once the page leaves, so even when returning back to the calendar page the setting again arri

[2017-11-15 18:25] FallenRiteMonk commented on #227
@twinssbc thanks!

[2017-11-15 21:15] Bohmaster opened #229 "Http call inside onTimeSelected goes on endless loop"
I use this function in the component constructor to fill events (if any) in the calendar:

[code]

When I fired it in the constructor it runs one time perfectly.

The problem comes when I click on some day making onTimeSelected to trigger. This works fine only if I do not run loadEvents inside (which makes an http call). If I run loadEvents it goes on a endless loop.

[code]

I don't know what I'm

[2017-11-15 21:28] Bohmaster commented on #229
Got it! I've fixed it by using onCurrentDateChanged instead to trigger http requests instead of onTimeSelected.

[2017-11-15 21:33] #229 closed

[2017-11-15 21:55] Bohmaster opened #230 "event_1.startTime.getTime is not a function"
Whenever I click on day that has events this error appears:

This is the response from the server to fill eventSource:
`
this.eventSource = data.response;`

`{"response":[{"title":"AA051400-tamara","description":"joaquin v  gonzalez 954 () SIN ASIGNAR, Ciudad Autonoma De Buenos Aires","allDay":false,"startTime":"2014-05-08T00:00:00.000Z","endTime":"2014-05-09T00:00:00.000Z"},{"title":"AA051400-tam

[2017-11-15 22:29] FallenRiteMonk opened #231 "Faster swipe recognition"
Would I't be possible to fire the onRangeChanged event upon a ionSlideWillChange event of the ion-slides instead of the ionSlideDidChange event? I asking this because I load my events on the onRangeChanged event and it takes some time until they appear due to this being fired after the sliding has completed.

I'm not exactly shore if this is possible without braking anything and on how far it woul

[2017-11-16 01:18] satriantorobimo commented on #228
@twinssbc can you help me? Im stuck about 3 days and almost die with this problem.

[2017-11-16 04:27] satriantorobimo commented on #228
my problem is my selected day value is Thu Nov 16 2017 00:00:00 GMT+0700 (SE Asia Standard Time).

I follow the instruction and get that, how can i set time?

[2017-11-16 17:12] Titoch opened #232 "Feature Request: weekviewNormalDisplayTemplate"
Hello!
In MonthViewComponent, there is a template permitting to customize style and action on each displayed dates : monthviewDisplayEventTemplate.
It's a very useful function that permits to do a lot of things.
I use it to color the days depending on date (today, week-ends, holidays...) without using any events.
I use events only for user's real activities.

Would it be possible to add the same t

[2017-11-16 17:45] #128 closed

[2017-11-17 00:13] twinssbc commented on #228
@satriantorobimo
Sorry, I don't quite understand your problem.
-- my problem is my selected day value is Thu Nov 16 2017 00:00:00 GMT+0700 (SE Asia Standard Time).

Maybe you could show your code?

[2017-11-17 00:14] twinssbc commented on #230
@Bohmaster This is because your startTime and endTime are String, you need to convert them to a valid Date object.

[2017-11-17 00:22] twinssbc commented on #231
@FallenRiteMonk I think the problem is not related to the onRangeChanged is fired before sliding or after sliding. If you loading method is very slow, even you call onRangeChanged a bit earlier, it still doesn't help. I think you probably need to look at how to optimize your event loading. For example, could you preload events in multiple months, then you could fill the calendar with the cached ev

[2017-11-17 03:17] fgscaglioni opened #233 "Runtime Error Cannot read property 'dayHeaders' of undefined"
Hello @twinssbc I'm getting this error on execute ionic serve. Have you any suggestion about what it can be?

Runtime Error

    Cannot read property 'dayHeaders' of undefined

Stack

    TypeError: Cannot read property 'dayHeaders' of undefined
    at Object.eval [as updateDirectives] (ng:///NgCalendarModule/MonthViewComponent.ngfactory.js:80:38)
    at Object.updateDirectives (http://localhost:8

[2017-11-17 08:16] FallenRiteMonk commented on #231
@twinssbc you might be right that firing the onRangeChange before sliding doesn't make that big of a difference, but I'm sure that the problem isn't on my slow loading. I know that because I load all my events from a cache. Further more, if I change the month programmatically (settings currentDate) the events popup immediately without the delay that appears to be when sliding.

While writing this

[2017-11-17 13:02] twinssbc commented on #233
@fgscaglioni This is because Ionic 3.9.2 depends on Angular 5.0. And starting from Angular 5.0, you need to explicitly register the locale you use.
For example,
[code]

You could get more information from the Localization section in README.

[2017-11-17 13:10] twinssbc commented on #231
@FallenRiteMonk I followed your steps but not able to reproduce it. You could just upload a video somewhere and paste the link here.

[2017-11-17 15:15] FallenRiteMonk commented on #231
https://photos.app.goo.gl/QVvHfagpFFays8W03

On the last swipe you can see that the days are already blue during the swipe animation compared to the rest

[2017-11-17 22:42] fgscaglioni commented on #233
@twinssbc Thanks a lot!! This solves my problem!!

[2017-11-17 22:42] #233 closed

[2017-11-19 02:38] wilsoncx commented on #172
Could you send me as you did?

[2017-11-20 13:21] twinssbc commented on #231
@FallenRiteMonk I still can't reproduce it. I wonder could you reproduce it using the Demo page?
Have you done any customization of the calendar?

[2017-11-20 14:40] FallenRiteMonk commented on #231
@twinssbc that might be the problem: I have a custom template for  'monthviewDisplayEventTemplate' maybe there is no delay in loading the events, but a delay in loading the costume template. I have done more changes to my custom template that also changed the heights of the day field in the calendar and the animation doesn't reflect that.

Could it be that the slides currently not showing don't us

[2017-11-20 15:03] twinssbc commented on #227
@FallenRiteMonk I have added spaceBetween option, feel free to have a try.

[2017-11-20 15:05] twinssbc commented on #197
I have released the new version to fix this bug.

[2017-11-20 15:05] #197 closed

[2017-11-20 15:05] twinssbc commented on #187
It's likely related to DST. I have released new version to fix this bug.

[2017-11-20 15:05] #187 closed

[2017-11-20 15:07] #37 closed

[2017-11-20 15:12] twinssbc commented on #231
The slides not showing are using a separate template, monthviewInactiveDisplayEventTemplate.
So it should not cause any problem if you just customize monthviewDisplayEventTemplate.

Although there's one thing I need to point out, take a look at the "Known Issue" section in README. If you swipe right 3 times, you will notice this behavior, because the first slide is cached internally. But I don't k

[2017-11-20 15:23] twinssbc commented on #225
@FallenRiteMonk
You mentioned that you subscribe and unsubscribe the locale change when entering and leaving the calendar page, while you change the locale in a different page. In this case, why do you need to subscribe the change? I would think subscription only works when calendar is there, otherwise there's no need to subscribe to a change?
Could you just retrieve the locale in a sync way?
For

[2017-11-20 15:24] #223 closed

[2017-11-20 15:25] #69 closed

[2017-11-20 15:49] Hanzofm commented on #94
@fureszk How do you show the month title and back/next arrows?

[2017-11-20 16:35] FallenRiteMonk commented on #231
@twinssbc I'm sorry I totally missed monthviewInactiveDisplayEventTemplate. That actually fixed my problem and I now only have the problem you mentioned in the "Known issues" section.

Hopefully this issue can be fixed somehow soon, but as for this issue it can be closed. Thanks for your help!

[2017-11-20 16:35] #231 closed

[2017-11-20 16:42] FallenRiteMonk commented on #225
@twinssbc I'm currently investigating on a major change to the structure of my app which would could solve this problem by also having access to settings (including locale) in a sync way, but since it's quiet a big change it will take me some time to get it done, until then I cannot say if is will really be fixed. I'll keep you informed once I get the time to implement the change and how it worked

[2017-11-20 18:27] fureszk commented on #94
@Hanzofm this is what I have right above the html I have previously posted:
[code]

javascript:
[code]

onViewTitleChanged is called by the calendar's callback "onTitleChanged" its also in the comment above.

[2017-11-21 01:49] joshnissenbaum opened #234 "Cannot read property 'dayHeaders' of undefined"
After installing and placing into the component

[2017-11-21 01:51] #234 closed

[2017-11-21 15:54] NiklasMerz commented on #234
@joshnissenbaum What was your solution?

[2017-11-22 02:24] satriantorobimo commented on #228
Sorry for late reply, so i made application for scheduling their assignments. I have feature rescheduling, which mean user can rescheduling their assignments. But when i show calendar event for reschedule page, that event is disappear. I think the format startTime and endTime change. I retrieve eventSource from my local storage.

![111](https://user-images.githubusercontent.com/26141281/33106711-1

[2017-11-22 06:16] youngcholo commented on #197
@twinssbc Thank you for the update, will it support  angular5 now?
I'm having issues, I updated my ionic native plugins, now its requiring angular5, so my angular libraries are updated to 5.0.

[2017-11-22 12:48] twinssbc commented on #197
@youngcholo yes, version 4.x is built on Ionic 3.9.2 which depends on Angular 5.

[2017-11-22 12:49] twinssbc commented on #228
@satriantorobimo As you can see from your second screenshot, the startTime and endTime are String, not Date. That's why it says startTime.getTime is not a function.

[2017-11-22 12:50] twinssbc commented on #234
@NiklasMerz
For version 0.4.x which depends on Ionic 3.9.2 and Angular 5.0, locale module needs to be registered explicitly in module file as below.

[code]

[2017-11-22 12:53] NiklasMerz commented on #234
Thank you @twinssbc . I have found that in the README after finding another issue. Is there any way so get the old behavior where the correct locale is detected by the browser?

[2017-11-22 14:05] twinssbc commented on #234
@NiklasMerz
I don't have a perfect solution right now.
Below is what I could achieve.
The locale could still be detected by using the window.navigator.language, I think that's also how the previous Angular version does.
Unfortunately, I don't find a way to load a module dynamically based on the locale, so I have to load all the supported locale modules.
Then based on the detected locale, I could r

[2017-11-22 15:49] NiklasMerz commented on #234
Thank you. I will try that.

[2017-11-22 16:49] paean99 commented on #234
I have found a rough solution in this issue at the angular repository: [Document how to lazy load locale data on bootstrap of application](https://github.com/angular/angular/issues/20487#issuecomment-345213206).
It uses the relatively new [dynamic imports](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-4.html).

Do not forget:

From [Dynamic Components Using TypeScript 2.4

[2017-11-23 02:35] satriantorobimo commented on #228
I already convert to date format and warning about startTime.getTime gone, see this SS
![code](https://user-images.githubusercontent.com/26141281/33156977-60020ae4-d031-11e7-8da8-d428d1485d0b.jpg)

But still not showing the event
![2](https://user-images.githubusercontent.com/26141281/33157022-83e801fc-d031-11e7-9a01-c8853be12ea8.jpg)

Whats wrong with my apps? or you can give me advice?

[2017-11-23 08:17] Hermiona opened #235 "ExpressionChangedAfterItHasBeenCheckedError"
I am using Ionic 3, angular 5. And there the following error is rising when clicking Today button in Month view from any date:
CalendarPage.html:22 ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'false'. Current value: 'true'.
    at viewDebugError (vendor.js:9868)
    at expressionChangedAfterItHasBeenCheckedError (vendor.js:

[2017-11-23 08:19] Hermiona commented on #214
Thanks. I created a new project and installed ur Calendar component and it worked

[2017-11-23 08:19] #214 closed

[2017-11-23 08:37] Hermiona opened #236 "Weekview day headers are offset"
When Locale_ID is changed, in weekview day headers are offset. how to place day headers' cells correctly like shown  in the pic below with yellow lines?
![localhost_8100_ nexus 6p 2](https://user-images.githubusercontent.com/19423390/33164093-96d74816-d05b-11e7-98b7-cb9607ce05d9.png)

[2017-11-23 13:09] ramogundogdu commented on #204
@twinssbc  yes `slideNext()` shows the next months. But how can I slide back again? With wich method?

[2017-11-23 13:13] ramogundogdu commented on #204
@twinssbc I found it :) `slidePrev()` shows the previous slide

[2017-11-23 13:28] twinssbc commented on #228
The calendar doesn't watch the change on the individual element change in the eventSource array for performance consideration.
You could either fill an array first, then assign it to eventSource variable, or manually call the loadEvents method.
For example,
[code]
You could get more information from the loadEvents option in README.

[2017-11-23 13:33] twinssbc commented on #235
@Hermiona What kind of logic is in your click callback method? The error indicates that some value is changed again while the previous value change hasn't been fully processed in the digest phase.

[2017-11-23 13:37] twinssbc commented on #236
@Hermiona Which locale are you using? Did you do any customization on the view? You could hover on the element to see which element width needs to be adjusted, then find an appropriate css class that attached to this element and override the style.

[2017-11-24 03:20] satriantorobimo commented on #228
Thank you for your help, it work like a charm!!!!! OMG you save my life... thank you!

[2017-11-24 03:20] #228 closed

[2017-11-24 20:12] mathvaleriano opened #237 "ngOutletContext is depricated and has been removed from Angular 5.0.0-beta.5"
https://github.com/angular/angular/blob/master/CHANGELOG.md

[2017-11-25 00:52] Titoch commented on #194
I encounter the same issue.
Maybe is it possible to left some empty space on one side of the events? It would permit user to select the event or the empty zone.

This solution seems to be only done, adapting the inline width of calendar-event?
  1 event --> width : 50% (50% empty)
  2 events --> width : 66% (33% empty)
   and so on.
Is it possible?

[2017-11-27 02:05] Hermiona commented on #236
I use LOCALE_ID=ru (cyrillic) localization. I'm afraid that if I hardly code in css the  margin-left to be this many px then this solution isn't flexible in case of devices of  different size.
P.S. Sorry for my not very good English

[2017-11-27 02:10] Hermiona commented on #235
I didn't change or override anything but took your demo code and copypasted it to my html and .ts files. And when I swipe to other month and then I click Today button, I get the previous error

[2017-11-27 15:54] mathvaleriano commented on #237
resolved in v4 branch

[2017-11-27 15:54] #237 closed

[2017-11-27 20:32] heperionjak opened #238 "pull data from json and feed eventsource"
Hi,

I am a beginner in coding and certainly lack of basics, but here is what i would like to do and need your help.
I would like to pull the data in my json file to feed the eventSource array.

I define the model:

`export class EventModel {
  title: string;
  date: EventDate;
}
export class EventDate {
  day: number;
  month: number;
  year: number;
  time: string;
  finishtime: string
}
`

then

[2017-11-28 04:21] Hermiona commented on #235
It turned out that in today() function we should add the following code:
`this.isToday=true;`

[2017-11-28 04:21] #235 closed

[2017-11-30 14:33] twinssbc commented on #238
@heperionjak Suppose you bind eventSource to the calendar. You need to fill the events into eventSource variable, instead of fill the events variable and set eventSource to empty array.

[code]

[2017-12-01 09:31] vipindhmn87 opened #239 "Disabling a particular day"
Hi,

I am trying to implement the following feature:-
onClick of a day in month's view, I am showing two options in an actionsheet - "Block Day" and "set Meetup"
for blocking a day, i want to disable that day. I have implemented the following code:-

HTML:-
`<calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [markDisabled]="markDis

[2017-12-01 10:53] joakiwpc opened #240 "Strange behavior with loading new events"
Hey guys,
in my calendar, when the month changes on slide I have to reload the events list (eventSource) with new events for the new month.

The events are added correctly in eventSource, but they are only shown on the "central view" of calendar widget, not on the "lateral view".

The events are "red bullets" shown below the day number, and are made with the property monthviewDisplayEventTemplate.

[2017-12-01 12:36] joakiwpc commented on #240
Ty for fast answer.

I'm sorry to say that, but that was i did (pushing directly to eventSource and assigning new array to it) 😭
[code]

[2017-12-01 12:38] twinssbc commented on #239
@vipindhmn87 The hour part of date object is 12, instead of 0. Also setHours has forth parameter to set the millisecond part.

[2017-12-01 12:40] twinssbc commented on #240
@joakiwpc Your startTime and endTime are same?

[2017-12-01 12:52] joakiwpc commented on #240
Yes, they are. This is the issue? :/

Because i don't use the widget list.

[2017-12-01 15:58] aces-tm opened #241 "100% width on events that are not full hour"
On dayView when I schedule more than 1 event at the same time the column is split in 2. When I schedule events on full hour it works fine, but when I schedule events, for example,  from 3:30 to 4:30 than every next event doesn't take a full width although that's the only event in that slot. Please take a look at the picture.  Is it possible those events to be in full width? Thanks

<img width="391

[2017-12-01 17:06] vipindhmn87 commented on #239
@twinssbc Thank you for your reply. I made the change mentioned by you but still it does not work. I can see that markDisabled is called automatically when rendering the month view for the first time. And When I click on any day and call the markDisabled method in home.ts file, it is get called but I think it is not calling your library's method this time. Do you have any idea if this possible?

[2017-12-02 00:28] twinssbc commented on #240
@joakiwpc No, it shouldn't be the issue, just feeling strange. Could you provide more code to demonstrate how do you trigger fillCalendarEvents method? Your server request fetches events only happen on this month or multiple months?

[2017-12-02 00:38] twinssbc commented on #239
@vipindhmn87 Ah, yes, markDisabled is a callback method only used when rendering the calendar.
It's not useful for your case. I think there are two ways to solve that.
1. If you could navigate to another page, then navigate back, then you could store your disabled date and use it in the markDisabled method. Once you navigate back, the calendar will be re-rendered, so the markDisabled method will b

[2017-12-02 08:02] Titoch commented on #239
Hi,
I think the second solution: "use a customized template" is only applicable to MonthView ?
Am I right?
This is the reason why I created the feature request #232.

[2017-12-02 15:34] bankai14 commented on #142
Someone would have an answer?

[2017-12-02 17:27] vipindhmn87 commented on #239
@twinssbc First solution does not sound convincing but let me try second solution. If I face any issues while implementing the same will get in touch with you again.
Thanks

[2017-12-03 04:25] twinssbc commented on #142
@bankai14 Did you meet the same error? Did you upgrade your package.json recently? Maybe you could try using a clean project?

[2017-12-03 12:39] twinssbc commented on #241
@aces-tm I have fixed this bug in the latest version. Feel free to give a try.

[2017-12-03 23:02] aces-tm commented on #241
@twinssbc Thanks. It's perfect. Appreciate improving this plugin

[2017-12-04 08:57] joakiwpc commented on #240
Hey sry for late response.

The server request could return events on multiple months.

This is the callback of the server request:
[code]

[2017-12-04 09:42] SoniaGarmar opened #242 "(onTimeSelected) and (onCurrentDateChanged) triggered without clicking on any date"
Hi,
First of all thanks for such a useful plugin.
I'm trying to use it in a project and I have found he following issue.

When I access the calendar form the tab menu, everything is ok. However, if I access the calendar from a button that pushes the calendar page,  (onTimeSelected) and  (onCurrentDateChanged)  are triggered automatically on loading the page, without clicking on any date.

Here is

[2017-12-04 11:04] marcRDZ commented on #242
Hi,
I am facing a similar issue intermitently but I cannot isolate the conditions that cause this, onTimeSelected() triggers automatically in the first event of the eventSource array sometimes.

[2017-12-04 13:08] twinssbc commented on #240
@joakiwpc I can't spot any error so far. How do you trigger the callbackGetCalendarSummary method? Maybe you could try fill the eventSource with some mock events, instead of fetching events from the backend?

[2017-12-04 13:08] #241 closed

[2017-12-04 13:10] joakiwpc commented on #242
I have this problem too, onTimeSelected. In my case is triggered twice and always the event clicked is the first event of eventSource.

[2017-12-04 13:29] twinssbc commented on #242
Hi, it's expected that these two callback methods are triggered.
onTimeSelected is triggered when events are loaded or manually select a date. If you don't want to trigger onTimeSelected when events are loaded, you could set autoSelect option to false.
onCurrentDateChanged  is triggered when current date is changed, the initial date you binds to the calendar also counts.

[2017-12-04 13:41] joakiwpc commented on #242
Thanks, that worked. I didn't check autoSelect property.

[2017-12-04 14:39] twinssbc commented on #232
@Titoch I get the idea, but it's a bit complicated to expose such template in weekview.
In monthview, the template is applied on each cell, which is a single day. In weekview, even if I expose a template on each cell, which is an hour within a day, I'm afraid you are still not be able to color the whole day.
If I expose the template at a bigger scope, for example, make the whole table as a templat

[2017-12-04 15:43] marcRDZ commented on #242
Hi,
Thanks for the quick reply. I don't know that property, sorry. Then I guess that the random behaviour is caused if today has events or not

[2017-12-04 15:46] joakiwpc commented on #240
I trigger it like this:

[code]
Am I supposed to update the **currentDate** manually in onCurrentDateChanged?

[2017-12-04 16:03] joakiwpc commented on #240
Hmm I think the problem is on my fillCalendarEvents, in the for i use new Date, and I think thats why all events are put on the "central calendar". So if I use **currentDate** to set the events date they will be shown correctly. I will try now :)

[code]

[2017-12-04 16:32] #240 closed

[2017-12-04 17:50] SoniaGarmar commented on #242
Thanks a lot, twinssbc.
Setting the autoSelect property to false fixed the issue for onTimeSelected. I guess there is no way to prevent onCurrentDateChanged to be triggered on load, but it's ok.

[2017-12-05 05:52] Maraket opened #243 "Method to access Range [Feature]"
A simple way to retrieve the range of dates visible.

[2017-12-05 08:34] abrseq commented on #81
how can i use this in my ionic project? coz using the above codes shows some error like let is not allowed,and using templates is showing no difference.I just want to show the list of events in another ion-segment.Please help me if you already know the solution...Thanks in advance

[2017-12-05 10:30] GrindingOgre commented on #81
@abrseq What i did was configuring the calendar the same way the readme suggests, then i've created a ng-template with a template var name that you should use with the monthViewEventDetailTemplate:

ES:
In the ts component class i've created a calendar object with all those properties
[code]

And in the html template file, i've written these things.
[code]

What kind of error are you getting?

[2017-12-05 10:52] Titoch commented on #232
@twinssbc  Actually, Monthview permits to disable some days (markDisabled) that are grayed and can not be clicked.
When switching in Weekview these days can neither be clicked, but user can not see it.
Because the only difference between an active and a disabled day is the cursor, (only visible on web browser, not visible on mobile).

So in weekview when user clicks/taps on a disable day nothing h

[2017-12-05 11:42] abrseq commented on #81
aw thank you @GrindingOgre  i just followed '<template>' and not '<ng-template>' now its working..
can you provide me with template for [monthviewEventDetailTemplate] this one..

[2017-12-05 11:48] abrseq commented on #81
i didn't use the ng-template just used template that was the problem..Thanks and sorry for the above comment. Now what i am looking for is the template for  this one.. [monthviewEventDetailTemplate] Please need help

[2017-12-05 13:13] GrindingOgre commented on #81
@abrseq if you look carefully, under the <calendar ...> tag there's the ng-template with a ion-list that renders every events of the selected day.

if there aren't any events, the h4 will be visible instead.

[code]

[2017-12-06 06:16] abrseq commented on #81
thanks for the help so far @GrindingOgre . can i show an event when i click on  a date that has some events... i.e., like when clicking it a popover should appear..

[2017-12-06 06:50] abrseq commented on #81
Another error i found was, in the week event display ,it shows all-day events only. How can I change that?

[2017-12-07 12:21] twinssbc commented on #232
@Titoch I could expose template on each cell, but it may not meet your expectation.
Because I think you normally want to give the whole column on that day some background color or border. But now you could only apply to each cell.

[2017-12-07 12:22] twinssbc commented on #243
@Maraket You will get the startTime and endTime from onRangeChanged method.

[2017-12-08 08:31] Titoch commented on #232
@twinssbc : Yes That's right I want to customize a whole column.
But exposing the template on each will permit to do it and will fulfill all my needs.

Please could you do it ?
I'll give you a feedback.

[2017-12-09 11:25] twinssbc commented on #232
@Titoch Which version of Ionic2-Calendar are you using?
I'm still not confident to add this feature to official release.
I will publish a version for this particular change.

[2017-12-09 16:29] Titoch commented on #232
@twinssbc : I'm currently using  ionic2-calendar@0.3.13
Please could you expose the template for dayView also?
Why are not you confident?

[2017-12-12 15:11] twinssbc commented on #232
@Titoch I have released 0.3.13-weekdayview-tpls.
You could get the usage from View Customization section in below link
https://github.com/twinssbc/Ionic2-Calendar/tree/v3-weekdayview-tpls

The reason I'm not confident is because I have to implement nested template, not sure about the side effect.
Right now, you only need to notice that since eventSelected method is defined in your own html file, s

[2017-12-14 10:54] romulus001 opened #244 "Customed color according to the event"
Hello,
I would like to custom the background color to an event in a month view, is that possible?
Thanks

[2017-12-14 20:31] raghucse2010 opened #245 "Displaying multiple events on same day."

[2017-12-14 20:40] #245 closed

[2017-12-15 07:06] venkatasairamu opened #246 "Template parse errors please help me when i change from ngTemplateOutlet to ngTemplateOutletContext"
Uncaught Error: Template parse errors:
Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'.
1. If 'ngOutletContext' is an Angular directive, then add 'CommonModule' to the '@NgModule.imports' of this component.
2. To allow any property add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component. ("    <ng-template [ngTemplateOutlet]="monthviewDisplayEventTempla

[2017-12-15 07:09] venkatasairamu commented on #246
hi fnds  i chnanged from ngOutletContext to ngTemplateOutletContext but i got same error and i try in ionic 3 also but get same error

[2017-12-15 12:20] abdulkadhir opened #247 "load event from api"
I want to load an event from API which is in JSON format.
my JSON data is
`
[

  {
        "event_title": "Holiday",
        "event_description": "Holiday",
        "event_type": "Holiday",
        "start_time": "2017-12-15",
        "end_time": "2017-12-15"
    },
    {
        "event_title": "Holiday",
        "event_description": "Holiday",
        "event_type": "Holiday",
        "start_time":

[2017-12-16 16:43] gdesplin opened #248 ""let-" is only supported on ng-template elements."
Using templates for dayView etc. with angular 5 breaks on the 'let-displayEvent' part, with the error saying "let-" is only supported on ng-template elements.

For example my code
[code]

I thought version 0.4.0 added support for angular 5.
What can I do to fix this or do I need to downgrade angular?

[2017-12-16 16:57] NattapolPraew opened #249 "can I set scroll only the event detail template?"
In month mode, Can I set calendar to fix position and scroll only event detail view?

[2017-12-16 17:25] NattapolPraew commented on #249
right now, I work around with setting height for the eventDetailTemplate with `Page.height - 262(default calendar's height)` and use ion-scroll in the eventDetailTemplate. Does anyone else have better idea?

[2017-12-17 05:11] duffayapps commented on #148
Did anyone find a solution for this? Calendar runs on device ok but compiling error when building for release apk. Any advise is greatly appreciated on how to build for release.

[2017-12-17 09:52] twinssbc commented on #248
@gdesplin You just need to replace template with ng-template.

[2017-12-17 09:56] twinssbc commented on #246
@venkatasairamu What does your template syntax look like now?
ngTemplateOutlet and ngTemplateOutletContext are two different things, they can be replaced from one to another.

[2017-12-17 09:59] twinssbc commented on #247
@abdulkadhir You need to convert your json format data to the format the calendar can recognize.
Take a look at the EventSource section in README about the mandatory fields in the event object.
You could also refer to the code in demo page.

[2017-12-17 10:00] twinssbc commented on #244
@romulus001 Yes, you could refer to View Customization section in README.

[2017-12-17 10:03] twinssbc commented on #148
@duffayapps What exact error did you get?

[2017-12-17 16:23] duffayapps commented on #148
Error: ./node_modules/ionic2-calendar/calendar.ngfactory.ts
Module build failed: Error: No element indexed by 1

Error seen above when using the following command " ionic cordova build android --prod".
The calendar runs well on ionic serve and the device but will not run on production any solutions greatly appreciated.

[2017-12-17 20:45] duffayapps commented on #148
This issue is a matter of urgency I cannot release app without the fix. I will donate money to anyone that can solve this. It's too late to use an alternative calendar at this stage.

[2017-12-18 03:37] twinssbc commented on #148
@duffayapps which version of ionic and calendar are you using?
It seems this error is caused when generating source map. Maybe you could try disable sourcemap?

[2017-12-18 04:29] duffayapps commented on #148
Thaks for your reply.
"ionic2-calendar": "^0.3.7",
"@angular/common": "5.0.0",
 "@angular/compiler": "5.0.0";
How do you disable sourcemap?

[2017-12-18 04:59] duffayapps commented on #148
@twinssbc  cant disable sourcemap.

The "tsconfig.json" file must have compilerOptions.sourceMap set to true.

[2017-12-18 05:28] abdulkadhir commented on #247
thanks, @twinssbc  I'll check and reply

[2017-12-18 05:35] abdulkadhir commented on #247
![image](https://user-images.githubusercontent.com/32663252/34091349-227c8756-e3e3-11e7-810e-e53595a7e2cb.png)

[2017-12-18 10:51] romulus001 commented on #244
Hello, I almost got what I wanted, now, each time I add an event, I would like the custom the background color of its cell and to change the contained text.
Here you have my code : [calendar.html](https://github.com/romulus001/ESS/blob/master/src/pages/Calendar/calendar.html) and [calendar.ts](https://github.com/romulus001/ESS/blob/master/src/pages/Calendar/calendar.ts)

I have [this result](https

[2017-12-18 10:56] faizan1219 commented on #217
@twinssbc i am still having this issue..

[2017-12-18 14:01] twinssbc commented on #148
@twinssbc If you already upgrade to angular 5.0.0, you need to upgrade Ionic version to at least 3.9.2 and ionic2-calendar version to 0.4.x. It has been stated in README.
I suggest you start a new Ionic project, otherwise you may have some incompatible dependencies if you do in-place upgrade.

[2017-12-18 14:03] twinssbc commented on #247
@abdulkadhir I don't quite understand your logic. Where do you call your loadEvents method?

[2017-12-18 14:03] twinssbc commented on #247
@abdulkadhir And what error do you get?

[2017-12-18 14:16] twinssbc commented on #244
@romulus001
Below is your current template.
The problem is you are looping against all events happen on that day.
Suppose you have 5 events on that day, you will end with 5 <p> elements having background-color as obj.eventColor.
[code]

You probably want to create some css class based on whether you have events or not, or only the first event. For example,
[ngClass]="getCustomClass(view.dates[row*

[2017-12-18 14:17] twinssbc commented on #217
@faizan1219 Only 0.4.x version supports Ionic 3.9.2 and Angular 5.0.

[2017-12-18 14:40] twinssbc commented on #249
@NattapolPraew Yes, that's a classical layout problem. Basically you have two divs, you want the second div to occupy the remaining height of the parent div.

The modern way is to use flex attribute.
https://stackoverflow.com/questions/42304725/two-divs-one-fixed-height-the-other-to-fill-the-remaining-space
https://stackoverflow.com/questions/28503305/how-to-create-a-vertical-flexbox-with-one-fixe

[2017-12-18 14:52] faizan1219 commented on #217
@twinssbc  so do i have to add '@latest' flag with npm install? or if there is another way to get 0.4.x version?

[2017-12-18 17:28] romulus001 commented on #244
@twinssbc the code I put was from [this project](https://github.com/Bhavana1622/ionic2-calendar-event), but I dont' have the same result as showed on the page...
I also wanted to use the code from [fureszk](https://github.com/twinssbc/Ionic2-Calendar/issues/94#issuecomment-298194910) but I have default colors, strangely.
In my template, I have this

[code]
In my ts file :
[code]

My css :
[code]
I

[2017-12-19 05:16] abdulkadhir commented on #247
this my ts file

`import { Component, ViewChild } from '@angular/core';
import { NavController } from 'ionic-angular';
import { NgCalendarModule } from 'ionic2-calendar';
import { CalendarComponent } from "ionic2-calendar/calendar";
import {CalenProvider} from '../../providers/calen/calen';

import 'rxjs/add/operator/map';

@Component({
  selector: 'page-home',
  templateUrl: 'home.html',
  provid

[2017-12-19 05:18] abdulkadhir commented on #247
html file:
`<ion-header>
  <ion-navbar color="ddd">
      <ion-title>{{viewTitle}}</ion-title>
      <ion-buttons end>
          <button ion-button color= "black" [disabled]="isToday" (click)="today()">Today</button>
          <button ion-button color="black" (click)="changeMode('month')">Month</button>
          <button ion-button color="black"(click)="changeMode('week')">Week</button>

[2017-12-19 05:18] abdulkadhir commented on #247
provider:

`import { Injectable } from '@angular/core';
import { Observable } from 'rxjs/Observable';
import {Http, RequestOptions, Response, HttpModule} from '@angular/http';
import { HttpClientModule } from '@angular/common/http';
import 'rxjs/add/operator/map';
import 'rxjs/add/operator/catch';
import 'rxjs/add/operator/do';

/*
  Generated class for the CalenProvider provider.

  See https://a

[2017-12-19 05:57] kirstenfrager commented on #246
have gotten this error too. have done some research and other plugins have updated this to ngTemplateOutletContext for the latest version angular 5 version.

[2017-12-19 10:41] tryadelion commented on #225
any news?
could we provide our own translations instead?

[2017-12-19 14:46] gdesplin commented on #248
Thanks that solved it!

[2017-12-19 14:46] #248 closed

[2017-12-19 15:07] Titoch commented on #232
@twinssbc : I have reused the 2 section templates you supplied.

Finally I use exactly the same sectionTemplate. for week and day views.
weekviewNormalEventSectionTemplate

My sectionTemplate reuses your sectionTemplate and includes 3 nested DIV to render different elements.
I also use the weekviewNormalEventTemplate as I did before (no change in code).

Just a thing : 'hourparts' variable  is not

[2017-12-19 15:23] twinssbc commented on #217
@faizan1219 Take a look at the rule of semver.
https://docs.npmjs.com/misc/semver
You could use 0.4.x, so that the version stick to 0.4

[2017-12-19 15:27] twinssbc commented on #247
@abdulkadhir Your logic is not that clear. I suggest you clean your code a bit and add the logic step by step.
First, make sure when you click a button, you can fill some random events to eventSource.
Second, implement a method to fetch events from backend and fill the retrieved events to eventSrouce.

[2017-12-20 06:14] faizan1219 commented on #217
@twinssbc thanks for the help :)

[2017-12-20 11:09] faizan1219 commented on #233
@twinssbc  what should i import for spanish and english?

[2017-12-20 11:49] TheKalin opened #251 "Metadata version mismatch for module [...] found version 4, expected 3"
Hello, during production build (ionic build --prod) I'm getting the metadata version mismatch error.
It looks like it caused by ionic2-calendar module.

**Full error available below:**
`Error: Metadata version mismatch for module ~/myProject/node_modules/ionic2-calendar/calendar.module.d.ts, found version 4, expected 3
    at StaticSymbolResolver.getModuleMetadata (~/myProject/node_modules/@angula

[2017-12-20 14:59] twinssbc commented on #233
@faizan1219
Below are all the locales Angular supports.
https://github.com/angular/angular/tree/master/packages/common/locales
According to the Angular i18n guide, https://angular.io/guide/i18n
Usually the file name is like <language code>-<country code>
So for spanish, it will start with "es", you need to choose the country code.
For example, from below url, you can see all es locales.
https://ww

[2017-12-20 15:01] twinssbc commented on #251
@TheKalin You are using Ionic 3.9.2, it depends on Angular 5.0. You need to upgrade your Angular dependencies.

[2017-12-20 15:07] twinssbc commented on #225
@tryadelion The calendar provides dateFormatter option to allow you use your own way to transform from the date to text. You could just add localization logic in your dateFormatter.

[2017-12-20 15:16] twinssbc commented on #244
@romulus001 I used your code and I can see the color text appears in the class, for example,
<div class="calendar-day primary">
Is it possible you didn't apply the css rule correctly?

Regarding the getCustomClass, for example, you could have your template as
[code]
Then in your compontent ts file, you just add getCustomClass
[code]

[2017-12-21 07:07] its-Aman opened #252 "Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'"
Please fix it for Angular v5+. As `ngOutletContext` is replaced by `ngTemplateOutletContext`
See [here](https://github.com/angular/angular/blob/master/CHANGELOG.md#deprecated-code) for deprecate code list.

I just migrate my project from `ionic-angular` version `3.5.2` to `3.9.0` and all the `@angular/*` versions to `5.0.0` In my node module package `dayview.js`, `weekview.js` and `monthview.js` h

[2017-12-21 07:08] its-Aman commented on #252
also when build apk for android with `ionic cordova build android --prod --release --aot` gives error of missing module related to ngFactory

[2017-12-21 07:11] cosmokwh opened #253 "loadEvents function not working in my app."
Hi, I'm developing a hybrid app based on ionic.
It does not display event data imported from firebase on the calendar.
When I first developed it, the event information I saved was displayed on the calendar.
When I use "loadEvents()", sometimes it shows a not instance error.

Is there a problem?
Please answer. thanks!

**My Ionic Info below:**

    @ionic/cli-utils  : 1.19.0
    ionic (Ionic CLI) :

[2017-12-21 12:16] faizan1219 commented on #233
[code]

I added this to my app.module, but i am still getting the same error of:

`Cannot read property 'dayHeaders' of undefined`

Just to clear things, I made a separate project, everything works perfect..
but when i integrate this in a project of mine it give all theses errors... the dependencies of that project is below, please take a look and tell me if there is something that might be confli

[2017-12-21 14:13] twinssbc commented on #252
@its-Aman Which calendar version are you using? 0.4.x version supports ionic-angular 3.9.2 and Angular 5.0.

[2017-12-21 14:17] twinssbc commented on #253
@cosmokwh What exact error did you get when you call loadEvents method?
You mentioned you sometimes get the error, which means it doesn't always happen.
Could you find out in which particular condition, you could reproduce this error?

[2017-12-21 14:20] TheKalin commented on #251
@twinssbc Oh silly me, thanks for the help.

[2017-12-21 14:22] twinssbc commented on #233
@faizan1219 So you register the locale of es and en. I wonder which locale do you set for your app?

Do you have some setting like below in your app.module.ts?
[code]

[2017-12-21 14:25] twinssbc commented on #251
@TheKalin To be accurate, ionic-angular 3.9.2 relies on Angular 4.4.6.
https://github.com/ionic-team/ionic/blob/master/package.json
So you don't have to upgrade to Angular 5.0. But if you want to use the calendar 0.4.x version, then it depends on both ionic-angular 3.9.2 and Angular 5.0.

[2017-12-21 14:29] twinssbc commented on #232
@Titoch That's very nice. I will leave that branch version for a while, if no issue found, then move it to main branch.

[2017-12-21 14:30] TheKalin commented on #251
@twinssbc Thanks for info. I decided to update everything in my project before initial release. Angluar 5 and the changes in http handling  (HttpClient & HttpClientModule) are major, therefore i need some tine for code refactoring.

[2017-12-21 15:23] faizan1219 commented on #233
this is my app.module file:

[code]

@twinssbc problem is my project targets both these language so i am using ` @ngx-translate/core` for translation purpose and the user can change the language during the runtime... if you can suggest me something for dynamically doing that,, that will be very helpful for me..

[2017-12-21 16:07] its-Aman commented on #252
@twinssbc I'm using version 0.4.2
Running command ./node_modules/.bin/ngc giving me details of error. After looking in the [changelog](https://github.com/angular/angular/blob/master/CHANGELOG.md#deprecated-code), I changed the code accordingly and all code complile successfully.

[2017-12-22 08:23] cosmokwh commented on #253
@twinssbc

Thanks for the reply.
In my app, the loadEvents method is not always called.....

occasionally, when running the "ionic serve" command,
an error occurs saying that loadEvents is not called, but it is not clear under what conditions it occurs.

What's wrong with my code?
Firebase snapshots are delivering the data I want.

Some of the problems I think are:

1) call loadEvent () from withi

[2017-12-22 12:35] #251 closed

[2017-12-22 12:36] #252 closed

[2017-12-22 13:20] twinssbc commented on #253
@cosmokwh You should not call loadEvents in the constructor. Because it needs to get the reference of the calendar component, but at that time, it hasn't been initialized completely.
You have several options:
1. Fetch your data in ionViewDidLoad method
2. Fetch your data in onRangeChanged callback. You need to set queryMode to 'remote'
3. Don't call loadEvents in your fetch data event. Always init

[2017-12-23 05:32] its-Aman commented on #246
@venkatasairamu can you provide more info. I also got this error but solved it by replacing `ngOutletContext` to `ngTemplateOutletContext` in the dayview.js, weekview.js and monthview.js. Maybe this can help #252

[2017-12-23 09:34] TheKalin commented on #233
@faizan1219 Check your your locale settings of the calendar object that you are using inside the view.
In my cause it was the main reason why i was still getting 'cannot read' error even after i have imported registerLocaleData.

Make sure that you are using 'en' locale during the calendar initialization.

[2017-12-23 15:42] NattapolPraew commented on #249
It's worked!. but do I have a way to add this style without hard fix in the library?

[2017-12-24 07:59] faizan1219 commented on #233
@TheKalin do you mean something like this, ` <calendar [locale] = 'en-US' ....>`?

well i have tried this too.

[2017-12-24 08:34] TheKalin commented on #233
@faizan1219 Try to set it via model in your ts script. I just tried to set it manually from HTML and it still causing the issue.
Something like this:
home.ts:
calendar={
mode: 'month',
    locale: 'pl',
    autoSelect: 'false',

home.html
  <calendar [monthviewEventDetailTemplate]="customEventDetailsTemplate"  [locale]="calendar.locale"  ...

And mae sure that it is the same country code that you

[2017-12-24 17:48] idanb11 commented on #204
Hi @twinssbc ,,,

Thanks for this plugin.

Is there a way to can a handle of the slides instance without the `document.querySelector`?
and use instead the Ionic way like so:

[code]

[2017-12-26 03:15] allenwei123 opened #254 "ionic3.9.2:Unexpected directive 'CalendarComponent' imported by the module 'AppModule'. Please add a @NgModule annotation."

[2017-12-26 10:27] cosmokwh commented on #253
@twinssbc
Thank you for your kind reply.

The eventSource that was initialized in the constructor was removed,
and the event information was called again in the ionViewDidLoad () function.

It works very well. It's a really cool plugin!
thanks!

[2017-12-27 07:42] abdulkadhir commented on #247
@twinssbc thanks
hi I try it and it works well but the problem is when I pass the date like this the event is shown in january 28 2018 instead of december 28 2017
`
startTime: new Date(2017,12,28,11,0,0,0),

  endTime: new Date(2017,12,28,11,30,0,0),`

[2017-12-27 11:55] twinssbc commented on #254
@allenwei123 How do you import the calendar module in your app module file?

[2017-12-27 11:56] #253 closed

[2017-12-27 11:57] twinssbc commented on #247
@abdulkadhir It's because the number starts with 0, not 1.

[2017-12-27 11:59] twinssbc commented on #249
@NattapolPraew Yes, you don't need to modify the library. Just add the styles in a separate css file.

[2017-12-27 12:01] abdulkadhir commented on #247
thanks, @twinssbc .
Then how to convert my json data to that

[2017-12-27 12:02] twinssbc commented on #204
@idanb11 Because the slides is inside the calendar component, so you can't get the slide reference via ViewChild. I could expose instance method on calendar component to call the underlying calendar.
Anyway, I think directly using document.querySelector to get the Swiper reference is not a bad idea. In this way, you don't need to wait IonSlide and my calendar to expose a method.

[2017-12-27 12:03] abdulkadhir commented on #247
@twinssbc any possible ways to alter the start number

[2017-12-27 12:14] twinssbc commented on #247
That is the JavaScript API.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date
You need to workaround it by yourself.

Or if your original date in the JSON data is a valid string, you could try parse method.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse

[2017-12-27 12:31] idanb11 commented on #204
Yes, I agree that using `document.querySelector` is not a bad idea,
but in case you have multiple instances of your calendar component in a single page - you have to add IDs to each component `<calendar id="some-id"></calendar>` which it not a good practice.

I'll be happy if you could expose a method to call the underlying calendar.

Thanks.

:+1:

[2017-12-27 22:54] en-sevilla commented on #54
Thanks, it worked for me:

`    .weekview-allday-table{
        display: none;
    }

    .weekview-normal-event-container{
        margin-top: 37px;
    }`

[2017-12-28 01:03] allenwei123 commented on #254
hi! sir,i hope to get your help.

import { NgCalendarModule  } from 'ionic2-calendar';

@NgModule({
  declarations: [
    MyApp,
  ],
  imports: [
    BrowserModule,
    NgCalendarModule,//import calendar module
    IonicModule.forRoot(MyApp,{
      tabsHideOnSubPages:'true',
      backButtonText:''
    }),
  ],
  bootstrap: [IonicApp],
  entryComponents: [
    MyApp
  ],
  providers: [
    Status

[2017-12-28 16:56] mohitook opened #256 "Show only the current month"
Hello,

I'll show only the current month, without any days from the next and previous month, only empty cells.
Can you suggest an easy way to do it?

I've already found this solution:
[code]
but in this case the days are still there, but without label, so basically it is not a solution

thank you!

[2017-12-29 13:28] twinssbc commented on #256
@mohitook Sorry, I'm not quite clear about the effect you want to achieve. You want to have empty cells, but it seems the days without label couldn't meet your requirement? Maybe you could draw some mockup?

[2017-12-29 13:35] twinssbc commented on #254
@allenwei123 Which Ionic and Angular version are you using?
Could you provide your tsconfig.json and package.json?
Maybe you could also try adding the calendar in a clean Ionic project to see if you still have this error.

[2017-12-29 21:12] mohitook commented on #256
so,  basically the empty cells not meet with my requirements because the event colors are still visible in the "unlabeled" cells,.. I just simply want to let them empty in a way that it won't show the events, won't be  activated if I click on them etc..
![image](https://user-images.githubusercontent.com/15103326/34447533-3dde9178-ece5-11e7-86a8-d853c77a05d6.png)

basically I won't see what I marke

[2017-12-30 01:31] allenwei123 commented on #254
Here's my code,can you find that error?
package.js:
   {
    "name": "myApp",
    "version": "0.0.1",
    "author": "Ionic Framework",
    "homepage": "http://ionicframework.com/",
    "private": true,
    "scripts": {
        "clean": "ionic-app-scripts clean",
        "build": "ionic-app-scripts build",
        "lint": "ionic-app-scripts lint",
        "ionic:build": "ionic-app-scripts build",

[2017-12-30 01:36] allenwei123 commented on #254
Here's my code,can you find that error?
package.js:
{
"name": "myApp",
"version": "0.0.1",
"author": "Ionic Framework",
"homepage": "http://ionicframework.com/",
"private": true,
"scripts": {
"clean": "ionic-app-scripts clean",
"build": "ionic-app-scripts build",
"lint": "ionic-app-scripts lint",
"ionic:build": "ionic-app-scripts build",
"ionic:serve": "ionic-app-scripts serve"
},
"dependencies":

[2017-12-30 01:37] allenwei123 commented on #254
Here's my code,can you find that error?
package.js:

"dependencies": {
"@angular/common": "5.0.3",
 "@angular/compiler": "5.0.3",
 "@angular/compiler-cli": "5.0.3",
"@angular/core": "5.0.3",
"@angular/forms": "5.0.3",
"@angular/http": "5.0.3",
"@angular/platform-browser": "5.0.3",
"@angular/platform-browser-dynamic": "5.0.3",
"@ionic-native/core": "4.4.0",
"@ionic-native/in-app-browser": "^4.5.2",

[2017-12-30 01:39] allenwei123 commented on #254
"@angular/common": "5.0.3",
        "@angular/compiler": "5.0.3",
        "@angular/compiler-cli": "5.0.3",
        "@angular/core": "5.0.3",
        "@angular/forms": "5.0.3",
        "@ionic-native/core": "4.4.0",
        "@ionic-native/in-app-browser": "^4.5.2",
        "@ionic-native/network": "^4.5.2",
        "@ionic-native/splash-screen": "4.4.0",
        "@ionic-native/status-bar": "4.4.0"

[2017-12-30 01:42] allenwei123 commented on #254
angular/common:5.0.3,
angular/core: 5.0.3,
ionic-native/core: 5.0.3,

[2017-12-30 18:21] cemceliks commented on #252
I only installed the ionic2-calendar today and seem to have an older version. package.json entry showing   "ionic2-calendar": "^0.3.13-weekdayview-tpls".
Done the updates as its-Aman referred on the weekview.js etc. Still the same message. Would be nice to have component. Help please.

[2017-12-30 23:21] Ahmadre commented on #116
To All:

they have added LockSwipes perfectly! For Next and Prev:

`[lockSwipes]="lockSwipes"`

just add that to your calendar module. Default value is false.

Thanks @twinssbc :) great calendar

[2017-12-31 08:44] qwertytoki opened #257 "Could I prevent vertical scrolling in month view in iOS?"
Hello, thank you for your great calendar.
This time, I met a trouble in monthly view.

When I try to change month by swiping left/right, then also scrolling vertically.
Could I prevent vertical scrolling?
(This problem happens only ios. Not happen when using "ionic serve")

I appreciate your help.

<img width="608" alt="2017-12-31 17 41 53" src="https://user-images.githubusercontent.com/22290203/3

[2018-01-02 09:33] qasmaoui commented on #193
hello to you all
im getting the same error heer

Runtime Error
co.onViewTitleChanged is not a function

Stack
TypeError: co.onViewTitleChanged is not a function
    at Object.eval [as handleEvent] (ng:///AppModule/CalendrierPage.ngfactory.js:377:24)
    at Object.handleEvent (http://localhost:8100/build/vendor.js:12273:138)
    at Object.handleEvent (http://localhost:8100/build/vendor.js:12976:85)

[2018-01-02 10:16] qasmaoui opened #258 "Runtime Error co.onViewTitleChanged is not a function on ionic serve"
hello to you all
im getting the same error heer

Runtime Error
co.onViewTitleChanged is not a function

Stack
TypeError: co.onViewTitleChanged is not a function
at Object.eval [as handleEvent] (ng:///AppModule/CalendrierPage.ngfactory.js:377:24)
at Object.handleEvent (http://localhost:8100/build/vendor.js:12273:138)
at Object.handleEvent (http://localhost:8100/build/vendor.js:12976:85)
at dispatch

[2018-01-02 11:41] twinssbc commented on #256
@mohitook To not displaying event on these days, you just skip these days when filling eventSource array. For example, only returning the events within the current month.
To not activate them, you could use markDisabled callback.
Unfortunately, the month view is based on 42 days, because in some month, it still occupy 6 rows, so not able to hide that row.

[2018-01-02 11:44] #116 closed

[2018-01-02 11:46] twinssbc commented on #252
@cemceliks So I'm maintaining 3 versions of ionic2-calendar.
You could choose the proper version based on your project dependencies.

version 0.1.x depends on Ionic 2.0.0-rc.1 ~ Ionic 2.0.0-rc.4
version 0.2.x depends on Ionic 2.0.0-rc.5 (rc.5 has breaking change on the slide API) and 2.0.0 final version onwards. version 0.2.9+ depends on Ionic 2.3.0 version onwards.
version 0.3.x depends on Ionic

[2018-01-02 11:53] twinssbc commented on #257
@qwertytoki
This bounce behavior on ion-content is the default effect in ios, there is a no-bounce, but someone says it's not working.
I don't have a ios device at hand, so can't test.
Maybe below issue discussion could help you.
https://github.com/ionic-team/ionic/issues/7644

[2018-01-02 11:55] twinssbc commented on #193
@qasmaoui Did you add onViewTitleChanged function in your component code?

[2018-01-02 11:58] twinssbc commented on #254
@allenwei123 I notice you are using 0.3.13-weekdayview-tpls version. For Ionic 3.9.2 project, please use 0.4.x version.

[2018-01-02 15:37] cemceliks commented on #252
Thank you for clarifying. Great component!

[2018-01-02 19:59] marinagosson opened #259 "Not founder"
[code]

[2018-01-02 20:37] qasmaoui commented on #258
just miss used the code .

[2018-01-02 20:37] #258 closed

[2018-01-03 01:17] allenwei123 commented on #254
How to get 0.4.x version?

[2018-01-03 07:13] ghost opened #260 "Need help of ngOutletContext"
Hi, after looking through the issues of others users. I still do not understand on how to solve.

Currently, I am having this problem "Uncaught Error: Template parse errors:
Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'."

How can I fix it? Thankyou in advance.

My system info.
PS C:\Users\Chin_\Desktop\calendarApp> ionic info

cli packages: (C:\Users\robert\AppD

[2018-01-03 07:27] ecert commented on #260
Hi there,
it happened to me that i upgraded from Angular4 to Angular5.
if you use Angular5 and your ionic2-calendar version number is 0.3.x
i suggest you to use 0.4.x version.
i install it (npm install ionic2-calendar@0.4.2) and i am not getting any ngOutletContext error.

I think Angular5 is using ionic2-calendar 0.4.x version.

[2018-01-03 07:50] robertrobertlow commented on #260
@ecert Hi, thankyou for your help. How can I change the version as you mention? Plus not sure if it will affect my other projects.

[2018-01-03 07:56] allenwei123 commented on #254
Thank you for your advice！

[2018-01-03 08:36] ecert commented on #260
in your package.json files if you see "@angular/common": "5.0.x" you use Angular5 version.
Then you use ionic2-calendar 0.4.x version. Because ng-template structure is changed on Angular5.
You use below for updating your ionic2-calendar version to 0.4.x
NOT: First get your backup before using it.

npm install ionic2-calendar@0.4.2

[2018-01-03 08:47] robertrobertlow commented on #260
@ecert yes, my angular version is 5.0.3. And I tried your "npm install ionic2-calendar@0.4.2 --save". And verified that the ionic2-calendar is indeed in version 0.4.2. However, it is still the same error.

[2018-01-03 09:48] Kr0n092 commented on #260
Does the error still persist if you remove the npm_modules folder and run npm install?

[2018-01-03 10:07] robertrobertlow commented on #260
yes, tried. will it affect my other projects?

[2018-01-03 10:09] qwertytoki commented on #257
@twinssbc
Thank you very much for your reply.
I solved by using
`<ion-content no-bounce>
</ion-content>`

[note]
"no-bounce" will move 2 patterns.
1 if there is no event -> no bounce
2 if there are events more than display size ->this time we can scroll.
<img width="593" alt="2018-01-03 19 09 13" src="https://user-images.githubusercontent.com/22290203/34516262-a18a8cf4-f0b9-11e7-8ec7-3cf90b2840c6.

[2018-01-03 10:19] Kr0n092 commented on #260
Your other projects, if they use the same npm_modules folder, will only be affected if they use packages that you've upgraded (like Angular 5.0.x)

[2018-01-04 09:57] abdulkadhir commented on #247
thanks, @twinssbc it's working.
now I want to disable some selected days in a month.
can explain how to do that.

[2018-01-04 10:07] abdulkadhir commented on #232
@Titoch can you explain how to disable weekend thanks

[2018-01-04 12:42] twinssbc commented on #260
@robertrobertlow How do you make sure ionic2-calendar 0.4.2 is installed in your project? Could you search "ngOutletContext" in the calendar install folder? It should not exist, 0.4.x version is using "ngTemplateOutlet"

[2018-01-04 12:43] twinssbc commented on #259
@marinagosson You need to install "intl". It is explained in the Dependency section in README.

[2018-01-04 12:43] #254 closed

[2018-01-04 12:44] #257 closed

[2018-01-04 12:46] twinssbc commented on #247
@abdulkadhir Take a look at markDisabled option in README.
This method accepts a date parameter, and you can add your logic to decide return true (disabled) or false (not disabled).

[code]

[2018-01-04 12:48] mauricewipf commented on #233
I still get the Runtime error 'dayHeaders' undefined.

[code]

I did these steps:

Replaced `ngoutletcontext`with `ngtemplateoutletcontext`

main.ts
[code]

home.html
[code]

home.ts
[code]

app.module.ts
[code]

[2018-01-04 12:53] TheKalin commented on #233
@mauricewipf  add this to your app.module.ts
`import { registerLocaleData } from '@angular/common';
import localeEN from '@angular/common/locale/en-usl';
registerLocaleData(localeEN)
`

[2018-01-04 18:31] mauricewipf commented on #233
@TheKalin Sorry, I forgot that in my comment. I already have this in my `app.module.ts`. I edited my comment.

package.json
[code]

[2018-01-04 21:50] dirodriguezm opened #261 "How can I load events at startup ?"
I have a method to add events to the _eventSource_ array.

I tried calling it from the constructor of the page, and under the ngAfterViewInit / Checked methods but I get TypeError: _a is undefined.

I think the error happens because the calendar view is not ready yet. When I create a button and load the events when clicking the button it works ok, but I need to add the events at the begining of th

[2018-01-05 05:28] abdulkadhir commented on #261
@dirodriguezm use "this .eventSource.push();" in the constructor, it loads the event source array when the calendar starts.

[2018-01-05 07:04] abdulkadhir commented on #247
@twinssbc thanks for the reply.
I tried it but it won't work.
I want to disable Sundays.
Can you send some sample code snippets?

[2018-01-05 07:57] Titoch commented on #232
@abdulkadhir You just have to edit markDiabled method and return true when date is a week-end.
Here for Saturday(6) and sunday (0) :
`markDisabled = (date: Date) => { return (date.getDay() == 6) || (date.getDay() == 0);  };`

You can see the result in monthView (saturday and sunday) days are grayed.
In WeekWiew you'll see nothing else than mouse is 'default', no more 'pointer'.

[2018-01-05 09:03] abdulkadhir commented on #232
@Titoch thanks it works.
how to set different colors for the events.

[2018-01-05 09:17] abdulkadhir commented on #247
How can i load the event with a only date.
my json is `

[
{
            "date": "2017-09-05",
            "reason": ""
        },
        {
            "date": "2017-09-04",
            "reason": ""
        },
        {
            "date": "2017-09-01",
            "reason": ""
        },
]`

[2018-01-05 09:20] abdulkadhir commented on #247
How can I load an event with the only date there is no start time and end time.
my json data  is  `

[
{
            "date": "2017-09-05",
            "reason": ""
        },
        {
            "date": "2017-09-04",
            "reason": ""
        },
        {
            "date": "2017-09-01",
            "reason": ""
        },
]`

[2018-01-05 11:45] Titoch commented on #232
@abdulkadhir modify the css style of
`.monthview-container  .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1].monthview-disabled`
This is only possible in monthview.
If you want to do it in week or day view you have to use new weekviewNormalEventSectionTemplate or dayviewNormalEventSectionTemplate templates supplied in [https://github.com/twinssbc/Ionic2

[2018-01-05 11:50] abdulkadhir commented on #232
Thanks @Titoch

[2018-01-05 16:47] Titoch commented on #232
@twinssbc Just about unknow hourparts property in weekviewNormalEventSectionTemplate or dayviewNormalEventSection templates :
Initially I replaced hourparts with 15 (like stepMinute) . In fact it has to be replaced with (60/stepMinute).
So now the position is very good.

[2018-01-06 00:59] waleedshkt commented on #217
Using ionic@3.9 with angular@5
`------------------------------------------`

@aces-tm, it seems like one has to change `ngOutletContext` to `ngTemplateOutletContext` not only in DayView.js, WeekView.js and Month.js but in all the remaining files under node_modules/ionic2-calender that contain `ngOutletContext`.

It is tedious but I guess it's the only way to change the `ngOutletContext` to `ngTemp

[2018-01-06 01:26] twinssbc commented on #217
@waleedshkt The js files are release files, they are generated automatically. You don't have to touch them. Instead, you need to use ionic2-calendar 0.4.x version. It supports Angular 5 and has resolved the ngTemplateOutletContext change.

[2018-01-06 01:28] twinssbc commented on #247
@abdulkadhir Does that mean they are full day event? Then you need to populate the eventSource array with full day event format. The format has been explained in the README.

[2018-01-06 01:29] twinssbc commented on #261
@dirodriguezm Try loading events in ionViewDidLoad?

[2018-01-06 01:34] waleedshkt commented on #217
@twinssbc , thanks a lot for your quick response!
Yeah, that worked perfectly!

[2018-01-06 14:24] twinssbc commented on #233
@mauricewipf Are you still experiencing this issue? If you are using 0.4.x version, you don't need to deal with the ngTemplateOutletContext.
Maybe you could try it in a clean project?

[2018-01-06 15:58] mauricewipf commented on #233
I haven't tried it again so far. I was able to run successfully this calendar:  [ionic3-calendar](https://github.com/laker007/ionic3-calendar).

[2018-01-07 03:44] waleedshkt commented on #94
Hi guys, I'm trying to show events' marks - like red (past) and green (upcoming) dots on each block - on month view.

Is there anyway to achieve this in ionic-calendar? If so, please help me on this.

Would greatly appreciate the positive response! :)

[2018-01-07 08:47] twinssbc commented on #94
@waleedshkt This is for Ionic2-Calendar. If you are using ionic-calendar, you could create an issue under below URL.
https://github.com/twinssbc/Ionic-Calendar/issues

[2018-01-07 16:19] waleedshkt commented on #94
@twinssbc , I'm using ionic2-calender.

Any possibility to add the above mentioned style?
Btw, styling the calendar is a little confusing for me. I don;t understand the template syntax, and don't fully sure what classes to target for different elements in MonthView mode.

[2018-01-08 01:18] waleedshkt opened #262 "Changing Color of Today's Date in Month View"
Hi,

I get a light pale background with a white font style for the today's date view in month view mode when not selected.

Can anyone please tell me what class to use to change the above-mentioned style properties?

Thank you very much.

[2018-01-08 04:05] hewham opened #263 "ionic-angular... component.ngfactory not found"
Using calendar version 0.3.13

all calendar.module.ngfactory.ts imports from ionic-angular do not exist in node_modules/ionic-angular. (as well as other ngfactory files within ionic2-calendar)

example..

import * as import5 from 'ionic-angular/components/action-sheet/action-sheet-component.ngfactory';
import * as import6 from 'ionic-angular/components/alert/alert-component.ngfactory';
import * as

[2018-01-08 04:21] waleedshkt commented on #149
@jordanpurinton , @twinssbc ,

Can you guys please provide me the default template for the month view?

@jordanpurinton , I am almost trying to achieve what you have accomplished already in month view: displaying events' tags in each view item. as shown in image below:

Your input would be very appreciated!
[https://github.com/waleedshkt/Ionic2-calender/blob/master/mock.jpg](url)

[2018-01-08 06:04] bsuyog16 opened #264 "Failed at the ionic2-calendar@0.2.12 build script"
Hi,
I am using ionic2 calendar in my project (v 0.2.12). While building ionic 2 calendar project with command npm run build --prod I am getting following error as

It was working earlier in ionic CLI 3.3.0

I am using :
Ionic -CLI : 3.19.0
npm : 5.6.0
node : 8.9.3

Please help !!

[2018-01-08 06:18] bsuyog16 commented on #264
Here is my package.json file
[code]

[2018-01-08 06:51] abdulkadhir commented on #232
@Titoch how to disable the particular day between given time, for example, I want to disable all Mondays between 9th  January  2018 to 30th March 2018

[2018-01-08 10:34] bsuyog16 commented on #264
Following are the npm verbose logs
[code]

[2018-01-08 18:09] jordanpurinton commented on #149
@waleedshkt so there is already documentation on the main page on how to manage templates. Take a look at that first and see how far you can get and then I can attempt to help.

[2018-01-08 19:28] Zodar opened #265 "Error Can't bind to 'startingDayMonth' since it isn't a known property of 'calendar'"
This error is displayed only when I use "--prod" tag.

[code]

[2018-01-08 19:45] pipolamenace opened #266 "Using Monthview but showing one week at a time"
Hello!
First of all, wanted to say that this calendar component is fantastic!
I have a question. I need to create a calendar that shows only 1 week at a time, and obviously that would show the week containing the current date in it at all time.

The rest should stay the same, but I just need to show 1 week at a time instead of the full month.
Would that be possible?

I was looking at the template

[2018-01-08 19:49] pipolamenace commented on #262
I'm fairly new to Angular/Ionic, but here's what I did:

I've added these lines of CSS code to my "calendar.scss" file (the scss file for the page where my calendar is displayed). I wanted the selected date to have a green background color, white and bold text:

[code]

So if you want to change the background color to something else than, just copy my code and change the background-color hex code

[2018-01-09 02:14] waleedshkt commented on #262
Thanks a lot @pipolamenace ,

Yes, that certainly does change the style of selected date view. But I'm trying to do this for non-selected today's date. I am getting pale background color with white font for it which isn't very noticeable.

[2018-01-09 08:44] robertrobertlow commented on #260
Thankyou guys for all the help given. I have 1 more question for now. Please tolerate me thankyou.
If I just change the version to 0.4.2, would it affect the program pre-default done by @twinssbc. As I do not know will it affect in anyway. thankyou. Because I would use this as a base and built on it for my parents to used as a reminder

[2018-01-09 09:11] robertrobertlow opened #267 "'calendar' is not a known element:"
[Angular]
'calendar' is not a known element:
1. If 'calendar' is an Angular component, then verify that it is part of this module.
2. To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component.

Hello guys,
How come it became a problem after I move it into a new project file?

Thankyou very much.

[2018-01-09 09:14] Titoch commented on #232
@abdulkadhir
You have to extend you markDisabled method:
`  markDisabled = (date: Date): boolean => {
      return (date.getDay() == 1
                 && (date.getTime() >= new Date(2018, 0, 9, 0, 0, 0, 0).getTime()
                 && date.getTime() <= new Date(2018, 2, 30, 23, 59, 59, 999).getTime()));
  };`

[2018-01-09 10:37] Titoch opened #268 "IEvent : missing ID property"
Hi,
My events in Calendar are database data set in objects implementing IEvent.
So when a user selects an event in WeekView Calendar I have to retrieve the respective object using the supplied IEvent parameter from the onEventSelected method.

The difficulty is when the user has 2 or more events having same : startTime, endTime and title.
The EventSelect gives me the correct IEvent, but I can not

[2018-01-09 10:50] robertrobertlow commented on #267
this is my ionic information:

cli packages: (C:\Users\Chin_\AppData\Roaming\npm\node_modules)

    @ionic/cli-utils  : 1.19.0
    ionic (Ionic CLI) : 3.19.0

global packages:

    cordova (Cordova CLI) : 8.0.0

local packages:

    @ionic/app-scripts : 3.1.7
    Cordova Platforms  : android 6.3.0 ios 4.5.4
    Ionic Framework    : ionic-angular 3.9.2

System:

    Node : v8.1.2
    npm  : 5.0.3

[2018-01-09 15:09] twinssbc commented on #267
@robertrobertlow  Did you import the calendar module? Could you provide your app module code?

[2018-01-09 15:11] twinssbc commented on #268
@Titoch startTime, endTime and title are the mandatory fields. It doesn't prevent you adding your own fields.

[2018-01-09 15:19] twinssbc commented on #94
@waleedshkt You could refer to Angular doc about the template syntax.
Below is just an example.
You could have a template in your html like this, notice the getCustomClass, it accepts the current date on the cell.
[code]

In your component code, you need to implement getCustomClass logic.
It accepts a date object, then you could check if it's past date or future date, and return different class na

[2018-01-09 15:26] twinssbc commented on #263
@hewham  I'm not quite clear about your issue.
If you don't use calendar, could you run your project successfully?
When you start using the calendar, what kind of error message did you get? How do you run your project? ionic server? or in any real device?

[2018-01-09 15:29] twinssbc commented on #264
@bsuyog16 Are you trying to customize the calendar and build it? Or you simply want to use the calendar in your application?
If you want to build the calendar, could you try "npm run build-prod"?
If it fails, you could run each command separately, for example,
[code]
When you run each command separately, it will print out which command fails and the detailed error message.

[2018-01-09 15:31] twinssbc commented on #265
@Zodar Which version of the calendar are your using? If you remove startingDayMonth, are the rest options working?

[2018-01-09 15:38] twinssbc commented on #262
@waleedshkt You could override the style for .monthview-current

[2018-01-09 15:40] hewham commented on #263
[10:31:32]  typescript: src/components/ionic2-calendar/calendar.module.ngfactory.ts, line: 15
            Cannot find module 'ionic-angular/components/action-sheet/action-sheet-component.ngfactory'.

      L14:  import * as import13 from 'ionic-angular/components/select/select-popover-component.ngfactory';
      L15:  import * as import14 from 'ionic-angular/components/toast/toast-component.ngfact

[2018-01-09 15:41] pipolamenace commented on #266
Thanks @twinssbc , I will look for another solution then. Have a good day!

[2018-01-09 15:42] twinssbc commented on #260
@robertrobertlow The features between calendar 0.3.x and 0.4.x are always the same. The reason I maintain separate version series are Angular itself has some breaking changes on the syntax.
So you don't need to worry about your app behavior changes when upgrading the calendar version.

[2018-01-09 15:45] twinssbc commented on #263
@hewham Do you directly add the calendar source code in your project?
Why don't you use the release version?

[2018-01-09 17:35] Titoch commented on #268
@twinssbc
Oh yes of course... I thought that I could only push IEvent in the Calendar eventSource...
I was mistaken.
Then it already works fine !!!
Thank you !
This issue can be closed...

[2018-01-09 21:04] avazquezpr commented on #178
Could you get it to work?

[2018-01-10 00:14] cemceliks commented on #230
Hi I have a similar problem. I have created some dummy events on my iPhone calendar. When I use Cordova native plugin to load those events like below I get an error "undefined is not an object (evaluating 'event_1.startTime.getTime'). Console.log shows iPhone dates in following format "2018-02-01 00:00:00". Do I need to update the result array returned by the promise before assisting to eventSourc

[2018-01-10 01:08] hewham commented on #263
Ok figured it out!

I had moved from node_modules to my src because I heavily edited the html code to change the appearance.

To avoid doing this again, is there a way to edit the html code of the event list (Changing the way events look and their function for a certain day underneath the calendar) without editing the src code? Also a way to change colors of selected dates on calendar itself?

tha

[2018-01-10 02:02] robertrobertlow commented on #267
Hi @twinssbc this is my module.ts

import { BrowserModule } from '@angular/platform-browser';
import { ErrorHandler, NgModule } from '@angular/core';
import { IonicApp, IonicErrorHandler, IonicModule } from 'ionic-angular';
import { SplashScreen } from '@ionic-native/splash-screen';
import { StatusBar } from '@ionic-native/status-bar';

import { AngularFireModule } from 'angularfire2';
import { An

[2018-01-10 02:15] robertrobertlow commented on #267
@twinssbc I am lazy loading my page with "ionic g page calendar".

[2018-01-10 06:42] #262 closed

[2018-01-10 06:58] hewham commented on #263
Figured out the templates as well, so no help is needed there. Thanks again!

[2018-01-10 10:27] Zodar commented on #265
I resolved this case, but with an ugly way.
It seems _--dev_ and _--prod_ argument for building ionic app doesn't use the same compilator.
So the only way I found yet:

1/ I put _NgCalendarModule_ in both my _appModule_ and my _pageModule_ (page where my calendar is) to resolve **this error**.

2/ I have to comment _pageModule_ in declarations of _appModule_  when I use --prod, and uncomment it wh

[2018-01-10 12:27] #266 closed

[2018-01-10 12:27] #268 closed

[2018-01-10 12:29] twinssbc commented on #178
@avazquezpr What kind of issue did you meet? It seems @squierll solved the issue. I guess it's related to the startTime and endTime fields. The value of these two fields should be valid date object, instead of string.

[2018-01-10 12:30] twinssbc commented on #230
@cemceliks You need to parse the string to a valid Date object.

[2018-01-10 12:31] avazquezpr commented on #178
Thanks for the reply. That's what I found out yesterday after writing this haha. The date gets stored as a string, so I tried to convert it back to a Date object and it worked. 👍

[2018-01-10 12:34] twinssbc commented on #267
@robertrobertlow
I don't quite understand your lazy loading command, "ionic g page calendar".
What does that mean?
Is there any other error printed out in the console?
Could you provide more code to demonstrate how do you use the calendar?

[2018-01-10 12:35] #263 closed

[2018-01-10 12:56] twinssbc commented on #265
@Zodar Regarding the issue when appModule and pageModule need to coexist, not sure if below discussion could give you some help.
https://github.com/ionic-team/ionic/issues/11487

[2018-01-10 14:57] dirodriguezm commented on #261
@twinssbc loading events on ionViewDidLoad gives a runtime error: _a is undefined

[2018-01-10 16:24] #261 closed

[2018-01-10 18:03] yewness commented on #217
In case someone gets stuck with the initial installation that gives you 0.3.13 (as per written), you can install

`npm install ionic2-calendar@0.4.x --save`

to get the latest version that the change to ngTemplateOutletContext has been fixed.

A lot of breaking changes after not touching the app for months.

[2018-01-10 23:59] #227 closed

[2018-01-10 23:59] #216 closed

[2018-01-11 00:00] #209 closed

[2018-01-11 00:01] #208 closed

[2018-01-11 00:01] #184 closed

[2018-01-11 00:02] #127 closed

[2018-01-11 00:03] #93 closed

[2018-01-11 00:03] #67 closed

[2018-01-11 00:04] #57 closed

[2018-01-11 00:05] #238 closed

[2018-01-11 18:21] mauriciogardini opened #269 "allDay: true event not working as expected"
I am trying to create an event that lasts a whole single day, like this:

[code]

For some reason, the event isn't showing in the calendar.

Related to that, when I try to add a multi-day event, like the one below, it only shows it at its second day:

[code]

Am I doing something wrong? Did I understand something badly?

[2018-01-12 00:06] twinssbc commented on #269
@mauriciogardini You can't set startTime and endTime on the same day.
Below startTime and endTime means the allDay event starts at 2014-05-08, doesn't include 2014-05-09.
var startTime = new Date(Date.UTC(2014, 4, 8));
var endTime = new Date(Date.UTC(2014, 4, 9));

[2018-01-12 07:18] robertrobertlow commented on #260
@twinssbc Where can I learn how to use the calendar to enhance it? Thankyou.

[2018-01-12 07:19] robertrobertlow commented on #267
@twinssbc Thankyou for solving this for me. Really appreciate. Thankyou once again.

[2018-01-12 07:19] #267 closed

[2018-01-12 11:52] mauriciogardini commented on #269
Hm, I get it. Wasn't aware of this behavior.

Thank you for the prompt response!

[2018-01-12 11:52] #269 closed

[2018-01-12 17:32] abdulkadhir commented on #232
@Titoch I want to disable set of dates that are on my backend, my JSON format is

[

     {
        "5": "2018-01-06",
        "6": "2018-01-07",
        "12": "2018-01-13",
        "13": "2018-01-14",
        "19": "2018-01-20",
        "20": "2018-01-21",
        "26": "2018-01-27",
        "27": "2018-01-28",
        "33": "2018-02-03"
  }

]

how to disable that
thanks

[2018-01-12 17:41] abdulkadhir commented on #247
@twinssbc is it possible to disable dates that are on the backend.

[2018-01-12 23:59] Breshit opened #270 "Cannot find module "ionic2-calendar""
Hello
I have installed all things as was necessary, but this error still persists:

`Error: Cannot find module "ionic2-calendar"
   at 339 (http://localhost:8100/build/main.js:154:1)
   at __webpack_require__ (http://localhost:8100/build/vendor.js:55:12)
   at 315 (http://localhost:8100/build/main.js:134:22)
   at __webpack_require__ (http://localhost:8100/build/vendor.js:55:12)
   at webpackJsonp

[2018-01-13 01:03] twinssbc commented on #247
@abdulkadhir You need to fetch the disabled dates from the backend and check them in the markDisabled function.

[2018-01-13 01:04] twinssbc commented on #270
@Breshit Could you check if ionic2-calendar exists in your node_modules directory? How do you import the module in your app module file?

[2018-01-13 01:07] twinssbc commented on #232
@abdulkadhir Your question is not related to this issue, and you already asked it in a separate issue. To keep the issue context clean, please post your comment only related to this issue.

[2018-01-13 05:21] abdulkadhir commented on #247
@twinssbc I use the below method to get the backend dates
`getWeekendData(){

     this.calenprovider.getWeekendData().subscribe((data)=>{
            this. week_end = data[0];
               if(this.week_end) {
                     this.week_end_leaves = Object.values(this.week_end).map((item)=>new Date(item));
                     console.log(this.week_end_leaves);
               }
           })

[2018-01-13 07:42] tanyt123 opened #271 "Event in month view showing but not in week or day view"
[code]
 changeMode(mode) {

        this.calendar.mode = mode;

    }

[2018-01-13 08:32] tanyt123 commented on #271
I am sorry . It was my fault . It was a database error

[2018-01-13 14:08] shCampos opened #272 "Object doesn't support property or method 'getTime'"
Hello @twinssbc I'm getting this error on execute ionic serve. Have you any suggestion about what it can be?

Runtime Error
`Object doesn't support property or method 'getTime'`

Stack
`TypeError: Object doesn't support property or method 'getTime'
   at MonthViewComponent.prototype.onDataLoaded (http://localhost:8100/build/vendor.js:172248:43)
   at MonthViewComponent.prototype.ngOnChanges (http:

[2018-01-13 14:13] Breshit commented on #270
I checked.
Before giving this bug the calendar worked, even without existing in the directory node_modules.
My solution was to directly install Ionic2-calendar 0.4.x, because I had version 0.3.x.
But thanks for the help. :)

[2018-01-13 14:13] #270 closed

[2018-01-13 14:16] Breshit commented on #271
Are you using Firebase?

[2018-01-13 14:37] tanyt123 commented on #271
Yes

[2018-01-15 06:55] jd0048 opened #273 "Show only 5 rows in calendar month view"
Hello
currently i am facing issue for setup calendar month view column, how to control calendar so it will only visible for 5 row only currently it will showing 6 row in calendar month view

please check attached image  for reference.
![screen shot 2018-01-15 at 12 22 37 pm](https://user-images.githubusercontent.com/28923124/34930337-0b2b1d3e-f9ef-11e7-96ca-9522eba34834.png)

[2018-01-15 11:04] en-sevilla opened #274 "MonthView is not updating new events properly (after adding and reloading in eventSource)"
Hi Twinssbc,

first at all, thanks for your amazing work and support with this plugin, we are very grateful.

We are implementing a multi-date picker, so when user clicks on a day in Month View, an icon appears and replaces the number of that day.

We are updating a "events" global variable with the selected dates by pushing a new event object, and then we assign it to "eventSource", as you descri

[2018-01-15 11:41] Maraket commented on #243
That is true, but I have methods which are acting outside of that method, and though I could store that in interim variables within the object, it presents additional things I need to manage (I know I am lazy :P) but more seriously, it seems odd that I  wouldn't be able to access as much information from an instance of the object

[2018-01-15 13:42] #271 closed

[2018-01-15 13:43] twinssbc commented on #272
@Breshit How to you specify your startTime and endTime of the event? I suspect you are using a String instead of a Date object?

[2018-01-15 13:44] twinssbc commented on #247
@abdulkadhir This markDisabled accepts a Date object and returns true of false.
So you need to check if the passed date is in your disabled date list. If it is, then need to return true, otherwise return false.

[2018-01-15 13:47] twinssbc commented on #273
@jd0048 The month view is based on 6 rows, because some months may occupy 6 rows. And there's no way to change this behavior unless you modify the source code.

[2018-01-15 13:52] twinssbc commented on #274
@en-sevilla
Actually your eventSource is always assigned to the same events variable.

this.eventSource = this.events;

So it's basically the same as you directly push event to this.eventSource.

As I explained in the README, it watches the whole eventSource variable change.
So you should either each time assign eventSource a brand new object, for example, at the beginning of onTimeSelected method

[2018-01-15 14:01] twinssbc commented on #243
@Maraket I don't want to expose too much information by using an instance method. There are two reasons:
1. As soon as I expose the internal information, I won't be able to change it easily, as it will break the existing user.
2. The instance method can return different result at the different time you call it. I can make sure the startTime and endTime is accurate when onRangeChanged method is cal

[2018-01-15 15:40] en-sevilla commented on #274
thank you for your response, I didn't know how to implement the loadEvents() method and I tried by updating auxiliary variables. Thanks , now **It works**, I paste the code with the correct approach (only the modified code).

Best regards,

[code]
[ ..... ]
[code]

[2018-01-15 20:20] en-sevilla commented on #274
sorry @twinssbc , I'm testing the functionality and when I click on a date, the market day is just the one on the left, like this:

I click on 18 and the market is 17

[![calendar.png](https://s10.postimg.org/k0coq212x/calendar.png)](https://postimg.org/image/4evd63p4l/)

This is the eventSource array:

[![eventsource.png](https://s10.postimg.org/qqt5zptg9/eventsource.png)](https://postimg.org/ima

[2018-01-16 05:44] urfli911 commented on #9
hi guys, i'm new hear, any idea on how to disable the entire month of the calendar dynamically? Thanks.

[2018-01-16 09:04] Titoch opened #275 "Increase selectedTime precision in onTimeSelected"
Hello,
In Week and Day views, it's possible to display events until 15 minutes precision using stepMinute=15.

Please, would it be possible to also adapt the time precision of event.selectedTime parameter of onTimeSelected() to stepMinute ?

The selectedTime would be adapted to the clicked position and rounded to stepMinute.

For example, if stepMinute is 15 : precision would be also 15 minutes :

[2018-01-16 09:43] abdulkadhir commented on #247
thanks, @twinssbc I tried in many ways but I didn't the desired result.I convert my json format also
my json format is:
`

[
    "2018-01-06",
    "2018-01-07",
    "2018-01-13",
    "2018-01-14",
    "2018-01-20",
    "2018-01-21",
    "2018-01-27",
    "2018-01-28"
]` when i tried to convert the above array to date object  it throws runtime error.
can you send me some sample code for this
thanks

[2018-01-16 16:23] Titoch commented on #206
@twinssbc
I'm also interested with this user friendly function.
I manage to retreive the earliest startTime of the week or day's events and to set correctly the scrollToHour.
It works fine when I change the calendarMode.

What I understand is that the scrollToHour setting permits to recalculate the initScrollPosition that leads to a call of the init-position-scroll.ngOnChanges.
Am I right?

If yes

[2018-01-17 17:34] abdulkadhir commented on #247
hi, @twinssbc I converted the string to a date object, but I did not know how to disable the set of dates.I don't know how to pass date object in the markDisabled method.I'm stuck in this send snippets to solve this. thank you

[2018-01-17 21:34] juntaforce commented on #261
Hi @dirodriguezm
Could you please share your solution with a code ?
ionViewDidLoad is not  load the events at startup

[2018-01-18 00:06] twinssbc commented on #9
@urfli911 What do you mean disable entire month? And what do you mean disable dynamically?

[2018-01-18 00:10] twinssbc commented on #274
@en-sevilla You can't directly use the selected time retrieved from the onTimeSelected method as a all-day event.
If allDay is set to true, the startTime has to be as a UTC date which time is set to 0:00 AM, and endTime is the same requirement but one day later.

[2018-01-18 00:12] twinssbc commented on #275
@Titoch I don't think that kind of precision is necessary in a mobile device. The height of each cell is quite small.

[2018-01-18 00:16] twinssbc commented on #247
@abdulkadhir markDisabled is a callback method, it's called by the calendar during the view initialization. And it is called on each date in the current month view.
So you don't actively call markDisabled method and pass a date object.
Suppose you have already covert your json to an array of date object.
Then your markDisabled method should look like below:

[code]

[2018-01-18 00:17] twinssbc commented on #261
@juntaforce Did you get any error when you load events in ionViewDidLoad?

[2018-01-18 00:19] #259 closed

[2018-01-18 00:20] #249 closed

[2018-01-18 00:20] #246 closed

[2018-01-18 00:21] #150 closed

[2018-01-18 00:21] #141 closed

[2018-01-18 00:22] #130 closed

[2018-01-18 00:22] #114 closed

[2018-01-18 00:22] #103 closed

[2018-01-18 00:23] #101 closed

[2018-01-18 00:23] #98 closed

[2018-01-18 00:23] #74 closed

[2018-01-18 00:24] #79 closed

[2018-01-18 00:24] #39 closed

[2018-01-18 00:24] #19 closed

[2018-01-18 00:25] #215 closed

[2018-01-18 00:25] #230 closed

[2018-01-18 00:25] juntaforce commented on #261
Hi @twinssbc
Fixed with this issue #144

[2018-01-18 00:26] #242 closed

[2018-01-18 02:25] juntaforce opened #276 "Is it possible to use <ion-row> and <ion-col> inside [monthviewEventDetailTemplate] instead of <ion-list> ??"

[2018-01-18 08:44] Titoch commented on #275
@twinssbc I aggree you for smartphone, But I think it's not the case on laptop browser with a mouse pointer and maybe also on tablet.

In fact my initial problem came from the fact that the onTimeSelected's parameter can supply a selectedTime out of a range of the supplied events in the same parameter.

For example :
for function : onTimeSelected = (event: { selectedTime: Date, events: IEvent[] })

[2018-01-18 10:32] ktulufrozen commented on #233
@twinssbc I'm experiencing the same as @mauricewipf. I did the exact same steps as he did as still get the `Cannot read property 'dayHeaders' of undefined` runtime error.

[2018-01-18 11:42] en-sevilla commented on #274
THANKS!!, Now It works fine. My fault, I need to deep more on date manipulations.

The final code for a multidate picker with select/deselect is:

[code]

[2018-01-18 11:42] #274 closed

[2018-01-18 12:45] ktulufrozen commented on #233
@mauricewipf What fixed it is to add a valid date to `[currentDate]`.
So what I did was
[code]

and in the component:
[code]

[2018-01-19 12:52] twinssbc commented on #276
@juntaforce You can use whatever you want in the template.

[2018-01-22 23:32] Bohmaster opened #277 "Detect eventType and show colors in days of month view."
Hi! I'm needing something like this:

Let's say some day of the month has multiple events. I want to check the type of those events and show in different colors if that day has one of more type of event inside.

I have 3 types of events. If day 20 has 6 events I only want to show the single type of events once. If in that day I have 3 events with type "A" I only want to show once that type "A" is

[2018-01-23 05:22] abdulkadhir commented on #247
Thanks, @twinssbc I tried but the problem here is when I use this condition if(d.getTime() === date.getTime()) d.getTime gives the date with 12.00 time where date.getTime gives the current date with current time.the time is not equal so I can't disable the days.
my converted array of date object is
[ 0:Sat Jan 06 2018 05:30:00 GMT+0530 (India Standard Time) {}
1:Sun Jan 07 2018 05:30:00 GMT+0530 (

[2018-01-23 23:48] twinssbc commented on #247
@abdulkadhir You could set your time to 12:00 or only compare the date part.
Take a look at the official document to learn how to use Date object.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

[2018-01-23 23:51] twinssbc commented on #277
@Bohmaster You could get access to the events.
If you use a custom template like this
[code]
Then  you could implement getCustomClass in your component.

[2018-01-24 19:41] juntaforce opened #278 "HOw to update eventSource when onViewTitleChanged triggered?"
I would like update eventSource  when I changed the month with selected month.
İs it possible ??

[2018-01-24 19:43] juntaforce commented on #276
Thanks @twinssbc

[2018-01-24 19:43] #276 closed

[2018-01-24 22:50] juntaforce commented on #278
@twinssbc  You are incredible. You thought every possibility 👍

[2018-01-24 22:50] #278 closed

[2018-01-25 06:47] abdulkadhir commented on #247
hi, @twinssbc I set time to 12.00 by using the setHours method, I tried setTime method also but it won't works.how I set time to 12.00. thanks

[2018-01-25 15:40] vancuren commented on #195
I found a way that works for me. Not sure if its a preferred method of editing. If you navigate to node_modules/ionic2-calendar/calendar.js you will see the template html within the javascript file.

[code]
You can then

- change the *ngif statement to a div

- modify *ngFor  to ion-card and ion-item to ion-card-content etc.

remember to use line feeds \n

[2018-01-25 15:47] mauriciogardini opened #279 "Reload calendar when Page is shown"
I have an application where `AgendaPage` is one of its tabs in a `TabsPage`.

What I'm trying to achieve is that, when the `AgendaPage` is shown, its events are reloaded.

I managed to get the page to call a method to query the events again using `ionViewDidEnter`, but I can't get the calendar to show these new events on the component.

Is something missing?

[code]

[2018-01-26 07:14] uflicido-colina-MSD opened #280 "select multiple dates with pan/swipe gesture"
When you select a date in the calendar, by default, you do it by clicking a date.  I want to use another gesture.I want that the pan gesture to trigger the calendar onchange event emitter and execute the optionReason($event) method. Simply putting the same method in the two event will not enable the pan gesture to select a date.

.html
<div (pan)="optionReason($event)">
<ion-calendar  [(ngModel)]=

[2018-01-26 14:47] juntaforce opened #281 "How can I show events on calendar which is newer than current date ?"
I dont want to shown previous events on calendar which is older than currentdate or today.
Im using remote mode. But onRangeChanged event ev.startTime starts month's first day.
Also its reasonable for next months which is starts month's first day.
How can I achieve this option?

[2018-01-26 14:52] centos94 opened #282 "Feature Request: Add half and quarter hours in day/week view"
Hello!
I was trying to edit the code and make a pull request for this, but i get stucked in the event positioning.

What i was trying to do is let the user select the calendar visualization by hour, half our or quarter hour.
I was able to edit in _dayview.js_ and _weekview.js_ the method **createDateObjects** to show the rows like i need
<img src="https://user-images.githubusercontent.com/16610799

[2018-01-26 15:10] juntaforce commented on #281
Ok I solved like this
`onRangeChanged(ev:any) {
    let loading = this.loadingCtrl.create({

        content: 'Yükleniyor...'
      });
      loading.present();
    var events:any = [];
    var today = new Date();
    this.plannedtrainingsRef.ref.orderBy('trainingStartDate').where('trainingStartDate', '>=', ev.startTime).where('trainingStartDate','<=', ev.endTime).get().then(snapshot=>{

      sna

[2018-01-26 15:10] #281 closed

[2018-01-26 15:24] juntaforce commented on #281
Also [markDisabled]="markDisabled" is for that option.

[2018-01-28 13:36] twinssbc commented on #247
setHours(12, 0, 0, 0)

[2018-01-28 13:39] twinssbc commented on #195
@vancuren You don't need to modify the files in node_modules, because next time you upgrade a new version, your changes will be overwritten.
The calendar allows you provide a template to custom the view. Take a look at  monthviewEventDetailTemplate option in README.

[2018-01-28 13:45] twinssbc commented on #279
@mauriciogardini I can't spot anything wrong.
Maybe you could start with the simplest logic.
Could you try using a button to manually some fake event into evntSource, see if its working?

[2018-01-28 13:59] twinssbc commented on #280
@urfli911 The calendar doesn't have onchange event. I think you could use a custom template and add your gesture callback. You could get more details from the View Customisation section in README.

[2018-01-28 14:08] twinssbc commented on #275
@Titoch
The selected time is the hour on that cell. And the startTime is for individual events.
I don't think its confusing.
I still don't think it's necessary to select a time with that accuracy. Usually when user click on a cell, a time picker should be popped up to allow user adjust the time to second level.

[2018-01-28 14:12] twinssbc commented on #282
@centos94 Actually you should modify the ts code, instead of the js code in the node_modules folder.
The js files are compiled using the ts code. The ts code are really the source code.
Once you've done the change, you could run `npm run build-prod` to generate the compiled files.

[2018-01-28 14:17] twinssbc commented on #275
@Titoch I got you, some one is working on a PR, let's see how it goes.
But one thing to be clear, even you use 15mins precision, you will still get
-> event.selectedTime = 12h15
-> event.events[0].startTime = 12h18
It's not confusing. It's just different fields refer to different things. selectedTime means the time on the selected cell. The startTime is related to the individual events.

[2018-01-29 06:26] parmarkaushik15 opened #283 "I found this issue when i can add the module in my app"
Error: Template parse errors:
Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'.
1. If 'ngOutletContext' is an Angular directive, then add 'CommonModule' to the '@NgModule.imports' of this component.
2. To allow any property add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component. ("    <ng-template [ngTemplateOutlet]="monthviewDisplayEventTemplate"

[2018-01-29 06:27] parmarkaushik15 commented on #283
My  app.module.ts file

import { BrowserModule } from '@angular/platform-browser';
import { ErrorHandler, NgModule } from '@angular/core';
import { IonicApp, IonicErrorHandler, IonicModule } from 'ionic-angular';
import { SplashScreen } from '@ionic-native/splash-screen';
import { StatusBar } from '@ionic-native/status-bar';

import { MyApp } from './app.component';
import { HomePage } from '../pa

[2018-01-29 06:28] parmarkaushik15 commented on #283
Where i can put this 4 line ?
import { CalendarComponent } from 'ionic2-calendar/calendar';
import { MonthViewComponent } from 'ionic2-calendar/monthview';
import { WeekViewComponent } from 'ionic2-calendar/weekview';
import { DayViewComponent } from 'ionic2-calendar/dayview';

I can run using ionic serve

[2018-01-29 07:53] ketars commented on #283
npm install ionic2-calendar@0.4.2 --save solve this problem

[2018-01-29 08:05] centos94 commented on #282
@twinssbc yes, sorry, i have write the wrong extension. If you open the [EditedCode.zip](https://github.com/twinssbc/Ionic2-Calendar/files/1672700/EditedCode.zip) there are the ts code files that i've edited

[2018-01-29 09:08] Titoch commented on #275
@twinssbc
Actually I'm limiting the precision of events to the calendar's one => 15min.
So (in my case) I can not have startEvent at 12:18. Events times minutes  are rounded to 15minutes (00 / 15 / 30 / 45).

But no matter. I modified my code's behavior to take into account the events starting during the following selectedTime hour (for example from 12:00 to 13:00, then startTime : 12:18 is taken

[2018-01-29 10:51] ketars opened #284 "First day of week in MonthView"
Hello!
I can't find how set 'monday' first day of week in MonthView. Is it possible?

[2018-01-29 10:54] #284 closed

[2018-01-29 11:50] mauriciogardini commented on #279
Yes, sure.

Just tried doing that: created a button that added an event to the calendar, like this:
[code]

And, by overwriting `ionViewDidEnter`, I was able to verify that the event is in the eventSource:
[code]

But, somehow, the event isn't being drawn in the calendar.

However, I noticed that, by changing the calendar to the Day View, the event is already drawn in this view. And , when I chang

[2018-01-29 13:14] bsuyog16 commented on #264
Hi,

Yes, I have already customised the calendar module and I am using that in my project.
Even If I run "npm run build-prod" it gives me same error.

If I run this command `node_modules/.bin/ngc -p tsconfig-aot.json` I get error as

[code]

And after running` node_modules/.bin/ngc src` I get error as
[code]

For rest commands I am not facing any error.

[2018-01-29 13:30] davart87 opened #285 "Customise background color event in dayly and weekly view"
Hello,
I want to know how can I customise background color event in week and dayly view.
Without override the existing [ngStyle] ?

Thanks

[2018-01-29 15:45] #279 closed

[2018-01-30 23:35] timofeysie commented on #283
I had the same issue occur after updating to Ionic 3.9 which uses Angular 5.0.  Doing ```npm install ionic2-calendar@0.4.2 --save``` did not resolve the situation.

[2018-01-31 09:39] urfli911 commented on #280
I want to select multiple dates by dragging the mouse. All dates along the cursor's path will be selected. Here's the example https://fiddle.sencha.com/#fiddle/oi1&view/editor
I want to do it with typescript ionic app project. Thanks.

[2018-01-31 12:54] twinssbc commented on #264
@bsuyog16 You mean you directly add the calendar source code in your project and run "npm run build-prod"?
If you want to modify the source code. You should fork this repository in a separate project, modify the code, build it, then only added the generated files in aot folder into your app project.
When you run "npm install" in your app project, you probably will install the calendar in the node_

[2018-01-31 13:00] twinssbc commented on #285
@davart87 You could just override styles on the css class.
For example, each event has a calendar-event-inner class, you just need to set the background-color on it.
[code]

If you want to set different background color based on different kind of events, then you need to take a look at the View Customisation section in README to define some customized template.

[2018-01-31 13:02] twinssbc commented on #283
@timofeysie You mean using ionic2-calendar@0.4.2 version doesn't help? Do you still get this exact same error?

[2018-01-31 13:05] twinssbc commented on #280
@urfli911 As I explained in the comment above, you need to use custom template. It requires quite big amount of code to achieve this drag and drop effect.

[2018-02-01 00:56] timofeysie commented on #283
Yes, I was using version 0.4.2.  However, I switched back to my upgrade branch today to confirm and the project built and ran.  I can only assume that the previous version was cached and breaking the build yesterday.  Sorry for the trouble.

[2018-02-01 04:11] krunal9421 commented on #60
@twinssbc Can we set date into ion2-calendar when it render and then select date which we want in monthview? and how to load the specific date month in ion2-calendar?

[2018-02-04 12:15] twinssbc commented on #60
@krunal9421 Could you create a separate issue? This question is not relevant to the issue.

[2018-02-04 17:46] markeames opened #286 "Selecting the month view triggers"
Using the demo https://twinssbc.github.io/Ionic2-Calendar/demo/

If you select the day or week view - the mode only changes

If you select the month view - the onTimeSelected function gets run
onTimeSelected(ev) {
        console.log('Selected time: ' + ev.selectedTime + ', hasEvents: ' +
            (ev.events !== undefined && ev.events.length !== 0) + ', disabled: ' + ev.disabled);
    }

Select

[2018-02-05 03:01] krunal9421 opened #287 "Can we set from date and to date into ion2-calendar?(Specific to date range feature)"
I am having two date which i want to set in ion2-calendar. But I am unable to set two date into date range feature.

[2018-02-05 03:09] ramaprakoso opened #288 "Can add icon in weekview and dayview ?"

[2018-02-05 03:27] ramaprakoso opened #289 "Can add icon in weekview and dayview ?"
I was sucess to add icon on monthview like this

![capture](https://user-images.githubusercontent.com/6641354/35787208-1f070978-0a5f-11e8-8d0e-def87d574529.PNG)

But i found problem when try to add icon into weekviw and dayview, because in weekview and dayview only show title.
![image](https://user-images.githubusercontent.com/6641354/35787239-506aa7a4-0a5f-11e8-8424-07314c08a962.png)

is there a

[2018-02-05 07:11] abdulkadhir commented on #247
thanks @twinssbc it works,
It is possible to sync calendar to device calendar

[2018-02-05 12:34] twinssbc commented on #286
@markeames When switching to a month view, there could be a date being selected explicitly, and you can see that date is highlighted. In weekview and dayview, you could only select a time and nothing get highlighted, so no need trigger onTimeSelected function. Even if onTimeSelected function has to be triggered, which hour should it trigger on? This method is not disabled in weekview and dayview.

[2018-02-05 12:35] twinssbc commented on #287
@krunal9421 I don't quite understand your question. What date range feature are you referring to?

[2018-02-05 12:36] twinssbc commented on #288
@ramaprakoso Where do you want to add the icon in weekview and dayview?

[2018-02-05 12:37] twinssbc commented on #288
Duplicate with https://github.com/twinssbc/Ionic2-Calendar/issues/289

[2018-02-05 12:37] #288 closed

[2018-02-05 12:38] twinssbc commented on #289
@ramaprakoso Yes, you can. Take a look at weekviewNormalEventTemplate and dayviewNormalEventTemplate options in README.

[2018-02-05 12:39] twinssbc commented on #247
@abdulkadhir I support you are asking "Is it possible to sync calendar to device calendar"? You need to fetch the calendar information from the device by yourself and fill it to the eventSource array.

[2018-02-05 16:03] markeames commented on #286
Hey, thanks so much for the response. My challenge was I was getting recursion because I was updating the calendar date in the  onTimeSelected which would call onViewTitleChanged which would call onTime Selected etc. It was ok in the day and week view  but not the month view.
Appreciate your response and I see the logic.
I have stopped updating the calendar date in the onTimeSelected function so t

[2018-02-05 16:03] #286 closed

[2018-02-05 23:56] Bohmaster commented on #277
Thank you for the response! I was on vacation so I missed the notification. I'll try it an will let you know how it was.

[2018-02-06 02:55] krunal9421 commented on #287
@twinssbc yes, I want to set two specific dates into date range feature.

[2018-02-06 18:04] Vohidjon opened #290 "Any option to hide weekends in week view"

[2018-02-07 06:04] anytimegorgeous opened #291 "In weekview, the event at 11:00am to 11:30am spreads over till 12:00am"
First all, what an amazing module you have built. Thank you for sharing!
So, I noticed there's a very peculiar error that happens in week view. When a half an hour event is added at 11:00 - 11:30, weekview displays it incorrectly. Instead it displays it as a 11:00-12:00am event. In month view and day view this is not a problem and the correct event is displayed.
Can you please fix this or just me

[2018-02-07 08:52] centos94 commented on #282
There is some way to handle this functionality? I'm not able to handle the event different size based on the selected range (15 or 30 minutes).

[2018-02-07 19:32] danilocecilia opened #292 "does it works for ionic3 too?"

[2018-02-08 10:44] ramaprakoso opened #293 "setting starttime and endtime calendar activity"
can i read date in current time  (timestamp) ?
![image](https://user-images.githubusercontent.com/6641354/35968795-6de4ab0a-0cf7-11e8-8dfb-7a58fea5ae3d.png)
the date is suitable in current date, but the calendar time in hour starting from 00.00, can i change , following current time (timestamp) ? thank you

[2018-02-08 13:22] twinssbc commented on #287
@krunal9421 What is date range feature?

[2018-02-08 13:25] twinssbc commented on #290
@Vohidjon Unfortunately no such option to support hiding weekends.

[2018-02-08 13:30] twinssbc commented on #291
@anytimegorgeous
So by default, the event is display on an hour interval, which means event it's an event starting from 11:00-11:01, it will occupy the whole slot.
If you set the 'step' option to 15 or 30, to display the event in 15 or 30 mins interval.
But it seems from your description, you already set the 'step' option to 30? What's the exact startTime and endTime of your event? Do you mean in

[2018-02-08 13:31] twinssbc commented on #292
Yes, it works for Ionic 3 and 4. The version information is described in the README.

[2018-02-08 13:32] twinssbc commented on #293
@ramaprakoso Sorry, are you using this calendar control? The screenshot you provided seems like a date picker?

[2018-02-08 13:39] twinssbc commented on #282
@centos94 Your feature requires relatively big code change. I'm a bit busy right now, probably starting from the week after next week, I could spend some time on this.

[2018-02-08 15:59] centos94 commented on #282
@twinssbc i understand.
I imagined that this wouldn't be easy.
I'll be certainly wait for this feature. If you could tell me something about it I can meantime try to figure out my self.

Thank you anyway for your time and thank you for the amazing plugin you shared with us.

[2018-02-08 19:09] danilocecilia commented on #246
Hi, I have spent some few hours till i found that i should change the values on those js files, it fixed my problem on my ionic3 project, perhaps there should be some of this explanation on the main readme file so it can help others users too. I have tried all 3 versions and none of them worked, just the replace on those 3 '.js' files @its-Aman mentioned worked like a charm.