[2016-08-10 08:10] leejw74 opened #1 "No Directive annotation exception"
Hi.
As per usage procedure, it occurred following error.

5     881004   group    EXCEPTION: Error in ./ModalCmp class ModalCmp_Host - inline template:0:0
7     881005   error    ORIGINAL EXCEPTION: No Directive annotation found on CalendarComponent
6     881004   error    EXCEPTION: Error in ./ModalCmp class ModalCmp_Host - inline template:0:0
8     881005   error    ORIGINAL STACKTRACE:
9     88

[2016-08-10 14:26] twinssbc commented on #1
@leejw74 May I know which version of the Ionic and Angular are you using?
And how do you use the CalendarComponent in your component class?

[2016-08-11 03:27] leejw74 commented on #1
I'm using following.
  "dependencies": {
    "@angular/common": "^2.0.0-rc.3",
    "@angular/compiler": "^2.0.0-rc.3",
    "@angular/core": "^2.0.0-rc.3",
    "@angular/http": "^2.0.0-rc.3",
    "@angular/platform-browser": "^2.0.0-rc.3",
    "@angular/platform-browser-dynamic": "^2.0.0-rc.3",
    "@angular/router": "^2.0.0-rc.2",
    "es6-shim": "0.35.1",
    "ionic-angular": "^2.0.0-beta.10",

[2016-08-11 15:20] twinssbc commented on #1
@leejw74 Could you provide the snippet that using the CalendarComponent in your ts file?

[2016-08-12 00:07] twinssbc commented on #1
I can reproduce the issue, will take a look.

[2016-08-12 05:59] leejw74 commented on #1
I sent email to you.

[2016-08-13 02:34] twinssbc commented on #1
@leejw74 I may found the root cause.
The package.json in this calendar component contains dependency as below.
[code]
Note that they are mainly referencing to a specific version.
But the current angular version is 2.0.0-rc.4, so the 2.0.0-rc.3 dependencies will be installed in the node_modules directory inside of the component install directory.
If I remove that node_modules directory, the calenda

[2016-08-13 08:52] twinssbc commented on #1
@leejw74 I think I have fixed it. You can try the latest version, 0.0.3. Thanks.

[2016-08-23 14:18] baxeico opened #2 "Use only weekview and coloring events"
More than an issue, this is a question. Sorry if this is not the right place, in that case please tell me what is the best way to ask questions.

I'm considering your component for a new Ionic2 based project. I've a couple of questions:

- is it possible to use just the weekview and not the entire calendar component?
- is it possibile to color events differently, for example using a #rgb code give

[2016-08-23 14:43] twinssbc commented on #2
@baxeico
If you check the demo page, the buttons in the header bar are not part of the calendar.
You can simply remove these buttons, and configure the calendar to use the week mode, then it won't be switched to other modes.

To color events differently, there's no exposed option right now.
You have to modify the source code.
In weekview.ts, below code snippet display each event, note that **calen

[2016-08-23 15:59] baxeico commented on #2
Thank you very much for your help! I'm closing the "issue".

[2016-08-23 15:59] #2 closed

[2016-09-23 10:43] Manduro opened #5 "Slides looping"
This is about the Swiper issue as noted in the readme:

    This component updates the ion-slide dynamically so that only 3 looped slides are
    needed. The ion-slide in Ionic2 uses Swiper. It seems in the Swiper implementation,
    the next slide after the end of looped slide is a separate cached slide, instead of the
    first slide. I can't find out a way to force refresh that cached slide, so

[2016-09-26 20:18] ludufre opened #6 "Display Range"
Hi,

You could implement an attribute to define what date range tha can be selected?

Ie.: "2018-08-10,2018-08-30", will show only the days between those dates.

[2016-09-26 23:32] twinssbc commented on #6
@ludufre
The date range in the month/week/day view is fixed.
It's not an option to display any date range the user specifies.
Instead I think you can limit the events sent by the backend in a certain range.

[2016-09-29 14:17] #6 closed

[2016-10-06 19:19] jayh92 opened #7 "Angular 2 module support"
I'm looking to pull this into an Ionic2 application using Angular2 final; however, this library only exposes itself as a Directive, which can no longer be declared on a Component directly. Are there any plans of supporting this soon?

[2016-10-06 22:03] mfalzetta commented on #7
I have the same.

[18:58:43]  ngc error: Error: Template parse errors:
Can't bind to 'eventSource' since it isn't a known property of 'calendar'. ("
  <ion-label style="padding-left: 5%;"><b>{{mounth}} / {{year}}</b></ion-label>

  <calendar [ERROR ->][eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [(currentDate)]="c"): FaltaComponent@11:12
Can't bind to 'calenda

[2016-10-10 15:03] twinssbc commented on #7
OK, I will take a look.

[2016-10-14 17:55] mfalzetta commented on #7
Hi @twinssbc

Do you have a expected start for development?

Regards.

[2016-10-15 17:04] twinssbc commented on #7
@mfalzetta
Yes, I have started working on it.
Since I need to merge a big PR at the same time, so it will take a bit longer.

[2016-10-20 07:22] ganySA opened #8 "Idea: use fullcalendar"
Hi

I have been torn between using your calendar vs fullcalendar. I would like to recommend that instead of building the control from scratch it might be better to simply use something like fullcalendar which has a large set of features and that way you can either customise the views to your liking. Its feature rich and tried and tested by thousands of users and recently they included touch suppor

[2016-10-20 09:10] mihairadulescu opened #9 "Disable events in calendar."
HI guys nice work here.
it would be great to support disabling calendar dates, like for 1 day disable a range of hours.
disableEventSource = {
 monday: [startDate:8 am: endDate:3pm]
 tuesday: same stuff
}
another nice feature would be to show events with different colors. on event source to set event cell class and then in css you can customize appereance of that cel.

[2016-10-20 12:17] mihairadulescu commented on #8
@ganySA  do you have any updates regarding swiping on full calendar?

[2016-10-20 12:50] twinssbc commented on #8
@ganySA, the reason I built this calendar is because fullcalendar is not mobile friendly.
Especially dragging and dropping a particular event in a small phone screen is error prone.
I just added view customization to the Ionic1 version, will port it to Ionic2 version.

[2016-10-20 12:53] twinssbc commented on #9
@mihairadulescu
Yes, these two features have been raised for the Ionic1 version.
https://github.com/twinssbc/Ionic-Calendar/issues/92
https://github.com/twinssbc/Ionic-Calendar/issues/88
I have implemented the view customisation and going to implement the disabling date in Ionic1 version first, then I will port it to Ionic2 version.

[2016-10-20 12:55] ganySA commented on #8
Full calendar now supports drag and drop and a whole bunch of other features. Just saying.

[2016-10-20 12:59] ganySA commented on #8
I think the best feature it has are:
1) how events are rendered and the flexibility to modify cell events
2) sizing of calendar - e.g size of cells etc
3) 3 day view
4) listviews

Check out the latest version porting it or building around would be great.

[2016-10-20 13:00] ganySA commented on #8
Only big disadvantage is it uses jquery.

[2016-10-20 13:08] twinssbc commented on #8
@ganySA
As I said drag and drop is not suitable for the mobile phone, IMO.
It wont' be easy to move the event to a particular cell or extend the end time to a specific hour with a fat finger.

Regarding the size of calendar, when I want to use fullcalendar years ago, I found it's not responsive, that's also another reason I built the first version of control, called "Angular Responsive Calendar".

[2016-10-20 13:10] mihairadulescu commented on #8
@ganySA  from what i say on their blog they stoped using jquery as a dependency.

[2016-10-20 13:13] ganySA commented on #8
Check out the latest. Currently I use fullcalendar in ionic they have fixed a lot of the mobile stuff like responsive and auto sizing , drag drop and reside.

So instead of a full week view there is a 3 day view similar to the outlook app for iOS. Shows 3 days next to each other which is better on mobile

[2016-10-20 13:14] ganySA commented on #8
I thought jquery was a dependency... hmmm

[2016-10-20 13:27] mihairadulescu commented on #9
@twinssbc cool work man!
👍

[2016-10-20 17:33] Jlabarca commented on #8
@ganySA Can you share an example using fullcalendar on ionic2?

[2016-10-21 08:45] OliverTr54 opened #11 "How can I use it with the latest Ionic2 version?"
Hey folks,

I really have to have this great plugin, but how can I use it with the latest Ionic2 version. Here are some more information about my used enviroment:

[code]

So actually what I did - among your documentation I included it differently, because I was not able to include it like you described it on your Github page neither as described in the README file.

I did the following (File: app

[2016-10-21 16:12] twinssbc commented on #11
@OliverTr54 I have just upgraded the code to use the latest Ionic2 version, which is 2.0.0.rc.1.
But I haven't uploaded it to NPM, because some slight rendering issue.
So if you follow the README to npm install it, you still get the previous version, that's why you got this error.
I will upload the latest version to NPM this weekend.

[2016-10-24 00:28] twinssbc commented on #7
@mfalzetta I have published the version 0.0.8 which depends on Angular 2.0.0 and Ionic 2.0.0.rc.1.
Feel free to have a try. Thanks.

[2016-10-24 00:29] twinssbc commented on #11
@OliverTr54 I have published version 0.0.8 which depends on Angular 2.0.0 and Ionic 2.0.0.rc.1.
Feel free to have a try. Thanks.

[2016-10-24 00:30] #1 closed

[2016-10-27 10:07] bowsplinter opened #12 "ionic serve works, ionic build - ngc fails"
Hi I have been following your documentation, works for ionic serve, but ionic emulate fails with this error

[code]

ionic info

[code]

package.json

[code]

app.module.ts

[code]

after this I am adding the directive to the html page.

I understand there are changes after ionic rc, should i be doing things differently?

Any help is appreciated!

[2016-10-27 15:46] twinssbc commented on #12
I found a lot of issues were raised when compiling with external libraries.
It seems there's still no final decision that if Ionic build script should be modified or all external libraries should be upgraded.

https://forum.ionicframework.com/t/unexpected-value-ng2completermodule-imported-by-the-module-appmodule/65922/2

Anyway, I will take a look at AOT complication support

[2016-10-27 17:55] #7 closed

[2016-10-31 20:30] jayh92 commented on #12
Bocong,
Any updates or thoughts on implementing AOT support?
Thank you,
Jay

[2016-11-01 04:44] twinssbc commented on #12
@jayh92 I have released a version (0.0.10) using AOT compilation.
There's some issue about importing the ngfactory files, you can check README to learn how to make ionic build command happy.
Feel free to have a try. Thanks.

[2016-11-02 04:58] ganySA commented on #5
This is such an irritating bug specially in day view.

I see there is an "observer" object on slider that apparently watches for changes on slider and then should autorefresh the cached slide - i havent been able to try it but maybe that is something you can see if you can get working...

[2016-11-03 09:20] Gtanxingwen opened #13 "Head to head on the contents of the calendar"
![screenshot_2016-11-03-17-15-41-156_com ionicframe](https://cloud.githubusercontent.com/assets/18392906/19960752/aeed1f4e-a1e9-11e6-8291-bf4768766e39.png)

[2016-11-03 09:24] Gtanxingwen commented on #13
@twinssbc i use android phone ,i am  chinese, help help help!!!  and i want clear '日' ,what should i do

[2016-11-03 16:54] twinssbc commented on #13
@Gtanxingwen This is because DatePipe will use the local language as the locale by default, and the Chinese localisation seems not reasonable..
I have released a new version, 0.0.11, which will use 'en-US' as the locale when formatting the date in the month view.
Feel free to have a try.

[2016-11-03 20:31] Jlabarca commented on #13
@twinssbc  How can I translate months and days? like using i18n on angular1's calendar

[2016-11-04 01:01] twinssbc commented on #13
@Jlabarca The Angualr2 DatePipe formats the date using the local language on your device, so you don't need to do anything. But not sure how well it supports your language.

[2016-11-04 02:00] Gtanxingwen commented on #13
@twinssbc the ion-header  cover the ion-content,running on the browser is no problem, running on the phone has been covered with a part,what should i do,

[2016-11-05 08:50] bowsplinter commented on #12
@twinssbc thanks you! I attempted it to implement it with the new instructions but running with errors again when trying to do emulate android

it still works with ionic serve though

[code]

using version 0.0.11

[2016-11-05 11:50] bowsplinter commented on #12
@twinssbc sorry issue is resolved! Problem was that I had to upgrade dependencies to angular 2.0.1. thank you for your help. will close this issue.

[2016-11-05 11:50] #12 closed

[2016-11-06 21:42] SHELA opened #14 "Module ''*'' has no exported member"
Hi.
When i try emulate or build:

[23:40:22]  Error: Error at /Users/vlad/apps/eveses3/.tmp/pages/full/full.ngfactory.ts:149:36
[23:40:22]  Module ''*'' has no exported member 'Wrapper_CalendarComponent'.
[23:40:22]  ngc failed
[23:40:22]  ionic-app-script task: "build"
[23:40:22]  Error: Error

npm ERR! Darwin 16.0.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "build"
npm ERR!

[2016-11-07 02:52] twinssbc commented on #14
@SHELA May I know which version of Ionic, Angular and ionic2-calendar are you using?
Did you also follow **Note for Ionic Build/Run command** to add more lines in your main.prod.ts?

[2016-11-07 08:04] SHELA commented on #14
@twinssbc
ionic2-calendar - last from github
Ionic 2
Angular 2
when i add to main.prod.ts:
Unused import: 'CalendarComponent'
Unused import: 'MonthViewComponent'
Unused import: 'WeekViewComponent'
Unused import: 'DayViewComponent'
but build success, but when i can't open page where calendar. seems that some error

[2016-11-07 13:46] twinssbc commented on #14
@SHELA Did you try to run it on IOS? I just found there's some localisation issue on IOS device as below.
https://github.com/angular/angular/issues/3333
I added the fix and published a new version, 0.0.12.
Could you try it? You also need to add Intl into the dependency. Thanks.

[2016-11-08 14:48] ericyuTestrite opened #15 "Performance on Android 5.x devices (week swipe)"
It runs well on iOS devices, but not in non-modern Androids, especially on the sliding weeks. Is there  any workaround can improve it?

[2016-11-08 14:59] twinssbc commented on #15
@ericyuTestrite I'd like to understand what kind of performance issue you made?
Previously, in the Ionic1 version, I notice that there's some latency during the swipe, it's because the page needs to render the swipe animation and calculate the event placement at the same time. So I added some timeout in the code to solve the problem.
In this Ionic2 version, I didn't encounter such latency during t

[2016-11-08 15:19] ericyu76 commented on #15
Thank you for your quick reply.
I tested it using Samsung Note3 (Android 5.0.x) by demo html (week mode without load events), when swipe on the week will got about 1 sec latency until the week# changed.
I will do more analysis on it and provide more detail information.

[2016-11-08 23:51] twinssbc commented on #15
Yes, I notice that now.
It probably also related to this error in the Dev mode which indicates that the the viewTitle change is in a different digest cycle.

EXCEPTION: Error in ./HomePage class HomePage - inline template:2:15 caused by: Expression has changed after it was checked. Previous value: 'October 2016'. Current value: 'October 2016, Week 40'.

[2016-11-10 01:34] ericyuTestrite commented on #15
I did a testing movie (on Android 5.1) as below. From week 50 to week 49, it take about 4 seconds. And the screen freeze during latency.

[IMG_8417.mp4.zip](https://github.com/twinssbc/Ionic2-Calendar/files/582335/IMG_8417.mp4.zip)

[2016-11-15 14:49] jayh92 opened #16 "Limit the range for weekview"
Is it possible within the current build to limit the number of weeks (on weekview) that a user can swipe? Or if not, is it possible to implement this feature?

For example, I'd like to only allow them to swipe within the current month.

Thanks!

[2016-11-17 11:27] Gtanxingwen opened #17 "Hello, what should you do to achieve this effect"
![image](https://cloud.githubusercontent.com/assets/18392906/20387556/a227e808-acfb-11e6-8ab3-ae54725f12af.png)
@twinssbc

[2016-11-17 11:37] twinssbc commented on #16
@jayh92 It requires quite a few code changes. If you want to modify the source code, you can start from populateAdjacentViews in the calendar.service.ts.

[2016-11-17 11:39] twinssbc commented on #17
@Gtanxingwen This ionic2 version calendar hasn't exposed the view customisation option, the Ionic1 version has, but I didn't have time to port it.
If you want to modify the source code, you can change the template section in the monthview.ts

[2016-11-21 03:37] Gtanxingwen commented on #17
@twinssbc hello dashen  ，I now need to add some content to reach the demand ，What should I do to run this calendar component, and test it

[2016-11-21 11:31] twinssbc commented on #17
If you just want to test in dev environment, u can fork my code and launch the index.html, it directly reference the ts source file. You can also just copy the source code into your own project and import them.
Once u are happy with the change, you probably need to build it, you can run
npm run build-prod to generate the compiled files in aot folder, then you can reference them.

[2016-11-24 10:36] omhybrid commented on #14
i havae same issue
any solution?

[2016-11-24 10:49] omhybrid opened #18 "Module ''*'' has no exported member 'Wrapper_CalendarComponent'"
ionic 2 for android

![ionic 2](https://cloud.githubusercontent.com/assets/22111807/20595946/21719094-b262-11e6-8e64-cfdd369d977a.PNG)

cordova CLI: 6.4.0
Ionic Framework Version: 2.0.0-rc.3
Ionic CLI Version: 2.1.12
Ionic App Lib Version: 2.1.7
Ionic App Scripts Version: 0.0.45
OS: Windows 7
Node Version: v6.9.1

[2016-11-24 23:19] twinssbc commented on #14
@omhybrid  May I know which version of Ionic, Angular and ionic2-calendar are you using?
Did you also follow Note for Ionic Build/Run command to add more lines in your main.prod.ts?

[2016-11-25 10:56] omhybrid commented on #18
ok i solve it

[2016-11-25 11:14] omhybrid opened #19 "Idea: refresh calendar"
when change calendar  mode  by funcationally (not button click)  this.calendar.mode = mode; not working

[2016-11-25 11:20] omhybrid commented on #14
i solve this thanks @twinssbc

[2016-11-25 12:22] twinssbc commented on #19
Whats the value of the mode variable? button click also sets the calendar mode in the same way.

[2016-11-25 12:26] omhybrid commented on #19
mode value day, week and month i want funcationally change mode not button click

[2016-11-26 00:54] twinssbc commented on #19
Is there any error printed out in the console? The change mode button is external to the calendar, also calls a function, so it should be the same. Another reason I can think out is you are not set the mode variable in the right scope.

[2016-11-29 07:29] lingyilun opened #20 "Render the swipe animation lag on Android"
When week# changed will got about 5~7 sec latency,
No matter in the Dev or run in Android phone (it runs well on iOS devices),
Is there any solution?

[2016-11-30 23:57] twinssbc commented on #20
Yes, same issue was submitted. I'm still investigating.
https://github.com/twinssbc/Ionic2-Calendar/issues/15

[2016-12-05 13:28] chanphillip opened #21 "After swiping to the next month, the same day becomes selected but onTimeSelected() did not trigger"
In month view, is it normal when the month is changed, the same day becomes highlighted?
For example, it is selecting 10 May, after swipe and jump to June, 10 June will be highlighted. But onTimeSelected() did not trigger.

[2016-12-05 22:15] Daskus1 opened #22 "Scroll position in day and weekview not saved after swiping"
When swiping in dayview or weekview the scroll-point is not saved.
This means if I scroll to the bottom and then swipe the scroll position will be again at the top (12am).

[2016-12-06 15:33] twinssbc commented on #21
This seems to be a bug. I will add the logic to trigger onTimeSelected.

[2016-12-06 15:34] twinssbc commented on #22
I will try to expose an option for this feature.

[2016-12-07 03:30] chanphillip commented on #21
I realized it also does not trigger onTimeSelected() when first loaded.

[2016-12-07 06:27] severus1990 opened #23 "Is it possible to show left and right arrows in week view to move to next and previous week."
Is it possible to show left and right arrows in week view to move to next and previous week. Now only swipe is possible

[2016-12-07 10:43] Gtanxingwen commented on #18
@omhybrid  how to solve this

[2016-12-07 10:46] Gtanxingwen commented on #14
![image](https://cloud.githubusercontent.com/assets/18392906/20964685/7ca9d3d6-bcad-11e6-99a6-f498463525ec.png)
@twinssbc  怎么解决啊

[2016-12-07 16:13] twinssbc commented on #14
@Gtanxingwen May I know which version of Ionic, Angular and ionic2-calendar are you using?
Did you also follow Note for Ionic Build/Run command to add more lines in your main.prod.ts?

[2016-12-07 16:21] twinssbc commented on #23
@severus1990 I think you can either add the button in the navbar or modify the weekview code to add them. In the click callback method, you just need to set the currentDate to the day in next or previous week. Similar to what happens on the today button in the demo page.

[code]

[2016-12-08 01:28] Gtanxingwen commented on #14
@twinssbc
![image](https://cloud.githubusercontent.com/assets/18392906/20993979/95322e3c-bd28-11e6-88be-06898b9f5b06.png)
ionic-calendar 0.0.13

[2016-12-08 15:41] twinssbc commented on #14
@Gtanxingwen what's your Angular version? Also did you add more lines in your main.prod.ts file?

[2016-12-09 12:19] severus1990 commented on #23
Thanks it worked!!

[2016-12-09 12:19] #23 closed

[2016-12-09 15:34] severus1990 opened #24 "Issue while building in android"
I am getting the below error in console while trying to build the app into android using the command
**ionic run android**

[21:00:12]  Error: Error at D:/My Works/ITS app Main/ITS/.tmp/pages/calendar/cal
endar.ngfactory.ts:160:36
[21:00:12]  Module ''*'' has no exported member 'Wrapper_CalendarComponent'.
[21:00:12]  ngc failed
[21:00:12]  ionic-app-script task: "build"
[21:00:12]  Error: Error

[2016-12-11 02:09] twinssbc commented on #24
@severus1990 You need to add below lines in main.prod.ts

[code]

[2016-12-11 02:09] twinssbc commented on #14
@Gtanxingwen  You need to add below lines to main.prod.ts

[code]

[2016-12-11 14:31] twinssbc commented on #21
@chanphillip I'm working on this fix. I'd like to know how are you going to use onTimeSelected callback? Because I found onTimeSelected callback can be added to two places, and they can result into different results.
The current sequence is:
1. swiping to the next month, the next month dates get displayed
2. events get loaded asynchronously
3. events get rendered into the proper position in the ca

[2016-12-11 15:07] chanphillip commented on #21
@twinssbc In my case, I'm setting queryMode to be "remote" and handling onRangeChanged for loading the events asynchronously.

I think no matter if onTimeSelected is called before the events being loaded, it should be called after the events being loaded.
So by the way, wonder if this will be handled in the same way if queryMode is "remote"?

[2016-12-12 06:35] severus1990 commented on #24
Thanks!! @twinssbc

[2016-12-12 06:35] #24 closed

[2016-12-12 16:00] twinssbc commented on #21
@chanphillip I have published version 0.0.14 which includes this fix. Could you have a try? Thanks.

[2016-12-12 16:03] twinssbc commented on #18
Solution: add below lines in main.prod.ts

[code]

[2016-12-12 16:03] #18 closed

[2016-12-12 16:03] #14 closed

[2016-12-12 16:04] #11 closed

[2016-12-12 19:49] dlaynes opened #25 "startingDayMonth is ignored when compiling on android."
This option runs as it should on the browser, but it seems the default value is used when running inside an emulator/(smartphone?).
Thanks for your help.

[2016-12-13 04:35] chanphillip commented on #21
@twinssbc I just tested it and I got an error message whenever I modify the variables which involve data binding in onCalendarTimeSelected.

Don't know if it is a bug or my problem as I've recently upgraded my angular & typescript.
I found a workaround which is adding setTimeout in onCalendarTimeSelected and then it works like a charm.

[2016-12-15 15:16] twinssbc commented on #25
@dlaynes I tested it's working in android, may I know how do you specify startingDayMonth in your view?

[2016-12-15 15:28] dlaynes commented on #25
The problem was fixed indicating the values as Input() parameters.
[startingDayMonth]="1" [startingDayWeek]="1"

[2016-12-15 15:34] #25 closed

[2016-12-15 15:37] twinssbc commented on #21
@chanphillip I modified some EventEmitter to use async emit, so you don't need to use setTimeout workaround now. The latest version is 0.0.15. Could you have a try? Thanks.

[2016-12-15 16:27] chanphillip commented on #21
@twinssbc It's working perfectly! Thanks.
I'm closing this issue then.

[2016-12-15 16:27] #21 closed

[2016-12-16 02:22] severus1990 opened #26 "Highlight the selected event in week view all day events section"
Is there a way to customize the calendar? In the week view where the full day events are shown, the height of event is set as 25px and also the top is calculated as a multiple of 25px. Is there a way to alter these?

I have a requirement to change the color of the clicked event so that the user will know which event is clicked. Is that possible? I can see this happening in month view

Thanks in ad

[2016-12-16 16:26] twinssbc commented on #26
@severus1990 Adding view customisation is on my list, has got time to implement it.

[2016-12-18 14:46] iNDicat0r opened #27 "Highlight specific columns + doubleclick event to select data"
Hi
Two questions:
1) I would like to highlight specific days.. for instance highlighting the weekends.
2) use doubleclick instead of click to select a day in month view.

Regards

[2016-12-18 19:05] marticrespi opened #28 "Uncaught ReferenceError: IntlPolyfill is not defined"
Hi,

I am on angular 2.2.3 and I have installed intl 1.2.5 to can use this calendar.

When I try to serve it shows me an error

    Uncaught ReferenceError: IntlPolyfill is not defined
    at http://192.168.1.87:8100/build/main.js:108347:4
    at http://192.168.1.87:8100/build/main.js:125146:2

And dont shows me more information.

Someone has any idea to what can be the problem?

Here is my packag

[2016-12-19 08:24] #28 closed

[2016-12-19 16:51] marticrespi opened #29 "Can I change default configuration?"
Hi,

I would like to know if this is possible:

1) Show day titles in another language.
2) Disable past days
3) Set start day of week to monday.
4) Disable the saturdays and sundays.

Someone can help me?

Thanks!

[2016-12-19 17:34] marticrespi commented on #29
Control week view starting from which day.
Default value: 0

I have this in my ts file

    calendar = {
    	mode: 'month',
    	currentDate: new Date(),
    	startingDayWeek : 1
    };

And in my html file

    <calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [startingDayWeek] = "calendar.startingDayWeek"
    [currentDate]="calendar.currentDate"
    (onCurrectDateChan

[2016-12-20 00:39] twinssbc commented on #9
@mihairadulescu I have added markDisabled option to the calendar. Feel free to have a try.

[2016-12-20 00:48] twinssbc commented on #29
@marticrespi
1. The DatePipe in Angular2 uses Intl to achieve i18n. The title should already be translated to your local language. But I also found that Intl doesn't do the good job for some language. Did you meet any difficulty to format the title?
2&4 I just added markDisabled option in the latest 0.0.16 version. Feel free to have a try.
3. You can put [startingDayWeek]="1" in the html file.

[2016-12-20 01:04] twinssbc commented on #27
@iNDicat0r
1. This version doesn't support view customization yet. I will add it soon. Another workaround is there's a markDisabled option to allow you mark certain days as disabled, there will be a monthview-disabled css class applied to the cell. You can add styles to that class.
2. I'm afraid you have to modify the source code to achieve that. A workaround is you can record the click counts in

[2016-12-20 05:37] marticrespi commented on #29
Hi @twinssbc

I have tried again and anything has changed.

    <calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    		[startingDayWeek] = 1
    [currentDate]="calendar.currentDate"
    (onCurrectDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitl

[2016-12-20 07:22] marticrespi commented on #29
Hi @twinssbc

Reviewing your sourcode in src/calendar.ts file:

    <div [ngSwitch]="calendarMode">
    <monthview *ngSwitchCase="'month'"
    	[formatDay]="formatDay"
    	[formatDayHeader]="formatDayHeader"
    	[formatMonthTitle]="formatMonthTitle"
    	[startingDayMonth]="startingDayMonth"
    	[showEventDetail]="showEventDetail"
    	[noEventsLabel]="noEventsLabel"
    	[eventSource]="eventSo

[2016-12-20 07:27] twinssbc commented on #29
@marticrespi There's startingDayMonth option for month view

[2016-12-20 07:38] marticrespi commented on #29
You're right @twinssbc , but we was always talking about "startingDayWeek" I thought they are not the same option.

Another thing than I have seen:

If I don't set an eventSource (default = null, removing [eventSource]="eventSource" in html file) or I set showEventDetail=false, should not it exclude ion-list div (ion-list events) when is rendering the calendar? Is it include anyway?

https://i.img

[2016-12-20 15:39] twinssbc commented on #29
If you set [showEventDetail]="false", the event detail list won't display.

[2016-12-20 17:48] ThomasKientz opened #30 "Blank calendar"
Hi,

I followed the instructions but i get a blank calendar (the calendar div is here).

Can you provide an example a the .ts file to make the directive working ?

Thanks a lot

[2016-12-20 19:09] marticrespi commented on #29
Yes @twinssbc, but the div returned not fit properly, its remembering the size of events list.

With  [showEventDetail]="false" It shows this:

https://i.imgbox.com/cVavrBTN.png

But for me should be displayed like this:

https://i.imgbox.com/0HXTYNVy.png

[2016-12-20 23:18] twinssbc commented on #30
@ThomasKientz You can refer to the demo pages in the source code.

[2016-12-21 00:03] twinssbc commented on #29
@marticrespi
Yes, I set the view container to 100% height to support the scrolling list in the week and day view. I added some css class to the view container in the version 0.0.17. So you can change the height of monthview-container class.
In this version, I also make the disabled date not selected.
Feel free to have a try.

[2016-12-21 06:22] chavachons opened #31 "can't build/run in ionic 2 rc.3"
Hi,
I use your components  in ionic 2 rc.3
I import components in main.prod.ts but it can't build.

Someone can help me?
Thanks a lot

[2016-12-21 08:09] marticrespi commented on #29
Hi @twinssbc

Both changes works like a charm! You are doing a great job!

I only use monthview because I need to show a selectable checkbox list. If your EventSource could include a boolean property like isAvailable and EventList displays a checkbox to be selectable I could use your monthview with Events, meantime I have to use the monthview without events but I would like to use your fully libra

[2016-12-21 08:50] twinssbc commented on #31
@chavachons What's the error message did you get?

[2016-12-21 09:06] #30 closed

[2016-12-21 09:13] ThomasKientz commented on #31
Working great for me with RC4.

[2016-12-21 09:14] ThomasKientz opened #32 "Change language"
Is it possible to set the calendar to a specific or local language ?

[2016-12-21 15:50] twinssbc commented on #32
@ThomasKientz The DatePipe in Angular2 by default uses the Intl library. So the title should already display in your local language. But it's possible that Intl doesn't support localization that well for your language.

[2016-12-21 15:51] #31 closed

[2016-12-21 17:19] #32 closed

[2016-12-21 17:21] ThomasKientz opened #33 "Pushing new events"
What's the proper way to add events to eventSource and refresh the calendar to display them ?

[2016-12-22 00:12] twinssbc commented on #33
When a user click a cell, the timeSelected callback will be triggered. You can navigate to a new page to let user fill in the new event details, then navigate back to the calendar.

[2016-12-22 09:07] ThomasKientz commented on #33
I'm creating an all day event (with success) when the user select a day with "timeSelected" callback (so he can select multiple days, without leaving the calendar). But I'm having real issues to refresh the calendar with the new events added without destroying and creating again the calendar !

Thanks anyway !

[2016-12-22 09:15] marticrespi commented on #29
Hi @twinssbc

You have marked disabled date as not selectable, but when you click on it, the day is changing, it fires the function onTimeSelected(ev) and current selected date changes. It would be possible avoid this?

Or is there any function to get the current selected date property disabled to know it status?

Thanks.

[2016-12-22 09:26] marticrespi commented on #29
Hi @twinssbc

If I am 22nd december and slide to january, it goes to 22nd directly, but 22nd january for me is disabled (I have disabled sundays). I think that when you slides you are doing `AddMonth (1)` directly, but is possible to check disabled property before addMonth and goes, for example, to next or previous avaiable day?

[2016-12-22 12:48] ThomasKientz commented on #33
I finally achieve this with a workaround
[code]
I must lack js skills...

[2016-12-22 12:48] #33 closed

[2016-12-22 15:09] twinssbc commented on #29
@marticrespi I added logic to not select disabled date when moving to previous/next month. Going to next/previous available day is a too specific requirement. Also considering some user requires disable all past days until today, there will be no available days. So I just simply not select the disabled date.
Feel free to have a try.

[2016-12-22 15:29] marticrespi commented on #29
@twinssbc

Works perfectly! I said previous or next available day to say something, your logic applied is perfect, not change selected date if the day in next/previous month is disabled.

[2016-12-22 23:12] twinssbc commented on #33
This workaround looks strange.
You can directly set eventSource to this.myEvents?
Did you get below error?

Expression has changed after it was checked

[2016-12-24 08:56] twinssbc commented on #26
@severus1990 I have added view customization in version 0.1.0. You can get more information from README. Feel free to have a try. Thanks.

[2016-12-24 08:57] twinssbc commented on #27
@iNDicat0r I have added view customization in version 0.1.0. You can get more information from README. Feel free to have a try. Thanks.

[2016-12-24 08:58] twinssbc commented on #17
@Gtanxingwen I have added view customization in version 0.1.0. You can get more information from README. Feel free to have a try. Thanks.

[2016-12-24 08:59] twinssbc commented on #9
@mihairadulescu I have added view customization in version 0.1.0. You can get more information from README. Feel free to have a try. Thanks.

[2016-12-24 10:13] Gtanxingwen commented on #17
@twinssbc 好的,ok ,ok. if i hava some question, i ask you.   hhaha

[2016-12-24 10:14] #17 closed

[2016-12-24 12:42] iNDicat0r commented on #27
Thanks you i will try.

[2016-12-24 20:05] Gtanxingwen opened #34 "hi ,how to i should use the custom view"
@twinssbc

[2016-12-24 20:15] Gtanxingwen commented on #34
can you give me a small demo?

[2016-12-25 01:16] twinssbc commented on #34
Sure.
Let's say you want to customize the events displayed in weekview.
You could do something like below.
You could fill anything inside the template to achieve your requirement.
let-displayEvent is the context object exposed to the template.
It means the template can only access the fields inside this context object.

[code]

[2016-12-26 14:45] Gtanxingwen commented on #34
@twinssbc 3q  i  have success

[2016-12-26 14:45] #34 closed

[2016-12-28 06:26] severus1990 commented on #26
@twinssbc I tried using the customization in my existing project. I am getting the below error:
polyfills.js:3 Unhandled Promise rejection: Template parse errors:
Can't bind to 'weekviewNormalEventTemplate' since it isn't a known property of 'calendar'

Am I missing something? I tried an **npm install ionic2-calendar --save**  hoping to update the calendar version. Still I am getting the same erro

[2016-12-28 08:32] severus1990 commented on #26
The issue was due to update failing in my system. Closing the issue. Thanks @twinssbc

[2016-12-28 08:32] #26 closed

[2016-12-28 13:35] RyanTLX commented on #11
Hi @OliverTr54 , how did you get the calendar to work? @twinssbc
I'm trying this calendar out from a blank ionic 2 project.

My ionic version
[code]

My app.module.ts
[code]

Then in home.html I inserted the calendar code as such
[code]

But I'm getting the following error
<img width="812" alt="screen shot 2016-12-28 at 9 32 41 pm" src="https://cloud.githubusercontent.com/assets/6291743/21523009/4

[2016-12-28 17:19] EnricoPicci opened #35 "The demo url does not work on Safari on iPhone with iOS 9.3.4"
I try to launch the demo site (https://twinssbc.github.io/Ionic2-Calendar/demo/) on Safari on iPhone with iOS 9.3.4 but I do not see anything.
Is there a reason for this?
Thanks in advance

[2016-12-28 23:59] twinssbc commented on #35
@EnricoPicci If you enable debug console in Safari, or you connect your iPhone to your desktop to do the remote debugging, can you see any error printed out in the console?

[2016-12-29 08:26] EnricoPicci commented on #35
Thanks for getting back to me.

I tried on Safari on a Mac and I actually get an error.

The first lines printed on the console are:

[Error] Failed to load resource: the server responded with a status of 404
(Not Found) (system.js.map, line 0)
[Error] EXCEPTION: Error in ./CalendarComponent class CalendarComponent -
inline template:35:16 caused by: Can't find variable: Intl
handleError (demo:52)

[2016-12-29 13:00] twinssbc commented on #35
This error means failed to find the Intl library which is used for i18n.
Strangely I don't get this error in my Safari.
Could you check the Network tab in the Web Inspector that if intl.js is loaded and where is it loaded?
Thanks.

[2016-12-29 17:44] panduit-psh commented on #35
I am experiencing the same issue both in Safari **on iOS 9.0.2** and a deployed ionic2 app on iOS 9.0.2. Both give the same error when I inspect in Web Inspector.

Demo error:
[Error] EXCEPTION: Error in ./CalendarComponent class CalendarComponent -
inline template:35:16 caused by: Can't find variable: Intl

App error:
[Error] EXCEPTION: Error in ./CalendarComponent class CalendarComponent -
inlin

[2016-12-30 21:24] panduit-psh commented on #35
Figured it out. This relates to:

https://github.com/angular/universal/issues/516

[2017-01-02 16:24] rgarciape opened #36 "Performance in Android API 23. Wrong me.slider.getActiveIndex()"
Hi!!

I´m running the app with **ionic run android** command using API23 of Android and the app behaviour is diferent that when I run the application with **ionic serve**.

The issue appears just when the app is started due to the active index of slider components is 2 (me.slider.getActiveIndex()).

When I obtain this index testing in the device is 2, and when I test it in the browser is 0 (the ex

[2017-01-02 16:44] mgarciadash opened #37 "#week on title incorrect"
On Week view, # of week says this week is #52 of 2016, but isnt in fact is #1 of 2017.

[2017-01-03 15:05] twinssbc commented on #37
@mgarciadash I have fixed this bug in version 0.1.1. Thanks for reporting it.

[2017-01-05 15:03] mgarciadash commented on #37
Thanks to You !!

[2017-01-05 15:48] mgarciadash commented on #37
Btw ...  Maybe the question not belongs here, but ...
How can i hide "all Day" row in weekView ???

[2017-01-05 23:20] twinssbc commented on #37
There's no option exposed to hide "all Day" row.
You need to modify the source code.

[2017-01-07 23:50] RezaRahmati opened #38 "I get Cannot find module "intl" error"
Hi

I tried to use the ionic2-Calendar but I get the below error when I try to run the app by ionic serve

Cannot find module "intl"
Error: Cannot find module "intl"
    at Object.<anonymous> (http://localhost:8100/build/main.js:117496:7)
    at __webpack_require__ (http://localhost:8100/build/main.js:20:30)
    at Object.<anonymous> (http://localhost:8100/build/main.js:117876:75)
    at __webpack

[2017-01-09 08:28] marticrespi commented on #29
Hi @twinssbc

Could you investigate about Intl translation? I have viewTitle well translated in spanish but day names are in english..

Many thanks!

[2017-01-09 13:31] twinssbc commented on #38
@RezaRahmati Could you check if Intl is successfully installed in your npm repository?
What if you just only install it locally?

[2017-01-09 13:49] clementino36 opened #39 "'typings' is not recognized as an internal or external command"
Hi,

Whenever I am running `npm install ionic2-calendar --save`, I am getting the following:

I ran npm install typings --global successfully.
I have added "typings": "2.1.0" to my package.json's dependencies.
The PATH to my npm folder is correct.

Thanks

[2017-01-09 14:12] twinssbc commented on #35
@EnricoPicci @panduit-psh Are you able to fix this issue.
I did some research and found Intl issue seems to be solved in Safari 10+, so I'm not able to reproduce it.
I just added the Intl dependency back in the demo pages, could you check if the demo pages work for Safari 9.3?

Regarding the issue happens in Ionic serve or deployed version, could you try below things?
1. Check if Intl module appea

[2017-01-09 14:30] twinssbc commented on #39
@clementino36 This looks like some environment configuration issue.
The post install script simply runs "typings install" command.
If you run "typings --version" in your command line prompt, what's the output?
If it still displays the same error, that means typings executable has not been found in the system.
Could you check if typings module appears in your npm folder? And what's the path of typi

[2017-01-09 14:37] RezaRahmati commented on #38
@twinssbc Hi I added it by `npm install intl --save-dev` and issue is resolved, it might be a good idea to update installation docs too.

[2017-01-09 14:37] #38 closed

[2017-01-09 14:41] clementino36 commented on #39
The output is the same indeed.
Do you mean in my project's npm folder ? No typings folder there nor in `AppData\Roaming\npm`.
I do have a typings folder in my project's folder (next to src, www, etc...).
Not I am getting what you mean by the path of typings executable, I have nothing related to typings in my PATH, only 3 lines there:

[2017-01-09 20:47] EnricoPicci commented on #35
**@twinssbc**
Now the demo works smoothly on my Safari 9.1.1 (on the Mac) as well as on my iPhone Safari (iOs 9.3.4).
The only point is that it is pretty slow to load (some seconds before seeing the calendar).
I will try a local demo to see if it is a network or server problem.
Thanks

[2017-01-09 20:47] #35 closed

[2017-01-10 09:45] unional commented on #39
Should not use `postinstall` to do `typings install`. The consumer do not necessary have `typings` installed globally.

Please use `prepublish`.

[2017-01-10 16:05] clementino36 commented on #39
I got it working!
Refer to [#753](https://github.com/typings/typings/issues/753)

[2017-01-11 00:54] twinssbc commented on #29
@marticrespi I fixed the day headers in version 0.1.2. Could you have a try?

[2017-01-11 08:33] marticrespi commented on #29
Hi @twinssbc

I had modified forcing my locale to es-ES with following code in app.module.ts

    import { LOCALE_ID } from '@angular/core';

    providers: [
    // other providers
      { provide: LOCALE_ID, useValue: "es-ES" }, //replace "es-ES" with your locale
    ]

I have removed this code and with your new version works without above code.

I have a little problem with header style

https:

[2017-01-11 13:48] chanphillip opened #40 "Building next month view in advance before swiping end"
In month view, when swiping to the next/previous month, before releasing the cursor/finger and the next/previous is visible, the classes (.text-muted, .monthview-disabled) are not properly applied to those dummy slides.
Which means before releasing the cursor/finger, the layout shown is not visually correct.

[2017-01-11 15:50] twinssbc commented on #40
@chanphillip When I designed this calendar, I referred to some native calendar app, they all have the same behavior. Only renders the current slide, but the next/previous slide is just placeholder for animation purpose. It could also reduce some calculation to improve the performance.

[2017-01-11 16:06] twinssbc commented on #29
@marticrespi Is "EEEEE" supported by the Angular2 DatePipe? From below page, I can see it only supports "EEE" and "EEEE"
https://angular.cn/docs/ts/latest/api/common/index/DatePipe-class.html

To only display the first capital letter, you probably need to modify the source code to update the expression like below

[code]

[2017-01-11 16:56] chanphillip commented on #40
@twinssbc Ok I get it. I agree it is native to load only the events on the current slide.
But for styles like .text-muted & .monthview-disabled, I would see them as a part of the calendar layout so I would expect that. And I think it will not affect the performance much.
Now every time you swipe, the font colors are flashing momentarily which is a little annoying.

[2017-01-11 17:00] marticrespi commented on #29
Yes @twinssbc you're right, but in angular.io domain shows that with E only should show the first letter

https://angular.io/docs/ts/latest/api/common/index/DatePipe-pipe.html

But don't worry, I will decrease the small % class and I will use your default format! I dont want modify your source code, because I will have to change on every update!

Many thanks!

[2017-01-12 12:21] RS-Shekhawat commented on #29
@twinssbc Can I add next previous buttons in the calendar directive

[2017-01-12 15:38] twinssbc commented on #29
@RS-Shekhawat, where do you want to add next, previous button? If you want to add them in the header bar, Ionic framework already provides that capability.
If you want to embed them into the calendar, you may need some customization of the view or the code.
But it already provided the default swipe interaction, not sure if extra navigation button is a bit duplicate.

[2017-01-13 07:17] RS-Shekhawat commented on #29
Actually @twinssbc I want to convert swipe interaction with next previous button so user can see next month or previous month through these buttons so in that calendar could I customize its config options like "calendar = {
      mode: 'month',
      currentDate: new Date()
  };"

[2017-01-13 07:23] RS-Shekhawat commented on #29
Actually @twinssbc I want to convert swipe interaction with next previous button so user can see next month or previous month through these buttons so in that calendar could I customize its config options like "calendar = {
      mode: 'month',
      currentDate: new Date()
  };"

is any options there for next, previous button? Or where we need to change the code could you help me for this.

Thank

[2017-01-13 12:46] twinssbc commented on #29
@RS-Shekhawat
The header is the Ionic header bar or the one in the calendar itself.
If it's the Ionic header bar, then it's easy. You can add the button and change the calendar.currentDate in the click callback. The calendar will navigate to the date you set.
If you want to add a header in the calendar, then source code change is required.

[2017-01-13 12:48] twinssbc commented on #29
@RS-Shekhawat You can take a look at the Today button logic in the demo page.
That button is used to set the calendar to today. Basically you just need to set the calendar to a date in next or previous month.

[2017-01-13 13:11] RS-Shekhawat commented on #29
Thanks, @twinssbc It is very helpful suggestion for me its working nice

Thank you so much !!

[2017-01-13 22:20] Daskus1 opened #41 "Broken with Ionic RC5"
The components are not working anymore since I upgraded to RC5. This is probably due to the breaking changes on the slides component

[2017-01-15 14:14] twinssbc commented on #41
Yes, I'm aware of the breaking change.
It's not just simply API change, it seems the underlying logic to handle looped slides is different, I haven't found a solution to fix the different behavior yet. It may take some time.

[2017-01-16 06:44] #29 closed

[2017-01-17 18:38] chanphillip commented on #29
Hi
I couldn't make the i18n work. I want to force it to be in English.
I've added `{ provide: LOCALE_ID, useValue: "en-US" }` to app.module.ts providers, but it is still showing the week days in my local language.

[2017-01-18 17:06] xyboox opened #42 "Incomplete data"
Hi,
to be quick about it, please have a look at this youtube: [screenrecorded](https://youtu.be/wqfeKKNxRCc) about the behaviour of the calendar in my app. Can't figure why I can't select any of the days except ones in the first slide and why only 3 slides populated?
Any idea where the issue might be? My code is identical with the one in the demo.

My machine system info:
Cordova CLI: 6.4.0
Ionic

[2017-01-19 00:10] twinssbc commented on #42
@xyboox The current version doesn't work with Ionic Framework 2.0.0-rc.5.
The slides API has breaking changes in rc.5 and there are a lot of issues opened in the ionic repository.

[2017-01-19 07:35] xyboox commented on #42
Understood @twinssbc . Thanks!

[2017-01-20 06:56] marticrespi commented on #42
Hi @twinssbc

What's about update angular version?

Is it still incompatible to upgrade above 2.0.1?

Thanks!

[2017-01-20 11:49] twinssbc commented on #42
@marticrespi Since the current Ionic rc version always specify a certain Angular version in the POM.
I suggest do the same.
For example, if you want to use Ionic 2.0.0-rc.4, then upgrade Angular to 2.2.1, but not higher. Because we don't know if Ionic will break or not.

[2017-01-23 12:18] RS-Shekhawat commented on #20
@twinssbc could i disable swipe event in the calendar?

[2017-01-23 13:24] twinssbc commented on #20
@RS-Shekhawat Why do you want to disable swipe event? This is how this calendar works.
But you can modify the source code to achieve this effect if you want. The underlying Swiper control has such option.
Also could you open a separate issue if you want to ask a new question? Thanks.

[2017-01-23 15:57] twinssbc commented on #41
@Daskus1 I have found the way to fix the breaking chagne in RC5. The latest 0.2.0 version is compatible with Ionic 2.0.0-rc.5. Feel free to have a try.

[2017-01-23 15:57] #41 closed

[2017-01-23 15:58] twinssbc commented on #42
@xyboox I have found the way to fix the breaking change in rc.5. The latest 0.2.0 version is compatible with Ionic 2.0.0-rc.5. Feel free to have a try.

[2017-01-23 20:17] xyboox commented on #42
Thanks @twinssbc , it seems to be working, but I just found another issue: let's say the calendar is loaded in month view to Jan. 2017. It will also show the days from 1st of Feb to 11th of Feb, which is correct. Now, if you tap on any of those days belonging to Feb, it will have the day selected correctly and also will slide to February, which is also correct. Problem is next, when regardless of

[2017-01-23 20:18] Daskus1 commented on #41
Just tried it and it works, thanks.
Is it possible that this version is slower? The loading when swiping was always a bit long but now it feels like it takes even more...

[2017-01-24 02:51] ThomasKientz opened #43 "February ends the 31 instead of 28."
Test with ionic2-calendar v0.2.0.

February should end on the 28th, not the 31. I think it's just about the display cause it's sliding as it  should to march when I selected the 29+ of Feb.

<img width="342" alt="capture d ecran 2017-01-24 a 09 45 32" src="https://cloud.githubusercontent.com/assets/10157845/22232145/3a73d6a0-e21a-11e6-876d-a8ea55bd05f9.png">

Great work by the way, this calendar i

[2017-01-24 08:10] Daskus1 commented on #41
There is a bug I found with this version:
When selecting a day in monthview the view slides randomly to the next/previous month.
At first I thought it would only be in my project but then I tried it with the demo and the same thing happened.

[2017-01-24 14:35] twinssbc commented on #43
@ThomasKientz I have fixed the bug in version 0.2.1. Feel free to have a try.

[2017-01-24 14:36] twinssbc commented on #42
@xyboox I have fixed the bug in version 0.2.1. Feel free to have a try.

[2017-01-24 14:37] twinssbc commented on #41
@Daskus1 I have fixed the bug in version 0.2.1. Also the extra slowness is also caused by this bug.
The speed should be better now. Feel free to have a try.

[2017-01-24 14:42] xyboox commented on #42
After a quick test seems to be all working right. Will test more extensively tonight and let you know should any issue pop up. Thanks @twinssbc !

[2017-01-24 15:07] prasadmarathe opened #44 "template customization not working on ios simulator but working on browser"
I am not able to see the changes on simulator while applying css changes in calendar.js template.
 my code is -
"<div class="calendar-event-inner" [style.backgroundColor]=displayEvent.event.color>{{displayEvent.event.title}}</div>"
where  style.backgroundColor is converted to inline css e.g.( background-color: blue)  on browser. But not applied for ios simulator.

Please help.

[2017-01-24 15:41] twinssbc commented on #44
@prasadmarathe You can still use the browser developer tool to remote debug the simulator or the device. Could you check if any error is printed out in the console?
Also did you add below lines to the **main.prod.ts**

[code]

[2017-01-24 16:18] prasadmarathe commented on #44
I have added mentioned code in main.prod.ts.
There is no error on console. Only inline css is not getting applied on simulator and applied while testing on browser. Did you find any syntax error in my mentioned code?

What could be the reason?

[2017-01-25 06:31] chanphillip commented on #32
Hi
I'm trying restrict the language to be in English.
I've added this into app.module.ts but it did not work.

    { provide: LOCALE_ID, useValue: "en-US" }

Any advice?

[2017-01-25 12:27] severus1990 opened #45 "calendar.currentDate not updated in swipe of week view"
I have added next and prev buttons the calendar week view.

On click of them I am calling the below functions:

nextWeek() {
       this.calendar.currentDate = new Date(this.calendar.currentDate.setDate(this.calendar.currentDate.getDate() + 7));
     }

prevWeek(){
        this.calendar.currentDate = new Date(this.calendar.currentDate.setDate(this.calendar.currentDate.getDate() - 7));
     }

This

[2017-01-25 15:27] twinssbc commented on #44
@prasadmarathe I tried in browser, IOS simulator and Android device, all working fine.
Below is my code snippet, could you check if there's any difference?

[code]

[2017-01-25 15:44] twinssbc commented on #45
@severus1990
If your syntax is like below, it is one way binding, the calendar.currentDate won't be updated when the internal currentDate is updated by swiping.

[code]

I exposed **onCurrentDateChanged** event, you can listen to this event and store the latest current date somewhere.

[2017-01-25 16:05] twinssbc commented on #32
@chanphillip I will take a look. Is it working in other place of your application?

[2017-01-25 16:55] chanphillip commented on #32
@twinssbc Yes it's working in other place.

[2017-01-26 08:22] severus1990 commented on #45
thanks @twinssbc. I will try this. Is there a way to improve the performance of the calendar? In my case even after a prod build in ionic, the calendar is less responsive to clicks and swipes. The initial loading of calendar also takes some time. Please suggest a way to improve the performance.

[2017-01-27 19:42] hgoraya opened #46 "Runtime Error Cannot find module "intl""
i tried to integrate date picker bu ti am getting this error:

Runtime Error
Cannot find module "intl"

stacktrace:
Error: Cannot find module "intl"
    at Object.<anonymous> (http://localhost:8100/build/main.js:108974:7)
    at __webpack_require__ (http://localhost:8100/build/main.js:20:30)
    at Object.<anonymous> (http://localhost:8100/build/main.js:109354:75)
    at __webpack_require__ (http:

[2017-01-28 07:28] shahbaz17 opened #47 "Unable to install ionic2 calendar"
When running `npm install ionic2-calendar --save`

Shows these errors

npm ERR! Linux 4.9.5-200.fc25.x86_64
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "ionic2-calendar" "--save"
npm ERR! node v6.9.4
npm ERR! npm  v3.10.10
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! ionic2-calendar@0.2.1 postinstall: `typings install`
npm ERR! spawn EN

[2017-01-28 18:45] alexandretok commented on #47
Same issue here.

[2017-01-28 18:46] alexandretok commented on #47
I was able to install using this command:

`npm install ionic2-calendar --save --ignore-scripts`

I don't know if this causes any other issues, because I couldn't get it running anyway.

[2017-01-28 18:59] alexandretok opened #48 "Cannot read property 'getFullYear' of undefined"
After installing the module using the regular command:

`npm install ionic2-calendar --save`

I get this error message as soon as the app loads:

EXCEPTION: Error in ./CalendarComponent class CalendarComponent - inline template:35:16 caused by: Cannot read property 'getFullYear' of undefined

I have debugged and found that the error occurs on line 160 on the file `monthview.js`.

In the following

[2017-01-28 21:52] JoeHillyard commented on #47
Install typings globally first:

`npm install typings -g`

[2017-01-29 01:36] alexandretok commented on #48
I got it working after declaring and setting the `this.calendar.currentDate` inside the constuctor.

[2017-01-29 01:36] #48 closed

[2017-01-29 01:54] alexandretok commented on #47
That worked for me!

[2017-01-29 01:55] alexandretok commented on #46
Try issuing this command:

`npm install intl@1.2.5 --save`

[2017-01-29 12:28] #47 closed

[2017-01-29 16:01] twinssbc commented on #32
@chanphillip I have released version 0.2.2 which supports overriding the language using LOCALE_ID. Feel free to have a try.

[2017-01-29 20:23] amorriscode commented on #46
@alexandretok I simply ran `npm install intl` and it worked for me.

[2017-01-29 21:26] amorriscode commented on #48
@alexandretok Can you show your constructor code? I'm getting a similar error and I cannot seem to figure it out.

[2017-01-29 21:32] alexandretok commented on #48
Actually I later changed to outside the constructor, looks like this now:
[code]

And on the appointments.html :
[code]

[2017-01-29 21:36] amorriscode commented on #48
Still not working for me for some reason... here is everything I have:

*schedule.ts*
`import { Component } from '@angular/core';

import { NavController } from 'ionic-angular';

@Component({
  selector: 'page-schedule',
  templateUrl: 'schedule.html'
})
export class Schedule {

  calendar: any = {
    currentDate: new Date()
  };

  constructor(public navCtrl: NavController) {

  }

}
`
*schedule

[2017-01-29 21:43] alexandretok commented on #48
You got to set the property `[currentDate]="calendar.currentDate"` inside your `calendar` tag.
I believe your `schedule.html` should look like this:

[code]

[2017-01-30 01:51] #46 closed

[2017-01-30 01:51] #43 closed

[2017-01-30 01:52] #42 closed

[2017-01-30 08:06] Daskus1 opened #49 "MonthView wrong day selected"
When clicking on a day in monthview that is after march 26 the day before is selected. This is probably due to day light saving change.

[2017-01-30 19:47] IsCruz opened #50 "How Can I Use load events with a remote API?"
Actualmente I'm working with ir, but when I click load events the gaps are empty.

[2017-01-31 04:37] twinssbc commented on #50
@IsCruz
I assume your load events sends a HTTP request to the backend? You need to manipulate the eventSource array in your callback.

[2017-01-31 04:38] twinssbc commented on #49
@Daskus1 Which timezone are you in?

[2017-01-31 04:48] IsCruz commented on #50
Yep
I'M fetching data throught http

[2017-01-31 09:22] Daskus1 commented on #49
My timezone is Europe/Berlin

[2017-02-01 13:45] twinssbc commented on #50
Do you set the queryMode to **remote**?
What if you add a breakpoint to your http callback, is it get triggered and fills eventSource?

[2017-02-01 14:40] twinssbc commented on #49
@Daskus1 I have fixed the bug in version 0.2.3. Feel free to have a try. Thanks for reporting it.

[2017-02-01 15:25] #49 closed

[2017-02-02 00:42] twinssbc commented on #45
@severus1990 I just tried the latest Ionic 2.0.0 final version. It seems the performance is improved a lot. Also are you testing in Android? It's a known issue that the JavaScript performance is worse in Android devices comparing to IOS. You may want to try Crosswalk plugin to further improve the performance, although it will increase the package size a lot.

[2017-02-02 03:16] ngarland79 commented on #50
I'm unable to get this to work with Angularfire2. I keep getting errors like this:

event_1.startTime.getTime is not a function

And if I set queryMode to "remote" I get this error:

self.context.reloadSource is not a function

[2017-02-02 13:59] twinssbc commented on #50
@ngarland79
Could you check if the startTime you set is Date type?
And according to the error, reloadSource is not a function? How do you pass it to the calendar?

[2017-02-02 20:47] ngarland79 commented on #50
Figured it out. Times were not truly being sent as Date type. Thank you :-)

[2017-02-08 05:06] Gtanxingwen opened #51 "Error: Module build failed: Error: ENOENT: no such file or directory, open '/Users/UI002/WebstormProjects/untitled/arvix-ober/arvix-ober-html/app-ionic2/mynewapp/node_modules/.0.2.3@ionic2-calendar/calendar.ngfactory.js'"
run in safrie 10.0.2 i should how to do

[2017-02-08 05:06] Gtanxingwen commented on #51
@twinssbc

[2017-02-08 10:28] Gtanxingwen commented on #51
Solution: add below lines in main.ts

import { CalendarComponent } from 'ionic2-calendar/calendar';
import { MonthViewComponent } from 'ionic2-calendar/monthview';
import { WeekViewComponent } from 'ionic2-calendar/weekview';
import { DayViewComponent } from 'ionic2-calendar/dayview';

[2017-02-08 10:28] #51 closed

[2017-02-09 04:41] pxlxinzhao opened #52 "Can't bind to 'loop' since it isn't a known property of 'ion-slides'."
I follow Readme trying to put calendar in my app. I end up with following error:

polyfills.js:3 Unhandled Promise rejection: Template parse errors:
Can't bind to 'loop' since it isn't a known property of 'ion-slides'.
1. If 'ion-slides' is an Angular component and it has 'loop' input, then verify that it is part of this module.
2. If 'ion-slides' is a Web Component then add "CUSTOM_ELEMENTS_SCHEM

[2017-02-10 04:40] satyagupta opened #53 "Request for some assistance in changing or adding few things"
Thanks for creating such a fantastic component.

Its almost perfect but just few things i would like to know.

here is how the calendar that we want to look like https://gyazo.com/8b2d678ec14e97a9919326b126cef99b

to make it look like this we just need to know following things.

1. How do we make the calendar border less?
2. Right now to change month and we have to swipe which is good but what if

[2017-02-11 10:05] twinssbc commented on #52
Could you provide your code snippet that using the calendar control?

[2017-02-11 11:47] twinssbc commented on #53
@satyagupta
1. You can override css to set the border to none
2. You can change the currentCalendarDate to the date in previous and next month in your button click callback
3. You can set showEventDetail option to false

[2017-02-11 15:04] satyagupta commented on #53
Excellent, i will try these and update you on Monday :)

[2017-02-12 07:45] pinpointpanda commented on #45
I'm having the same issue - can't quite get to the bottom of it.

Was making the same mistake with my 'prev' and 'next' buttons, just updating this.calendar.currentDate, which won't work as explained above.

But my onDateChanged function is not firing.

Any ideas @twinssbc ?

[2017-02-12 07:49] pinpointpanda commented on #45
Ohh. I wasn't paying close enough attention! 😄
The function name was spelled wrong 😝

@twinssbc I copied the code straight from the **Usage** section:
[code]

There's a typo in there - it says on**Currect**DateChanged. Might want to update that at some point just to stop silly people like me who don't pay close attention.

Really great work on the calendar by the way, it's just what I was looking

[2017-02-13 00:13] twinssbc commented on #45
My bad, I have fixed the README.

[2017-02-13 18:32] pxlxinzhao commented on #52
Well, i cleaned up my project, reinstall the dependencies and somehow it worked.
Thanks for the response anyway.

[2017-02-13 18:32] #52 closed

[2017-02-14 09:49] satyagupta commented on #53
Thanks, all your suggestion worked beautifully :) thank you so much for this

[2017-02-14 09:49] #53 closed

[2017-02-14 12:58] viklele opened #54 "Hide all day event row"
Thanks for this nice component.

I have started trying it out to check its suitability for our requirements.

In my application, we don't have a need and support for all day event. I was wondering if there is a way to hide the all day event row in day view?

Regards,
Vikram

[2017-02-14 13:02] viklele opened #55 "Auto scroll to particular time in day view"
Is there  a way to force the day view to scroll to particular time initially? At present the view always shows the event list from 12AM. Can it be made to automatically scroll to the hour nearest to current time (the way it is done in native calendar in android)?

More often than not, users are interested in viewing the up coming events for today, and default display from 12AM means they are almos

[2017-02-14 13:06] viklele opened #56 "Disable sliding action"
Sorry for posting so many question - I am just trying out the component - and while it seems to meet my needs, I am not able to figure out how to do certain things in the component.

Is there a way to disable the sliding action?

In my scenario, I want to keep the user on a particular day and don't want him to slide out to a different date under some conditions.

Regards,
Vikram

[2017-02-14 15:53] twinssbc commented on #54
@viklele You can achieve this requirement by overriding the css styles.
Set the display of weekview-allday-table to none and set the margin-top of weekview-normal-event-container accordingly.

[2017-02-14 16:00] twinssbc commented on #55
@viklele The source code needs to be modified to achieve your requirement. IMO, it is not a general requirement, although I admit it is probably more user friendly. So I won't expose such option in the short term.

[2017-02-14 16:06] twinssbc commented on #56
@viklele Currently this calendar control doesn't expose the option to disable sliding on demand. The underlying slides control has such option, so it's possible to expose it.
But I wonder if disabling sliding is the best interact way, as slides is the base of this control. If you want user to stay on certain to do some operation, maybe you could let user navigate to another page when user selects

[2017-02-14 17:22] viklele commented on #56
Thanks for your prompt response.

I am looking to display appointments of "Today" in one of the views, but
want to reuse the same page in another context where user can freely
navigate to appointments of other days.

Now while on Today view, navigation to other dates is not desirable.

Regards,
Vikram

On Feb 14, 2017 9:36 PM, "twinssbc" <notifications@github.com> wrote:

[2017-02-14 17:24] viklele commented on #54
Thanks. I will try this approach.

Regards,
Vikram

On Feb 14, 2017 9:23 PM, "twinssbc" <notifications@github.com> wrote:

[2017-02-20 12:06] gsaikrishna32 opened #57 "when i am installing it is shows the error below"
![capture](https://cloud.githubusercontent.com/assets/25900718/23124415/eb7cf552-f792-11e6-9da4-c1950b16b8e2.PNG)

[2017-02-20 12:23] severus1990 opened #58 "passing title with different key to eventSource"
Hi,

Now we are passing the title of an event to the calendar as "title". Is it possible to change this to some other key ?
**title**: 'Event - ' + i,
startTime: startTime,
endTime: endTime,
allDay: false

I am consuming a web service data and want to directly pass the data to eventSource. But the title part is having a different key. eg "eventName"

Please advice on how to proceed.

[2017-02-20 13:36] twinssbc commented on #57
You need to run below command
[code]

[2017-02-20 13:37] twinssbc commented on #58
Yes, you can use different key, then use customized template to consume your own field.

[2017-02-20 16:31] Tusharbalar opened #59 "Unable to change bottom part (list view) of the calendar"
I am able to customize the calendar but I am unable to access the list of the events in month view event template.
Is there any way to **customized** or add buttons in the event list item. Also is there any inbuilt method to **edit or delete** events dynamically.

[2017-02-21 00:18] twinssbc commented on #59
@Tusharbalar You can use monthviewEventDetailTemplate to customize the event list.
There's no build-in method to edit/delete events, you just need to modify the eventSource array.

[2017-02-21 06:02] gsaikrishna32 commented on #57
i had tried the above command and run, by using the link  https://m.youtube.com/watch?v=UVOV2hTkkvE i had tried.And i am getting the below error
![capture2](https://cloud.githubusercontent.com/assets/25900718/23152661/6d334f10-f829-11e6-8dc1-5cda23b57a3e.PNG)

[2017-02-21 07:36] gsaikrishna32 opened #60 "How can enable and disable the previous days and after days?"
I want to enable and disable the dates and also how can i display this calendar(UI) in pop up.

[2017-02-21 12:50] twinssbc commented on #60
@gsaikrishna32 You can check markDisabled option in README.

[2017-02-21 12:51] gsaikrishna32 commented on #60
can I display the calendar in pop up?

[2017-02-22 05:19] gsaikrishna32 commented on #60
@twinssbc i had tried markDisable option in README but i am not disable the previous dates.Can you please help me

[2017-02-22 10:33] gsaikrishna32 commented on #60
sry bro i had got calendar but how i wanted to display it in pop up

[2017-02-22 14:53] twinssbc commented on #60
@gsaikrishna32 What kind of popup are you using? Is it an Ionic component? I think you just need to declare the calendar in the popup page. It may require some css tuning depending on the popup component you use.
But I personally don't like popup, as the mobile phone is already very small, if you want to display something in a popup window, it's not easy to select things inside that window.

[2017-02-24 13:22] Phoax opened #61 "Cannot set property 'currentDate' of undefined"
As described in the documentation, I've imported the ionic2-calendar module in app.module.ts, and added the directive in the html page, and I got this error :

Do I miss something ?

[2017-02-24 13:49] Phoax commented on #61
I add this in the constructor

Is it the good way ?
The error disappear, but the page is blank, the calendar didn't appear.

[2017-02-24 14:06] Phoax commented on #61
I just used the [](https://github.com/twinssbc/Ionic2-Calendar/blob/master/demo/pages/home.ts) demo file, everything works fine.

[2017-02-24 16:18] ece4afe opened #62 "Selecting other dates"
It is better if we select other dates on say current or next month or so, there should be no "mark with green" yet as if the user already selected a date already, but actually he has not yet selected. In other words, no "green mark" yet should be found for a particular day

[2017-02-24 16:47] twinssbc commented on #62
@ece4afe Do you mean you want a feature that the date is not automatically selected, only selected when user click that date?

[2017-02-24 17:40] #61 closed

[2017-02-24 22:56] filippodicostanzo opened #63 "Insert tag tappable for remove delay when click on specific day in month calendar"
Advice to add a tappable tag in a monthview.js in all <td> generated by *ngFor

 <td *ngFor="let col of [0,1,2,3,4,5,6]" tappable>

for remove the delay when someone click on the specific td for select a day

[2017-02-25 06:51] ece4afe commented on #62
Exactly..

--------------------------------------------
On Sat, 2/25/17, twinssbc <notifications@github.com> wrote:

 Subject: Re: [twinssbc/Ionic2-Calendar] Selecting other dates (#62)
 To: "twinssbc/Ionic2-Calendar" <Ionic2-Calendar@noreply.github.com>
 Cc: "ece4afe" <ece4afe@yahoo.com>, "Mention" <mention@noreply.github.com>
 Date: Saturday, February 25, 2017, 12:48 AM

 @ece4afe Do you mean
 y

[2017-02-26 09:51] marticrespi opened #64 "[Question] Compatible versions"
Hi @twinssbc ,

I have version 0.2.1 installed with angular 2.2.1 and ionic rc5. With 0.2.3 version is possible upgrade to ionic 2.1.0 or is not tested?

Many thanks!

[2017-02-26 12:46] twinssbc commented on #64
@marticrespi Yes, version 0.2.1 is compatible to 2.1.0.
I have just released version 0.2.4 and increased the dependency to Ionic 2.1.0 in the package.json.
Feel free to have a try.

[2017-02-26 12:47] twinssbc commented on #63
@filippodicostanzo Thanks for the suggestion. I have added this attribute in version 0.2.4. Feel free to have a try.

[2017-02-26 12:47] twinssbc commented on #62
@ece4afe I added this feature in version 0.2.4. Feel free to have a try.

[2017-02-26 14:37] marticrespi commented on #64
Perfect @twinssbc , works like a charm! Many thanks for your hard job!

[2017-02-26 19:53] marticrespi commented on #64
Hi @twinssbc , I have a little problem. My calendar shows in english again, I lost my spanish configuration. I have tried to use LOCALE_ID in app.module.ts with 'es-ES' and doesn't work. Can you check it?

Thanks!

[2017-02-27 00:39] twinssbc commented on #64
Yes, thats expected. Before that, the localization is not fully supported, for example, the hour column in the weekview. Now the new version is localized by the LOCALE_ID. The side effect is the user has to specify the locale explicitly. You can also use 'undefined', it will automatically use the language setting of the device, but different browser may have different extent of the support.

[2017-02-27 10:45] #64 closed

[2017-02-27 17:21] #16 closed

[2017-02-27 17:39] TheBurgerShot opened #66 "Minute accuracy"
I see that it is possible to provide a minutes parameter (in the Date object) for events, but the events do not show precisely at the right place in the calendar view. This is intended since the only possible step values are 15, 30, 60. Why not just make it 1 to 60?

[2017-02-27 18:30] TheBurgerShot commented on #66
I see that it already supports this

[2017-02-27 18:30] #66 closed

[2017-02-28 04:47] severus1990 commented on #58
@twinssbc Can you please elaborate on customized template? Where should i do the changes to make title as eventName so that i can feed the eventSource with below parameters:

**eventName
startTime
endTime
allDay**

[2017-02-28 04:54] venubollu opened #67 "Working flow of calendar?"
In the calendar.html page you had written many methods like
             `[calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [onCurrentDateChanged]="onCurrentDateChanged($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"`
   The above code i mentioned is the part of these plugin,b

[2017-02-28 05:02] venubollu commented on #67
`[calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [onCurrentDateChanged]="onCurrentDateChanged($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"`

[2017-02-28 13:44] mitob opened #68 "IntlPolyfill is not defined"
Hi,

I'm using ionic 2.0.1. After installing the adding the calendar, I get 'intl' not defined (in your component) while building. After installing intl 1.2.5, I get IntlPolyfill is not defined and the app crushes on start up. Any help?

[2017-02-28 15:04] twinssbc commented on #67
@venubollu These methods are all explained in the README.

[2017-02-28 15:08] twinssbc commented on #58
@severus1990 Take a look at the **View Customization Option** section in README.
Let's say you want to display eventName as title in the weekview normal event, the code snippet is like below:
[code]

[2017-02-28 15:33] twinssbc commented on #68
@mitob
According to below documentation, this Intl is a polyfill lib to support Safari 10-.
So if you use this control in a device has old ios (I guess below ios 10), you may need this Intl polyfill.

https://angular.io/docs/ts/latest/guide/browser-support.html

[2017-03-02 10:49] rickli1989 opened #69 "HourParts not working"
Hi,

In the day view mode, trying to split the the calendar into halfHour unit, but it doesn't work. Checked your source code, it does provide this input. Can you guide me how to use this ?

[2017-03-02 13:59] twinssbc commented on #69
@rickli1989 hourParts is an input of day view, but it's not the input of the whole calendar control.
Instead, you could use "step" option.

[code]

[2017-03-08 20:44] christiams opened #70 "EXCEPTION: Error in ./CalendarComponent class CalendarComponent - inline template:39:16 caused by: Cannot read property 'getFullYear' of undefined"
Hello! I'm trying to run `ionic serve` and have this problem:

I try to import import explicitly below lines in main.prod.ts

[code]

Ionic Framework Version: 2.1.0
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
Ionic App Scripts Version: 1.1.3
ios-deploy version: 1.8.6
ios-sim version: 4.1.1
OS: OS X El Capitan
Node Version: v7.2.0
Xcode version: Xcode 8.2.1 Build version 8C1002

But same

[2017-03-08 20:59] christiams commented on #70
I solved

[2017-03-08 20:59] #70 closed

[2017-03-09 20:13] ChrisProlls commented on #70
Please post your solution @christiams I have the same problem.

[2017-03-09 20:39] christiams commented on #70
My solution was copy paste all the functions from controller. In first instance i copied only some

[2017-03-09 20:40] ChrisProlls commented on #70
Thanks. My solution was to affect the current date property.
[code]

[2017-03-13 17:39] kkhwee opened #73 "Customization of monthviewEventDetailTemplate using Ionic 2 Framework"
Hi,

I am using Ionic v2.2.1 and I am trying to customize the month view event details. However since i am using a Http Call to load my eventSource. I am getting a cannot read property "events" of undefined.

This is my Html Page

    <template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel" let-eventSource="eventSource">
      <ion

[2017-03-14 12:31] twinssbc commented on #73
@kkhwee
I think the real problem is the ITimeSelected property is undefined.
Below code snippet is how selectedDate is used in the default template.
You can check from here.
https://github.com/twinssbc/Ionic2-Calendar/blob/master/src/calendar.ts
It doesn't have a ITimeSelected field, but events field as a direct property.

[code]

[2017-03-14 13:03] kkhwee commented on #73
@twinssbc Hi thanks, i realised i made a foolish mistake. But is it possible for the IEvent to have more things? Cause i added more fields in the eventSource and i wanted to display them. Is that possible?

[2017-03-15 13:11] yurik94 commented on #46
Same error, this should be added to the wiki!

[2017-03-15 14:15] kkhwee commented on #73
Hi, sorry actually it was working once i made the the amendment you state above. Thank you for your help 👍

[2017-03-15 14:15] #73 closed

[2017-03-16 13:36] twinssbc commented on #46
I have added this issue into Common Questions in README.

[2017-03-16 16:43] filippodicostanzo commented on #63
thank you for your work,
this plugin is incredible, many thanks :)

[2017-03-17 00:58] #63 closed

[2017-03-22 01:59] gdesplin opened #74 "Example"
I've been trying to implement this calendar, however I'm having a hard time simply creating an event. The readme doesn't explicitly give a good 'quick start' type example. The demo just creates random events, which isn't really helpful. Could I get an example of how to create a new event on time click pre filling with the time and/or also without a time click, like on a button.  Thanks.

[2017-03-22 13:28] twinssbc commented on #74
@gdesplin The way to generate an event is out of the scope of this calendar. Because users have different ways, for example, when a time is clicked, it will navigate to another page to ask user to fill a form; or directly query a database to fetch the event.
What the calendar cares is only the eventSource object, once it's changed, the view will be updated.

In the demo, the way to modify the even

[2017-03-23 12:37] amulyadande commented on #60
disabling the dates is not working fyn can u send me the changes in markDisabled option

[2017-03-23 13:48] Tusharbalar commented on #50
I want to load data from remote api, and i have applied queryMode as remote. calendar is not updating even if there is any change in eventSource.

following is my html and ts code

**.html file**

[code]

**.ts file**

[code]

[2017-03-23 14:01] tobika commented on #40
@chanphillip hello and thanks for this good component.

Do you plan to implement the update of non visible month views before swiping? I think it could be a big gain for the user. I am using a custom template for the month view so after each swipe the calendar view changes quite a bit. Would be great to have such an improvement. If I understand the code better I might try it myself :)

[2017-03-23 14:22] twinssbc commented on #60
@amulyadande
Did you try the code snippet in README?

[code]

[2017-03-23 14:28] twinssbc commented on #50
@Tusharbalar
Could you try couple things to locate the real problem?
1. Could you debug to see if GetEvents is actually triggered?
2. Do you call GetEvents in onRangeChanged callback?
3. What if you remove GetEvents method, just fill some dummy events in the eventSource, will it work?
4. Also I notice that you use this.eventSource, is "this" pointing to the correct scope?

[2017-03-23 14:34] twinssbc commented on #40
@tobika I think the really problem is your custom template displayed for the current month view is different from the default view in the non visible months?
In this case, I will expose a custom template option for the non visible months.

[2017-03-23 14:37] tobika commented on #40
@twinssbc yes that's right, thanks a lot, would be great to have this other template exposed.

[2017-03-23 17:48] Tusharbalar commented on #50
Hello Sir,
Actually i forgot to call GetEvents within onRangeChanged() function
I did like this but not success.

Please help me

[code]

Thank you

[2017-03-23 22:38] Daskus1 opened #75 "Calendar crashes when switching fast between views"
When I switch fast between dayview and weekview for a few times the whole calendar crashes and the app needs to be started again.

The following exception is thrown:
`EXCEPTION: Error in ./WeekViewComponent class WeekViewComponent - inline template:174:12 caused by: Cannot read property 'length' of undefined`.

I could also reproduce this on the demo app.

[2017-03-23 23:55] twinssbc commented on #50
@Tusharbalar
Have you tried other suggestions?

1. Could you debug to see if GetEvents is actually triggered?
2. What if you remove GetEvents method, just fill some dummy events in the eventSource, will it work?
3. Also I notice that you use this.eventSource, is "this" pointing to the correct scope?

[2017-03-24 03:19] twinssbc commented on #75
@Daskus1
This seems a defect in the Swiper code which Ionic slide depends on.
According to below code snippet, when you quickly switch to another view, the _slides hasn't been initialized, that's why undefined error is thrown.
https://github.com/driftyco/ionic/blob/master/src/components/slides/swiper/swiper.ts

[code]

I will submit a PR to Ionic team.
As a short term workaround, you can add an "u

[2017-03-24 04:29] Tusharbalar commented on #50
@twinssbc

1. Yes, GetEvents is called properly and you can refer the log to have a look whether this.eventSource array is used correctly or not
2. It works fine in local queryMode
3. Yes I have checked, 'this' is referring to correct scope

[2017-03-24 05:16] amulyadande commented on #60
i wrote the same code what actually u sent to me bt it is not responding
anything, it is showing blank page no output nd no errors

On Thu, Mar 23, 2017 at 7:52 PM, twinssbc <notifications@github.com> wrote:

[2017-03-24 09:37] tobika commented on #40
@twinssbc I checked out the code a bit and see that for every slide you have 2 month views. One that is shown when the view is active, the other one is shown during sliding process.
Is there a reason you did it like this? I just deleted the duplicate slides for a test and don't notice anything wrong. Just that the different template problem has gone away.

Also performance wise this is nice becaus

[2017-03-24 13:33] twinssbc commented on #60
If you remove the markDisabled attribute, does it display correctly?

[2017-03-24 13:34] twinssbc commented on #50
Yes, you can use markDisabled option.

[2017-03-25 05:36] Tusharbalar commented on #50
Sir, actually i want to restrict the swap access to previous months from current date.

[2017-03-26 15:18] Daskus1 opened #76 "Changedetection OnPush"
Why is the calendar not using `ChangeDetectionStrategy.OnPush` ?
I think that could possibly help improve the performance of the calendar and maybe improve also the performance on Android  #15.
The only thing I don't like about this calendar-component is the performance on Android (after swipe I need to wait 1-5 seconds before the view renders, which is definitely too much). All other things are r

[2017-03-27 00:30] twinssbc commented on #40
@tobika
May I know which slide is duplicate?
If I don't have 2 month views for every slide, how to switch different views in active and inactive mode?
Since ngIf won't actually add any DOM element if the condition check is false, so the total DOM nodes that are tracked are always limited to three month views, instead of six.

[2017-03-27 00:33] twinssbc commented on #50
@Tusharbalar
If the calendar is not updated after updating the eventSource, I think still something wrong with your callback logic. Could you try replacing your GetEvents method with some logic to directly adding some fake events to eventSource?

You can override the css style or use monthviewDisplayEventTemplate to customize the view.

[2017-03-27 12:57] #59 closed

[2017-03-27 13:23] Tusharbalar opened #77 "Calendar not working in ios device but working on browser and android"
Calendar events are not visible in iOS devices, while the same code runs properly in browser and Android devices.

After building iOS app using **ionic build ios** command I tried to run and debug the code, I am able to print the events array below the  calendar using remote query mode, but same events does not appear in calendar.

Local query mode worked fine this case.

ionic info:
[code]

I am

[2017-03-27 15:02] twinssbc commented on #77
@Tusharbalar
If my understanding is correct, the calendar works at local query mode in IOS, Android and Browser.
It also works at remote query mode in Android and Browser.
It doesn't work at remote query mode in IOS device?
This is really odd.
If you set the query mode to local, and fill the eventSource using the exact events retrieved at remote query mode, does it work?

[2017-03-28 08:38] larpo1 opened #78 "Suggestions for handling date range selection?"
Hi - looking to allow a behaviour for an accommodation booking calendar where a user can select a range of empty dates by tapping one empty date followed by a second empty date. How would you recommend handling that?

Thanks

[2017-03-28 09:40] tobika commented on #40
@twinssbc
ah yes, it is true that you don't have more DOM elements, but you have to re-render them when you switch between inactive month and active month view.

Do you really have to switch the views between active/inactive? Maybe I just don't get something here but for me it seems to work the same since I have deleted the inactive view. The component just uses the active view which is the same a

[2017-03-28 11:16] Tusharbalar commented on #77
Yes,I tried to fill the eventSource using the exact events and it is working for me. The issue is only with events retrieving from remote query mode.
I am frustrated by this issue, can you look at the code and try to find the problem.
Following is my code:

**HTML Code:**
[code]
**.ts Code:**
[code]

_**console log for eventSource**_
[code]
I can provide the service file if you need.

[2017-03-29 19:12] darrellc opened #79 "Month Navigation"
I would like to navigate months using arrow navigation buttons.  How would I do interface with the calendar monthview to slide the month.

[2017-03-30 00:12] twinssbc commented on #79
@darrellc You can change currentDate to the date in previous/next month.

[2017-03-30 00:26] twinssbc commented on #77
@Tusharbalar
How is your GetEvents implemented in the eventService?
I guess somehow the GetEvents callback doesn't trigger the view refresh.
Maybe you can find some clue from below post?

http://stackoverflow.com/questions/33063434/this-myservice-myevent-torx-subscribe-called-but-no-dom-refresh-zone-trigge

[2017-03-30 00:30] twinssbc commented on #78
@larpo1 I think you need to record some state like startDate in the onTimeSelected callback.
Another common way is when user selects a date, navigate to a form to allow user further adjust the startTime and endTime.

[2017-03-30 12:23] Tusharbalar commented on #77
Hello @twinssbc
Thanks for replying.

I made a service like this:

[code]

I checked every line of code but not getting solutions.
As you guess somehow the GetEvents callback doesn't trigger the view refresh. so, i don't understand how come it works on android and browser

[2017-03-30 12:43] darrellc commented on #79
HTML

`<ion-grid>
      <ion-row>
            <ion-col col-3 class="calendar-button back">
                <button ion-button icon-only (click)="changeMonth('back')">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-6>
                <h5>{{ calendar.monthName }}</h5>
            </ion-col>
            <ion-col co

[2017-03-30 13:05] darrellc commented on #79
I did change the current date, but no refresh of the calendar.

`changeMonth(direction){
    console.log(this.calendar);
    switch(direction){
      case "back":
        this.calendar.currentDate.setMonth(this.currentMonth - 1);
        break;
      case "forward":
        this.calendar.currentDate.setMonth(this.currentMonth + 1);
        break;
    }
    console.log(this.calendar["currentDate"])

[2017-03-30 14:58] brouviere commented on #34
@twinssbc thx for weekview demo, may i ask you to do so for monthview.
I would like to customize the event list template (under calendar monthview grid) after a date selected event.

[2017-03-30 15:34] twinssbc commented on #34
@brouviere
[code]

[2017-03-30 15:38] brouviere commented on #34
Ok thx.
And what's the inner part of template if i want to display event title for example please ?

[2017-03-30 15:42] twinssbc commented on #79
@darrellc You need to assign it back to the currentDate variable.
[code]

[2017-03-30 16:15] ChrisProlls opened #80 "Event list items wrapped into an ion-label"
I was playing with the `monthviewEventDetailTemplate` to change how events are displayed into the calendar. As I can see, all item are wrapped into an `ion-label`, which add lots of useless margin that I don't want for my view. I that normal ? It's possible to remove these margins for these specific items ?

[2017-03-30 16:27] lampofdrog opened #81 "How can change template event item ??!"
hi,

how can i use this component ([monthviewEventDetailTemplate]=“template”) ??

thanks

[2017-03-31 12:51] twinssbc commented on #81
@lampofdrog
You need to define an template, then reference it in the calendar element attribute.

[code]

The default monthviewEventDetailTemplate code is below:
[code]

[2017-03-31 12:56] twinssbc commented on #80
@ChrisProlls
Below is the default event detail template code
[code]

I think the ion-label is generated by the ion-item element.
You can simply replace it with simple div element and apply your own styles.

[2017-03-31 12:57] twinssbc commented on #34
@brouviere
Below is the default event detail template code. You can remove the unnecessary fields, only leave the event title in the template.
[code]

[2017-04-01 03:31] weitaoyang opened #82 "I get a error"
I use "ionic build browser --prod"

result:
Failed to load resource: net::ERR_FILE_NOT_FOUND
main.js:27 Uncaught Error: Module build failed: Error: ENOENT: no such file or directory, open 'E:\yjbs\node_modules\._ionic2-calendar@0.2.4@ionic2-calendar\calendar.ngfactory.js.map'

![Uploading QQ截图20170401112708.png…]()

[2017-04-01 03:53] weitaoyang commented on #82
![qq 20170401114759](https://cloud.githubusercontent.com/assets/3806482/24575200/b7287610-16d1-11e7-9035-93ffd21064f9.png)

[2017-04-01 06:47] weitaoyang commented on #51
我也遇到了和你一样的问题
Uncaught Error: Module build failed: Error: ENOENT: no such file or directory, open 'E:\yjbs\node_modules\._ionic2-calendar@0.2.4@ionic2-calendar\calendar.ngfactory.js'

我是以产品形式运行 ionic run browser --prod
main.ts里也加入那4个导入了，结果就报这个错，请问你如何运行的？
如果以dev模式运行，是正常的。

[2017-04-01 06:47] weitaoyang commented on #51
@Gtanxingwen

[2017-04-02 14:40] twinssbc commented on #51
@weitaoyang Could you confirm if you added below lines in main.prod.ts instead of main.ts?
[code]

[2017-04-03 09:12] LanceGin opened #83 "Default stylesheet will be loaded after refreshing the Calendar view"
I got a problem just like the title says.

I used ionic2-calendar on one of my side-menus and I have a custom stylesheet for calendar, but when I goto another side-menu and then go back to this calendar view, your default stylesheet will be loaded to my calendar instead of my custom one.

If I kill my app, and open it again, my custom stylesheet will be loaded, but when I repeat the operation abov

[2017-04-03 14:36] marcRDZ opened #84 "How to set formatDayHeader input"
First of all, congratulations for your work.

I was playing with your awesome customizable calendar trying to display only the first letter of the day of the week in the monthview header. I don't know if it's an issue or a missing explanation but modifying the formatDayHeader in the HTML directly doesn't work:
`...
    [formatDayHeader]="E"
...`

Instead of this, I added to the calendar variable i

[2017-04-04 00:47] twinssbc commented on #83
@LanceGin What if you specify your style selector to be more specific or use !important?

[2017-04-04 06:14] LanceGin commented on #83
@twinssbc I have specify my style selector block by block, but that dose not effect.  `!important` can't solve this problem either...

[2017-04-04 06:22] LanceGin commented on #83
![calendar](http://wx4.sinaimg.cn/mw1024/89243dfbgy1feamg8s3dcg20q80jwdzy.gif)

I have added `!important` to the style, but it's also like above

[2017-04-04 13:15] twinssbc commented on #83
If you move the cursor to the element in browser developer tools, can you see if your styles are actually applied but overrided?

[2017-04-04 13:30] LanceGin commented on #83
@twinssbc when the calendar view reload at the first time, my styles were applied, but when I get in the calendar view the next time, my styles seemed to disappear

[2017-04-04 13:36] LanceGin commented on #83
@twinssbc
loading at the first time:

![calendar](http://wx4.sinaimg.cn/mw690/89243dfbly1feaz0pf0yxj21kw0d1gxb.jpg)

loading at the next time

![calendar](http://wx1.sinaimg.cn/mw690/89243dfbly1feaz0uxk13j21kw0cm4c3.jpg)

[2017-04-05 00:09] twinssbc commented on #83
Your selector seems very specific, can you make a bit generic?
You could even try just using .monthview-current?

[2017-04-05 00:16] twinssbc commented on #84
@marcRDZ You should use **formatDayHeader = "E"**

[2017-04-05 02:37] LanceGin commented on #83
@twinssbc I have found the error, `ion-slides` element has a progressive increase class `slides-N`, I delete `.slides-0` when I select `ion-slides` and it works.

[2017-04-05 06:56] marcRDZ commented on #84
Sorry, I don't understand. Should I use that in the HTML or in the .ts file? Do you refer to the double quotes or the parameter without brackets [...]? As I said firstly, I tried that in the calendar directive in HTML in this form: [formatDayHeader]="E", and it didn't work.

[2017-04-05 14:47] twinssbc commented on #84
@marcRDZ No need to add brackets for formatDayHeader.

[2017-04-05 23:52] twinssbc commented on #75
Related issue has been created
https://github.com/driftyco/ionic/issues/10830

[2017-04-05 23:52] #75 closed

[2017-04-06 00:41] twinssbc commented on #40
@tobika
There are less elements in the inactive view.
For example, in the month view, there's a getHighlightClass method applied to each cell in the active month. If I also make the inactive view having this method, then the getHighlightClass will be called 3 times as before, while it's not necessary to apply style on the cells of inactive month.

[2017-04-06 08:08] marcRDZ commented on #84
OK, I got it.
Thanks for all :)

[2017-04-06 15:13] gdesplin commented on #50
@ngarland79 How did you solve getting the dates back to the right format?

[2017-04-06 17:22] Samzerge opened #85 "Unhandled Promise rejection: Template parse errors: Can't bind to 'loop' since it isn't a known property of 'ion-slides'"
I get this error when running the app in the device:

Unhandled Promise rejection: Template parse errors:
Can't bind to 'loop' since it isn't a known property of 'ion-slides'.
1. If 'ion-slides' is an Angular component and it has 'loop' input, then verify that it is part of this module.
2. If 'ion-slides' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgModule.schemas' of this compo

[2017-04-07 00:18] twinssbc commented on #85
@Samzerge Which version of the Ionic and Calendar are you using?

[2017-04-07 01:04] Samzerge commented on #85
This is what I'm using:

Cordova CLI: 6.5.0
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Windows 10
Node Version: v6.9.4
Xcode version: Not installed

ionic2-calendar 0.2.4

[2017-04-07 05:36] weitaoyang commented on #51
Thank you for your reply, I have seen you write on the GitHub, has added a few of these in main.ts. But still report the error. @Gtanxingwen @twinssbc

[2017-04-08 01:17] twinssbc commented on #51
@weitaoyang  Did you add these lines in main.ts or main.prod.ts?

[2017-04-08 10:40] #83 closed

[2017-04-10 00:26] twinssbc commented on #85
@Samzerge Is it working when running in browser?
Could you provide your package.json?

[2017-04-10 15:28] Samzerge commented on #85
When running in browser with ionic serve it returns the same error.

[code]

[2017-04-11 00:14] twinssbc commented on #85
OK. So you are actually using Ionic 2.0.0-rc.4. As the REAMEME says, Ionic2-Calendar 0.2.x is compatible to Ionic 2.0.0-rc.5 and final version onwards. You need to update your Ionic dependency to the newer version.

[2017-04-11 00:57] weitaoyang commented on #51
Yes, I did
I added these lines in main.ts
No file main.prod.ts
@twinssbc

[2017-04-11 01:35] gdesplin opened #86 "EventSource Data binding not working?"
When I set eventSource to new set of data, it doesn't update the view, like I think it should.
[code]
It wont show the new event until after move away the view and change back. It actually removes any event from view until its reloaded. This is all happening in the browser view.

I may just be misunderstanding how eventSource works, or how to keep the view updated.

[2017-04-11 08:25] SimoneMSR opened #87 "Use ionic2-calendar in plunker"
Hello,
I am trying to use the component in plunker.
Would you know what I should put in systemjs.config.js, something like
         `ionic2-calendar" : "npm:ionic2-calendar@0.2.4/`

but if so I get this error when I try do to
      `import { NgCalendarModule  } from 'ionic2-calendar';`

I thik I am not importing well the module, but just some html file.

Thank you very much for your help!

[2017-04-11 09:26] gazialankus commented on #46
So, everyone who clones our repository has to do npm install --save? Also for ionic2-calendar here: https://github.com/twinssbc/Ionic2-Calendar#usage

Is there a way this could be made so that someone can clone my repository that uses ionic2-calendar and does not have to issue manual "npm install --save" commands?

[2017-04-11 13:38] claudiozam opened #88 "Ionic 3 - Angular 4"
Hi, thanks for your excellent plugin and your effort.  Do you have plans to migrate to Ionic 3 + Angular 4?

Thanks!!

[2017-04-11 15:23] twinssbc commented on #86
@gdesplin
What's the relationship between this.events and this.eventSource?
There were similar issues opened by other users, and they are mainly because they thought the logic in the synchronous way, didn't update the eventSource in the async callback.

[2017-04-11 15:36] twinssbc commented on #87
@SimoneMSR I'm not too familiar with setting up the component in plunker.
Below mapping is coming from the config.js of my demo page, I either point the module to a URL or a relative path.
Not sure, "npm:ionic2-calendar@0.2.4" will load the module from npm repository automatically?

[code]

[2017-04-11 15:39] twinssbc commented on #88
@claudiozam Yeah, definitely.

[2017-04-11 15:44] twinssbc commented on #46
@gazialankus I don't quite understand your requirement.
In theory, when you start a new project, you will specify some dependency in package.json and you always need to run "npm install" to install the dependencies so that you can reference them.
But you don't need some one run "npm install ionic2-calendar --save" explicitly if you already added ionic2-calendar dependency in your package.json.

[2017-04-11 16:09] twinssbc commented on #51
@weitaoyang Does this path actually exist?
E:\yjbs\node_modules._ionic2-calendar@0.2.4@ionic2-calendar\calendar.ngfactory.js

[2017-04-11 16:18] SimoneMSR commented on #87
Hello,

thank you for your replay. I have successfully managed to install your component in my plunker. Here you can see the code:
[(https://plnkr.co/edit/psl7o2)]

look at the ` the systemjs.config.js` file

[2017-04-11 19:41] giorgiopiatti commented on #88
I've tried it with Ionic 3 and Angular 4 and all seems to properly work.
There is only one warning:
[code]

[2017-04-13 08:34] hzhu212 commented on #84
@marcRDZ I think you should use `formatDayHeader = " 'E' "` in HTML, because `'E'` is a Javascript string. If you use `formatDayHeader = "E"`, it means `E` is a Javascript variable, which obviously can not work.

[2017-04-13 13:14] ChrisProlls commented on #88
Yes for me too, just this warning but no big errors.

[2017-04-13 14:40] gdesplin commented on #86
What do mean by the async callback.
This is what I mean to post for code last
[code]

this.events is possibly unnecessary, it is a list of event objects, which eventSource is as well. I will look for those other issues opened up that had this same problem. Any you might refer to me?

[2017-04-13 15:15] twinssbc commented on #88
Cool, this is great.
That means I just need to to make little change to get rid off the warnings.

[2017-04-13 15:19] twinssbc commented on #86
@gdesplin
How is this updateEventSource method get called?
Are you using the 'local' or 'remote' query mode?

[2017-04-13 15:29] GenerationLabs commented on #86
Its being called like this
[code]

where var data = this.eventService.createEvent(event); is setting data to a list of events returned from as a response to creating the event, the console.log(data) looks like this
[code]
which there is supposed to be one event total in this case. Is this not the proper format?
This then gets put into that updateEventSource function which doesn't succeed.
I call u

[2017-04-13 15:31] gdesplin commented on #86
@twinssbc
Its being called like this
[code]
where var data = this.eventService.createEvent(event); is setting data to a list of events returned from as a response to creating the event, the console.log(data) looks like this
[code]
which there is supposed to be one event total in this case. Is this not the proper format?
This then gets put into that updateEventSource function which doesn't succeed.

[2017-04-16 22:32] carlos-olivera commented on #85
Hi! I got the same error with ionic v2.2.2

[2017-04-16 23:56] twinssbc commented on #85
@carlos-olivera What's the calendar version are you using?

[2017-04-17 00:27] twinssbc commented on #86
@gdesplin Is createEvent method fetching events from your server or directly generate event objects?

If it's the first case, this is async call, you need to use remote mode. And the response is returned in async way, you won't get anything in data variable. So you need to call updateEventSource method in the callback method of createEvent.

[2017-04-17 01:41] carlos-olivera commented on #85
0.2.4.

I did a project refresh (re import and update node modules), and the problem was gone.

Thanks!

Carlos.

[2017-04-18 01:55] weitaoyang commented on #51
Non-existent

[2017-04-18 01:56] weitaoyang commented on #51
Non-existent @twinssbc

[2017-04-18 01:57] weitaoyang commented on #51
@twinssbc
path is exist
calendar.ngfactory.js Non-existent

[2017-04-18 13:28] BastianHofmann opened #89 "One minute event not displayed"
If you add the following event to eventSource, it is not displayed in the calendar:
[code]

[2017-04-19 00:30] twinssbc commented on #51
@weitaoyang That's weird, because there's only calendar.ngfactory.ts, not sure why it tries to find calendar.ngfactory.js.
I tried your command in my desktop, it works.
May I know which Ionic version are you using? And what's your Ionic cli version?
In theory, when you use Ionic to start a new project, it should have both main.ts and main.prod.ts.
Maybe you could try using a brand new project?

[2017-04-19 00:35] weitaoyang commented on #51
@twinssbc
Thanks again
it's ok!
I add config in tsconfig.json

"files": [
    "node_modules/._ionic2-calendar@0.2.4@ionic2-calendar/index.d.ts"
  ]

and not add below lines in main.ts

import { CalendarComponent } from 'ionic2-calendar/calendar';
import { MonthViewComponent } from 'ionic2-calendar/monthview';
import { WeekViewComponent } from 'ionic2-calendar/weekview';
import { DayViewComponent }

[2017-04-19 00:39] twinssbc commented on #51
Ah ok, I guess you config your tsconfig to load JS be default.

[2017-04-19 00:40] weitaoyang commented on #51
{
  "compilerOptions": {
    "allowSyntheticDefaultImports": true,
    "declaration": false,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "lib": [
      "dom",
      "es2015"
    ],
    "module": "es2015",
    "moduleResolution": "node",
    "sourceMap": true,
    "target": "es5"
  },
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "node_modules"
  ],
  "comp

[2017-04-19 03:34] gdesplin commented on #86
Now I have
[code]
and
[code]
Using that same this.updateEventSource function I had before
i've set it to remote mode like this
[code]
Which i'm sure if that is correct
I am getting this error
[code]
meaning I can't use the eventSource in the callback... What am I missing here? How can I set the eventSource in a callback function in a different file?

[2017-04-19 04:08] gdesplin commented on #86
I just made it work by passing around 'this' like so:
                this.eventService.createEvent(event, this.updateEventSource, this);
and I made sure any function that would be called as a callback received 'this'... I don't know if this is the smartest way to do it, but I guess it works.

[2017-04-19 11:04] apradillo opened #91 "Issue with startingDayWeek"
Hi,
I can't change the first day of the week for month mode view.
I've tried:

In html:
[StartingDayWeek] = "1"
StartingDayWeek = "1"

In ts:
Calendar = {
     Mode: 'month',
     CurrentDate: new Date (),
     StartingDayWeek: '1'
   };

But Sunday always appears as the first day of the week.
I am doing something wrong?

Thanks a lot.

[2017-04-19 11:13] apradillo commented on #91
I'm sorry.
I was wrong, the correct option to change the first day of the week in the month mode view is 'startingDayMonth'.

[2017-04-19 11:13] #91 closed

[2017-04-19 14:42] twinssbc commented on #86
@gdesplin This way looks correct. The key point is to manipulate the eventSource in the callback.

[2017-04-19 15:14] twinssbc commented on #89
@BastianHofmann I can confirm it's a defect in the code, I will fix it in the next version.

[2017-04-20 15:06] twinssbc commented on #82
Resolved in https://github.com/twinssbc/Ionic2-Calendar/issues/51

[2017-04-20 15:06] #82 closed

[2017-04-20 15:10] twinssbc commented on #87
Cool. It's a great sample.

[2017-04-20 15:10] #87 closed

[2017-04-20 22:17] gabrielalack commented on #77
+1 Not sure why, calendar works in browser and Android, but not in iOS, whole thing is just not there.

[2017-04-21 00:12] twinssbc commented on #77
@Tusharbalar I just noticed that you were using this way to create the date object.
[code]

This format is not supported in Safari.

[2017-04-21 00:16] twinssbc commented on #77
@gabrielalack I don't think you are talking about the same issue. Could you open a separate issue?

[2017-04-21 00:29] twinssbc commented on #89
@BastianHofmann The fix has been released in version 0.2.5.

[2017-04-21 00:31] twinssbc commented on #40
@tobika I have added monthviewInactiveDisplayEventTemplate option in version 0.2.5.

[2017-04-21 00:32] #84 closed

[2017-04-21 00:32] #86 closed

[2017-04-21 00:32] #85 closed

[2017-04-21 00:35] #9 closed

[2017-04-21 05:13] Tusharbalar commented on #77
@twinssbc
It works good when i changed date **new Date("2017-03-27T03:30:01.000Z")** to **moment("2017-03-27T03:30:01.000Z").toDate()**

[2017-04-21 05:14] #77 closed

[2017-04-21 21:06] tobika commented on #40
@twinssbc thanks a lot for this :) I guess we can close this issue?

[2017-04-22 03:04] #40 closed

[2017-04-22 16:14] ruileal commented on #55
I agree that this behaviour, more than user friendly, can sometimes be a requirement. Ot at least having an option to have this time autoscroll. For example, if the application is for a 9h-17h business, the user should not be looking at the first hours from midnight.
@twinssbc if source code change is not possible for now, do you see any way to have it set in the component using ionic2-calendar to

[2017-04-24 07:43] faisalsaghir7 opened #92 "error while install npm calendar"
$ npm install ionic2-calendar --save

'typings' is not recognized as an internal or external command,
operable program or batch file.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.1: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"

[2017-04-24 22:22] Adomako-Bismark commented on #88
this doesn't seem to work for me here.
the error i get is:

Can't bind to 'eventSource' since it isn't a known property of 'calendar'

[2017-04-25 05:22] giorgiopiatti commented on #88
@Adomako-Bismark Have you added the module into  page.module.ts?

[2017-04-25 07:48] Adomako-Bismark commented on #88
@giorgiopiatti that was silly of me. forgot to add that previously. just did and it works just fine. thank you very much

[2017-04-25 20:20] cesargrano opened #93 "Insert new Event"
Please I need help.
When I need to include a new event, how do I do this.
I tried to do so

		let event =
		{
			id: 20,
			title: 'Eventa - New',
			startTime: new Date('2017-04-27 14:00:00'),
			endTime: new Date('2017-04-27 14:30:00'),
			allDay: false
		};
		this.eventSource.push(event);

The event does not appear on the day immediately, it only appears when I go to another week or another mon

[2017-04-25 23:31] twinssbc commented on #92
@faisalsaghir7 You need to install typings
npm install -g typings

[2017-04-25 23:42] twinssbc commented on #93
@cesargrano The calendar doesn't watch the element change in side eventSource. You need to reassign the eventSource variable.

[2017-04-26 01:56] cesargrano commented on #93
I managed to solve it like this:

		let event =
		{
			id: 20,
			title: 'Eventa - New',
			startTime: new Date('2017-04-27 14:00:00'),
			endTime: new Date('2017-04-27 14:30:00'),
			allDay: false
		};
		let events = this.eventSource;
		events.push(event);

		this.eventSource = [];
		setTimeout(() => {
			this.eventSource = events;
		});

It was improvised, but it worked perfectly.

Tip: You coul

[2017-04-26 16:59] viklele commented on #54
Thanks it worked - with a small obvious change in your suggestion.

I had to change styles of dayview-allday-table and dayview-normal-event-container.

Regards,
Vikram

[2017-04-26 17:17] viklele commented on #54
How do I get the correct margin-top setting for **weekview-normal-event-container** after setting display: none for **weekview-allday-table**?

[2017-04-26 23:08] gabrielalack opened #94 "month view highlighting"
Hello

I'm wondering how to change the styles on the month view. I want to:

- override the whole day highlight feature and instead show colored blocks for each of the events (without the highlight). I know I can add the event blocks by using the template but I still want to get rid of the highlight.

- override the selection highlighting as well

Is there an easy way to do that?

[2017-04-27 00:34] twinssbc commented on #94
@gabrielalack Are you referring to the GREEN highlight color when you select a day?
When you select a day having event, the css applied on it is like below:
So you can set your own color.
[code]
Another way is you could add css class in your template, and apply background class for your css class. Since the highlight class is applied on the outer DOM element, you should be able to override the sty

[2017-04-27 00:36] twinssbc commented on #54
margin-top: 37px;

[2017-04-27 13:38] ataraxus commented on #88
Hey Guys, I'm on Ionic 3.1.0 and i get these errors

[code]
How did you get this running with angular4 ?

[2017-04-27 13:43] ataraxus commented on #88
I would actually suggest to create a branch/fork Ionic3-Calendar so it doesnt confuse people search for something compatible to ionic3

[2017-04-27 14:46] twinssbc commented on #88
@ataraxus Looks like your error is not related to Ionic3 or Angular4.
It seems related to the postinstall step.
[code]
Could you run npm install -g typings to install typings?
Yes, I will create a branch for Ionic3 compatible version.

[2017-04-27 20:06] lucifer-cross99 opened #95 "Week view - Select day"
I think we should be allowed to select a day in the week view

[2017-04-27 20:58] cesargrano opened #96 "Select event in month or day"
It's like when selecting an event in the week or day, change the background color so you do in the month.

[2017-04-28 00:31] gabrielalack opened #97 "A couple of issues I've noticed"
1. I am using a custom month-view template with custom styling and event display. I notice that when swiping left or right to change month, it shows the unstyled/untemplated default view until the slide action is complete then it applies the template. I really don't like that because the unstyled view does not match what I've worked on at all and there's a weird delay. How hard is it to show the s

[2017-04-28 00:48] RedEars commented on #33
@ThomasKientz I had the same problem. Your workaround worked, thanks!

[2017-04-28 18:44] theunreal opened #98 "Calendar not working in RTL"
I'm using right to left language, the calendar do not appear in this case.

It seem like Ionic2-Calendar using old Ionic version. The newest version, 3.1.0 has alot of fixes and one of them are the slides.

![image](https://cloud.githubusercontent.com/assets/6171883/25542582/d4322450-2c5b-11e7-8907-7b9d94813196.png)

[2017-04-29 20:58] fureszk commented on #94
Probably not the best (getColorClass gets called too many times) but a working solution:

ts:
[code]

html:
[code]

css:
[code]

[2017-04-29 21:11] fureszk commented on #94
@gabrielalack
I believe I wanted the same thing and achieved it. I only have single allDay events, so events[0] works all the time:

ts:
[code]

html:
[code]

css:
[code]

[2017-04-30 01:55] twinssbc commented on #95
@jacob-cross99 Could you elaborate more about this functionality?
How is it selected and once it's selected, what to do next?
If you want to add an event, I guess selecting an hour slot is a more common use case?
The calendar already exposes onTimeSelected callback once an hour slot is selected.

[2017-04-30 01:59] twinssbc commented on #98
@theunreal Yes, the latest calendar version is built on Ionic2.
Although according to this issue, https://github.com/twinssbc/Ionic2-Calendar/issues/88, it's almost compatible with Ionic3, just some warnings.
So I guess your error may related to something else.
Could you check if any error is printed out in the console?
And which version of Ionic, Angular, Ionic2-Calendar are you using?

[2017-04-30 02:10] twinssbc commented on #96
@cesargrano I get the idea, but I think different people may expect different effect. It could be changing the background color when selecting the event or selecting the whole time slot. It could also be changing the background color of the event itself or the whole time slot. So I generally try to avoid a functionality requires tuning for different user.
If you have more specific requirement, fee

[2017-04-30 02:16] twinssbc commented on #97
@gabrielalack There's monthviewInactiveDisplayEventTemplate can be used for your first requirement.
Regarding your second question, it's expected to change the source data each time the rangeChanged callback is triggered. You could load one year data and store it somewhere and provide a slice of data only required for current range. It also make the calendar avoid processing unnecessary events.

[2017-05-01 19:08] gabrielalack commented on #97
Gotcha! Thanks!

[2017-05-02 04:48] faisalsaghir7 commented on #92
npm install -g typings is already installled

[2017-05-02 13:17] #97 closed

[2017-05-02 13:18] twinssbc commented on #92
@faisalsaghir7 If you successfully install typings, you should be able to execute
typings install

Otherwise, could you check if typings binaries appear in your NPM repository and added to your PATH?

[2017-05-02 13:37] cesargrano commented on #96
Got it, but please tell me where I make this color change on week or day when it is selected.

[2017-05-03 12:11] Mona1992 opened #100 "accessing an event by its HTML tag"
Hey there,
I am trying to build a 'drag and drop'-functionality for calendar events of the twinssbc/Ionic2-Calendar in the day view. My goal is to enable postponing an event with drag and drop.
The issue I am facing is that I don't know how to access an event by its HTML tag. 
As far as I know,  the only access to an event is the method 'onEventSelected(event){}' .

Is this possible?
Thank you in

[2017-05-03 14:20] twinssbc commented on #100
@Mona1992
There's a dayviewNormalEventTemplate option.

[code]

As you can see from above code snippet.
The default template is just displaying the event title.
This option was intended for you to customize the view of the events displayed in the day view.
In your case, I think you could add some custom attribute in the template, for example, you put the index of the event array. Then you can retr

[2017-05-03 14:22] twinssbc commented on #96
@cesargrano
Could you let me know you want to change the background color of the selected event, or selected hour, or the whole day? It may lead to different solution.

[2017-05-03 15:06] twbocklertorch opened #101 "How to modify the Event Detail"
I would like to include additional event properties, other than 'title', 'startTime', and 'endTime'.  And I would also like to display these new properties in the event detail section (i.e. when clicking on a day within the month view).
Can you point me to where I need to make these adjustments?
Thanks!

[2017-05-03 18:10] eric-2bcore opened #102 "When will it be upgraded for ionic 3?"

[2017-05-04 11:12] Mona1992 commented on #100
Thank you so much for your quick answer.

How can I set the self-defined directive 'absolute-drag' as an attribute to this template?
I tried the following:
document.getElementsByClassName("calendar-event-inner")[0].setAttribute("absolute-drag", "absolute-drag");

Sadly this did not work since 'document.getElementsByClassName("calendar-event-inner")[0]' was undefined although events had already bee

[2017-05-04 14:36] twinssbc commented on #101
@twbocklertorch You could use monthviewEventDetailTemplate option to customize the information displayed in the event detail section. More details in README.

[2017-05-04 14:38] twinssbc commented on #100
@Mona1992
I think you could try directly setting the attribute when declaring the template.
[code]

[2017-05-04 16:21] kianliang-iium opened #103 "Css class in monthview template gets applied to inactive month"
Thank you for this great calendar.
When I use the template in this way:

<template #template let-view="view" let-row="row" let-col="col">
      {{view.dates[row*7+col].label}}
      <div *ngFor="let items of dataCount | async">
                    <ion-badge class="myBadge" *ngIf="items.$key == view.dates[row*7+col].label && items.dataCount !== 0">{{ items?.dataCount }}</ion-badge>
       </div>

[2017-05-04 23:45] twinssbc commented on #103
@kianliang-iium The inactive days have text-muted class applied to the td element. You could override the style on this class.

[2017-05-05 08:41] hamzahamidi opened #104 "Edit Options"
For some reason, noEventsLabel doesn't change

` <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event) [noEventsLabel]="noEvent"
        step="30"> `

noEvent="pas

[2017-05-07 00:09] mikeyudin opened #105 "Loading Delay"
First, thanks for the great module.

Has anyone noticed a 1-2 second delay on the initial rendering of the calendar?  If I try to load the calendar in a component (via tabs or menu item), it takes some time before the calendar loads.

I'm using Ionic 3 btw.  Still seems to work, just this and one other small issue (opening a separate issue).

[2017-05-07 00:14] mikeyudin opened #106 "Clicking a day in previous/next month loads wrong month."
I've noticed that when I click one of the gray dates (IE previous month or next month), it seems to load the calendar month for 2 months before the clicked month.

For instance:  If I have May 2017 loaded, and click the "30" for April 30th, it actually loads the March month, and selects a day outside of March.   Or, if I select the gray 1 (June 1) with May 2017 loaded, it loads the July calendar.

[2017-05-07 14:42] twinssbc commented on #104
@hamzahamidi noEventsLabel="noEvent"

[2017-05-07 23:36] GuilhermeBCC commented on #105
Hi everybody,

Great job  @twinssbc.

I'm using Ionic 3 too. When debugging my app I noticed a delay of 6s at app initialization when I added the module. Was there a problem with performace?

[2017-05-08 00:41] twinssbc commented on #102
@eric-2bcore I have released the version 0.3.0 which is compatible with Ionic 3. Feel free to have a try.

[2017-05-08 00:43] twinssbc commented on #88
I have released 0.3.0 which is compatible with Ionic3 and Angular4. Feel free to have a try.

[2017-05-08 00:48] twinssbc commented on #106
@mikeyudin Which version of Ionic, Angular and Ionic2-Calendar are you using?
Did you add any customized logic in the onTimeSelected callback?

[2017-05-08 01:52] mikeyudin commented on #106
@twinssbc Sorry, it is my fault.  Was updating the view incorrectly in the `onCurrentDateChanged` handler.  It's working now.  Any advice in #105 would be appreciated though.

[2017-05-08 01:52] #106 closed

[2017-05-08 04:41] ataraxus commented on #88
Great thank you so much!

[2017-05-08 07:30] Adomako-Bismark commented on #88
@twinssbc it appears some of your modules are importing BrowserModule. i have the error below:

ERROR Error: Uncaught (in promise): Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.
Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and

[2017-05-09 00:34] twinssbc commented on #88
@Adomako-Bismark I have removed dependency on BrowserModule in version 0.3.1. Feel free to have a try.

[2017-05-09 00:40] twinssbc commented on #105
Is the delay happening on Android device only?
Quite a few users reported the slowness on Android device.
So far I'm not able to optimize the performance to make the delay unnoticeable.
Using prod version definitely helps.

[2017-05-09 04:27] Adomako-Bismark commented on #88
@twinssbc thank you for the quick update. It works great now.

[2017-05-09 11:36] hamzahamidi commented on #104
Thank you , it works fine

[2017-05-09 14:34] premorion opened #107 "Load date events on modal creation."
Firstly, I wanted to thank you for the amazing job you did with this module.

I am having problems displaying the date events. My implementation creates a modal displaying the calendar causing events of the actual month not being displayed. I need to change the month to actually see the events or reenter the modal view.

This is my implementation:

home.ts
`calendarModal() {
   let contactModal =

[2017-05-09 14:37] claudiozam commented on #88
@twinssbc thanks for your excellent job!

[2017-05-09 14:48] #88 closed

[2017-05-09 14:48] #104 closed

[2017-05-09 14:57] twinssbc commented on #107
@premorion Is this populateEvents loading events asynchronously? If you put a breakpoint in ionViewDidLoad method, is eventSource actually getting valid data? If you directly set some random events to eventSource in ionviewDidLoad method instead of getting from navParams, will it work?

[2017-05-10 04:52] gacostasantex opened #108 "[Customization] Fullscreen calendar - 100% width"
Hi there, I'm trying to make this calendar 100% width. As far I can see, ion-slides fill 100%, but there is some padding thanks to .scroll-content. If I remove that padding calendar shows some part of next slide, also I tried to make each ion-slide 100% width but just worked for first one.
Do you know how can achieve a 100% width calendar?
![screenshot from 2017-05-10 01 48 55](https://cloud.githu

[2017-05-10 09:33] hamzahamidi opened #109 "new Events created don't appear unless I change the mode"
I do create new events in the calendar, but I need to change the mode(month, week ,day) so that I can notice the changes. Any suggestions please.

[2017-05-10 09:40] premorion commented on #107
@twinssbc

- Is this populateEvents loading events asynchronously?
Yep, is retreiving information from a firebase database. I know it is beyond the scope of the question but,
is there any way to wait until the data is available?

Here is my implementation:

populateEvents()

[code]

 Thanks for the help.

[2017-05-10 15:07] twinssbc commented on #109
@hamzahamidi How do you add the new event to the eventSource array? If you directly push the element, the calendar won't notice the element change. You need to change the assignment of eventSource variable.

[2017-05-10 15:12] twinssbc commented on #107
@premorion You basically need to manipulate eventSoure in the async call back method, instead of directly use the return value of the method. Because at that point, the data hasn't been returned. You could use Promise to make the async call act as sync call. Some libraries/frameworks directly support Promise as the return type.

[2017-05-10 15:19] twinssbc commented on #108
@gacostasantex I saw some customization using margin-right: -Xpx to remove the annoying scroll bar width. But in theory, when running the app in the real device, it will try to use the native scroll, which doesn't occupy any space.
Btw, I saw some padding at the left and bottom side in your screenshot, this should not be caused by the scroll bar, maybe there is other CSS class generating the extra

[2017-05-10 17:49] gacostasantex commented on #108
Hi, thanks for your reply. I will test it on real device to see if that
padding disappears or not.

On Wed, May 10, 2017 at 12:19 PM, twinssbc <notifications@github.com> wrote:

--

Guillermo Acosta
*IONIC Developer*

[image: Imagen integrada 10]

Vélez Sársfield 576 - 4° piso.
Córdoba, Argentina.
+54 (0351) 589 7070 <+54%20351%20589-7070>
santexgroup.com <http://www.santexgroup.com/>
Follow us

[

[2017-05-10 19:39] theunreal opened #110 "Can't bind to 'eventSource' since it isn't a known property of 'calendar'."
Latest version, library not working

`Error: Template parse errors: Can't bind to 'eventSource' since it isn't a known property of 'calendar'.`

[2017-05-11 06:49] hamzahamidi commented on #109
@twinssbc  You're right I directly push the element. Could you please give me an example on how to add an event?

[2017-05-11 07:54] theunreal commented on #98
@twinssbc This is not releated tos omething else,
try add `style="dircetion:rtl"` to your calendar and see if it works.
I'm using Ionic 3.1.1, Angular 4 and latest ionic2-calendar (to this date)

[2017-05-11 13:11] hamzahamidi commented on #75
A way to prevent this issue is to set a timer for the buttons:

` <button ion-button [disabled]="goodToChange" (click)="changeMode('month')">M</button>
            <button ion-button [disabled]="goodToChange" (click)="changeMode('week')">W</button>
            <button ion-button [disabled]="goodToChange" (click)="changeMode('day')">D</button>`

in your page.ts
`...`
`goodToChange:boolean`
`...`
mo

[2017-05-12 15:58] premorion commented on #107
@twinssbc Thank you for the information, I will try to do some research,

[2017-05-13 15:10] twinssbc commented on #109
@hamzahamidi You need to create another array and push the existing elements in eventSource into it and assign it back to eventSource. It's not a perfect solution right now, I will try to add some force refresh option.

[2017-05-13 22:56] gacostasantex opened #111 "[Customization] How to limit up to 5 rows on monthview instead of current 6 rows?"
Hi, my question it's about how to display 5 rows on monthview instad of 6 like default. There is a way to do it setting a configutation or should I deep into monthview.js?

Best Regards.

[2017-05-15 06:59] hamzahamidi opened #112 "How to remove allDay row from the dayView & the weekView"
How to remove allDay row from the dayView & the weekView. I'm not planning to use it

[2017-05-16 00:44] twinssbc commented on #112
@hamzahamidi Check this issue https://github.com/twinssbc/Ionic2-Calendar/issues/54

[2017-05-16 00:47] twinssbc commented on #111
@gacostasantex Unfortunately it's not configurable. You need to modify the code in monthview.ts.
Actually 6 rows are necessary, check July this year in the calendar, it occupies 6 rows.

[2017-05-18 06:56] milk-shake opened #113 "No 'monthview-primary-with-event' class added when assigning a new array programatically."
I'm getting dates from an API and mapping those to new event objects and assigning that to the eventSource property.

The events seem to be assigned, clicking a date to remove from the array works as expected but the class is not added to the element.

[2017-05-18 08:04] milk-shake commented on #113
found an issue here:
Line 549 in monthview.ts
[code]

```index``` is _never_ lower than ```timeDifferenceEnd - eps```

I'm not totally sure what ```eps``` is, but for my use case it's simpler to replace that code with
[code]

because there will only ever be one event.

[2017-05-18 14:16] twinssbc commented on #113
@milk-shake I'm not quite sure what issue do you want to solve here.
You are saying

Do you mean actually you didn't see the cell background turns to blue?
What if you click this issue, are the events happen on that day displaying in the below event details list?

Regarding your second comment, this piece of code is to calculate a particular should occupy how many days and set the flag accordingly

[2017-05-18 14:44] twinssbc commented on #105
I did some performance improvement. You could check the "Performance Tuning" section in README. If you don't need to localize some labels, you may be able to save some time.

[2017-05-18 18:27] GuilhermeBCC commented on #105
Ow, Very Good, I'll take a look soon. I and many others use moment.js for locale http://momentjs.com/docs/#/i18n/. Is there any chance of automatically locating this library?

[2017-05-19 00:01] milk-shake commented on #113
The cell did not change to blue, and under further investigation the event was not assigned to the date either.

Clicking the days activated an event on the day, but assigning an array of event objects did not due to something at line 549 meaning the while loop never executing.

[2017-05-19 00:44] twinssbc commented on #105
@GuilhermeBCC I don't want to bind to a specific library. But you can easily implement a date formatter using momentjs now.

[2017-05-19 00:47] twinssbc commented on #113
Usually when user reports the issue that they have assigned the eventSource, but not displayed in the calendar, the root cause is either the assignment doesn't happen in the async callback or the array element is manipulated directly.

[2017-05-19 01:25] milk-shake commented on #113
I checked the other issues and saw that was common, but I am definitely re-assigning a clone because I'm filtering through and removing array elements on every onTimeSelected call and assigning the returned array to ```eventSource```.

I'm also definitely inside my subscription callback because I have the dates and they loop through.

Like I said, I've forked the code and fixed it for myself, but

[2017-05-21 11:30] KarimOmar commented on #98
@theunreal I am also have the same problem with RTL version but it all about missing styling support for RTL
this element <div class="swiper-wrapper" style="transform: translate3d(-278px, 0px, 0px); transition-duration: 0ms;"> has transform rule (-)278px if you make it (+)278px it will be fixed. let say that what I said is not a solution but it's workaround till the component update by @twinssbc
!

[2017-05-21 13:37] mharrisn commented on #110
@theunreal How did you resolve this issue? I'm experiencing the same error. I have the CalendarModule added.

[2017-05-21 16:09] twinssbc commented on #98
@theunreal @KarimOmar I have published the version supporting RTL.
You could add [dir]="rtl" to the calendar element to use this feature.
Note that it's only supported in Ionic 2.3.0 version onwards.
Feel free to have a try.

[2017-05-22 10:15] KarimOmar commented on #98
@twinssbc i checked your update [dir]="rtl" but it didn't add any update to the UI check below screenshot
![myapp ionic lab](https://cloud.githubusercontent.com/assets/5624984/26303427/e94c8206-3ee7-11e7-85f7-2b2293edcdeb.png)

I know that my workaround is not valid or genius but is represent the RTL in UI check screenshot below :
![myapp ionic lab-workaround](https://cloud.githubusercontent.com/a

[2017-05-22 14:21] hakikihacioglu opened #114 "Set minTime and maxTime for hours"
Hi,

I only want to see the hours from 08:00 to 19:00 in weekview and dayview.

Is it possible?

Thank you

[2017-05-23 00:37] twinssbc commented on #98
It should work, which calendar version are you using?

[2017-05-23 00:44] twinssbc commented on #114
@hakikihacioglu Currently, it doesn't have these options.
A workaround is you could set the margin-top and height of the weekview-normal-event-container class to only display part of the table.

[2017-05-23 10:35] bmarci opened #115 "Missleading documentation"
In the docmentation you say:
formatWeekTitle
The format of the title displayed in the week view.
Default value: 'MMMM yyyy, Week w'

In reality the w part gives wrong value. According to the source it is:
'MMMM yyyy, Week $n'
where $n is the week number.

It's a minor thing but it can save some time for other developers like me.

[2017-05-25 23:58] jayordway opened #116 "Disable swiping"
Is there a way to prohibit the user from swiping the calendar back past the current month?

[2017-05-26 03:20] igorcleal opened #117 "Date in en-us"
In my app, the viewTitle and de days of week in the monthView are in en-us
viewTitle is May 2017
and the days of week in the header  = {'SUN','MON','TUE','WED','THU','FRI','SAT'}

How can i do for this values come in pt-br ?

[2017-05-26 03:27] igorcleal commented on #117
I just needed add this {provide: LOCALE_ID, useValue:'pt-BR'} to the providers in app.module.ts
Thanks

[2017-05-26 03:27] #117 closed

[2017-05-27 09:51] aneeskodappana opened #118 "How can i add controls to view next and previous month"
is there any option to add buttons to integrate next and previous button for changing the month

[2017-05-27 10:13] twinssbc commented on #118
@aneeskodappana Previous/Next buttons are not part of the calendar. You could add buttons anywhere. In the click callback, you could add the logic to change currentDate  variable to the date in previous/next month.

[2017-05-27 10:16] twinssbc commented on #116
@jayordway It's not possible in the current version. But the underlyng ion-slides component has this option, I will expose it in the future version.

[2017-05-27 11:06] #118 closed

[2017-05-29 08:16] Astacius opened #119 "Event color in week view"
How to change color of events in week view based on event?

[2017-05-29 10:46] Astacius commented on #119
I have found the answer, if someone is interested I can elaborate.

[2017-05-29 21:40] claudiozam opened #120 "Localization problem"
Hi, I'm using ionic2-calendar@0.3.3. In my IPhone the calendar works perfect (es-AR  = Spanish  Argentina). But in my IPad it shows the calendar only in en-US.

This is my configuration.

[code]

[code]

Cordova CLI: 6.5.0
Ionic Framework Version: 3.1.0
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
Ionic App Scripts Version: 1.3.4
ios-deploy version: 1.9.0
ios-sim version: 5.0.12
OS: macOS

[2017-05-30 10:31] opahti commented on #119
Please do!

[2017-05-30 11:27] Astacius commented on #119
You have to use template as in documentation, I will tell exactly how tomorrow because I am not working today.

`<template #template let-displayEvent="displayEvent">
      <div class="calendar-event-inner">{{displayEvent.event.title}}</div>
  </template>

  <calendar ... [weekviewNormalEventTemplate]="template"></calendar>`

[2017-05-31 06:12] Astacius commented on #119
Ok so here it comes:
[code]

This is my custom template of week view.

[2017-06-01 00:35] twinssbc commented on #55
@viklele @ruileal I have added two scrolling related options, **scrollToHour** and **preserveScrollPosition**, you could get more information from README.
Feel free to have a try.

[2017-06-01 00:37] twinssbc commented on #22
@Daskus1 I have added two scrolling related options, **scrollToHour** and **preserveScrollPosition**. Feel free to have a try.

[2017-06-01 06:34] viklele commented on #55
Thanks.

Will try it and revert with my feedback.

Regards
Vikram

On Jun 1, 2017 6:05 AM, "twinssbc" <notifications@github.com> wrote:

[2017-06-05 14:06] hakikihacioglu opened #121 "Multiple calendars on one page"
Hi,

is it possible to use more than 1 calendar on a page? If yes how can create 2 different variables

Thank you

[2017-06-05 14:49] twinssbc commented on #121
@hakikihacioglu Binding the calendar to two different variables is easy. But just tried to put two calendar elements in one page, it seems the swiping function doesn't work properly. Swiping the second calendar causing the first one moves. Not sure if it's some ion-slides issue.

[2017-06-05 15:06] hakikihacioglu commented on #121
How does assigning different variables to different calendars work?

[2017-06-05 15:09] twinssbc commented on #121
[code]

[2017-06-06 09:48] Astacius opened #122 "Hide all-day label?"
Is there any way to do that?

[2017-06-06 13:34] twinssbc commented on #122
@Astacius Just to confirm you want to hide all-day label in which view?
If it's weekview or dayview, you just want to hide the label or the entire all-day row?

[2017-06-06 13:44] Abhishekl90 opened #123 "How to use this calendar"
Hello,
I using this calendar to show events, and when date is clicked a list of event for that day are displayed.Below are my requirements.

1.As per the demo, when load event button is clicked,events are fetched and all the days with events are displayed with blue background. Now in my app, I fetching events list from a web service, now when I give a call to web service and get events list I am n

[2017-06-06 15:43] Astacius commented on #122
inside both of them, i want to hide entire row

[2017-06-06 16:01] twinssbc commented on #123
@Abhishekl90
1. I assume your fetch event list call is async call? So you need to set the eventSource variable in your async callback.
2. You could use showEventDetail option to hide the default event list.
3. You could use onTimeSelected option to load the events on the selected day.
More details can be found in the README.

[2017-06-06 16:02] twinssbc commented on #122
You could refer to this issue.
https://github.com/twinssbc/Ionic2-Calendar/issues/54

[2017-06-07 04:25] Abhishekl90 commented on #123
@twinssbc Thank you very much for your help, I surely follow these steps.

[2017-06-07 13:49] twinssbc commented on #115
Fixed the README.

[2017-06-07 13:49] #115 closed

[2017-06-07 13:53] twinssbc commented on #120
@claudiozam Does localization work in other pages in your iPad?

[2017-06-07 19:32] dualshote commented on #29
Same for me in France :
`{ provide: LOCALE_ID, useValue: "fr-FR" }` Thx guys 👍

[2017-06-07 20:51] Numalama opened #124 "[onTimeSelected] - Create events"
Hello,

I trying to create events on [onTimeSelected] action to create disponibility.

When I click on an other calendar-cell ([onTimeSelected] action):

The last event is displayed but not the others .
OR.
Just the first event is displayed but not the others.
Some code:

[code]

So, in last solution,
I tried to change the color of the cellule on [onTimeSelected] action to make an "illusion".
like

[2017-06-08 01:26] gdesplin opened #125 "View Change, events not showing up"
I am remotely getting events, and I have my query mode set to remote. When I load the calendar initially it loads the events properly and I can see them. However, when I change the view to a different day or to week view, they no longer show up. When I create a new event or delete one, the eventSource successfully updates again and I can see them again.
I feel like I am misunderstanding what onRan

[2017-06-08 06:08] Astacius opened #126 "when does the calendar update occur?"
whenever i am trying to assign new data to calendar it isn't refreshing at the same time, i have to swap date or change mode and then refresh occurs, is there any way to forcefully refresh calendar? or when is the right time to assign new data source? data in this case comes from async call

[2017-06-08 06:27] Astacius commented on #122
how to access .weekview-allday-table with css?

[2017-06-08 12:57] twinssbc commented on #116
@jayordway I have added lockSwipeToPrev option in the latest version. Feel free to have a try.

[2017-06-08 13:08] twinssbc commented on #125
@gdesplin onCurrentDateChanged is fired when the current selected date is changed, for example, if you swipe to the previous/next month, the selected date will also shift to that month. Or if you select a date, the selected date is also changed.
onRangeChanged is fired when the range of the current view is changed, for example, if you swipe to the previous/next month or change from monthview to we

[2017-06-08 13:09] twinssbc commented on #126
@Astacius You need to manipulate the eventSource in your async callback. Also the calendar only watches the eventSource variable itself, not the individual element in the eventSource array. So you need to assign eventSource to a new variable.

[2017-06-08 13:45] twinssbc commented on #29
@dualshote Do you have problem to display the calendar in French or not?

[2017-06-09 06:09] Abhishekl90 opened #127 "How to add badges in monthview"
Well as the title says, how to show badges in month view, according to the number of event on that particular date.

Thank you,

[2017-06-09 06:28] Abhishekl90 commented on #123
Sir, as u said, I called the events method for that particular day, but I am not able to

[2017-06-09 06:28] #123 closed

[2017-06-09 07:27] Astacius commented on #126
oh i see, thanks for your answer

[2017-06-09 16:07] Daskus1 commented on #22
Works fine! Good work.
the only thing I had to do in order to make it work, since I got a typescript error, was changing `super(el)` to `super()` in the constructor of `src\init-position-scroll.ts`

[2017-06-10 07:03] jayordway opened #128 "Show only dates within currently presented month"
Is there a way to show only the dates that are within the month currently show, or at least disable the dates the lie outside of that month?

[2017-06-10 13:32] twinssbc commented on #127
@Abhishekl90 You could use monthviewDisplayEventTemplate option. You could get more details from README.

[2017-06-10 13:33] #126 closed

[2017-06-10 13:38] twinssbc commented on #128
@jayordway When you pass the events to the calendar, you just need to exclude the events not in current month.
If you want to display the date as disabled state, you could use markDisabled option.

[2017-06-11 16:00] twinssbc commented on #124
@Numalama
Actually the onTimeSelected method in weekview is not always reliable.
If you click a cell which doesn't have any event, ev.startTime is exactly the hour you selected.
If you click a cell which already has any event, ev.startTime is actually the startTime of the selected event. This is because although it seems you click the exact hour, but the element you clicked is the whole floating e

[2017-06-11 16:02] twinssbc commented on #109
@hamzahamidi I've exposed an instance method 'loadEvents', you no longer need to assign a new array to eventSource if you directly modify the element in the eventSource array.

[2017-06-11 16:03] #102 closed

[2017-06-11 16:06] twinssbc commented on #22
@Daskus1 The scroll component in Ionic3 was updated last month to remove the parameter of the constructor. Since I still need to make my code compatible with old versions, so I can't remove that parameter. I may remove it in the future version.

[2017-06-11 16:06] #22 closed

[2017-06-11 16:07] twinssbc commented on #126
@Astacius I've exposed an instance method 'loadEvents', you no longer need to assign a new array to eventSource if you directly modify the element in the eventSource array.

[2017-06-11 16:09] twinssbc commented on #33
I've exposed an instance method 'loadEvents', you no longer need to assign a new array to eventSource if you directly modify the element in the eventSource array.

[2017-06-11 16:11] hamzahamidi commented on #109
@twinssbc  All right :) Thank you

[2017-06-11 16:11] #109 closed

[2017-06-11 18:12] dualshote opened #129 "Problem with hours on the weekview"
Hello,

I have a little problem with de mode "week". The ours keys are hidden... I don't understand. The month view work perfectly :)

Have you an idea for this problem ? :)
Thanks :)
ps : Great job for this component !!

<img width="353" alt="capture d ecran 2017-06-11 a 20 09 23" src="https://user-images.githubusercontent.com/5940350/27013349-2c27fbe6-4ee2-11e7-9e23-8b122a322095.png">

[2017-06-12 00:26] fredlima87 opened #130 "How display full width events"
How can I display full-width events on DayCalendar by avoiding them side by side or 50% by the right?

[2017-06-12 12:50] twinssbc commented on #129
@dualshote It's likely some css problem. Did you override some styles globally? Could you use developer tool to check why nothing displayed under all day row?

[2017-06-12 14:06] dualshote commented on #129
Hi, i don't think that is a css problem... I have juste the "all day" row present in the DOM.... I didn't override the calendar styles for the moment.

Thank's for your help :)

[2017-06-12 17:21] dualshote commented on #129
<img width="405" alt="capture d ecran 2017-06-12 a 19 20 51" src="https://user-images.githubusercontent.com/5940350/27046342-552be814-4fa4-11e7-8e45-3360e4b64218.png">

This is a img from my DOM :/

[2017-06-13 11:17] twinssbc commented on #129
@dualshote The init-position-scroll element in your snapshot is the container of the normal events.
Could you expand it to see if the child elements are rendered and where are they get rendered?

[2017-06-13 13:47] Seao commented on #27
Hi @twinssbc, is it possible to have more details on the workaround using markDisabled option to highlight specific days please ? I'm currently facing this issue, and my implementation using markDisabled is not working as expected.

#### Html
[code]
#### Typescript
[code]
markDisabled is called only when I click on the calendar (event or not), it's triggered exactly like onTimeSelected. How can I

[2017-06-13 16:40] twbocklertorch commented on #101
Thank you.  I've identified the template in calendar.ts.  Not being too familiar with how to make changes, can you instruct me how to change calendar.ts and update my imported plugin?

[2017-06-13 17:17] dualshote commented on #129
@twinssbc Yeah i fount it into the init-position-scroll element ! Thank's ! But i don't understand why they are hidden... I verify all css properties but i don't understand witch property hide it....

<img width="1034" alt="capture d ecran 2017-06-13 a 19 14 46" src="https://user-images.githubusercontent.com/5940350/27095123-e924e99e-506c-11e7-8c35-4d86918422da.png">

[2017-06-13 17:22] dualshote commented on #129
Ok, i found the solution. My calendar component is in a grid component that why the hours are hidden... Thank's for you help :)

[2017-06-13 17:22] #129 closed

[2017-06-14 05:26] Niccolohui opened #131 "delay problem on onEventSelected"
when I click on the event, it takes 300ms to load the onEventSelected.

seems like same as the with and without the tag "tappable" in ion button, how can I improve this?

[2017-06-14 12:05] twinssbc commented on #27
@Seao You want to display disabled date on monthview or other view? In month view, it will be called when rendering each cell, if you return true, there will be a monthview-disabled class applied to the cell.

[2017-06-14 12:13] twinssbc commented on #101
@twbocklertorch
In your calendar.ts, just put an <template> element before <calendar> element.
Notice the # sign, it is to create a reference variable of the template.
Then you could pass that reference variable to [monthviewEventDetailTemplate].
[code]

[2017-06-14 12:17] Seao commented on #27
@twinssbc Thanks for you answer. I'm using exclusively the week view and I would like disable and color in grey the past cells based on the current date. This disabled class looks perfect for fit my purpose, is it possible to use it in the week view ?

[2017-06-14 12:46] twinssbc commented on #27
@Seao this option is not used in weekview. I'm afraid you need to modify the source code.

[2017-06-14 12:53] Seao commented on #27
@twinssbc Ok, I will take a look if I can do something for it. Thanks for your availability 👍

[2017-06-16 01:44] Niccolohui commented on #131
i added the tappable to the calendar.js , it's working. thanks.

[2017-06-16 15:00] twinssbc commented on #131
OK. I will add tappable in my source code.

[2017-06-16 15:00] #131 closed

[2017-06-19 11:40] leon9608 commented on #101
Hi, I am facing a problem. I wanted to use the calendar for my app development. When I installed the ionic2-calendar, it automatically installed under the node_moduels file. There are so many files under the ionic2-calendar file such calendar.d.ts , calendar.js , calendar.js.map , calendar.metadate.json and so on.   And I only see the original code
`<template #monthviewDefaultEventDetailTemplate l

[2017-06-19 12:10] twinssbc commented on #101
@leon9608 you dont need to change the source code. If you want to override the default eventdetail template. you could create a template in your ts file and pass it to the calendar. just like what I pasted in the above comment.

[2017-06-22 10:25] harishios commented on #116
@twinssbc : I want to lock the next swipe also. lockSwipeToPrev works great. Please help.

[2017-06-22 10:31] harishios opened #132 "Disabling Right Swipe"
Hello,

Calendar works like charm, I need to disable the swiping, as of now I can find this (**lockSwipeToPrev**) to prohibit previous swipe, but how to disable right swipe.

Let me know this ASAP, project is on deadline. Please.

[2017-06-22 13:07] twinssbc commented on #132
@harishios Actually I tried to add lockSwipeToNext option, it didn't work quite well. So I only exposed lockSwipeToPrev option. TBH, I don't think it can be achieved in short term, it seems related to the underlying implementation in Swipe.

[2017-06-22 13:41] harishios commented on #132
Thanks for quick response, at least can you tell me how to expose the slider in my code? Or you can add like this to disable swipe have a variable called shouldSwipe.
`
     if (shouldSwipe == true){
       swiperInstance.unlockSwipes();`
     } else {
       swiperInstance.lockSwipes();
     }`

[2017-06-22 14:05] twinssbc commented on #132
@harishios
You could refer to this commit, which is to expose the lockSwipeToPrev option.
https://github.com/twinssbc/Ionic2-Calendar/commit/2e7b537c10817fdb2c310d1042ffc137f19b7afd

Actually my code depends on Ionic Slides component, if it exposes some option in Swiper, then I'm able to use it.
There's no unlockSwipes option, but the lockSwipes option actually supports a parameter to enable/disab

[2017-06-22 14:44] harishios commented on #132
So are you supporting lockSwipes paramter? If then, could you please tell me how to expose it?

[2017-06-23 04:13] longgt opened #133 "MonthViewCalendar: onRangeChanged was fired twice in queryMode=remote"
It seems to be onRangeChanged event was fired twice in queryMode = remote.
During view initialization, slide to next/previous slide, onRangeChanged will be fired twice.
As logic which fetch event data is implemented in onRangeChanged, data will be also fetched twice.
During time selected, onRangeChanged is only fired one time.

If I make some changes to logic in onRangeChanged by

[code]

Although

[2017-06-23 07:00] longgt commented on #133
Workaround for me now

In calendar.service.ts, change logic to trigger to next subscriber only if this._currentDate is different from  parameter val value.
[code]

In HomePage.ts
[code]

[2017-06-23 13:43] maantje opened #134 "Swiping back twice fast moves the calendar forward one day instead of back two"
When swiping back(right to left) twice fast the calendar moves one day forward instead of two days backward (same thing the other way around forward twice fast moves back one day). I am going to guess this has to do with one of the known issues

I can't find out a way to force refresh that cached slide, so you will notice that when sliding from the third month to the forth month, the preview month

[2017-06-24 04:09] twinssbc commented on #132
@harishios The underlying Ionic Slides support this, so it's possible to support this.
But I think you need to test by yourself as I'm not quite sure how are you going to interact with the calendar if the swiping is disabled.
If you want to just use lockSwipes instead of lockSwipeToPrevious, you could follow below steps:
1. Fork my repository
2. Refer to this commit https://github.com/twinssbc/Ion

[2017-06-24 08:57] harishios commented on #132
Thanks for your response. My team is working around it. It will be great if you could add one more parameter and update the calendar, instead doing by ourself because in future we may get conflicts.

Help me plz. Thanks a ton.

[2017-06-24 10:02] rosehashmi commented on #79
Actually i want to change the date using navigation buttons. 'this.calendar.currentDate' is not updating only if i change the calendar view. is there any way to swipe left and right using navigation buttons?

[2017-06-25 00:04] twinssbc commented on #79
@rosehashmi It should work. Could you provide your code in your navigation button callback?
Basically you just need to set the currentDate in your callback. The calendar will navigate to the corresponding month. It's also possible that you are assigning the currentDate to different object? Not the object bound to the calendar.

[2017-06-26 07:26] P-Henoch opened #135 "How to select multiple dates"
I would like to know if it's possible to select multiple dates and how can I do it. I didn't see anything in the documentation or previous issues.

[2017-06-26 07:30] Astacius commented on #135
you can make it on your own easily

[2017-06-26 07:32] Astacius opened #136 "is there any way to change width of .calendar-event?(week, day views)"
ive customized pretty much everything i wanted but somehow i cant change width of this element, how to do that?

[2017-06-26 13:37] twinssbc commented on #133
@longgt I can confirm the onRangeChanged event is triggered only once during the view initialization. Once you slide to previous/next month, it will also be triggered, but only once.
Sounds like you want to slide to the previous/next slide during view initialization? You just need to set the initial calendar.currentDate to a date in previous/next month.

[2017-06-26 13:43] twinssbc commented on #136
@Astacius If you add !important, it should be able to override the inline style.

[2017-06-26 13:48] twinssbc commented on #135
@P-Henoch How do you want to select multiple dates? Hold and move your finger? But it will conflict with the swipe gesture.
Suppose you want to select multiple dates by several clicks, you could record your clicked date. Since the calendar itself only highlight the current selected date. You could use a custom template to your recorded clicks.

[2017-06-26 15:01] twinssbc commented on #132
@harishios I have exposed the lockSwipes option in the latest version. You could get the usage from README. Feel free to have a try.

[2017-06-26 19:28] Astacius commented on #136
oh wow... why i didnt think about this

[2017-06-26 19:28] #136 closed

[2017-06-26 19:47] newbie-ionic commented on #79
Hi @twinssbc,
I am very new to Ionic. I am trying to show week view. But I want navigation for month also. How could I achieve that? Can you please send me source code so it will be very helpful for me.

[2017-06-27 01:30] twinssbc commented on #79
@newbie-ionic You want to navigate by month in the weekview? I suppose you will have some button to let you select the month. Then in the click callback method, you just need to set the currentDate to a date in the selected month.

[2017-06-27 03:58] longgt commented on #133
@twinssbc
Thank you for you answer.

I've just confirmed with latest version (0.3.7) and when sliding to prev/next month, onRangeChanged was triggered twice, not once.

I'm using Ionic 3.4.0 and here is how to reproduce.
1. Start new Ionic project with sidemenu template
2. Install the latest version of ionic2-calendar (0.3.7)
3. Source
In HomePage.ts
[code]
In HomePage.html
[code]
Just like your a

[2017-06-27 08:50] newbie-ionic commented on #79
Hi @twinssbc,
Thank you for replying. I have written one click event on previous button to which I have set previous month date. But calendar view is not rendering as per month. It is showing same week view.

[2017-06-27 10:06] harishios commented on #132
Thanks a TON boss. It's working perfectly. Appreciate it!!

[2017-06-27 10:06] harishios commented on #132
Thanks a TON boss. It's working perfectly. Appreciate it!!

On Mon, Jun 26, 2017 at 8:31 PM, twinssbc <notifications@github.com> wrote:

--
Regards,
Harish.P

[2017-06-27 10:10] twinssbc commented on #79
@newbie-ionic Could you provide your code that is changing the date in the click callback method?

[2017-06-27 10:13] #132 closed

[2017-06-27 10:33] newbie-ionic commented on #79
I have taken one button for previous month view.

previousMonthButton() {
    this.calendar.currentDate = new Date(this.calendar.currentDate.setMonth(this.myDate.getMonth() - 1));
  }

[2017-06-27 14:39] twinssbc commented on #79
@newbie-ionic I just tested that it's working. Is it possible something wrong with this.myDate?

[2017-06-27 14:47] newbie-ionic commented on #79
Can you please tell me what is wrong with code? It will be really helpful for me. Your help will be appreciated.

[2017-06-27 14:53] newbie-ionic commented on #79
I have declared myDate = new Date();
I am able to get previous month title which is bind to {{viewTitle}}. But when I click on previous month, I am able to see days from 1 to 7 of previous month. Other days are not displaying. It will show next month's days directly.

[2017-06-27 15:35] twinssbc commented on #133
@longgt It makes sense that the first trigger is caused by the onSlideChanged when you swipe the view.
The second trigger which is caused by the setCurrentDate  only happens the calendar.currentDate is set from outside of the calendar. Is there any logic in your code that is changing calendar.currentDate?

[2017-06-27 15:37] twinssbc commented on #79
The problem is myDate never changes?
Below code is working in my project
[code]

[2017-06-27 20:52] danielfnz opened #137 "Can startingDayMonth == currentDate?"
Is it possible to put the first day of the month as if it were currentDate using mode month?

[2017-06-27 23:12] twinssbc commented on #137
@danielfnz It's not possible. All dates in the current month needs to be displayed in the view. Let's say today's date is 27, if you put 27 as the starting day, it only displays three days for this month, which is not quite reasonable.

[2017-06-28 01:50] danielfnz commented on #110
@twinssbc I have the same error when build --prod;

Using "ionic server" its ok;

[2017-06-28 04:04] longgt commented on #133
@twinssbc No, calendar.currentDate is set to current date in the view initialization and unchanged after that.
I think when swiping to prev/next view, as autoSelect is set to true (default value), the value of calendar.currentDate in HomePage.ts will be changed and when the view is re-rendered, because CalendarComponent thinks it changed, onRangeChanged event is triggered.

[code]

[2017-06-28 05:57] newbie-ionic commented on #79
Thank you @twinssbc.

[2017-06-28 22:41] ngarland79 commented on #121
Including ion-slides on the same page as the calendar actually locks the slides. Can't move them. Same thing with putting two calendars on the same page. Only the first one is swipeable.

[2017-06-29 07:58] twinssbc commented on #110
@danielfnz Did you add NgCalendarModule in your app.module files?

[code]

[2017-06-29 10:56] danielfnz commented on #110
Yes, i did.

Em 29 de jun de 2017 4:58 AM, twinssbc <notifications@github.com> escreveu:

@danielfnz<https://github.com/danielfnz> Did you add NgCalendarModule in your app.module files?

imports: [
        NgCalendarModule,
        IonicModule.forRoot(MyApp)
    ],

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/twinssbc/Ioni

[2017-06-29 15:10] mfalzetta opened #139 "Method onTimeSelected is Called 3 Times in The Same Click Event"
Hi friends,

All click in calendar page trigger 3 calls to onTimeSelected method and this make me load the content of calendar 3 times.
The method onCurrentDateChanged is called 3 times too.

I dont know if the issue (mentioned in the title) is a feature (bad configuration) or bug.

Someone can help me please?

**My page configuration:**

`<calendar [eventSource]="eventSource"
            [calenda

[2017-06-30 09:12] DennisBusk opened #140 "How can I change the first day of the week in monthview?"
How can I change the first day of the week in monthview?

I have allready changed it in weekview.
But what about monthview?

[2017-06-30 15:20] revanthmahesh opened #141 "calendar element is not getting loaded in component html"
'calendar' is not a known element:
1. If 'calendar' is an Angular component, then verify that it is part of this module.
2. To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component

[2017-06-30 19:51] jordanpurinton opened #142 "ionic cordova run android --prod won't allow Ionic2-Calendar"
I'm trying to run my app in prod mode, however I keep getting the following errors:

` 1. If 'calendar' is an Angular component, then verify that it is part of this module.
2. To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component.`

I've already tried importing the `NO_ERRORS_SCHEMA` and `CUSTOM_ELEMENTS_SCHEMA` into my NgModule decorator in my module file, but I

[2017-07-03 23:46] danielfnz commented on #142
Me too has this error! Are you solved it?

[2017-07-04 13:55] wilsoncx commented on #120
Good morning, am I having this same problem could you help me?
` {provide: [ErrorHandler,LOCALE_ID], useClass: IonicErrorHandler, useValue: 'pt-BR'}`

[2017-07-05 11:59] jordanpurinton commented on #142
@danielfnz Unfortunately no, the only potential solutions I found online were to add those schemas into the NgModule decorator and those didn't do the trick for me. Have you found a workaround?

[2017-07-05 12:32] santoshmodi opened #143 "How to hide allDayLabel in week view and day view"
Hi,
How to hide allDayLabel in week view and day view. I don't want to show allDayLabel . Is there any way to do this?

thanks

[2017-07-05 21:16] ALSephirot commented on #60
I have the same problem, the markDisabled event only fires when I select the date or time, but I want to hide it when rendering or disabling the tap event and putting it in another color

[2017-07-07 05:48] divijm commented on #119
Can you explain a little more on how/where you implemented this? Or do you mind sharing your repo please where you tried implementing this calender component! :) @Astacius

[2017-07-07 06:04] divijm commented on #140
Can you share how you changed it in the week-view please? @DennisBusk

[2017-07-07 06:13] divijm commented on #23
Can you show how you did this please @severus1990? Thanks

[2017-07-07 06:37] twinssbc commented on #142
@jordanpurinton Could you try upgrading your ionic-angular dependency to a newer version?
Below is the dependencies in my package.json and it works ok when running ionic cordova run android --prod
[code]

Also did you add NgCalendarModule in app.module.ts?

[2017-07-07 06:40] twinssbc commented on #143
@santoshmodi Yes, you could apply display:none to weekview-allday-label and dayview-allday-label css class.

[2017-07-07 06:51] twinssbc commented on #60
@ALSephirot markDisabled should be fired when rendering. Is it possible you bind markDisabled to some timeSelected event?

[2017-07-07 06:59] twinssbc commented on #120
@wilsoncx
You need to put LOCALE_ID declaration separately.
[code]

[2017-07-07 07:03] divijm commented on #81
@lampofdrog @twinssbc Can you guys expand on this please! I am new to Ionic and trying to customise the events in the weekview but not sure where to add the code in the folder structure exactly?

Can you please help clarify.

Thanks in advance! :)

[2017-07-07 07:39] twinssbc commented on #141
@revanthmahesh Could you provide your dependencies in package.json?
Also did you add NgCalendarModule  in app.module.ts?

[2017-07-07 07:43] twinssbc commented on #139
@mfalzetta Could you clarify which method is triggered 3 times? onCurrentDateChanged  or onTimeSelected? Also why do you load the events when triggering onCurrentDateChanged or onTimeSelected? Instead of loading the events in onRangeChanged?

[2017-07-07 07:46] twinssbc commented on #110
@danielfnz Do you have main.prod.ts file? Do you add the below lines to it according to README?

[code]

[2017-07-07 07:56] twinssbc commented on #133
@longgt
onRangeChanged is called in refreshView method.
There are two types of currentDateChanged events in the calendar code.
[code]

refreshView is only called in the currentDateChangedFromParent event which is triggered from outside of calendar. The currentDate change inside the calendar won't cause this.
[code]

[2017-07-07 07:58] twinssbc commented on #81
@lampofdrog Below template code is put in the same html file that where you declare the calendar element.

[code]

[2017-07-07 09:53] DennisBusk commented on #140
// Change the starting day in Week view
[startingDayWeek] = "startingDayWeek"

// Change  the starting day in Month view
[startingDayMonth] = "startingDayMonth"

  startingDayWeek = 1;
  startingDayMonth = 1;

[2017-07-07 09:53] #140 closed

[2017-07-07 13:03] Astacius commented on #119
http://www.codeexpertz.com/blog/mobile/ionic-2-calendar

[2017-07-07 14:34] wilsoncx commented on #120
Everything was fine thank you

[2017-07-07 16:31] jordanpurinton commented on #142
@twinssbc This resolved my issue, however now I'm getting template parse error:

Can't bind to 'monthviewDisplayEventTemplate' since it isn't a known property of 'calendar'. ("

I won't paste the whole error, but it essentially says this about all of the other fields in <calendar>

[2017-07-07 16:40] jordanpurinton commented on #142
Wellp, not too sure how, but the prod build is working now. I'll close this for now and repost here if figure out why it's working now.

[2017-07-07 16:41] #142 closed

[2017-07-07 17:21] #120 closed

[2017-07-07 20:07] wilsoncx opened #144 "How to configure with firebase"
Hello,
I would like a help, I was wanting to use the firebase as a database it is realtime, so I wanted to be able to change the current events to load at the beginning or directly from the bank without needing to be giving a reload at the bank, have to do this could give me Help in this.

[2017-07-08 03:24] wilsoncx commented on #107
Hello,
Firstly thanks to work this component is very good.
But I'm having a problem similar to the one reported here;
I use the firebase too I am loading the data and populating the same eventSource out of the friend above, I have already verified that it loads the data to the eventSource at startup I am doing this in ionViewDidLoad, but when I initialize the component it does not load the events,

[2017-07-08 03:50] #144 closed

[2017-07-08 08:33] divijm commented on #119
@Astacius  I can display the calendar with all the views (month, week, day) and load the events fine! :)

I was more asking in regards to the ng-template section of your code which you posted recently - I am not sure which file I have to include that it in specifically. I want to edit the colors of the events etc.

[2017-07-08 14:51] divijm commented on #144
Hey @wilsoncx - how did you manage to get around this? Did you find a solution? I am thinking to integrate my app with firebase too for live database.

[2017-07-08 17:36] wilsoncx commented on #144
Not yet, but I'm still trying to solve this problem.

[2017-07-10 04:01] divijm opened #145 "Customising the hours on the Week View"
I want to customize a few things on the hour column - any help would be much appreciated.

1. I want to only show every second hour on the left-hand side - e.g 6am, 8am, 10am etc.

2. I want to start the hour column at 06:00 rather than the current 00:00. I know there is a scroll-to-hour view functionality but I would rather get rid of those initial hours at the start of the page and push them to

[2017-07-10 04:18] divijm commented on #144
Please share once you are able to come to a working solution! :)

[2017-07-10 06:16] Astacius opened #146 "How to customize dynamically weekview hour range?"
The default hour range is from 12AM to 11PM, is there any way to customize this according to the hour of earliest and latest event?

[2017-07-10 12:22] Li3wish opened #147 "Translate days in month-view"
Hi, first of all thank you for your amazing job.

I'm develloping an app using your calendar and it's translated in four languages. Therefore, I need the days to be translated too. I've seen the trick using LOCAL_ID but I can't use it while there is the possibility of multiple languages.

What I'm using elsewhere in my code is moment.js. Is it possible to access the days and format it with moment(

[2017-07-10 14:02] twinssbc commented on #145
@divijm Below are my comments.
1. It's not supported to show every second hour unless changing source code.
2. You could apply margin-top to hide part of the hour rows.
[code]
3. The format in default DatePipe doesn't support am in lowercase. You could use dateFormatter option to write a custom formatWeekViewHourColumn and formatDayViewHourColumn. You could get more usage from the README.

[2017-07-10 14:11] twinssbc commented on #144
Hi, I think how to use firebase is out of the scope of this control.
The calendar refreshes its view as long as eventSource is changed.
If you want to load the events at the beginning, you could add logic in ngAfterViewInit or ionViewDidLoad hook like below.

[code]

[2017-07-10 14:13] twinssbc commented on #147
@Li3wish I think you could use dateFormatter option. It allows you to write several custom format method. You could get more detail from README.

[2017-07-10 14:18] twinssbc commented on #146
@Astacius Do you mean you want to change the hour range based on the events in this week? What if there's no event in the current week?
If you just want to change to a fixed range, you could set margin-top and height of weekview-normal-event-table like below. But it won't support set different range in each week.

[code]
Or you could use scrollToHour option to scroll the view to a specific hour by

[2017-07-10 14:19] twinssbc commented on #119
@Astacius You just need to include ng-template section in your html file which declares calendar element.

[2017-07-10 14:21] twinssbc commented on #107
@wilsoncx Could you provide the code snippet that is loading events in ionViewDidLoad?
If your loading events call is an async call, you need to populate the eventSource in your callback function.

[2017-07-10 14:42] wilsoncx commented on #144
` onRangeChanged(ev) {
         let loader = this.loadingCtrl.create({
        content: "Caregando Eventos...",
        });
       loader.present();
               let tmp = [];
          this.authData.getEventos().subscribe(evento=> {
            evento.forEach(element => {
                tmp.push({
                codigo: element.$key,
                title: element.title,
                descr

[2017-07-10 14:44] wilsoncx commented on #107
` onRangeChanged(ev) {
         let loader = this.loadingCtrl.create({
        content: "Caregando Eventos...",
        });
       loader.present();
               let tmp = [];
          this.authData.getEventos().subscribe(evento=> {
            evento.forEach(element => {
                tmp.push({
                codigo: element.$key,
                title: element.title,
                descr

[2017-07-10 20:52] Li3wish commented on #147
@twinssbc Thanks for answering that fast. It works like a charm.

[2017-07-10 20:52] #147 closed

[2017-07-11 02:12] chd999 opened #148 "Error: ./~/_ionic2-calendar@0.3.7@ionic2-calendar/calendar.ngfactory.ts Module build failed: TypeError: Cannot read property 'content' of undefined"
use ionic cordova build ios --prod

ionic_app-scripts1.3.4 no error , but ios app Can't use
ionic_app-scripts1.3.4----ionic_app-scripts1.3.12 error

leetekiMac-mini:MyTest0013 xyw$ sudo ionic cordova build ios --prod
✔ Creating ./www directory for you - done!

✔ Running command - done!
Running app-scripts build: --prod --iscordovaserve --externalIpRequired --nobrowser

[09:52:15]  build prod start

[2017-07-11 02:20] divijm commented on #145
Thanks @twinssbc for your replies. I had tried using the dateFormatter option through the Readme - but wasn't successful in implementing what I want to do for dot point number 3. So if I started at 00:00 and wanted to place that value in the first cell on the hour column and continue till the 24:00 - what would I put in the date formatter:

Current work in progress -
[code]

[2017-07-11 09:07] micaz commented on #81
https://github.com/twinssbc
<template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
Can I Pass Additinal Paramater (not showEventDetail, selectedDate, noEventsLabel)

[2017-07-11 09:11] micaz commented on #81
<template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  ...
  </template>
@twinssbc Can I Pass Additinal Paramater (not showEventDetail, selectedDate, noEventsLabel)

[2017-07-11 13:55] twinssbc commented on #148
@chd999 You need to install intl
[code]

[2017-07-11 13:57] twinssbc commented on #145
@divijm formatWeekViewHourColumn accepts a date parameter and returns a corresponding string, instead of all hour names.
For example,
[code]

Actually you could also use this formatter to achieve your first requirement.
You just need to return empty string if the date is at 1 am, 3 am, 5 am...

[2017-07-11 13:58] twinssbc commented on #81
@micaz Unfortunately it doesn't support other parameter. What else info do you want to pass?

[2017-07-12 07:25] chd999 commented on #148
@twinssbc   sorry， I forgot to  install intl.    but  ，  After the installation.

ionic_app-scripts1.3.4 no error , but ios app Can't use
ionic_app-scripts1.3.5----ionic_app-scripts1.3.12 error

[2017-07-12 07:47] chd999 commented on #148
I have updated the  issue.
There is a new error message.

[2017-07-12 09:25] twinssbc commented on #148
@chd999 What's the new error message?

[2017-07-12 10:26] chd999 commented on #148
@twinssbc

✔ Creating ./www directory for you - done!

cordova platform add --save ios
✔ Running command - done!
Running app-scripts build: --prod --iscordovaserve --externalIpRequired --nobrowser
[15:17:47] build prod started ...
[15:17:47] clean started ...
[15:17:47] clean finished in 1 ms
[15:17:47] copy started ...
[15:17:47] ngc started ...
[15:17:59] ngc finished in 12.20 s
[15:17:59] prepr

[2017-07-12 12:59] twinssbc commented on #148
@chd999 It's probably related to ionic-app-scripts.
There was same issue created and some user also works when downgrading to 1.3.4.
https://github.com/ionic-team/ionic-app-scripts/issues/1010

[2017-07-12 16:40] chd999 commented on #148
@twinssbc
Thank you, I see.

[2017-07-12 22:32] jordanpurinton opened #149 "Condensed month view?"
I really like the month view and how easy it is to customize the various templates, however, I find that it would be much nicer to be able to set the amount of weeks that you can view in month view.

I realize that you have a week view, but I find that view to be too condensed and difficult to parse through things.

![capture](https://user-images.githubusercontent.com/12102971/28142731-8a3c683e-67

[2017-07-13 01:26] wilsoncx opened #150 "Displaying events by date"
![sample_project_-_page_ _moqups](https://user-images.githubusercontent.com/5439657/28146546-2f08aa72-6751-11e7-932e-edd2df551282.png)

I would like to know how to view the events only by date without the calendar, more or less like this image.

[2017-07-13 06:28] Astacius commented on #146
Is there any way to set scrollToHour according to current week? Not only globally?

[2017-07-14 02:34] gerardob commented on #110
hi @twinssbc I have the same issue when try to use --prod; I have the:

import { CalendarComponent } from 'ionic2-calendar/calendar';
import { MonthViewComponent } from 'ionic2-calendar/monthview';
import { WeekViewComponent } from 'ionic2-calendar/weekview';
import { DayViewComponent } from 'ionic2-calendar/dayview';

in the main.ts it's look like:

import { platformBrowserDynamic } from '@angula

[2017-07-14 13:56] ryaa commented on #143
The below worked for me

`
  .weekview-allday-table,
  .dayview-allday-table {
    display: none;
  }
  init-position-scroll {
    &.weekview-normal-event-container {
      margin-top: 37px;
    }
    &.dayview-normal-event-container {
      margin-top: 0px;
    }
  }
`

[2017-07-14 14:30] twinssbc commented on #149
@jordanpurinton There's no functionality to control the number of weeks to be displayed in the month view. Because it's not just about changing the layout, you also need to sort out the navigation. How do you want to view the other hidden weeks in the month. Different people may have different opinion to achieve that.

Regarding the condensed week view, you don't have to display all events in the

[2017-07-14 14:32] twinssbc commented on #150
@wilsoncx You don't have to always display events using this calendar control, you could easily create your own page which contain a list to display the events happen on a particular day.

[2017-07-14 14:36] twinssbc commented on #146
@Astacius Unfortunately scrollToHour is used during the weekview initialization phase. Once it's set, navigating between weeks always use the same value. You could use some low level DOM selection query to locate the list and scroll it to your desired position.

[2017-07-14 14:36] #143 closed

[2017-07-16 06:01] twinssbc commented on #110
@gerardob Since you are using a page module, you need to add NgCalendarModule in the imports field of your page.module not app.module.

[2017-07-16 06:03] #148 closed

[2017-07-16 15:22] #145 closed

[2017-07-16 15:37] divijm opened #151 "Calendar Current Time Red Line"
Hi @twinssbc - feature request for this functionality please

A live time-tracker denoted with a red-line marker or similar.

![how-to-use-google-calendar-to-create-an-event-8-638](https://user-images.githubusercontent.com/25699280/28248938-6bc4fcf8-6a90-11e7-9057-c43167f5f9d4.jpg)

[2017-07-16 15:44] divijm opened #152 "Drag and Drop Feature Request"
@twinssbc - love your calendar component and your continuous support!

After looking through all the other issues (open and closed), it seems that the drag and drop feature is needed!

Kindly requesting this feature for any future update plans.

Thanks!

[2017-07-16 23:49] patrickbussmann opened #153 "allDay with momentjs is not working as expected"
I'm using version `^2.18.1` of `moment` and `^0.3.7` of `ionic2-calendar`.
And if I try to load events from my custom remote backend via API and show them in the calendar I see the events on wrong date.
I think there is a problem with the understanding of your sentence with `If allDay is set to true, the startTime has to be as a UTC date`.

## Test 1

![2017-07-17 01_31_58-kalender](https://user-i

[2017-07-17 09:25] Abhishekl90 opened #154 "Swiping issue"
Hi,
I am getting this error

`Error: Error in ./MonthViewComponent class MonthViewComponent - inline template:2:12 caused by: Invalid regular expression: unmatched parentheses`

while swiping to next or previous months. What is the issue I am not able to figure it out
Thanks

[2017-07-17 23:47] gerardob commented on #110
yes thank you!! in the weekend I was testing and I do that and working perfectly..

another question not related. where are the default template of the month view event? I need use the same template only I need make a little change but I don't see that in the repo files??

[2017-07-18 07:22] EiJiKo opened #155 "How can I update time in event display?"
I used date array  like this.
var startArr=["2017-06-13 00:00:00","2017-06-13 02:00:00","2017-06-13 03:00:00","2017-06-13 04:00:00"];
 var endArr=["2017-06-14 00:00:00","2017-06-14 002:02:00","2017-06-14 03:03:00","2017-06-14 04:04:00"];

In UI, time is showing like this.
![git](https://user-images.githubusercontent.com/30255272/28304942-5b12265c-6b89-11e7-9001-f03372952872.png)

It shows all time

[2017-07-18 10:48] patrickbussmann commented on #153
I fixed this temporarily with this function.

[code]

[code]

Maybe there is a better solution but this is the only one I can work with at the moment 👍

[2017-07-19 12:19] twinssbc commented on #153
I think you need to make sure the hour, minute and second part are all 0, even when converting using momentjs.

[2017-07-19 12:20] twinssbc commented on #154
@Abhishekl90 Did you customize anything? Maybe you could provide the code snippet that using this calendar control?

[2017-07-19 12:25] twinssbc commented on #110
@gerardob The default template is in https://github.com/twinssbc/Ionic2-Calendar/blob/master/src/calendar.ts

[2017-07-19 12:28] patrickbussmann commented on #153
No this is no problem, @twinssbc.
I need this because I convert all calendar dates using this function.
No matter if `allDay` is true or false.
But it seems to be working completely for all cases 👍

[2017-07-19 12:36] twinssbc commented on #155
@EiJiKo You could use monthviewEventDetailTemplate option to customize the look of this section.
You could get more information from README.

[2017-07-19 20:02] rangathedon opened #156 "Calendar not showing up"
I have tried the exact steps given to show a calendar in an ionic app but the calendar does not appear; how do I debug the behavior? I dont see any error on console either;

[2017-07-20 03:26] EiJiKo commented on #155
@twinssbc Thanks a lot. It is a real solution.

[2017-07-20 03:26] #155 closed

[2017-07-20 08:24] EiJiKo opened #157 "How to set background color of specific date(had event) in calendar?"
In my calendar.ts, I have **eventSource** array like this..
 **event.push({
       title:holiday_desc[i],
       startTime:_startTime[i],
       endTime:_endTime[i],
       style:"background-color:rgb(255, 0, 0) !important;"
        });**
Then, holidays(with default setted background color) are shown in like that..

![git](https://user-images.githubusercontent.com/30255272/28407014-1dfb6504-6d22-1

[2017-07-20 11:29] twinssbc commented on #156
@rangathedon Maybe you could inspect the DOM element using the developer tool to see if the calendar element is rendered or not? Maybe it's hidden because of some other elements? If you could provide the code snippet that is using the calendar, that will be helpful.

[2017-07-20 11:40] twinssbc commented on #157
@EiJiKo As your title indicates, the holiday date has event attached?
You could give your event a special property, for example
[code]

Then in your template, you could use ngClass to add css class depends on this field, for example
[code]

[2017-07-20 15:39] rangathedon commented on #156
the only element on the page is calendar element; I dont see it being
rendered; size sticks at 0, 0;

On Thu, Jul 20, 2017 at 4:59 PM, twinssbc <notifications@github.com> wrote:

[2017-07-20 20:33] jordanpurinton commented on #149
@twinssbc thank you and again, wonderful component you've built here.

[2017-07-20 20:33] #149 closed

[2017-07-21 07:48] EiJiKo commented on #157
**Yes** ! It worked @twinssbc . I have learned a lot because of you. Thanks you so much.

[2017-07-21 07:48] #157 closed

[2017-07-21 14:34] twinssbc commented on #156
@rangathedon Could you provide the code that is using the calendar?

[2017-07-21 16:00] rangathedon commented on #156
got it working; looks like the issue was with the project created with
ionic creator; ionic creator is a mess; thanks a lot for the support;

On Fri, Jul 21, 2017 at 8:04 PM, twinssbc <notifications@github.com> wrote:

[2017-07-23 10:09] yewness opened #158 "Adding different color of event to the calendar based on category."
I am trying to implement a monthly calendar that has schedules and holidays. Does the plugin have default way to change the color of the event or I have to change it with css? Let's say green for schedule and blue for holidays.

[2017-07-24 07:23] thanhdk opened #159 "<ng-template> not show inside <ion-col> on android 6"
Hi, I have a problem to show dayview mode of calendar.
I have a screen that divide on 2 columns, 1 for display days of month and 1 for display dayview. I put the calendar inside ion-col with my custom template but it's not show on android 6, but android 8 is ok. Anyone have this issue?

[2017-07-24 09:38] dluque92 commented on #88
@twinssbc Hello, thanks for your amazing plugin. Do you have plans to put descriptions inside the events? Thanks!

[2017-07-24 12:03] twinssbc commented on #158
@yewness You need to change the color with css.

[2017-07-24 12:05] twinssbc commented on #88
@dluque92 By using the View Customization options, you could display any custom fields. You don't have to use predefined fields.

[2017-07-24 12:12] twinssbc commented on #159
@thanhdk Is there any error displayed in the console? If you try ng-template in your other page, does it work? Maybe you could also investigate if it's because of the different WebView version in android 6 and 8.

[2017-07-24 12:13] #156 closed

[2017-07-25 02:33] thanhdk commented on #159
Yes, I have inspected on Chrome and found that there is different between android 6 and 8.
With android 8, the height of calendar can display with the attribute "height: 100%", but android 6 is not. So that I have to set the height programmatically depend on the contentHeight of device.

`ngAfterViewInit() {
        // Disable lockSwipes
          let vm = this;
        setTimeout(function () {

[2017-07-25 02:45] thanhdk commented on #158
right, and I think you should use with custom template

[2017-07-26 11:05] cgrddv opened #161 "ionic3.5.0 used ionic2-Calendar"
hello,i have install typings and intl(1.2.5),but calendar directive is wrong
[code]
anyone help me out , thanks

[2017-07-26 12:14] twinssbc commented on #159
@thanhdk Could you try just setting the height on dayview-container css class?
[code]

[2017-07-26 12:18] twinssbc commented on #161
@cgrddv Did you follow README to import the calendar module? Maybe you could show the related code  that is using the calendar?

[2017-07-26 15:54] plindsay opened #162 "Programatically trigger swipe left/right?"
Hi, finding this library very useful for my app, I have a query though. Is there a way of programmatically swiping or moving the calendar either left or right (I'm was thinking of something similar to the slideNext() or slidePrev() functionality of the built-in Ionic Slides component).

e.g. I want to have buttons above the calendar which also trigger a swipe when clicked/tapped.

Cheers, Phil

[2017-07-27 01:33] cgrddv commented on #161
**thank your help**
import { BrowserModule } from '@angular/platform-browser';
import { ErrorHandler, NgModule } from '@angular/core';
import { IonicApp, IonicErrorHandler, IonicModule } from 'ionic-angular';
import { SplashScreen } from '@ionic-native/splash-screen';
import { StatusBar } from '@ionic-native/status-bar';
import { MyApp } from './app.component';
import { Logger,UtilService } from '

[2017-07-27 01:35] cgrddv commented on #161
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="isToday" (click)="today()">Today</button>
      <button ion-button (click)="changeMode('month')">M</button>
      <button ion-button (click)="changeMode('week')">W</button>
      <button ion-button (click)="changeMode('day')">D</button>
      <button ion-b

[2017-07-27 05:07] moniquenichols92 opened #163 "Styling ionic2-calendar"
I'm trying to style the calendar in my scss file and I am able to change the font and font color by specifying calendar{ "some style here"} but I can't seem to edit the calendar background here and borders.

What element or class do I specify to change the background of the calendar? To change the background of the current day (now shown in green)? To remove the borders?

Any help is greatly appre

[2017-07-27 06:59] moniquenichols92 commented on #163
Hey everyone I found the answer to this question in another user's post.copying below for reference:

  .monthview-selected {
    background-color: transparent !important;
    color: black !important;
  }

  td.monthview-current {
    color: white;

    .calendar-day {
      background-color: color($colors, 'light') !important;
    }
  }

  .monthview-datetable {
    border: 0 !important;

    td,

[2017-07-28 22:58] DennisBusk opened #164 "Calendar.mode"
Hello..
I was wondering.
Is it possible to create a new calendar.mode.

I would like make list view. but i would love to keep it on the calendar page. like year, month and week view..

[2017-07-29 01:23] twinssbc commented on #163
@moniquenichols92 I'm glad that you found the solution by yourself.

[2017-07-29 01:23] #163 closed

[2017-07-29 01:24] twinssbc commented on #162
@plindsay You could change currentDate to the date in previous/next month.

[2017-07-29 01:26] twinssbc commented on #164
@DennisBusk Different people may want to display the events as list in different ways. I think you could easily create your own page containing the list and navigate between the calendar and your page.

[2017-07-29 01:54] twinssbc commented on #161
@cgrddv Are you using IonicPage in your project? Because I see you import it in your component.
Although you use ionicpage() in lowercase, which I don't think is correct.
If you are using IonicPage, you should also have a PageModule. You need to import the calendar module in this PageModule instead of AppModule.

http://ionicframework.com/docs/api/navigation/IonicPage/

[2017-07-29 10:32] monichols opened #165 "Styling calendar"

[2017-07-29 10:32] #165 closed

[2017-07-29 20:58] monichols opened #166 "Applying styling to only first and last days on a multi-day event"
I'm attempting to configure the style of only the first and last day of an event spanning 2 or more days. I am trying to recreate this:

![fd9dc0c2279308b0c265235a9e48b1ea--application-design-mobile-application](https://user-images.githubusercontent.com/26590425/28748188-26071766-747f-11e7-86c7-370b7336ba14.jpg)

 I created a template:

html:
 <template #template let-view="view" let-row="row" let-

[2017-07-30 01:53] twinssbc commented on #166
@monichols How do you want to handle the situation that there are more than one events on a day?

[2017-07-30 10:25] plindsay commented on #162
Ah I see... thank you - I will try this and let you know how I get on 👍

[2017-07-30 15:29] plindsay commented on #162
Great, I ended up doing this -

[code]

Getting it to animate left/right would've been nice, but it's not a big deal. Thanks for the pointers!

[2017-07-31 00:12] monichols commented on #166
I would like to give the event spanning multiple days priority i.e. if there is no multi day event then the single day events will be displayed visually. If there is a multi day event then only the multi day event will be displayed visually.

[2017-07-31 02:02] cgrddv commented on #161
@twinssbc yes! I did what you said ,it's work.thanks very much. i use **ionicpage** want to make the app lazy load .thanks again.

[2017-07-31 02:02] #161 closed

[2017-07-31 06:51] Astacius opened #167 "onCurrentDateChanged triggered twice"
Why it got called twice on single swipe in week-view?

[2017-07-31 09:29] Astacius opened #168 "onEventSelected selects wrong event"
So, basically, I have template looking like this and the event that got selected is not the one I click on, but instead it always selects event that's on the bottom of the stack. How can I repair that?
![capture](https://user-images.githubusercontent.com/26569213/28771481-43a778aa-75e3-11e7-9101-ddf781d240c7.JPG)

[2017-08-02 12:22] twinssbc commented on #168
@Astacius Could you provide your template code?

[2017-08-02 12:35] twinssbc commented on #166
@monichols Below is the default template, it accepts three variables, view, row and col.

[code]

view.dates[row*7+col] points to the data structure on a specific day.
The data structure is as below
[code]

Two important field in this data structure are date and events.
date is the date associated with this cell, and events are all events happen on that day.

I think you could per-calcuate some cu

[2017-08-02 13:32] sakshamg6 opened #169 "ng-template is not a known element"
I'm getting this error when I run ionic serve after including NgCalendarModule in my AppModule's imports.

What am I doing wrong?

[2017-08-03 06:45] #169 closed

[2017-08-03 08:09] Astacius commented on #168
`  <ng-template #weekEvents let-displayEvent="displayEvent">
      <div class="calendar-event-inner"
      [style.backgroundColor]="dataService.getColor(displayEvent.event)"
      [style.margin-top]="calculateTop(displayEvent.event.startTime)*6+'px'"
      [style.top]="(37*displayEvent.startOffset/hourParts)+'px'"
      [style.height]="6*displayEvent.event.Combined + 'px'"

  </ng-template>`

[2017-08-03 10:42] Astacius opened #170 "How to manually set currentDate?"
Whenever I am trying to set a currentDate variable manually like this:
`this.calendar.currentDate = data.Date;`
it doesn't refresh the calendar and I have to swipe or do some action before change got noticed

[2017-08-03 13:04] thanhdk commented on #159
Did you try that? I am sorry for my late response but I am not in charge on the project so maybe I will try on another project

[2017-08-04 14:51] twinssbc commented on #170
@Astacius When do you trigger this line? this.calendar.currentDate = data.Date;
Is it possible that you trigger it in an async call?

[2017-08-04 14:57] twinssbc commented on #168
@Astacius I'm not sure if I understand your layout. Are the events overlapping with each other? Also the events are quite condense, not sure a specific event could be selected on a mobile device.

[2017-08-06 15:33] gmarab commented on #60
Sorry @twinssbc , but markDisabled is never called during rendering.
By looking at the code I see that the only call is made in the select method of the views.
For example, for WeekViewComponent at line 366.

[2017-08-06 15:48] gmarab commented on #114
Sorry @twinssbc, it is a banality but I can not find it.
I'm using the top negative margin to not see the weekview start hours: how can I do it to not show the time that appears in the image?
![screenshot_40](https://user-images.githubusercontent.com/5528670/29004885-77391d04-7acf-11e7-8397-b72dab7d7e8c.jpg)

Thanks in advance.

[2017-08-07 08:50] Astacius commented on #170
I am doing this inside of .onDidDismiss:
`dateSwapModal.onDidDismiss(data => {
          this.calendar.currentDate = data.Date;
    })
    dateSwapModal.present();`

[2017-08-07 08:53] Astacius commented on #168
Every single color bar is a single event, they are not overlapping, they are placed according to their starting and ending time. But if there are 2 events in a single hour then click event selects the first one all the time.
And I dont know how to change that.

[2017-08-08 22:28] jordanpurinton opened #171 ""No events" label not showing up when service provider returns an error"
I have a service in my app in which I retrieve some JSON, and if it comes back w/ an error code, I log the error and move on.

However, instead of having the "No events" text show up when an error happens, the calendar just displays no text, instead.

Is this something you could assist me with or point me to a fix?