[2018-02-09 00:11] anytimegorgeous commented on #291
@twinssbc
I understand that. I have set the 'step' to 30.
The exact time of my event is 11pm to 11:30 pm. You can replicate the error yourself by creating any event from 11pm-11:30pm. The error only occurs at this time, it works fine otherwise.
In the dayview and monthview there is no error.  It correctly displays the event from 11pm to 11:30pm. However, in weekview it displays it as 1 hour event

[2018-02-09 03:06] krunal9421 commented on #287
![screenshot-www libhive com-2018 02 09-08-35-22](https://user-images.githubusercontent.com/33853304/36009853-3ba29b16-0d74-11e8-928b-20ebcaf7bf58.jpeg)
like the picture above we can select two dates in single calendar.
I am asking can we set two dates into ion2-calendar.

[2018-02-09 06:37] Nik01992 opened #294 "Customize hour column in day view"
Hey thanks for the great work man.I would like to customize the hour view column in day and week view.Below is my requirements:
I would like to show every hour like 1:10,1:20,1:40,2:00. currently i cant split my hours.
Please help with this.if there is any way.I have tried formatDayViewHourColumn too.But no help.
Thanks

[2018-02-12 23:31] twinssbc commented on #246
@danilocecilia You should not directly change the js files. Instead, you need to use the correct version of this component. There's explanation about which version should be used depending on your Ionic and Angular version in README.

[2018-02-12 23:33] twinssbc commented on #287
@krunal9421 This is not the repository of ion2-calendar.
You could create issue under
https://github.com/HsuanXyz/ion2-calendar

[2018-02-12 23:35] twinssbc commented on #294
@Nik01992 Sorry, it doesn't provide this kind of customization. It seems you don't want to evenly split the hour, like every 15 mins or 30 mins?

[2018-02-12 23:50] twinssbc commented on #291
@anytimegorgeous
Actually below code works for me. Is it possible that you have some value on second or millisecond part?
[code]

[2018-02-13 04:50] Nik01992 commented on #294
can we do that..?? evenly split the hour..??

[2018-02-13 07:47] ramaprakoso opened #295 "expand the weekly column html"
excuse me, i want to resize the default column wide, to more wider like this
![image](https://user-images.githubusercontent.com/6641354/36138582-8979adec-10cc-11e8-9ce9-503f5d685a02.png)
can custom the css and html ? thank you

[2018-02-13 13:52] nitinswamy commented on #45
Hi, @twinssbc

I am using two arrows to navigate to nextMonth() and prevMonth() using these
 previousMonthButton() {
    this.calendar.currentDate = new Date(this.calendar.currentDate.setMonth(this.calendar.currentDate.getMonth() - 1));
  }

  NextMonthButton() {
    this.calendar.currentDate = new Date(this.calendar.currentDate.setMonth(this.calendar.currentDate.getMonth() + 1));
  }

but how do

[2018-02-13 17:33] jalogar opened #296 "Select style on monthly view depending on the events"
Hello,

I'm trying to use the calendar to show a monthly view. As usually there are many events per fay, I'd like to, instead of showing all the events of the day, change the style of the day depending on the events of that day. Is it possible? Could you please advice me?

Thanks in advance

[2018-02-15 02:46] robertrobertlow opened #297 "Changing of color in dayview event task"
Hi, can I change the color for the event in each hour?
I really not sure how to do it.
Anything helps thankyou.

[2018-02-15 21:06] mfalzetta commented on #139
Hi @twinssbc

Sorry, i don't see your response.

The method called 3 times is onTimeSelected.

I use onTimeSelected because a need load one event related at the selected date on calendar.

[2018-02-16 03:09] mfalzetta commented on #139
Additionally, when i load the page in the first time, method onTimeSelected is triggered 3 times too.

[2018-02-18 04:13] twinssbc commented on #294
@Nik01992 You just want to display the hour column like 12:00, 12:30 or, you want the events could be placed as half hour. If that's the latter case, there's already a "step" option allows you to do this.

[2018-02-18 04:27] twinssbc commented on #295
@ramaprakoso So the first hour column is fixed, and the rest column occupies the rest space evenly.
Which column do you want to resize?
The first hour column is 50px width by default, you could override the css to change the width as below.

[code]

[2018-02-18 04:29] twinssbc commented on #45
@nitinswamy The selected date is the same as the current date. If you set the current date, that date will also be selected.

[2018-02-18 04:32] twinssbc commented on #296
@jalogar Yes, you could use the monthviewDisplayEventTemplate option.
For example,

In html,
[code]
In component, you just need to implement the getCustomClass method, the argument is the events on that day.

[2018-02-18 05:45] twinssbc commented on #297
@robertrobertlow Do you mean the color of each event or the color of this hour cell? Customizing the color of hour cell is not supported yet. To customize the color of each event, you could take a look at dayviewNormalEventTemplate option in README.

[2018-02-18 05:47] twinssbc commented on #139
@mfalzetta Could you provide code of your onTimeSelected method? I suspect it's related what you does in the method when it is triggered.

[2018-02-19 04:43] Nik01992 commented on #294
i want to display the hour column like 12:00,12:30

[2018-02-19 05:18] robertrobertlow commented on #297
I meant each hour could have many events. So I would like to change the color of each event in the hour.

[2018-02-19 05:26] robertrobertlow commented on #297
I applied, " <template #template let-displayEvent="displayEvent">
            <div class="calendar-event-inner">{{displayEvent.event.title}}</div>
        </template>"

However, there is an error of "[Angular  "let-" is only supported on ng-template elements]"

[2018-02-19 07:59] ramaprakoso commented on #295
thank you mr, i want resize all column in week day column and hour column, i try hour column success to change , but days not yet .

[2018-02-20 08:11] robertrobertlow opened #298 "API load events"
Hi twinssbc, How can I display my events data from API into the calendar?

[2018-02-20 08:50] robertrobertlow commented on #272
Must we definitely need end time?

[2018-02-21 05:57] Anujmoglix commented on #221
use Js and format that date .

[2018-02-21 06:04] Anujmoglix opened #299 "Want to open popup on click on Date block"
I want to Open popup when i click on any date . SO i can handle some ajax call with that . But i am not able to get any method for that . Can anyone suggest me for that.

[2018-02-21 09:23] anytimegorgeous commented on #291
Please set hours to 23:00. 11:00pm has the problem not am.
    start1.setHours(23,0,0,0);
    end1.setHours(23,30,0,0);

[2018-02-21 12:38] twinssbc commented on #297
@robertrobertlow This is because the template syntax is changed back and forth between Angular versions. You could use ng-template to get rid of the error.

You could assign a custom property to each event.
Then use below way to trigger a custom method to return the css class based on that property.
[code]

[2018-02-21 12:40] twinssbc commented on #295
@ramaprakoso How do you want to resize the day column? As I said the other columns will occupy the rest space evenly.

[2018-02-21 12:41] twinssbc commented on #298
@robertrobertlow I assume you mean your API will retrieve the data from the backend? The calendar only cares about the eventSource array, you just need to transform your backend data and fill them into the eventSource array. You could get some idea from the sample and the README.

[2018-02-21 12:42] twinssbc commented on #272
@robertrobertlow If you don't need endTime, how could you till how long does the event take?

[2018-02-21 12:43] twinssbc commented on #299
@Anujmoglix Have you tried onTimeSelected method?

[2018-02-21 12:47] Anujmoglix commented on #299
I did with click function , actually at that i want to do this to share event data . that issue has been fixed ,

[2018-02-21 12:47] Anujmoglix commented on #299
I did with click function , actually at that i want to do this to share event data . that issue has been fixed ,

[2018-02-21 12:47] #299 closed

[2018-02-21 12:50] Anujmoglix opened #300 "Want to remove previous date and next date from calendar."
Hi,
  I want to remove previous date and next date from calendar , because i don't want to swipe  calendar from clicking on previous month date or next month date. I am handling that with  function  .So can any on guide me for that ?

[2018-02-21 13:00] twinssbc commented on #300
@Anujmoglix You could use markDisabled method to disable the dates in previous/next month.

[2018-02-21 13:01] twinssbc commented on #221
The issue description is not clear.

[2018-02-21 13:01] #221 closed

[2018-02-21 13:01] twinssbc commented on #291
@anytimegorgeous I can confirm this is a bug, will fix it in the next version.

[2018-02-21 13:11] anytimegorgeous commented on #291
Thank you so much! The fix will be really helpful for me!

I have one more question unrelated to this -

In this code
<calendar  (onTimeSelected)="onTimeSelected($event)" </calendar>

Can (onTimeSelected) be extended to other gestures like 'press' gesture or 'swipe' gesture? Currently it only works for 'click' or 'tap' gesture.

[2018-02-21 13:25] Anujmoglix commented on #300
Hi ,
 I tried that but it is just disabling that date but i am able to click on that. I want not to click on disabled date .
![selection_098](https://user-images.githubusercontent.com/26056096/36482258-b8adb06e-1738-11e8-9265-a49a5610c8d1.png)

[2018-02-22 01:46] robertrobertlow commented on #297
Sorry I am really new to ionic. I do not understand the meaning of custom property and ng-template

[2018-02-22 01:58] robertrobertlow commented on #298
So does that means, I do not need endTime? SInce I do not need endTime

[2018-02-22 02:00] robertrobertlow commented on #272
This is why I do not need endTime, Since my intention was to work scheduling calendar. Which endTime is unknown. Is there any walkabout? Thankyou.

[2018-02-22 02:00] robertrobertlow commented on #272
I would just like to pluck and put into the correct timing spot

[2018-02-22 07:12] Anujmoglix commented on #300
Still waiting for your solution . it would be good if that previous and next month date will not show .

[2018-02-22 07:28] Astacius opened #301 "Is step="value" working?"
I am trying to set the week view every 2 hours instead of 1, what am I suppose to do with step to achieve this?
I have already tried:
[code]
etc.

[2018-02-23 09:22] GrazianoMarco opened #302 "Change dynamically color in dayview and weekview event task"
Hi, can I change dinamically the color of events in dayview and weekview?
I can change monhtview in this way but i can't in the other.
This is my code for monthview.

<ng-template #templateMonth let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <ion-list *ngIf="showEventDetail" no-lines>
    <ion-item color="{{event.color}}" *ngFor="let even

[2018-02-23 09:22] robertrobertlow commented on #271
Hi, how can I load API data into calendar? I have pulled from Http. Now I am also push into events. However it is not loading in the calendar with no error.

[2018-02-23 12:42] twinssbc commented on #291
@anytimegorgeous No, it doesn't support other gesture. But you could use custom template and add other gesture support in the template.

[2018-02-23 13:00] twinssbc commented on #298
@robertrobertlow Yes, you need endTime. Why you don't need endTime? An event must have a start time and end time?

[2018-02-23 13:01] #298 closed

[2018-02-23 13:03] twinssbc commented on #272
@robertrobertlow Could you please create a separate issue? Your question is not relevant to this issue.

[2018-02-23 13:07] twinssbc commented on #300
@Anujmoglix Yes, you will still be able to click it, but it won't jump to the previous/next month. In the onTimeSelected method, you could simply skip that event, if it's disabled.
To not display the dates, you need to use custom template, monthviewDisplayEventTemplate.

[code]

[2018-02-23 13:10] twinssbc commented on #302
@GrazianoMarco
You could use weekviewNormalEventTemplate and dayviewNormalEventTemplate
You could give your event a custom field, for example, customProperty.
Then in the template, pass it to getCustomClass to generate some dynamic css class.
[code]

[2018-02-23 13:13] twinssbc commented on #301
@Astacius 2 hours is not supported. Only 15, 30 and 60. For example,
[code]

[2018-02-23 13:19] GrazianoMarco commented on #302
Thank for your answer.
I try to use your code in mine but ionic give me an error "_co.getCustomClass is not a function".
My code is:
<ng-template #templateWeek let-displayEvent="displayEvent">
  <div class="calendar-event-inner" [ngClass]="getCustomClass(displayEvent.event.color)">{{displayEvent.event.title}}</div>
</ng-template>
 where "displayEvent.event.color" is he color I like to use for back

[2018-02-23 19:29] daviddickson commented on #9
@twinssbc I think @urfli911 has the same question as I do.  Is there a way disable a date after the initial render?

[2018-02-23 23:54] twinssbc commented on #302
@GrazianoMarco You need to implement getCustomClass in your component ts file.

[2018-02-24 00:03] twinssbc commented on #9
@daviddickson Unfortunately, markDisabled method is only triggered during the initial render. But you could still achieve the disable effect by using custom template. You could create a dummy event on that date, and return a "disabled" css class if that dummy event exists.

[2018-02-26 02:30] ghost opened #303 "DateTime format for eventsource"
Hi, I have push my date time (from API) into the events. However, it is not showing. I had looked into the format of yours and I guess it's my format wrongly set. Can you elaborate your dateTime? Thankyou.

"startTime = new Date(date.getFullYear(), date.getMonth(), date.getDate() + startDay, 0, date.getMinutes() + startMinute);"

my typescript

        loadEvents() {
            this.eventSource =

[2018-02-26 08:42] GrazianoMarco commented on #302
@twinssbc Sorry but I can't undestrand what you mean

[2018-02-26 08:52] twinssbc commented on #303
@robertrobertlow you need to set a Date object to startTime and endTime. It seems it is a String right now?

[2018-02-26 08:57] twinssbc commented on #302
@GraziaoMarco
getCustomClass should be a method in your component.
Let's say your html look as below
[code]
In your component file, you need to implement getCustomClass.
[code]

This method doesn't have to be called getCustomClass, it could be any name.
Hope the Angular doc could give you an idea.
https://angular.io/api/common/NgClass

[2018-02-26 10:58] robertrobertlow commented on #303
Yes, thankyou so much, how why does the calendar events does not appear in dailyview and weekly view? Anything I missed out

[2018-02-26 11:34] robertrobertlow commented on #303
Update: I have tried to do some changes and the output does not display. Anything I done wrongly?
[code]

[2018-02-27 02:20] #297 closed

[2018-02-27 07:18] Anujmoglix commented on #300
I really don't know what you have shared with me but i did it with some css , I just disabled it but it is not removing my whole problem , Now one issue is that bottom line ,It is adding one more row because data is there ,

[2018-02-27 12:26] Astacius commented on #301
Hello, is there any way to achieve week view every 2 hour?

[2018-02-27 12:51] manikandan07081995 commented on #125
@twinssbc  When i scroll to next month current month appear after that desire month loading.How to solve hide when scroll next month current month view appear.

[2018-02-27 12:51] manikandan07081995 commented on #125
*not after before desire month sorry.

[2018-02-28 12:26] twinssbc commented on #303
@robertrobertlow Could you provide the complete source code about how do you load the events?
Does it work in month view?
What if you create some dummy events instead of fetching event from the API, does it work?

[2018-02-28 12:34] twinssbc commented on #300
@Anujmoglix The month view always have 6 rows. You may think the last row is not necessary for this month, but in some month, the calendar will need to occupy 6 rows. Unfortunately it can't be fixed by just adjusting the height and margin-top in css to remove that gap. So I suggest still display the dates, but using some css to show that date is disabled, such as grey text or grey background.

[2018-02-28 12:35] twinssbc commented on #301
@Astacius Unfortunately it's not possible unless modifying the source code.

[2018-02-28 12:38] twinssbc commented on #125
@manikandan07081995 I don't really understand your description. Maybe a screenshot could explain it? How can current month and next month be displayed together?

[2018-02-28 13:45] Astacius opened #304 "Entire week marked as selected?"
In the month view, is it possible somehow to mark the entire week as selected instead of one day?

[2018-03-01 08:48] Astacius commented on #301
Could you tell me which file should I edit?

[2018-03-02 12:53] twinssbc commented on #301
@Astacius To achieve your requirement requires quite big amount of code change.
If you really want to modify the source code, you could start with weekview.ts.
createDateObjects method is responsible for generating the data objects to be used to render the weekview table.
onDataLoaded method is the main method to decide how to place the events on the weekview table.
You may search for "24", as the

[2018-03-02 12:54] twinssbc commented on #304
@Astacius You could use customize template to achieve this. For example, you could assign some dummy event having a property called "selected" for the whole week. Then in the template, you could generate special css class based on the selected property and give it a background color.

[2018-03-03 14:49] Sudalaiyandi opened #305 "Show blank calendar, while rotate device."
I used ionic2-calendar in my project.When i rotate device, it shows as blank calendar.In Android os, after show advertisement it shows as blank calendar.
How to solved this issue.
![simulator screen shot - iphone 5s - 2018-03-03 at 20 13 48](https://user-images.githubusercontent.com/24268120/36935613-f374ce3c-1f1f-11e8-8fb6-72667961e8f0.png)
![simulator screen shot - iphone 5s - 2018-03-03 at 20 1

[2018-03-05 10:15] jalogar commented on #296
Thanks for the response, it worked fine. For the record, correct element is **ion-template** instead of template.

[2018-03-05 10:15] #296 closed

[2018-03-05 14:20] twinssbc commented on #305
@Sudalaiyandi It's likely some css related issue. Did you use some styles only take effect when your screen is horizontal? You could use Chrome Developer Tools to connect to your remote device to check any layout problem.

[2018-03-06 06:13] Sudalaiyandi commented on #305
I applied css in calendar.I inspect the page, style doesn't modified.

[2018-03-07 09:37] centos94 commented on #282
Hello @twinssbc, I'm sorry for bother you. Have you already had time to watch for my request?
Thanks a lot.

[2018-03-09 15:16] twinssbc commented on #282
@centos94 Yes, I almost finished the code change, now testing it. Probably will release it early next week.

[2018-03-09 15:17] twinssbc commented on #305
@Sudalaiyandi If the style doesn't change, what DOM element is in that blank space in the horizontal mode?

[2018-03-10 09:08] centos94 commented on #282
@twinssbc awesome! Thank you so much!

[2018-03-12 07:34] manikandan07081995 commented on #125
@twinssbc  I have implemented your calendar on iPad.When I trying to orientate entire calendar view disappeared.

[2018-03-12 11:37] manikandan07081995 commented on #257
@twinssbc  Scroll continues wrong date showing and hanging sometimes view white screen appears.
![Uploading Screen Shot 2018-03-12 at 4.17.26 PM.png…]()

[2018-03-12 11:38] manikandan07081995 commented on #257
![screen shot 2018-03-12 at 4 17 26 pm](https://user-images.githubusercontent.com/34768728/37281694-e9174402-2617-11e8-9357-b410e4044f53.png)

[2018-03-12 13:35] twinssbc commented on #257
@manikandan07081995 Your question is not related to this issue.
Don't comment irrelevant question under multiple issues.
You could create a separate issue.

[2018-03-12 18:15] lcaprini commented on #95
Hi @twinssbc and @RS-Shekhawat , I've created the pull request https://github.com/twinssbc/Ionic2-Calendar/pull/306  in order to select a day in week view by click on releated day in header.
I've tested in my ionic 3 and angular 5 app.
Thank you.

[2018-03-13 10:08] rajkishoreandia commented on #246
i am getting this error in ionic...i am using the below versions Angular CLI: 1.7.0
Node: 9.5.0 and 3.19.1.need urgent solution
compiler.js:466 Uncaught Error: Template parse errors:
Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'.
1. If 'ngOutletContext' is an Angular directive, then add 'CommonModule' to the '@NgModule.imports' of this component.
2. To allow any

[2018-03-13 11:45] rajkishoreandia commented on #246
In my monthview.ngfactory.ts,  I am getting the below error saying can't find module 'ionic-angular/components/slides/slides.ngfactory'; .
import * as import0 from '@angular/core';
import * as import1 from '@angular/common';
import * as import2 from './monthview';
import * as import3 from 'ionic-angular/components/slides/slides.ngfactory';
import * as import4 from 'ionic-angular/components/slides/

[2018-03-15 15:05] twinssbc commented on #246
@rajkishoreandia I feel like you are not using the correct version combination of calendar, ionic and angular. Could you provide your package.json file? If you are using ionic 3.19.1 and Angular 5.0+, you need to use the ionic2-calendar@0.4.x, instead of 0.3.x

[2018-03-15 15:08] twinssbc commented on #282
@centos94 I have released the version supports half or quarter hours. You just need to add  [timeInterval]="30" in your html. You could get more details from README. Feel free to give a try.

[2018-03-15 15:10] twinssbc commented on #301
@Astacius I have released a new version could meet your requirement. You could add [timeInterval]="120" in your html. More details could be found in README. Feel free to have a try.

[2018-03-15 15:14] twinssbc commented on #291
@anytimegorgeous I have fixed this bug in the latest version. Feel free to give a try.

[2018-03-15 15:16] twinssbc commented on #232
@Titoch Just FYI, I have merged this feature to 0.3.x and 0.4.x branches.

[2018-03-15 15:19] centos94 commented on #282
@twinssbc thank you so much. I'll try it soon as possible!

[2018-03-15 15:49] centos94 commented on #282
@twinssbc tested and works like a charm! Thank you again!

[2018-03-15 23:27] #282 closed

[2018-03-16 06:12] rajkishoreandia opened #307 "disabling the current date while swiping to the next or previous month..."
@twinssbc can you help me disabling the color of today's date while I am swapping to the previous and next month.

[2018-03-16 06:14] rajkishoreandia opened #308 "remove no events in calendar when no event is present"
how to remove the no events message in the calendar when there are no events .

[2018-03-16 09:46] Astacius commented on #301
Thank you so much for this

[2018-03-16 10:18] Astacius commented on #301
@twinssbc I have installed version 0.3.14 and it seems not working? This is my code:
`  <calendar [eventSource]="events" [startingDayWeek]="1" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($eve

[2018-03-16 10:38] rajkishoreandia opened #309 "high light the current date in current month only"

[2018-03-16 15:28] anytimegorgeous commented on #291
Thank you so much. This is much appreciated!!

[2018-03-16 15:28] #291 closed

[2018-03-17 04:34] #308 closed

[2018-03-19 03:26] twinssbc commented on #307
@rajkishoreandia The selected color is controlled by below css. You could override it to achieve your desired effect.
[code]

[2018-03-19 03:28] twinssbc commented on #309
@rajkishoreandia Could you elaborate your requirement? You can only see the current month right now.

[2018-03-19 08:38] Titoch commented on #232
@twinssbc  Great news for me !
Thanks a lot !

[2018-03-19 09:14] rajkishoreandia commented on #307
thanx i got it

[2018-03-19 09:18] rajkishoreandia opened #310 "i want to highlight the date when the session ll be morning....how to do that@twinssbc"
this is my api data in json...[
    {
        "title": "leave",
        "date": "2017-11-03",
        "reason": "",
        "allDay": true,
        "session": "all",
        "description": "Casual Leave"
    },
    {
        "title": "leave",
        "date": "2018-01-13",
        "reason": "not well",
        "allDay": false,
        "session": "Morning Session",
        "description": "Casual Lea

[2018-03-20 04:48] venkatasairamu commented on #246
thanks for reply and problem is solved

On Sun, Dec 17, 2017 at 3:26 PM, twinssbc <notifications@github.com> wrote:

[2018-03-20 09:17] rajkishoreandia commented on #246
@twinssbc have done it..........thank you

[2018-03-21 13:05] danilocecilia opened #311 "Problem using diferent location"
Hi, I´m having problems using different locales other than en-US .

I am getting the error:

`ERROR Error: Uncaught (in promise): Error: Missing locale data for the locale "pt".
Error: Missing locale data for the locale "pt".
    at findLocaleData (VM2230 vendor.js:46630)
    at getLocaleId (VM2230 vendor.js:46239)
    at getNamedFormat (VM2230 vendor.js:48814)
    at formatDate (VM2230 vendor.js:

[2018-03-22 01:15] #307 closed

[2018-03-22 01:17] twinssbc commented on #310
@rajkishoreandia I don't quite understand your question. What is session II? In which view you want to highlight the date?

[2018-03-22 01:20] twinssbc commented on #311
@danilocecilia Take a look at the Localization section in README. If you are using Angular 5, you need to register the locale explicitly.

[2018-03-22 01:27] twinssbc commented on #301
@Astacius I will fix it.

[2018-03-23 18:55] jordanpurinton opened #312 "Is there a way to embed this as a custom component?"
For example, if I ran `ionic g component calendar-component` and I wanted to reuse that elsewhere, how would I do that?

I tried doing that and everything just shows up blank? Can you not embed another component like that within a custom component?

Thanks

[2018-03-26 08:48] Astacius commented on #301
@twinssbc Hello. How is it going?

[2018-03-26 10:24] Titoch commented on #5
Hi.
I use tabindex in monthviewDisplayEventTemplate for accessibility purposes (on web version).
I don't use Tabindex in monthviewInactiveDisplayEventTemplate.

Using Tab from on the last day in monthview, the calendar automatically displays the first next date of the fourth month (4th slide (cached one)).

In the below screenshot the focus is visible on last day in current month. That's normal.
!

[2018-03-27 14:02] pcsantana commented on #121
Hi @twinssbc ! Thanks for the great plugin!
The issue ionic-team/ionic#12008 seems to be fixed, but I still have the same problem that @Titoch said. I have a second calendar in another page, but it not working as expected, just the first one works fine.
Any update on this issue?

Thank you again!

[2018-03-28 14:04] pcsantana commented on #121
@twinssbc , sorry, it was my mistake!
Actually after searching a little I found your [comment](https://github.com/twinssbc/Ionic2-Calendar/issues/202#issuecomment-336637344), and I realized that in my second page I used hidden, and this was causing the issue. I will change my logic to use *ngIf instead.

Thank you.

[2018-03-30 06:06] slzr commented on #204
@idanb11 there is not updates about that method?

[2018-03-30 06:17] slzr commented on #305
@Sudalaiyandi How did you set these styles to the calendar? it looks nice

[2018-04-01 12:50] Sudalaiyandi commented on #305
@slzr Thanks.Using table this calendar is designed, I override that style property in my own css class.

[2018-04-02 08:07] chensifeng opened #314 "Solution to the ion-slides issues"
As you known, the ion-silides works strange if loop="true". After many research, i find a solution, which may be helpful to this project.
Remove loop="true" from <ion-slides> and simulate the loop for yourself with "slideTo".
You have 3 slides (left, middle, right, initSlide is middle), use "onSlideNextEnd()" and "onSlidePrevEnd()" to slide **always** back to middle. In the meanwhile, update the l

[2018-04-06 09:15] sachininara commented on #60
Hi
Can you please tell me how to block swipe 2 months before this month and 10 months after this month.
Assume like now  we are in April month , from calendar  we can swipe to previous side up to January this year and  swipe to forward side up to march next year.
can you please tell me how block swiping after this months in ionic 2 calendar.

Thank you

[2018-04-06 17:42] Nmaster88 opened #315 "Is it possible to choose the order of the days on the calendar?"
What i mean is,
on the calendar by default are order this way:
Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday
But i want a different order:
Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday

How can this be done?

[2018-04-06 18:10] onurkayaio opened #316 "is it possible to disable weekends?"
Hello, i just want to disable weekends but can not find any property for that.
Can someone help? thanks.

code:

`<calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            [showEventDetail]="calendar.showEventDetail"
            [locale]="calendar.locale"
            [lockSwipes]="true"
            (onEventSelected

[2018-04-06 19:53] Daskus1 commented on #315
You can do it by changing
[code]

[2018-04-07 12:17] Nmaster88 commented on #315
Where do i really put that?
In the calendar property?
    calendar = {
        locale: 'pt',
        mode: 'month',
startingDayWeek:1,
...
};

Or directive?

              <calendar
              [locale]="calendar.locale"
              [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [startingDayWeek]="1"

[2018-04-08 01:07] twinssbc commented on #60
@sachininara Disable swiping to previous months is easy. There's an option, lockSwipeToPrev, you could use. I didn't expose lockSwipeToNext option as I found it didn't work well. I could check again to see if Ionic team fixed it.

[2018-04-08 01:08] twinssbc commented on #316
@onurkayaio In which view do you want to disable the weekends. "Disable" means not able to click it or hide it?

[2018-04-08 16:31] AravindrajanSampathkumar commented on #203
Hi Twin,
I also facing the same problem, i need to get the whole month events below the calendar not for the particular date. It should display like date wise events. I new to Angular2, can you help me to solve the issue. Can you share some brief explanation code to fetch the whole events from the month.PFA for your reference. That is the current view.

![currentcalendar_view](https://user-images.

[2018-04-09 03:48] sachininara commented on #60
@twinssbc  thank you very much your response.
Actually this is urgent task. If you can please tell me how to disable months after 10 months from this month.

Thank you

[2018-04-09 13:59] twinssbc commented on #203
@AravindrajanSampathkumar If you want to display the events of the whole month as a list, you could just add a list below the calendar. The default eventDetail list is only for the selected date, you could set  showEventDetail option to false to hide the default list.

[2018-04-09 14:52] twinssbc commented on #60
@sachininara I just tried the lockSwipeToNext option in Ionic Slides. It still doesn't work for the looped slides. So I'm afraid your requirement can't be achieved.

[2018-04-09 17:14] sachininara commented on #60
Hi
Thank you for your response.
Actually I am thinking a way to block swiping sliders after particular range.  I am in urgent task. Could you please tell me how to block swiping using calendar.js files's functions.
Thank you

[2018-04-10 05:44] sachininara commented on #132
hi Harishios
 can you please tell me how you did blocking swipe months to next after particular months.
Thanks

[2018-04-10 11:32] orobsonpires opened #317 "Event triggered on list events"
Hi,

Is there any event triggered when user clicks on event list item bellow month view? If not, what is the best way to achieve that? I mean, the idea is having the details of the event when one of the event in the list is clicked.

Regards,
Robson

[2018-04-10 12:03] orobsonpires commented on #317
found my answer, onEventSelected is triggered.

[2018-04-10 12:03] #317 closed

[2018-04-13 05:47] Sudalaiyandi opened #318 "Calendar can be integrate in particular timezone"
Hi @twinssbc ,
     I used this ionic2-Calendar in my application also applied my css style with various colour. Our customer is very happy to see with stylish calendar.Thanks for it.I need some requirement by their, (i.e) this calendar running only based in Dubai timezone.User use our calendar any where in the world, it should be get Dubai date & time.Is it possible to integrate calendar with par

[2018-04-13 05:55] Sudalaiyandi commented on #316
@onurkayaio In Calendar tag add this property as `[markDisabled]="markDisabled"`,
  in your ts file
`markDisabled = (date: Date) => {
        let dateFormatted = this.datePipe.transform(date, "EEE")
        if (dateFormatted == "Fri" || dateFormatted == "Sat") {
            return true
        }
        else {
            return false
        }
    };`

It's worked for me.Check it.

[2018-04-13 09:39] AravindrajanSampathkumar commented on #203
Hi twinssbc,
I tried still I didget the response can you pls help me to solve the issue . PFB code of mine
HTML code:
<template #monthviewDefaultEventDetailTemplate showEventDetail="showEventDetail" selectedDate="selectedDate" noEventsLabel="noEventsLabel">
          <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
              <ion-it

[2018-04-15 12:10] #315 closed

[2018-04-15 12:12] twinssbc commented on #60
@sachininara As I said disabling swiping to next month doesn't work.

[2018-04-16 08:47] AravindrajanSampathkumar commented on #203
@twinssbc I can't able to fetch the this.managelist data to html page. Please check and solve

[2018-04-16 15:29] terminaltor commented on #98
Hey, I'm using the latest version of your calendar, latest version of Ionic, a new project just started yesterday.
When I try to add the attribute [dir]="rtl" to the calendar element I got the next error:
Cannot read property 'toLowerCase' of undefined at Slides.set

Any suggestions?
Thanks.

[2018-04-17 00:37] twinssbc commented on #247
@abdulkadhir The eventSource array is filled by yourself. I think you should be able to know the current month events? You just need to put a list below the calendar and bind it to another array, and each time the month is changed, you change the elements in that array.

[2018-04-17 00:46] twinssbc commented on #203
@AravindrajanSampathkumar
It seems your HTML code is not complete, could you provide more?
Did you get any error or simply the eventDetail list is empty?

[2018-04-17 00:50] twinssbc commented on #98
@terminaltor No need to add square bracket. Just dir="rtl"

[2018-04-17 05:04] AravindrajanSampathkumar commented on #203
@twinssbc thus is my complete html code, Please check

<ion-content>
    <ion-buttons >
        <button ion-button  (click)="toggle()" label="Hide">
          Add
        </button>
      </ion-buttons>

  <calendar *ngIf="show" [eventSource]="eventSource"
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
          [monthviewEventDetailTemplate]="template"

[2018-04-17 08:04] danialb opened #319 "is it possible create?"
Hello, I used this ionic2-Calendar in my application, is very good!!

is it possible create other view, to sort events by months?

A example:
https://www.androidsis.com/wp-content/uploads/2014/11/apk-google-calendar-5-0-2.jpg

[2018-04-17 09:22] rajkishoreandia opened #320 "how to show all events of each month in a list"
i want to show all the events of each individual month at the time of loading the calendar in month view @twinssbc

[2018-04-18 01:11] twinssbc commented on #320
@rajkishoreandia I assume this is a separate list, not part of the calendar? You just bind an array to a ion-list, and set the events into that array.

[2018-04-18 01:12] twinssbc commented on #319
@danialb You don't need to extend the calendar, you could just create such view in a separate page.

[2018-04-18 05:40] AravindrajanSampathkumar commented on #80
@twinssbc while using the above code I got the below error what I do for that?

Template parse errors:
"let-" is only supported on ng-template elements. ("
        </calendar>

     <template #monthviewDefaultEventDetailTemplate [ERROR ->]let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabe"): ng:///AppModule/HomePage.html@66:52
"let-" is only suppo

[2018-04-18 07:04] rajkishoreandia commented on #320
can u give some code

[2018-04-18 09:09] Sudalaiyandi commented on #318
@twinssbc  Thanks for your info.

[2018-04-18 12:43] twinssbc commented on #203
@AravindrajanSampathkumar There are multiple places need to be corrected.
1. In your template, you declare the id as "monthviewDefaultEventDetailTemplate", when you set the template in the calendar attribute, you should also use it. [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
2. I don't quite understand below code. It seems you try to assign eventSource to other variable,

[2018-04-18 12:44] #318 closed

[2018-04-18 12:46] twinssbc commented on #320
@rajkishoreandia Tbh, this is not the scope of the calendar control.
You could take a look at below document to learn how to use ion-list.
https://ionicframework.com/docs/api/components/list/List/

[2018-04-18 12:48] twinssbc commented on #80
@AravindrajanSampathkumar As the error message indicates, you should use **ng-template**, instead of "template". "template" is some syntax in the old version of AngularJS.

[2018-04-18 13:53] AravindrajanSampathkumar commented on #203
@twinssbc Thanks for you response but still I got the error under the line   this.myCalendar.loadEvents();
error is coming under myCalendar.

[2018-04-18 13:55] AravindrajanSampathkumar commented on #80
@twinssbc I used ng-template but the values from the back end it won't take and also it wont show the ng-template code while debuging

[2018-04-18 14:02] terminaltor opened #321 "Events wont show up on iphone"
Hey,
When I use ionic serve or ionic lab I can see the events in the calendar, but when I load my app on a real device (iPhone X if it matters), no events shown.
Any suggestions?

[2018-04-19 18:31] mowaiskalam commented on #230
Hi @twinssbc, Same issue for me and I am passing the correct date
'Fri Apr 20 2018 01:18:00 GMT+0500 (Pakistan Standard Time)'

Example:
this.calendar.currentDate = new Date(1524169080000);

Can you please let me know what mistake I am doing Thanks

[2018-04-21 13:54] casahuga opened #322 "ionic 3.9.2, ionic-calendar 0.4.3, Android not working"
Hello,

When I update the project to ionic 3.9.2 and angular5, the component calendar on Android is not working. The version of ionic2-calendar that i use is 0.4.3. Trying with the 0.4.2 it still not working. Using ionic dev app, the error that I see is 'ERROR [object Object] ', so no many information to know what happend. Any idea?

I also have intl 1.2.5.

Thanks

[2018-04-21 17:13] #322 closed

[2018-04-22 14:50] twinssbc commented on #203
@AravindrajanSampathkumar loadEvents is an instance method. Take a look at the Instance Methods section in README.

[2018-04-22 14:50] twinssbc commented on #80
@AravindrajanSampathkumar What error message do you get after using ng-template?

[2018-04-22 14:55] twinssbc commented on #321
@terminaltor There could be multiple reasons.
1. How do you get the events? Maybe the event loading method doesn't work in your real device. For example, some permission issue preventing loading data from local file system.
2. Some date format method is not supported in ios browser
https://stackoverflow.com/questions/5324178/javascript-date-parsing-on-iphone

You could also use your browser to rem

[2018-04-26 06:51] abdulkadhir commented on #247
hi @twinssbc  the events are show in month view but not in week view or day view
my code is

[code]

i tried in all ways but it wont works

[2018-04-27 13:15] thecouk opened #323 "Calendar without the need to use the events section"
Is it possible to use the calendar without the need to display events? What I need is just to show the calendar and when selecting a day I can open a modal to display other information, that is, I do not want to add events so I do not know how to disable the lower part of the calendar where it says No Events.

[2018-04-27 16:04] twinssbc commented on #247
@abdulkadhir Your template is not correct.
Below is the default template weekview is using, it accepts a single event.
Take a look at the View Customization Option in README.
[code]

[2018-04-27 21:37] thecouk commented on #323
Excellent, it works.

[2018-04-27 21:37] #323 closed

[2018-04-29 04:56] AravindrajanSampathkumar commented on #230
@twinssbc I am facing the same issue here. I got the error like event_1.endTime.getTime is not a function
I tried to convert the string by using parse but it shows the value like NAN.
I have to parse the below time, can you suggest any ideas to solve?
var unixTimeZero = Date.parse('12:00 PM');

[2018-05-02 18:31] mowaiskalam commented on #60
@twinssbc is there any way to disable previous days in week view. 'markDisabled' is working for me in month view. But I want to do same / disable days in week view too. Can you suggest me how can i do that?

[2018-05-02 18:41] mowaiskalam opened #324 "Disable Previous days in other than month view"
Hello @twinssbc, First of all, thanks for the great work. It's helping me a lot in my project.

I need to know, is there any way to disable days in 'Week View', `markDisabled` is working fine in 'Month View' but I want to disabled previous days in other views as well.

Thanks

[2018-05-03 02:38] twinssbc commented on #247
@abdulkadhir You want to select the whole day? weekview only triggers eventSelected and timeSelected callback, if you click on a particular time slot.
weekviewAllDayEventTemplate applies to the individual all day event, you could change background color or add some text based on the property of that event.
weekviewNormalEventTemplate applies to the individual normal event, you could change backgro

[2018-05-03 03:00] twinssbc commented on #230
@AravindrajanSampathkumar Take a look at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse
The input string needs to follow certain format, I don't think 12:00 PM is a valid one.

[2018-05-03 03:59] twinssbc commented on #324
@mowaiskalam The markDisabled has some slightly different effect between monthview and weekview.
You still be able to get if a time is disabled or not in onTimeSelected function.
In monthview, you will see the disabled date is grey, but weekview doesn't have this effect.
This is because in monthview, there are only 42 dates need to calculate the disabled state. But in weekview, there are much more

[2018-05-03 06:18] enriquegarciagutierrez commented on #142
Any solution for this? I'm still getting the same error with `"ionic2-calendar": "^0.4.3"`

[2018-05-03 07:45] mowaiskalam commented on #324
@twinssbc Hi, Thanks for the reply. Yes, you are correct i need to achieve same grey background on weekview.
I will use `weekviewNormalEventSectionTemplate` and let you know if it's works fine for me.

Thanks

[2018-05-03 08:58] AravindrajanSampathkumar commented on #230
@twinssbc Thanks it is working for me:)

[2018-05-04 10:36] fabio-gond opened #325 "How to start from a different Month from the current"
In month mode, is it possible to show a different month from the current one of the current date?

I need this because when the user chooses a day I open a new page (with setRoot - not push) and when he returns to the calendar I want to display him the month he was seeing.

Thanks

[2018-05-05 01:37] twinssbc commented on #142
@enriquegarciagutierrez What error did you get? And how did you get the error? Could you provide your POM?

[2018-05-05 01:39] twinssbc commented on #325
@fabio-gond You could set **currentDate** to the desired month, the calendar will navigate to that month automatically. It's similar to the Today button in the demo page.

[2018-05-05 20:05] robertolocal opened #326 "Cannot read property 'dayHeaders' of undefined"
Occurs when update ionic to latest version. I already the bellow code in app.modules and in mypage.module and not work:

`import { registerLocaleData } from '@angular/common';`
`import localePt from '@angular/common/locales/pt';`
`registerLocaleData(localePt);`

[2018-05-06 04:35] twinssbc commented on #326
@robertolocal Did you import intl? Which version of Angular, Ionic and Calendar are you using?

[2018-05-06 05:59] Ahmadre opened #327 "Show Events in MonthView inside a Table-Cell of a Day"
Hello,

first thank you for this great calendar!

Second: I want to display my events for a Day (in the Month Mode) in the corresponding Tablecell as a little list (limited up to 3 items), like the Google Calendar for instance:
![unbenannt](https://user-images.githubusercontent.com/18512224/39670360-4742cbb2-5103-11e8-8745-0d4628e6022d.PNG)

Can i change your template here in the tablecell or how

[2018-05-06 06:36] Ahmadre commented on #327
Just solved it by myself after looking deeper in your code. I didn't know that view.dates has got the events array. so i just iterated through it:
`<ng-template #template let-view="view" let-row="row" let-col="col">
          {{view.dates[row*7+col].label}}
          <div no-padding *ngFor="let event of view.dates[row*7+col].events">
            <ion-card no-padding>
              <ion-label>{{eve

[2018-05-06 23:59] twinssbc commented on #327
@Ahmadre Just an advise that, you may want to limit the events displayed in each cell, for example, at most 3 events, if there are too many events.

[2018-05-06 23:59] #327 closed

[2018-05-07 00:03] Ahmadre commented on #327
By the way: i recognized, that the month calendar is shrinking & growing in relation to how many events are assigned to a cell. How can i avoid that or how can i fix the cells but don't break the responsive design you've made? I tried to position the events absolute, but that ruins everything. Thanks im advise :)

greetings an german dev

[2018-05-07 07:04] fabio-gond commented on #325
Thank you @twinssbc but I don't want to change the currentDate because I want to always highlight the date of today.
I only want to display to the user the month from what he opened the other page.

[2018-05-07 12:34] mcfdez opened #328 "onEventSelected not triggers anything"
I implemented the trigger onEventSelected in my app but it not does nothing when I press an event.

All other triggers works perfectly.

The template:

`
        <div *ngSwitchCase="'calendar'">
            <calendar [eventSource]="eventsCalendar"
                      [calendarMode]="calendar.mode"
                      [currentDate]="calendar.currentDate"
                      [formatDayHeader]=

[2018-05-07 15:04] en-sevilla opened #329 "Hide unused weekly rows"
Hi,

which approach would you recommend to hide unsued rows in weekly view? We'd like to let only one hour before and after the events in order to simplify the representation, and hide any other row, as shown in the following image:

![image](https://user-images.githubusercontent.com/8984122/39709066-2487866e-5219-11e8-8783-a23f6bf9c0a3.png)

Thanks for your amazing work and best regards

[2018-05-07 15:27] twinssbc commented on #328
@mcfdez You mean onTitleChanged is actually triggered, only onEventSelected method is not triggered? Is there any error printed instead? And in which view did you meet this problem?

[2018-05-07 15:29] mcfdez commented on #328
Effectively, onTitleChanged works and onEventSelected does not work. In the console I do not see any error, nor in the app itself. The problem is happening in a monthly type view, when I click on some day that has an event.

[2018-05-07 15:31] twinssbc commented on #329
@en-sevilla There are startHour and endHour options that can hide some hours. The idea is to only display the working hours. But it doesn't have some option to hide hours in the middle. Another way is you could try weekviewNormalEventSectionTemplate option, it allows you to provide a custom template for each time slot. It can't make you hide a certain time slot, but you could change the background

[2018-05-07 15:34] twinssbc commented on #328
@mcfdez In month view, onEventSelected is triggered when you click the individual event displayed in the event detail section below the calendar table. When you click a date in the table, only onTimeSelected method is triggered.

[2018-05-07 15:36] en-sevilla commented on #329
@twinssbc ok, thanks! I will try and If achieve something, will post here.

best regards

[2018-05-07 22:27] fabio-gond commented on #325
Oh, what a fool I am..😫
Thank you very much @twinssbc !

[2018-05-08 04:57] abdulkadhir commented on #247
thanks @twinssbc i solved it.
I use calendar in two places in my project. In one module i want to hide the no events label that is placed under the calendar can you help me on this.

[2018-05-09 05:16] ryaa opened #330 "Calendar shows wrong slide in a dayview when events spans several days and lockSwipes is applied"
This problem is intermittent but reproducible very often on Android devices. In the browser or on iOS devices this does not happen (at least not often)

The corner case causing the problem is that when:
a) there are events which span two days (start on current day and ends on the next day) and which needs to be displayed in the dayview (current day).
b) swiping/navigation (lockSwipes property) nee

[2018-05-09 05:18] ryaa commented on #330
Probably another option to try is to remove  loop="true" (https://github.com/twinssbc/Ionic2-Calendar/issues/314) but i did not try it yet.

[2018-05-10 05:00] abdulkadhir commented on #247
Hi @twinssbc in my project the markDisabled function is not render when i open the calendar, when i go to next month and comeback the disabled function is working.
Is any option to render the markDisabled function when the calendar starting

[2018-05-10 10:20] eviv3k opened #331 "How can I color weekend in full calendar?"
Hi, I need to color the weekend, Saturday & Sunday.  If possible?

[2018-05-11 00:19] twinssbc commented on #331
@eviv3k This is not fullcalendar repository. You could go to https://github.com/fullcalendar

[2018-05-11 00:28] twinssbc commented on #247
@abdulkadhir The markDisabled should be triggered when the calendar starts. Could you provide the code how do you use markDisabled? Could you add a break point to check if that method is triggered or not during start?
Regarding the second question, could you also provide the code how do you use the customize template? What do you mean not working? Is the event actually get displayed but no backgro

[2018-05-11 04:48] abdulkadhir commented on #247
hi @twinssbc
my markDisabled code is
`
       markDisabled = (date: Date) => {
            console.log("test");
             let checkDates = this.wk;
            for (let d of checkDates) {
                     if (d.getTime() === date.getTime()) {
                             return true;
                    }

            }
             return false;
    };
`
this. wk is an array of date to be

[2018-05-11 05:00] abdulkadhir commented on #247
Event is displayed but i want to show different color for event type

my code is

<ng-template #template let-view="view" let-row="row" let-col="col">
            <div *ngIf("event.event_type==birthday")else birthday></div>
  </ng-template>
<template #birthday  let-view="view" let-row="row" let-col="col">
      <div style="background-color:red"></div>
</template>

[2018-05-12 09:06] aces-tm opened #332 "Add dots to monthview"
Is there an option to add dots above number in top right corner. I have 3 different types of events and by programmatically adding class I want to control if dots show or not.

I was able to draw a dot inside the box, but it stays in the middle and not able to move it around. I am not sure how to add custom class either.

[code]

Thank you

[2018-05-13 17:08] Ahmadre opened #333 "My Css Configurations doesn't apply (sometimes)"
I changed the default calendar css styles with my own ones like:
[code]

My Calendar should look like this:
![datetimepicker](https://user-images.githubusercontent.com/18512224/39969746-f5e661e6-56e0-11e8-9877-c19d7a284d72.png)

but is sometimes looking like this:
![18567508-5e51-4377-b421-cf689da0952b](https://user-images.githubusercontent.com/18512224/39969749-fe4f92ee-56e0-11e8-8f14-03ac14d565a

[2018-05-13 19:05] Ahmadre commented on #321
@terminaltor:
I know what your problem is: iOS devices doesn't support the same date formats as browser or android devices! You have to use moment.js and work fully with that, otherwise you won't get the correct dates there! That is because the javascript Date isn't supported cross platform!

Change every date manipulations etc. with moment!!!

I solved it like that on my IPhone. And if you have U

[2018-05-14 03:52] twinssbc commented on #247
@abdulkadhir Could you also add console.log('disabled') before

See if that is actually printed out when you open the calendar?

[2018-05-14 03:53] twinssbc commented on #247
@abdulkadhir Your template doesn't contain any logic to display background color. You could use ngClass to generate custom css class based on the event.event_type.

<ng-template #template let-view="view" let-row="row" let-col="col">
<div *ngIf("event.event_type==birthday")else birthday>

<template #birthday let-view="view" let-row="row" let-col="col">

[2018-05-14 04:28] abdulkadhir commented on #247
thanks @twinssbc i checked with console.log('disabled') before

`return true`

disabled is not printed in console

[2018-05-14 04:31] abdulkadhir commented on #247
@twinssbc  could you provide sample code snippets for ngClass to generate custom css class

[2018-05-14 04:51] Ahmadre commented on #333
Damn, nice to know! I thought these were classes defined by you, but now i learned more about angular. There're times where I think, that angular will never have an end in learning about their system.

I will try that, but you can close this issue of course, because testing it would take periods of time :)

[2018-05-14 09:15] aces-tm commented on #332
@twinssbc Thanks for the response. How do I access events on that particular day? For example, on each day I have 3 possible types of events and I'd like to put do something like `if event.type1 apply cssClass`.  Thank you

[2018-05-14 12:33] #333 closed

[2018-05-14 12:35] twinssbc commented on #332
@aces-tm Just use view.dates[row*7+col].events, it's an array.

[2018-05-14 12:37] twinssbc commented on #247
@abdulkadhir If console.log("test"); is executed, but console.log('disabled') is not, this means checkDates is empty when you just open the calendar. Is it possible this.wk is updated at a later time?

[2018-05-14 12:37] aces-tm commented on #332
@twinssbc Perfect, I will post the code once I finish it. Thank a lot and excellent support as usual!

[2018-05-14 12:40] twinssbc commented on #247
You could define the template as below. Notice this getCustomClass, you need to implement it in your component ts code. It accepts the event array on that day, so you just need to return different css class based on the property of events.

[code]

[2018-05-15 09:17] abdulkadhir commented on #247
thank @twinssbc  when run tour code it shows
 **Failed to execute 'setAttribute' on 'Element': '{{view.dates[row*7+col].label}}' is not a valid attribute name.** error

[2018-05-15 10:15] aces-tm commented on #332
Here is the code that works for me

In scss I made this adjustment:
[code]
My template looks like this:

[code]
And my classes that I call from ngStyle look like this:

[code]

[2018-05-16 14:42] twinssbc commented on #247
Sorry, there is a typo.
[code]

[2018-05-16 14:50] aces-tm commented on #332
@twinssbc Do you recommend using `.monthview-primary-with-event` instead of `.monthview-primary-with-event[_ngcontent-c1]`?

[2018-05-17 08:55] Anujmoglix opened #334 "Restrict swipe"
Hi,
  Thanks for the plugin . I want to restrict swiping and want  to show only arrow button for next and previous month . I don't want to swipe from the calendar because i want to implement some function with that  . Is it possible to restrict swiping with gesture ?

[2018-05-17 09:00] abdulkadhir commented on #247
thanks @twinssbc
below is my custom class method in ts file

`getCustomClass(eventSource){
if(event_type=='holiday'){
return red;
elseif(event_type=='party'){
return green;
}else
{return blue;}
}
`

[2018-05-17 19:06] Anujmoglix commented on #334
Hi ,
  I  got the solution  as Using <ion-slide class="swiper-no-swiping"> worked perfectly as a workaround and after updation in console it is working fine . but i wanna know that  how to use it ?
`<ion-slides _ngcontent-c1="" class="swiper-no-swiping slides slides-md slides-0" ng-reflect-loop="true" ng-reflect-dir="" ng-reflect-space-between="0">`

[2018-05-18 09:33] Anujmoglix commented on #330
Hi ,
  I want to do lockswipe() here .where i can do that code . i am not able to get ion-slide from code

[2018-05-19 06:40] twinssbc commented on #330
@Anujmoglix Try this
[code]

[2018-05-19 06:56] Anujmoglix commented on #330
Hi @twinssbc
   Thanks for your response. I have did it by changing inside node module monthview.js and added class there .Btw thanks . I will check this as well .

[2018-05-19 08:37] twinssbc commented on #334
@Anujmoglix I think you could try get the DOM element then dynamically set the class on it.

[2018-05-20 15:28] vitorlgomes commented on #301
I'm not getting the 2 hours interval when setting it to 120, @Astacius @twinssbc  you got it ?

[2018-05-21 06:06] Astacius commented on #301
@vitorlgomes nope, it doesn't work

[2018-05-21 09:53] iligzar commented on #283
@twinssbc ,
**Error**
[12:48:53]  typescript error  (" <calendar [ERROR ->][monthviewEventDetailTemplate]="templateApptCustom" [startingDayWeek]="2"   [startingDayMonth]="1" [eve")

[12:48:53]  typescript error
            (" <calendar [monthviewEventDetailTemplate]="templateApptCustom" [ERROR ->][startingDayWeek]="2"
            [startingDayMonth]="1" [eventSource]="eventSource" [calendarMode]="c

[2018-05-22 06:03] iligzar commented on #283
@twinssbc , i'm fix it.
add _NgCalendarModule_ to _pagename_.module.ts
imports: [
    IonicPageModule.forChild(SchedulesPage),
    NgCalendarModule
  ],

[2018-05-22 16:05] SoulSolider commented on #84
what is the answer ?

[2018-05-23 07:35] KishoreKoushik opened #335 "(onTimeSelected) event is called whenever I enter month view"
(onTimeSelected) event is called whenever I enter month view and also when I change from one  month to the other. I want that function to be called only when we select a particular date or time. How can I do that? Can I achieve my requirement from any other event?

[2018-05-23 10:29] KishoreRadhakrishna opened #336 "Get events in date range"
How can I get list of events in a date range?

[2018-05-23 12:56] twinssbc commented on #336
@KishoreRadhakrishna I think you have control over the event array. It should be you pass the events to the calendar, instead of the calendar telling you about the events.

[2018-05-23 12:58] twinssbc commented on #335
@KishoreKoushik There's an **autoSelect** option. You could set it to false.

[2018-05-23 14:58] twinssbc commented on #301
@Astacius @vitorlgomes I just published the fix. Feel free to have a try.

[2018-05-23 15:58] Ahmadre commented on #333
@twinssbc That was the solution! After i tested about a week it worked :).

Thanks!

[2018-05-25 07:16] KishoreRadhakrishna commented on #335
@twinssbc Great. This Worked for me. thanks

[2018-05-25 07:20] KishoreRadhakrishna opened #337 "Events in day and week view view always shows half an hour less"
All the events in day and week view always show 30 min less. For example if I have a event from 2:00 to 3:00, event will be displayed only on 2:00 to 2:30. Anyways when I select the event I get to see correct end time. I am using custom views for both the views.

 <ng-template #templateday let-displayEvent="displayEvent">
    <div class="calendar-event-inner" [ngClass]="getCustomClass(displayEvent

[2018-05-25 09:00] Astacius commented on #301
@twinssbc but the last commit was 22 days ago, how then?

[2018-05-26 02:04] #335 closed

[2018-05-26 02:06] twinssbc commented on #337
@KishoreRadhakrishna What kind of class do you return from the getCustomClass? Any special style applied on it?

[2018-05-26 05:12] KishoreRadhakrishna commented on #337
@twinssbc I have just over written 'calendar-event-inner' class. All I wanted is dynamic background color depending on the  category. But if I write another, I would get just 15 min block irrespective of time duration. So I over written the class the class as below. Anyways, even if I remove custom template, the event display is 30 min less.

getCustomClass(someParameter) {
        return 'categor

[2018-05-27 16:40] Xsur opened #338 "Event on month callender is showing missing one day from data had been provide"
please help me to slove this, i had ionic calender with month template, i want to put event every ranged changed on calender i allredy succesfull on get data from db but when i put the event on calender, marked event on calender is showing less than one day from data that i provide

this is the callender view
![image](https://user-images.githubusercontent.com/25731857/40588392-f2acde66-6206-11e8-9

[2018-05-28 10:31] kumarlinga opened #339 "How to show day name with day in month view"
@twinssbc  How to show day name with day only in month view? like below image

![image](https://user-images.githubusercontent.com/39696252/40610528-5a25f2d8-6290-11e8-9d7e-b59061d41c4d.png)

[2018-05-29 14:38] twinssbc commented on #337
@KishoreRadhakrishna Yes, I think this is the side effect that you set custom template.
By default, the calendar-event-inner is decorated by _ngcontent-c0, which is to inline the style within the component scope.

Generated HTML
[code]
Generated CSS
[code]

But with your template, the HTML becomes as below, so the style can't be applied to it.
[code]

If you add _ngcontent-c0 in the template, it w

[2018-05-29 14:39] twinssbc commented on #339
@kumarlinga I'm afraid it's not possible to customize the monthview like that. I think you could simply use a list to achieve your requirement.

[2018-05-29 14:44] twinssbc commented on #338
@Xsur So your screenshot shows the payload you get from the database. How do you convert it to an event that can be used by the calendar? Especially how do you convert the start_date and end_date string to the Date object?  Is it possible that piece of logic is wrong?

[2018-05-30 00:14] twinssbc commented on #338
@Xsur It's because you set allDay field to true. If you want to create all day event, the startTime and endTime needs to be converted to UTC time. But I suppose you want to create normal event? So allDay field needs to be false.

[2018-05-30 02:11] Xsur commented on #338
OMG, thks @twinssbc btw sorry for my little miss here still new at ionic here..first time try ionic calender..

[2018-05-30 03:26] #338 closed

[2018-05-30 09:09] Astacius commented on #301
@twinssbc now everything works fine, thanks!

[2018-05-30 13:09] #301 closed

[2018-06-03 10:17] pookdeveloper opened #340 "Run demo locally"
How can i run demo locally ? thanks!

[2018-06-04 12:40] twinssbc commented on #340
@pookdeveloper For the code in master branch, you can directly open the index.html page. This is how the demo URL works. For the code in v3/v4 branch, you need to copy the code in the demo page into an Ionic project, then run "ionic serve" to run it.

[2018-06-04 13:58] akirilowski commented on #116
When setting "lockSwipes" to true, it's not possible to display events in the (day) calendar.

[2018-06-05 02:41] aces-tm commented on #332
@twinssbc Is there better way to loop through the event than what I am doing?

[code]

When there are events only on 1 day of the month the calendar loops through the same event 10+ times and therefore doesn't display it properly. If there are events on more than 1 day it works fine.

Thanks

[2018-06-05 13:14] pookdeveloper commented on #340
@twinssbc  to run locally if I directly open the fikle index.html i get the error cross domain:

![image](https://user-images.githubusercontent.com/3384734/40978109-0873f860-68d3-11e8-80de-f9853b11b65f.png)

How you open the file , you put the code in a server?  Thanks

[2018-06-06 11:06] KishoreKoushik opened #341 "How can I change the 15 min time slot to 30 min and vise versa dynamically"
Hi want my calendar to have either 15 min or 30 min time slots depending on the time slot. But its not happening as per my requirement. My code is as below.

 calendar = {
        mode: 'day',
        currentDate: new Date(),
        timeInterval: this.is15minSlotsenabled ? 15 : 30,
        startingDayMonth: 1,
        startingDayWeek: 1,
        startHour: 0,
        endHour: 24,
        scrollTo

[2018-06-06 12:21] twinssbc commented on #332
@aces-tm Why do you need to put ng-template inside ng-template?
You mentioned that if the events on more than 1 day, it works fine.
I'm not sure if it's related to below logic.
What's the intention here to check label?
[code]

[2018-06-06 12:35] twinssbc commented on #341
@KishoreKoushik hourSegments is the internal field, it is calculated based on timeInterval, so you can't control it externally. timeInterval is set during the calendar initialization phase, so it can't be changed dynamically. Also if you hard code timeInterval, does it take effect?

[2018-06-06 13:05] pookdeveloper commented on #340
@twinssbc ok I know, I use visual studio code, and your WebStorm, its internally generate a server, that's why you access from. Thanks

[2018-06-07 02:08] KishoreKoushik commented on #341
Yes. If I hard code, it takes effect

On Wed, Jun 6, 2018, 6:05 PM twinssbc <notifications@github.com> wrote:

[2018-06-07 04:36] aces-tm commented on #332
So I found a very simple solution

[code]

Thanks for your help

[2018-06-07 14:39] KishoreKoushik opened #342 "Change color of all day event"
Hi. I want to change the color of all day event in week view and also have a different color background in month view whenever there is a all day event. And also I observed the only half of the cell is coloured. I want it to be occupied entire cell.  How can I do it? I tried with the custom templates in the ReadMe document with no success. I could only do it for day view. Can you please help me do

[2018-06-07 17:23] fahmisaad opened #343 "Change Time format from 24 hour to 12 hour in onTimeSelected."
Hi, i want to change time format from 24 hours to 12 hour in onTimeSelected.
Is there any ways to do it?

for example current it shows 12:00 - 14:00 , i want to display 12:00 am - 2:00 pm.

Any help will be a huge help for me. Thanks

Can refer below image.

![capture](https://user-images.githubusercontent.com/11407590/41115561-7749ccc2-6aba-11e8-9601-9d0b79d11654.PNG)

[2018-06-08 11:43] Divyea opened #344 "For 15min time slot the cell is not covering half"
Hi,
I had the set the calendar for 15min slot and added an event it taken correctly and again i change the time slot to 30min then the 15min slot activity should be half of the cell. Instead it is covering full cell.

![image](https://user-images.githubusercontent.com/40061130/41156304-f788ffc8-6b3e-11e8-99ba-82188fd48fe4.png)
[Issue.docx](https://github.com/twinssbc/Ionic2-Calendar/files/2084194/

[2018-06-08 12:18] #340 closed

[2018-06-08 14:27] twinssbc commented on #341
@KishoreKoushik As I mentioned the timeInterval takes effect when the calendar is rendering.
Your problem is getDaySettings call is an async method, you can't control if the calendar renders first or the result returns first.
The solution is you could use some thing like *ngIf="!loading" to hide the calendar at the beginning, in the callback set loading to false. Then the calendar will start rende

[2018-06-08 14:28] #332 closed

[2018-06-08 14:40] twinssbc commented on #342
@KishoreKoushik Is the background color in weekview fixed?
If so, you could simply override the css style for the weekview related css class.
[code]

Monthview is a bit complicated, because you need different background color based on the events on that day.
You could use below template. Then implement your logic in getCustomClass method to determine the css class based on the events.

[code]

[2018-06-08 14:45] twinssbc commented on #343
@fahmisaad You could use monthviewEventDetailTemplate to change the style of that event detail section part.
Below template is the default one. As you can see it is using HH:mm in the Date pipe, you could change it to any format you want.

[code]

[2018-06-08 14:48] twinssbc commented on #344
@Divyea Did you set "step" option to 15?

[2018-06-08 16:31] Divyea commented on #344
Yes in the back end I am setting it to 15min slot. But it is covering full cell. I want to make it half cell coloured. I also attached the screenshot of both 15min and 30min display in the issue.docx file which is  attached in the above conversation.

[2018-06-09 06:27] KishoreKoushik commented on #342
@twinssbc Thanks for the solution. But if I try with the above solution, for month view, I am getting the color as the background colour only for the number. It is always surrounded by blue always. I want it to full same, with the same color. How can I make it. And in the week view, the background is aplied only for the half. Even there I want it it to be full cell. I have attached images of both

[2018-06-09 09:47] Divyea opened #345 "scrollToHour is not working in week view"
@twinssbc
Hi,
In day view and week view i need to set the focus to 7AM. i set scrollToHour : 14 but it is applying for day view at the first time and if i changed the view to other view and return to day view it is not working instead it is showing the focus at 3.30 and In week view it always points to 3.30.

<calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calen

[2018-06-10 05:07] twinssbc commented on #344
@Divyea You mean you fetch the settings form the backend? Could you show you code how do you fetch it and set it in the app side?

[2018-06-10 05:53] twinssbc commented on #342
@KKishoreKoushik The problem in monthview is because the div surrounding your div has the padding set to 8px and background set to blue. You could override the style of that div, for example,
[code]
You also need to set the margin of your div to 8px, otherwise the total height will be different.

The problem in weekview is because by default the height of all day event is 25px, and the all day eve

[2018-06-10 06:10] twinssbc commented on #345
@Divyea Unfortunately I can't reproduce it, it always points to 7AM at my side. Did you custom the styles, for example, change the height? After you change the view to other view, do you perform some action in that view?

[2018-06-10 06:11] #339 closed

[2018-06-10 12:01] prathyushp1 commented on #148
npm install intl@1.2.5 works for me

[2018-06-13 12:39] abmnukmr commented on #148
@duffayapps
i am giving you working solution

**copy calendar folder from node modules**

![screen shot 2018-06-13 at 6 01 34 pm](https://user-images.githubusercontent.com/14125496/41351505-3081fd54-6f34-11e8-8cea-38b13a83d48d.png)
**then  paste in component folder**
![screen shot 2018-06-13 at 5 50 44 pm](https://user-images.githubusercontent.com/14125496/41351555-5a528b26-6f34-11e8-8a2f-3e49bbb2

[2018-06-14 07:28] arulmanoa commented on #345
@twinssbc how to implement the calendar screen like below-attached file

![screen for calen](https://user-images.githubusercontent.com/30864164/41397655-88593044-6fd2-11e8-8508-f11bf14855ac.png)

[2018-06-14 11:41] arulmanoa commented on #151
@divijm did you find that solution. please update your code

[2018-06-14 12:14] arulmanoa opened #346 "How can i load Datetime as local singapore time in calendar?"
How can I load DateTime as local Singapore time on the calendar?

[2018-06-15 12:59] twinssbc commented on #346
@arulmanoa The calendar displays the event using your local time zone. If you are in Singapore timezone right now, then no need to do anything.

[2018-06-15 13:02] twinssbc commented on #345
@arulmanoa Unfortunately this calendar cannot meet your requirement.

[2018-06-17 19:20] efezter opened #347 "Weekview and dayview only shows allday row"
Hello

No matter what I did calendar does not show hours. It only shows allday row. Can you please help me on this?

 <calendar  #CalendarComponent
          [startHour]="8" [endHour]="19"
              [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"

[2018-06-18 10:01] Xiralv commented on #347
Hi I have the same issue with this one also.

[2018-06-18 12:25] KishoreKoushik opened #348 "All day activity taking one day prior in all the three views"
In all the three views, only all day events is displaying one day prior. But normal events looks fine.
 example my startDate is "2018-05-07T00:00:00" and event is displayed on 06th of May

I have used custom all day template event

 <ng-template #dayalldaytemplate let-displayEvent="displayEvent">
    <div class="calendar-event-inner" [ngClass]="alldayeventindayview(displayEvent.event.jobCategoryId

[2018-06-18 12:54] arulmanoa opened #349 "How can i separate my day calendar view?"
How can I separate my day calendar view like below screens? I have 4 staffs, at the same time I have split my columns like this

![screen for calen](https://user-images.githubusercontent.com/30864164/41536982-c36cfbb6-7324-11e8-81cd-73de0b57791d.png)

[2018-06-18 12:57] arulmanoa commented on #349
Sorry to re-open it, if its possible to do the above screen please ping me

[2018-06-18 20:43] Titoch commented on #347
I think you jsute have to remove brackets '[' and ']' around startHour and endHour as values (8 and 19) are not variables of your component but directly numbers.

[2018-06-19 01:06] Xiralv commented on #347
Hi @Titoch in my problem is I uninstalled and install again the ionic2-calendar in my local project and when i run my project its still and navigate both WeekView and DayView it only shows the **all day row**

This is my html project

  <calendar [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onCurrentDateChanged)="onCurrentDateChanged($event

[2018-06-19 05:08] Divyea opened #350 "Hide lines in the event block"
Hi,

Can we hide the lines in the event block, i.e i want event to have full background without hour separation lines.

![image](https://user-images.githubusercontent.com/40061130/41577776-6306b022-73ac-11e8-8178-b1e21c52951b.png)

[2018-06-19 09:11] arulmanoa commented on #346
Sorry, I got UTC time zone calendar

[2018-06-19 14:12] efezter commented on #347
@Titoch

I mistakenly forgot them there. removed them but unfortunatelly nothing has changed.

[2018-06-20 01:32] Xiralv commented on #347
I just resolve this issue in my app scss. i have there a .ion-slide class i just removed it. it affects the ion slide of the ionic2-calendar

[2018-06-20 08:48] efezter commented on #347
@Xiralv good to hear. Un fortunatelly that was not my case.

[2018-06-20 09:47] Xiralv opened #351 "How can I change the display events height?"
How can I change the display.events height when ill change the .calendar-hour-column for the css?

**html**

[code]

**scss**
[code]

[2018-06-20 12:41] vohrahul opened #352 "Enhancement Request - Repeated Events"
Is there any way (or any plan) to have repeated events in this calendar plugin?

For example, if I have a data that says, a particular event happens every Monday and Friday starting from 1st June 2018. How can we achieve this?

I want to avoid making a custom array if there's a way in this plugin to achieve this.

[2018-06-21 00:57] Xiralv commented on #347
@efezter Maybe some of your pages  in .scss has some .ion-slides class try to remove it and test it if its still showing only allday row for both weekdayview and dayview

[2018-06-21 12:57] twinssbc commented on #348
@KishoreKoushik, for all day event you need to convert it to UTC time. You could find detailed explanation in the Event Source section in README.

[2018-06-21 12:59] twinssbc commented on #350
@Divyea Are you giving some transparency to your background color? If you take a look at the Demo page, it actually won't display the underlying lines.

[2018-06-21 13:22] twinssbc commented on #346
@arulmanoa Sorry, I don't quite get your requirement. Do you have any problem to display the events in the correct time slot? Do you mean your event time is stored as UTC time?

[2018-06-21 13:28] twinssbc commented on #352
@vohrahul Currently no plan to support repeated events internally. Because repeated event could be very flexible, for example, repeat every day, Wednesday bi-weekly, the first Thursday in every month... I think it's better to let user make custom array and pass to the calendar.

[2018-06-21 13:31] twinssbc commented on #347
@efezter Could you inspect your DOM elements using developer tools to find out why the rest rows are not displayed or hidden. It's likely due to some conflict in the CSS.

[2018-06-21 13:37] twinssbc commented on #351
@Xiralv Below two styles determines the height of the display event. You just to change the 37px accordingly.

[code]

[2018-06-21 18:21] vohrahul commented on #352
@twinssbc Thanks for the quick reply. It would be a great feature to add. But I understand you may have other priorities. Great plugin though.

[2018-06-22 04:30] bhawanatyagi2010 commented on #95
Hi Everyone,

Can you please help me to create a calendar to show Week View of a Month using ionic2 calendar.I have tried various options present on github but unable to achieve this.For Month View i was successfully able to create the calendar.

Thank You

[2018-06-24 09:06] twinssbc commented on #95
@bhawanatyagi2010 If you use the calendar in your HTML like below, you just need to set calendar.mode to week in your component code.
You could refer to the Demo page to see how to toggle between month/week/day views.

[code]

[2018-06-24 23:41] vancuren commented on #352
@vohrahul

I accomplished this using ionic2-calendar with moment and moment-recur-ts. It takes some setting up but works like a charm once configured.

[moment-recur-ts](https://www.npmjs.com/package/moment-recur-ts) is a forked version of an older moment-recur no longer maintained.

[2018-06-25 11:32] Astacius opened #353 "Error during Ionic production build"
`Error: Metadata version mismatch for module C:/Users/someuser/Desktop/app/trunk/MobileApp/Work/node_modules/ionic2-calendar/calendar.module.d.ts, found version 4, expected 3`

During production build I have this error, how to fix this?

[2018-06-28 07:16] shashical commented on #230
How fix this issue TypeError: event_1.startTime.getTime is not a function
i have passed json sample  and i have read about date.parse how do i convert in dynamic json structure
loadEvents() {
this.eventSource = [
    {
        "title": "All Day - 0",
        "startTime": "2018-06-28T00:00:00.000Z",
        "endTime": "2018-06-28T00:00:00.000Z",
        "allDay": true
    },
    {
        "title":

[2018-06-28 08:01] shashical commented on #230
If i pass this format am getting error typescript does not allowing to execute.
What i have to do to pass proper date format which calendar has to read that.
{title: "All Day - 0", startTime: Tue Jul 03 2018 05:30:00 GMT+0530 (IST), endTime: Wed Jul 04 2018 05:30:00 GMT+0530 (IST), allDay: true}

[2018-06-28 13:30] shashical commented on #95
onselect date i want to move to week display how do i call week ?

[2018-06-29 05:01] shashical commented on #95
thank for your reply

Problem 1.:
I want to display month first -> calendar.mode to 'month'.
Onselect date --> i want to hide month and display week

Problem 2:
I want to display entire year full calender -> then month and year
selection should be there

How do i do this can you please help me

On Fri, Jun 29, 2018 at 5:25 AM, twinssbc <notifications@github.com> wrote:

[2018-07-01 10:38] twinssbc commented on #95
@shashical
1. Suppose you use the calendar in your HTML as below
[code]
Then you could set calendar.mode to 'month' in your component code.
And change the value to 'week' in onTimeSelected function
[code]

2. This calendar control only supports month, week and day view, looks like you want to have a year view? Then you need to create a separate page to implement your view. Then you could provide a

[2018-07-03 06:07] shashical commented on #95
Hi,

I did same way but when its loading at that time only week is displaying

 <calendar ... [calendarMode]="calendar.mode"
(onTimeSelected)="onTimeSelected($event)"></calendar>

   onTimeSelected(ev) {
            this.calendar.mode='week';
        };

actually i wanted like when i click on date then it should take me to week
display

On Sun, Jul 1, 2018 at 4:08 PM, twinssbc <notifications@githu

[2018-07-03 06:12] shashical commented on #95
Am trying to change calendar header color how do i change?

On Tue, Jul 3, 2018 at 11:37 AM, Shashidhar R <shashidhar.r2021@gmail.com>
wrote:

[2018-07-04 00:08] twinssbc commented on #95
@shashical Which view? You just need to add proper css style to locate the header element to change the background color.

[2018-07-04 08:53] Xiralv opened #354 "onCurrentDateChanged triggered twice"
Hi Im facing a problem in the calendar. when I swipe on the day view the onCurrentDateChanged triggered twice

[2018-07-04 13:06] twinssbc commented on #354
@Xiralv Is it possible you explicitly set the current date somewhere when onCurrentDateChanged is triggered?

[2018-07-05 00:58] Xiralv commented on #354
Yes this is my bad sorry. You can close it now thanks

[2018-07-05 11:12] shashical commented on #95
Hi,

How do i connect angular with google calendar

Can you please help me

[2018-07-05 11:31] sinan92 opened #355 "monthview triggers onTimeSelected"
When I select the month view it triggers the onTimeSelected event because a day is chosen. Is it possible to disable this? I just need it to not choose a day when selecting the month view or if possible for it not to trigger onTimeSelected.

[2018-07-07 16:03] #354 closed

[2018-07-07 16:05] twinssbc commented on #355
@sinan92 There is a "autoSelect" option, you could set it to false.

[2018-07-07 16:10] twinssbc commented on #95
@shashical This calendar doesn't care where do you get the event data? It could be from the database or other source like google calendar. You could call the google calendar API to retrieve the data and do the proper transformation and fill it into the eventSource.

[2018-07-08 10:05] GabrieleCicconetti commented on #326
i have the same problem after followed the locale instruction. Ionic 3.9.2, Angular 5.2.11 and last version of calendar :)

[2018-07-13 09:35] gidhin commented on #332
hi

im facing issue to get the events value in ts file.

my  html template

<ng-template #monthviewDisplayEventTemplate let-view="view" let-row="row" let-col="col">
        <div>{{view.dates[row*7+col].label}}</div>
        <div [ngClass]="getCustomClass(view.dates[row*7+col].events)" class="event-type-bubble">
            <span class="meeting"></span>
            <span class="activity"></span>

[2018-07-13 12:36] aces-tm commented on #332
I simplified my code.... try this
[code]

and TS file

[code]

scss (example)
[code]

Let me know if this helps

[2018-07-15 21:33] Shtibel opened #356 "Display three days / tow days each time"
Hi there,
I want to display a week day mode but only 3 or 2 days each time.
How can I do it

See the image.
Thank you

![image](https://user-images.githubusercontent.com/24429607/42738641-a7b61896-888f-11e8-9b01-f14649ba9008.png)

[2018-07-15 22:01] Shtibel opened #357 "How can I set the times column to be fixed"
Hi,

On Week mode, How can I set the times column to be fixed and not moving on every swipe?

Thank you.

[2018-07-16 08:14] Shtibel opened #358 "Set format of formatWeekViewDayHeader with HTML"
Hi,
How can I add HTML to the formatWeekViewDayHeader ?

I want it to look like this:
![image](https://user-images.githubusercontent.com/24429607/42748535-3581e7dc-88e9-11e8-81a7-f0e29ecf32d4.png)

So i try to do this:
`[formatWeekViewDayHeader]="<div class='my-day'>d</div><div class='my-day-name'>EEE</div>"`

But it dose not work.

[2018-07-17 04:34] shashical commented on #230
How do i show total number of events in month view

On Fri, Jun 29, 2018 at 5:24 AM, twinssbc <notifications@github.com> wrote:

[2018-07-17 06:34] shomronh opened #359 "How to show 2 and a half Days of the calendar and scroll to show the others days per week"
Hello

I would like to know if it's possible to show for example 2 and a half days of the calendar and then if the user want to, he can scroll to the left/right to see the other days as well.

This functionality should be possible for weeks and month of course

Hopefully there is a quick solution for that

Thanks a lot

Shomron.

[2018-07-17 06:52] gidhin commented on #332
@aces-tm  Thank you for you code. I try with your code but not working for me. if any version have problem, i try with 0.4.2 and 0.4.4 then also not working.

event source data bind in the template but cant get in events, that's my issue

<ng-template #monthviewDisplayEventTemplate let-view="view" let-row="row" let-col="col">
        <div>{{view.dates[row*7+col].label}}</div>
        <div [ngClass

[2018-07-17 07:39] timepass-ok opened #360 "On Date Click show day view"
Hi,
1. I want to remove event show under month calendar how do i do this?
  <calendar showEventDetail = false></calendar> -> not working
2.On Date Click show day view
 onTimeSelected(ev) {
     this.calendar.mode = 'week';
}
this function  is executed directly without clicking date means default view is now week
how do i display week on select date
3.Month view i wanted show total number of events

[2018-07-17 13:01] twinssbc commented on #356
@Shtibel Unfortunately, this calendar is not capable to display like that. When swiping to the previous/next view, the calculation is always based on the whole week.

[2018-07-17 13:02] twinssbc commented on #357
@Shtibel This is not supported. The whole view including the time column is wrapped in an ion-slide element, so it will move as a whole page.

[2018-07-17 13:12] twinssbc commented on #358
@Shtibel The formatWeekViewDayHeader allows you to return custom text, but it doesn't support raw HTML content.

[2018-07-17 13:13] twinssbc commented on #359
@shomronh It's not possible. The calculation logic in the calendar is always based on the whole month or week.

[2018-07-17 13:16] twinssbc commented on #332
@gidhin Not sure if it's just rendering issue. The template should use row*7+col, but in your pasted code, it is using row7+col

[2018-07-17 13:20] twinssbc commented on #360
@shashical
1. To hide the event detail section, you could set showEventDetail option to false.
2. The onTimeSelected is triggered at the first time calendar loads, because by default, the current date is selected. You could either set autoSelect to false, so that it doesn't select a date when calendar loads, or in your onTimeSelected method, you use some flag to detect if it's the first time loadi

[2018-07-17 13:29] Shtibel commented on #358
Thank you for your answer,
Can you please add an example how to do it with the formatWeekViewDayHeader?

[2018-07-17 13:30] Shtibel commented on #357
I undersand,
Thank you !

[2018-07-17 13:48] Shtibel commented on #356
OK,
Can it be done with queryMode?
Or is this option expected if future versions?

The 3 day mode is standard in google calendar.
I it more visual to see 3 day mode where more text and data can be displayed.
I think it will be grate to have this option and I think it is pretty simple to implement.

Hop you will consider to add it to the next version.
Thank to in advanced :-)

See this print screen

[2018-07-17 14:19] gidhin commented on #332
@twinssbc thank you, i have try with  row*7+col but still i am get the issue. i found that value is not getting in "view.dates[row*7+col].events", can you tell me the what format should use for eventSource

this is are the value i pushed to eventSource

data.start = "2018-03-20T00:00:00"
 startTime : new Date(data.start)

this.eventSource.push({
                    id: data.id,

[2018-07-19 14:58] twinssbc commented on #358
@Shtibel
[code]

[2018-07-19 14:59] #357 closed

[2018-07-19 15:02] twinssbc commented on #332
@gidhin Sorry, I don't quite understand your issue. According to your pasted code, it seems the startTime and endTime are the same?

[2018-07-20 09:12] gidhin commented on #332
@twinssbc Thank you for your reply. I find out the issue.

i changed the code like this. Now events are binding.

startTime: new Date(data.start),
endTime:  new Date(new Date(data.start).setHours(23)),

what mistake i did was startTime  and endTime have "Fri Jul 20 2018 00:00:00 GMT+0530 (India Standard Time)" this. so i add sethours(23) in the endTime

[2018-07-21 02:13] KishoreKoushik opened #361 "Remove the divider between the day headings in week view"
Hi,
 How can I remove the divider line between the day headers in the week view

[2018-07-21 06:38] twinssbc commented on #361
@KishoreKoushik The calendar itself doesn't expose such option. You could  override the CSS style.

[2018-07-23 05:04] NimaiMalle commented on #343
Forgive me if this is a naive question.  In Ionic, if I past the `ng-template` mark-up into my page html file along with the calendar declaration, what do I do about these errors?
![image](https://user-images.githubusercontent.com/334278/43057793-dc851b56-8e09-11e8-8e22-7658205cef52.png)
As you can see, `eventSelected(event)` and `allDayLabel` are undefined, because this is a copy of the default t

[2018-07-23 06:57] KishoreKoushik commented on #361
yea. I tried using the css. But it removes the divider for the entire calendar. Not just for week header

[2018-07-23 21:03] dalisonspy opened #362 "Repeat Start Time and Endtime"
Hi, how can I repeat the same title, start time and end time for other days ?? it's possible ?

[2018-07-24 07:48] davidmpaz commented on #258
Small explanation of how was misused can help others.

[2018-07-25 09:19] KishoreKoushik commented on #358
@Shtibel Could you achieve what you wanted. If yes, can you please let me know, how you did it ?

[2018-07-26 02:04] danieltorrer commented on #116
@akirilowski Same happens to me, could you solve it?

[2018-07-26 11:09] akirilowski commented on #116
@danieltorrer no, just used a workaround: lock the swipes after data loaded or in a setTimeout(..)

[2018-07-26 20:13] danielsxavier opened #363 "My ng-template is not working"
Hi, Im using angular 4.
my ng-template is not being applied. I don't know what is my error.
My code:

[code]

[2018-07-27 05:10] KishoreKoushik opened #364 "Week view day title issue"
Hi. I want to display the day title of the week like, date and day one below the other. How can I do that ?

[2018-07-27 09:18] Bogdan45 opened #365 "Weekview - startingDayWeek set 1, do not show the allDay event on Monday"
Hi,
when i set the startingDayWeek to 1 the Monday allDay Event will not displayed in the weeklyView. And other allDay events will be 1 day earlier then they should.

Version 0.4.4

[2018-07-27 09:19] Bogdan45 opened #366 "allDay Events will not show in dayView"
Hi,
in the dayView my allDay Events will not been shown.

0.4.4

[2018-07-29 01:16] twinssbc commented on #343
@NimaiMalle Correct, you need declare eventSelected and allDayLabel in your own component.

[2018-07-29 01:18] twinssbc commented on #361
@KishoreKoushik You probably use a quite generic CSS selection rule. You could try a more strict rule to only limit the scope on the day header element.

[2018-07-29 01:20] twinssbc commented on #362
@dalisonspy You need to implement the repeated event by yourself. Simply clone the event multiple times and set the start time and end time to the other days.

[2018-07-29 01:29] twinssbc commented on #358
@KishoreKoushik You could use "EEE d" to display the date part. As I explained, it's not possible to customize the content to put date under week.

[2018-07-29 01:32] twinssbc commented on #363
@danielsxavier I tried your template, it works. Is there any error displayed in the console?

[2018-07-29 01:33] twinssbc commented on #364
@KishoreKoushik The calendar doesn't provide such customization for the day header in week view.

[2018-07-29 01:40] twinssbc commented on #365
@Bogdan45 How do you generate the allDay event? Did you use UTC time? I don't think it's related to startingDayWeek. It's probably because you just use the way same as normal event to generate the all day event. When calendar calculates it, it shifts couple hours to the previous day.

[2018-07-29 01:41] twinssbc commented on #366
@Bogdan45 Duplicate issue with https://github.com/twinssbc/Ionic2-Calendar/issues/365?

[2018-07-30 20:53] Anujmoglix opened #367 "Update current View"
Hi ,
  I have one requirement that i want to show popup on click on any date then after updating calendar will update . Everything is work fine but i am using event and updating it so view is moving to default date ( current date) like august but  i want to be on that month where i was previously like september.

[code]

[2018-07-31 05:11] jayzyaj commented on #84
what's the official solution?

[2018-07-31 05:16] jayzyaj commented on #95
how did u change the header to that?

[2018-07-31 11:14] shashical commented on #95
I just gave important to which classes i wanted to use and added bootstrap
4

On Tue, Jul 31, 2018 at 10:46 AM, John Clifford de Vera <
notifications@github.com> wrote:

[2018-07-31 19:58] danielsxavier commented on #363
@twinssbc I already solve the problem, thanks!

[2018-07-31 19:58] #363 closed

[2018-08-01 13:57] Pedro-Henrique opened #368 "monthview - Show only the event title"
Hi,
in monthview how can I hide the interval time or the all day text and show only the event title when click in event day?

[2018-08-02 09:22] KishoreKoushik opened #369 "Highlight current day in day view and week view"
I want to display current date with a color in all day column in day view and column view. How can I do that?
 Currently I am using the custom template and changing the background of all day if there is any all day event. How can I do that for current day even if there is no event.

[2018-08-02 13:55] twinssbc commented on #84
@SoulSolider @jayzyaj Just simply use formatDayHeader option. I tried below, it's working
[code]

[2018-08-02 14:24] twinssbc commented on #367
@Anujmoglix Let's say if you bind the current date in HTML like [currentDate]="calendar.currentDate", then you could set the calendar.currentDate to a date in September, the calendar will navigate to that month automatically.

[2018-08-02 14:27] twinssbc commented on #368
@Pedro-Henrique You could use monthviewEventDetailTemplate option to render a custom view for the event detail part. You could find more information in README.

[2018-08-02 14:33] twinssbc commented on #369
@KishoreKoushik You could use weekviewAllDayEventSectionTemplate and weekviewNormalEventSectionTemplate. They are for the table part of the weekview instead of the individual event itself. So it should meet your requirement. Corresponding options are also available for day view.

[2018-08-03 13:18] sundaramoorthyjeeva opened #370 "Event dots misplaced when Daylight Savings Timezone months in Month view"
I am using Ionic2-Calendar in my Ionic mobile application. As of the documentation instruction I passed start and end date of an event. I passed the below from and to date objects to the calendar.

**From** : Wed Feb 14 2018 00:00:00 GMT -1100
**To** : Wed Feb 14 2018 23:59:59 GMT -1100

My expected output is to place the event dot on Feb 14. But the event dot placed on the next day. That means Fe

[2018-08-03 15:03] twinssbc commented on #370
@sundaramoorthyjeeva So the calendar is using the current local timezone of your device to place the events. It may appear in another day if the timezone is different. Also it seems you want to create an all day event, the calendar provides that type of event, you could directly use it.

[2018-08-04 21:25] Brand0n opened #371 "Rendering inactive day and week view templates"
Hi there. Firstly just want to say thanks for the awesome calendar, I really enjoy the flexibility of it. I'm using it in remote queryMode with day and week views for displaying assigned jobs to technicians.

I'm pulling data for 3 consecutive days / weeks depending on what mode you're in, with the idea that I'll be able to show the next and previous slide when you swipe left or right for a better

[2018-08-10 10:43] hugoblanc opened #372 "Not compatible with ionic v 4"
Due to the new version of RxJS, the way to import Observable is not correct anymore:

`import { Observable } from "rxjs/Observable";` should be  `import { Observable } from "rxjs";`

I don't know for the rest of the plugin

[2018-08-21 13:43] KishoreKoushik opened #373 "Do not want the current day to be selected"
Hi. I do not want the current date to be selected, whenever I swipe to and fro in the month view. But whenever I click on a date it should get selected. I f I use [autoSelect]="false", it is not selecting the date when swiping through the months but its not selecting even if I click on any date.

[2018-08-24 12:12] twinssbc commented on #373
@KishoreKoushik I could confirm that the date will be selected if I click on any date when autoSelect is set to false.

[2018-08-27 15:07] KishoreKoushik commented on #373
@twinssbc yea current day will be highlighted but in click of other date it is not highlighted but it will be selected in the background. Only thing is used will not know it's selected

[2018-08-27 19:45] newzhongdan commented on #54
for a dayview

`      .dayview-allday-label{
        display: none;
      }
      .dayview-normal-event-container{
       margin-top: 0px;
     }
     .dayview-allday-content-wrapper{
       height: 0px;
     }`

[2018-08-29 13:12] kasback opened #374 "Is there a posibility to add text in the month-view days cells ?"
Hi ! first i want to thank you for your usefull and great plugin.
I wanted to know if there is a way to add some text in the month view <td>'s programatically, something like this :
![image](https://user-images.githubusercontent.com/38462714/44789839-88e53680-ab95-11e8-9c88-1dee664cb262.png)
thanks.

[2018-08-29 15:08] twinssbc commented on #373
@KishoreKoushik Did you override some css style or used some custom template? By default, the selected date will be highlighted with green background color.

[2018-08-29 15:09] twinssbc commented on #374
@kasback Yes, you could take a look at monthviewDisplayEventTemplate option in README. It allows you specify a custom template for each cell content.

[2018-08-29 20:03] Sunil0710 commented on #84
@twinssbc  just now i tired the bellow
<calendar formatDayHeader = "E" ...></calendar> not working as expected.

but
<calendar formatDayHeader = "EEEE d" ></calendar> is working fine.

Can you tell me what is the exact answer ?

[2018-08-29 20:05] Sunil0710 commented on #84
@marcRDZ can i have your code to display the first letter of the DayHeader.?

[2018-08-30 09:34] kasback commented on #374
Can you please provide an simple example , like if i want to add the event name to the cell from your loadEvents() function.

[2018-08-30 12:43] KishoreKoushik commented on #373
No. I am not using any custom template. I am just using the calendar tag straight forward. I have attached the view. Suppose today is 30th, it will highlight 30th of every month. I want it to highlight 30th of only current month.

<img width="203" alt="screenshot_1" src="https://user-images.githubusercontent.com/22149302/44852217-4cdad000-ac80-11e8-8048-e0921ebd3cd5.png">

[2018-08-30 17:02] mautenrieth commented on #290
Hi all,

is it still not possible to hide the weekend days in week view? (i.e. with the attribut weekend like in https://fullcalendar.io/docs/weekends).
If no, does anyone know which files have to be changed?

Thx in advance!
Cheers, Max

[2018-08-31 09:01] marticrespi commented on #372
@hugoblanc  he shoud upgrade this part, but you can pass this error installing rxjs-compat

`npm i rxjs-compat --save`

This is not a problem with ionic v4, the real problem with ionic 4 is that this library is based on ionic 3 and you when try to serve or build the project shows these errors:

`[ng] ERROR in node_modules/ionic2-calendar/dayview.d.ts(1,24): error TS2307: Cannot find module 'ionic-

[2018-08-31 11:48] kasback opened #375 "Cannot read property 'title' of undefined inside ng-template"
Hello, i wanted to modify the cells content so i used your ng template like this

[code]
![image](https://user-images.githubusercontent.com/38462714/44910697-1d79a100-ad1c-11e8-814c-be8f29337a62.png)

the problem is that i get

But when i remove the title property it works just fine

[code]

![image](https://user-images.githubusercontent.com/38462714/44910683-0cc92b00-ad1c-11e8-9b0d-443f5b0f7b41.p

[2018-08-31 11:56] kasback commented on #375
the problem was :
at the time im trying to access the value it was not yet defined.

I solved it by doing this
<p>{{view.dates[row*7+col].events[0]?.title | json}}</p>

[2018-08-31 11:56] #375 closed

[2018-09-03 12:46] twinssbc commented on #373
@KishoreKoushik By default, the cell selected will have the monthview-selected css class and its background color of this class will be green. You could override the style to make it transparent. The current day will have the monthview-current css class. You could override the style to pick up a proper background color.

[2018-09-03 12:59] KishoreKoushik commented on #373
Can you please guide me how to do that? I want only the today to be
selected, but not in all the months.

On Mon, 3 Sep 2018 at 18:16, twinssbc <notifications@github.com> wrote:

[2018-09-03 13:13] twinssbc commented on #374
@kasback
So you could have a template like below in your HTML
[code]
To use it,
[code]

And in your loadEvents function, you could set the proper value to the eventName property.

[2018-09-03 14:32] twinssbc commented on #372
@marticrespi Yes, I will upgrade the dependency.

[2018-09-04 14:26] #374 closed

[2018-09-05 06:45] mautenrieth commented on #116
hi @akirilowski. Could you please post a snipped of your code (controller & view)? Can't figure it out to work :-( Thank you :-)

[2018-09-05 08:07] akirilowski commented on #116
@mautenrieth
I don't have access to the code anymore. But it should work like in the README doc:

`        <calendar ... [lockSwipes]="lockSwipes"></calendar>

        ngAfterViewInit() {
            var me = this;
            setTimeout(function() {
                me.lockSwipes = true;
            },100);
        }
`
You could put the `setTimeout` method into your component constructor.
The time

[2018-09-05 19:57] mautenrieth commented on #116
Thank you!

[2018-09-06 07:30] kkaczmarzyk opened #376 "What exactly weekviewNormalEventSectionTemplate is for?"
Hello,
I had hard time trying to understand what does weekviewNormalEventSectionTemplate do and what its purpose. Maybe I'm dumb but explanation provided in readme is not enough for me. Could someone please explain to me what is the purpose of this template?

[2018-09-07 13:14] KishoreKoushik opened #377 "calendar on rotation of the screen"
Hi, I can see two hour columns for a split second when I rotate the screen. I have attached the recording for that. How can I fix this.

[ScreenRecording_09-07-2018 09-08-12.zip](https://github.com/twinssbc/Ionic2-Calendar/files/2361142/ScreenRecording_09-07-2018.09-08-12.zip)

[2018-09-09 11:51] gjwade commented on #370
@sundaramoorthyjeeva i am a newer with ionic, could you paste the code how to display event dots and the left/right arrow in the header,3q

[2018-09-11 02:01] jayzyaj opened #378 "Calendar monthview not updating when the previous day is clicked on the previous month"
When I try to click on the previous day of the previous month. For example today is **Sept 11 9:59 AM** here on **Philippines**. Then I try to click on the **previous day** that day is on **august** which is the **previous month**. I would like also to change the monthview of the calendar to August automatically when I click on the day the belongs to that month.

[2018-09-11 23:47] twinssbc commented on #378
@jayzyaj The calendar should automatically switch to the previous month, I can achieve that from the demo page. Did you do any customization? Is there any error printed in the console?

[2018-09-12 13:27] sdhin commented on #303
sir i want a full source code @ghost

[2018-09-13 05:34] jayzyaj commented on #378
@twinssbc sorry I did some customization that affected the calendar. It is working now. But can I ask just one question before closing this issue. How can I call the slide to the next month and previous month programmatically?

[2018-09-14 05:49] jayzyaj commented on #207
@darkholiday How did u do it programmatically to navigate to the previous or nextmonth?

[2018-09-14 05:59] jayzyaj commented on #162
@plindsay I tried to do that but it has a conflcit if I call it programmatically and I swipe after it. To explain further:
Today is Sept 14, 2018 here in PH. Now I swipe to the next month which is October. Now I tried to click the button to trigger the nextMonth() method. But after I click the button it still went to october which suppose to be november.

[2018-09-14 06:00] #378 closed

[2018-09-14 06:05] jayzyaj opened #379 "Programmatically calling currentDate to switch to next or previous month has a conflict in slide."
I implemented two buttons in top of the calendar where each button has a `previousMonth() `method and `nextMonth()` method. When I click this two buttons it will trigger this method depending on when month to navigate if it is previous or next. Here is the code below of the two methods.

[code]

However I still want to use the swipe to left or to right event where it can display the previousMonth

[2018-09-15 10:07] twinssbc commented on #207
@jayzyaj Check the **Common Questions** section in README.

[2018-09-15 10:11] twinssbc commented on #162
@jayzyaj What's the logic in your nextMonth method? In theory, if you set the currentDate properly, the calendar will navigate to the corresponding month automatically.

[2018-09-15 10:43] twinssbc commented on #379
@jayzyaj I think the reason is because you are using below syntax to bind to the currentDate attribute.
[code]

Notice that this is one-way binding, if you change calendar.currentDate, it will change the calendar's internal _currentDate variable. But when you swipe to the next month, although the internal variable is changed, it won't change the calendar.currentDate variable.

You need to register

[2018-09-16 23:33] jayzyaj commented on #379
@twinssbc  Thank you! Not it is working

[2018-09-18 07:01] marticrespi commented on #372
@twinssbc perfect! Will you wait to oficial release, right?

Many thanks!

[2018-09-18 14:00] #379 closed

[2018-09-18 14:06] twinssbc commented on #372
@marticrespi I'm waiting for the official release.

[2018-09-22 16:33] MoisesGT opened #380 "Calendar not show events in iOS"
Calendar display events in Android and browser, but can not show events on iphone,
Actually, I receive calendar events from my API in the title change event to optimize the performance of my application, but the events are not shown in iOS.

**This is my code in calendar.html**

<calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelect

[2018-09-25 00:00] rodrigoguariento opened #381 "calendar day mode displaying hour but not minutes"
how to use formatHourColumn to display hour and minutes? or am i wrong? here is only showing like 6am instead 6:00 or 6:55, etc in calendar mode = day.

[2018-09-27 17:56] jloria13 commented on #84
Hey @twinssbc, I found this https://medium.com/a-curious-life/customizing-angular-ui-bootstrap-directives-c4461c12afa9 he solve this problem in angular but where can I this in my app ?

[2018-09-28 20:48] lluisnieto commented on #263
Same here:

Error: ./src/pages/track-manager/event-data/event-data.ngfactory.js Module not found: Error: Can't resolve
            '../../../../node_modules/ionic3-calendar-en/src/calendar/calendar.ngfactory' in
            '/Users/lluissoler/Projects/braapfinder-pwa/src/pages/track-manager/event-data' resolve
            '../../../../node_modules/ionic3-calendar-en/src/calendar/calendar.ngfactory

[2018-09-29 17:40] mowaiskalam opened #382 "Events Display in Day View is not correct"
Hi, I am using this tool in my app. First of all, it's great, Thanks for making it.

The problem I am facing is about the events displaying in day event is not correct. The events are not matching with the correct minute line. Like if event time in any day is **9:30 am - 11:15 am** then same day another event is **11:45 am - 13:15 am**, there should be a gap between these two events in day view bu

[2018-09-30 14:40] mowaiskalam commented on #382
@twinssbc any reply on this?

Thanks

[2018-10-02 02:10] xStarman commented on #381
formatHourColumn="H:mm" should work

[2018-10-02 17:45] rodrigoguariento opened #384 "event.title multiline or HTML"
Dears, does someone know if is possible to write two or more lines (or HTML formatted) for each event.title (inside eventSource)? Thanks!

[2018-10-03 22:52] twinssbc commented on #263
@lluisnieto It seems you are using ionic3-calendar-en? This project is not related.
You should create an issue under https://github.com/DydjyZ/ionic3-calendar-fr

[2018-10-03 22:55] twinssbc commented on #382
@mowaiskalam I think this is because you set the **step** option to 30, which means the event ends at 11:15 will occupy the first half of the hour, and the event starts at 11:45 will occupy the second half of the hour. You could try set the step option to 15.

[2018-10-03 22:56] #381 closed

[2018-10-04 14:32] twinssbc commented on #384
@rodrigoguariento By default, if the text exceeds the width, it will automatically wrap the text into next line. If you want to make the content formatted, you could use the customized template.

For example, below is the default template,
[code]

You could give event two properties, title1, title2, then use any HTML format you want to display them.

[2018-10-04 17:28] mowaiskalam commented on #382
@twinssbc Thanks for letting me know about **step** option, it works for me. But I am confused about its usage now. When I set it to **1** my events are placing with the gap, when I set it to **10** it works for me as excepted. But the problem is my event can be off any time, but cannot overlap, can you suggest me that what I should set in **step** option which works in every case for me.

Thanks

[2018-10-04 23:15] twinssbc commented on #382
@mowaiskalam The supported values of **step** are only 15, 30 and 60 (by default). Although setting it to smaller value may work, that's not officially supported. The reason to have step option is to be able to place the event accurately in one hour. But it doesn't make sense to place it too accurately, for example, at one minute level, as user can't tell the difference from a mobile device.
So I'

[2018-10-05 12:01] timepass-ok opened #385 "not working ionic2 demo Link"
https://twinssbc.github.io/Ionic2-Calendar/demo/

[2018-10-05 14:58] twinssbc commented on #385
@shashical Which browser are you using to view the demo page? Any error printed out in the console?

[2018-10-05 16:21] shashical commented on #385
Ubuntu mozila firefox with no console

On Fri, Oct 5, 2018 at 8:28 PM twinssbc <notifications@github.com> wrote:

[2018-10-05 17:16] rodrigoguariento commented on #384
I'm using Ionic 3, and into html page I have:

`  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [locale]="calendar.locale"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"

[2018-10-05 19:18] mowaiskalam commented on #382
Hmm. Thanks for the information. I will check it with my scenarios. Closing this, since the issue is supposed to be resolved when setting 5 in step option. Thanks

[2018-10-05 19:18] #382 closed

[2018-10-06 03:59] twinssbc commented on #384
@rodrigoguariento You could have your event object looks like
[code]

Then in HTML, you could use below
[code]

[2018-10-06 04:06] twinssbc commented on #385
@shashical I tried in Firefox, it's working. You could open the console in the "Web Developer" menu.

[2018-10-06 04:07] twinssbc commented on #385
@shashical What popup window? #217 is not related to this.

[2018-10-08 18:08] rodrigoguariento commented on #384
Thanks!

[2018-10-08 18:08] #384 closed

[2018-10-09 19:14] rodrigoguariento opened #386 "Using monthviewEventDetailTemplate to change only event.title"
Dears, I would like to change only "title" of each event displayed this kind of view. For example: show "student_name" and "teacher_name" instead of "title" alone for each line.

Looking for "monthviewEventDetailTemplate"...

`
<ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
...
</ ng-template>

<calendar ... [monthvie

[2018-10-11 12:01] twinssbc commented on #386
@rodrigoguariento Here is the default one. You could update it accordingly.
[code]

[2018-10-14 16:13] hakikihacioglu opened #387 "Change text for hours in week view"
hi,

I would like to have a constant number of lets say 4 rows and show the text for hours in the week view as in the following example.

all day
Type 1 Job 1
Type 1 Job 2
Type 2 Job 1
Type 2 Job 1

instead of:
all day
00 h
06 h
12 h
18 h

Is there a way doing this?

Thank you

[2018-10-22 13:20] KishoreKoushik commented on #377
Hi @twinssbc. Please tell me how can we solve this problem. I am not able to resolve this.

[2018-10-23 21:09] mowaiskalam opened #388 "Change `startHour` and `endHour` on day change"
Hi, I have a scenario. If we are on day view, my clients want to narrow down the calendar by setting `startHour` and `endHour` field to the nearest event, Like:

I tried doing this on the day change event but no luck, startHour and endHour not changing instantly.

Also, I have a scenario to not show the calendar when no events are there on a day, but we don't have any hide calendar property, and w

[2018-10-24 06:40] KishoreKoushik commented on #377
@twinssbc Can I myself give a try regarding this. Please let me know in which file we can handle this or we can't handle this

[2018-10-24 13:05] eggysudianto opened #389 "this plugin support ios?"
Hi, this plugin support ios?
sorry for my question like this, because I not find which platform support in documentation.
Thanks

[2018-10-26 07:22] KishoreKoushik opened #390 "Separate click event on click of day headings in week view"
Do we have a separate click event for click on day headings in week view rather than onEventSelected and onTimeSelected.

[2018-10-26 12:49] twinssbc commented on #389
@eggysudianto This calendar plugin is built on Ionic framework which is for cross-platform hybrid mobile apps. So yes, it support ios.
https://ionicframework.com

[2018-10-26 12:58] twinssbc commented on #390
@KishoreKoushik In the latest version, 0.4.5, if you click the day header in weekview, onCurrentDateChanged and onTimeSelected events will be triggered.

[2018-10-26 13:12] twinssbc commented on #388
@mowaiskalam Unfortunately it doesn't support changing startHour and endHour on the fly. They are used when the day view is initialized at the first time, later if you swipe to other day, the initialization code won't be triggered again. Also bear in mind, your events probably is fetched asynchronously, so once you fetch the events, the day view is already rendered. So you also can't change the st

[2018-10-26 13:20] twinssbc commented on #377
@KishoreKoushik Actually I have no idea how to fix it. It seems like css related issue. This calendar is based on ion-slides, so basically there are three slides, the second slide which is in the middle is displayed, the previous and next slides are hidden. When you rotate the screen, since it becomes wider, the next slide is also displayed, then the responsive css style automatically adjust the c

[2018-10-27 13:01] KishoreKoushik commented on #390
@twinssbc Both the events return selected date with time 12. How can we make out user has clicked on the header ?

[2018-10-27 17:57] mowaiskalam commented on #388
Hi, Thanks for the information. If I use ngIf to hide the calendar. I have to bind its events again when I will show it. Don't you think we should have hide option as well because It is not good to re-render complete calendar every time on day change.

[2018-10-30 06:02] rajkanase commented on #274
Thanks for your explaination..I did same but getting following error.
core.js:1449 ERROR TypeError: Cannot read property 'loadEvents' of undefined
    at SafeSubscriber._next (calendar.ts:45)
    at SafeSubscriber.__tryOrUnsub (Subscriber.js:196)
    at SafeSubscriber.next (Subscriber.js:134)
    at Subscriber._next (Subscriber.js:77)
    at Subscriber.next (Subscriber.js:54)
    at MapSubscriber.

[2018-11-01 17:29] mowaiskalam opened #391 "Scroll to event on day view"
Hi, On day view I want to scroll to the first event of that day when day change. I can scroll by using JS scroll function but I saw calendar have additional ion-scroll on every day. Can you suggest me how can I achieve this?

Thanks

[2018-11-04 02:57] twinssbc commented on #390
@KishoreKoushik I think you could just use onCurrentDataChanged event, it will only be triggered when user clicked the header in the week view.

[2018-11-04 03:16] twinssbc commented on #388
@mowaiskalam If you don't want the calendar gets re-rendered every time, you could bind a variable to [hidden].

[2018-11-04 03:20] twinssbc commented on #274
@rajkanase As the error indicates, this.myCalendar is undefined. Could you change it properly so that it could call loadEvents method?

[2018-11-04 14:07] mowaiskalam commented on #388
Thanks for the info. Although, I achieve using [ngClass].

[2018-11-04 14:12] mowaiskalam commented on #391
Hi, This ion-scroll is there on day render but I want to scroll to the first event of that day. And I was confuse how can I scroll because calendar has it's own scroll. Although, When I run loop over a days events, I found the function 'scrollIntoView()' inside element and that works for me.

[2018-11-04 14:12] #391 closed

[2018-11-08 05:28] eggysudianto opened #392 "ionic2-calendar Can't bind to 'eventSource'"
I'm try use this ionic-calendar in blank project and it work.
but when I implement this plugin to my project, it not work with error.

`VM40:37 ERROR Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'eventSource' since it isn't a known property of 'calendar'. ("
<ion-content class="has-header">

    <calendar [ERROR ->][eventSource]="eventSource"

              [calendarMo

[2018-11-08 14:32] #388 closed

[2018-11-08 14:33] twinssbc commented on #287
@jayzyaj The date range feature discussed here is not related to my project. You could check
https://github.com/HsuanXyz/ion2-calendar

[2018-11-08 14:33] #287 closed

[2018-11-08 14:34] twinssbc commented on #392
@eggysudianto Did you import the calendar module?

[2018-11-16 10:30] KishoreKoushik commented on #390
@twinssbc I am using onTimeSelected event also. Even onCurrentDataChanged events returns the same data as the onTimeSelected

selectedTime: Wed Nov 07 2018 12:00:00 GMT+0530 (India Standard Time) {endTime: 1541574000000}

I am unable to differentiate

[2018-11-17 04:36] twinssbc commented on #390
@KishoreKoushik You want to do something when the day header is clicked, right? Then you just need to add logic in onCurrentDateChanged event, and ignore the onTimeSelected event triggered at the same time.

[2018-11-20 19:42] newzhongdan commented on #390
thanks you for add the funcionality :D what archive i can edit for add week days on dayview? is necesary for change of day (example jump from sunday to friday) :P

[2018-11-22 06:32] sidoineAdanz commented on #302
that works for me. thanks

[2018-11-24 01:51] twinssbc commented on #390
@newzhongdan Sorry, I don't quite get your question. What do you mean add week days on dayview?

[2018-11-24 01:52] #302 closed

[2018-11-29 12:23] AlonsoFon opened #394 "Can im set steps or timeinterval of WeekView to 40 minutes?"
Hello, my english is not very good but im will try to explain my problem...

Im need to make weekView steps or time interval accept 40 minutes, if im set it at options the calendar take another effect...

steps 40 minutes should show the weekview hours were below:

8:00
8:40
9:20
10:00
10:40
11:20
12:00

How are showing if i set steps or time interval 40 minutes:
8:00
8:40
9:00
9:40
10:00
10:40
11

[2018-11-29 14:05] twinssbc commented on #394
@AlonsoFon Unfortunately it doesn't support 40 mins as the interval. As the README explains, it should be the factor or multiple of 60, which means 60%timeInterval=0 or timeInterval%60=0.

[2018-12-04 20:02] rodrake1 commented on #188
I didn't get how to implement the language change. I'm not trying to do it dynamically, just a plain and simple change from en-US to another language. I'm using Ionic 3.20.0. Could somebody show me how it is done?

[2018-12-10 09:50] patrickritskes opened #395 "Disable date picker time slots"
Hi guys,

Nice work on this plugin!
I've got a question about disabling an already chosen time when creating a new event, a timeslot.

For example:
Say my client creates a new event tomorrow from:
10:00 till 11:00,
and wants to add another event on that day from:
11:00 till 12:00
is there a possibility to disable the previous time slot in the date time picker, and not double book on the same time

[2018-12-10 10:30] twinssbc commented on #395
@patrickritskes It seems your question is related to the date time picker, not this calendar component?

[2018-12-10 15:34] patrickritskes commented on #395
Ah ok thanks!
I will take a look over there

[2018-12-14 07:04] sidoineAdanz commented on #60
@mowaiskalam , did you solde that? I have the same issue

[2018-12-15 05:10] #395 closed

[2018-12-15 16:37] deemi47 commented on #372
Me also waiting , can i get simple steps for installing this on Ionic4?

[2018-12-16 15:00] patrickritskes opened #396 "Current Month view export"
Hi there,

Right now i'm busy with a event PDF export, all is working well!

But the idea is to do a monhtly PDF export from the current month view (let's say November) with all it's available events from that specific month.

How can this be done?
I already did a try with the onRangeChanged event with queryMode to 'remote' with no luck

[2018-12-16 15:07] twinssbc commented on #396
@patrickritskes The calendar accepts the events you passed in, so you should already know the available events within the time range, no need to let the calendar tell you the available events.

[2018-12-18 14:17] newzhongdan commented on #396
you need get the arrays of the month (array 7* 4 or 5), maybe is not possible... you use pdfmake?

[2018-12-18 14:52] newzhongdan commented on #396
the ng-template contain the arrays

`<ng-template #template let-view="view" let-row="row" let-col="col">
            {{view.dates[row*7+col].label}}
        </ng-template>

        <calendar ... [monthviewDisplayEventTemplate]="template"></calendar>`
see de doc...

if you get the view (console.log(view.dates)); maybe solve your problem, i don't know how to do that.

[2018-12-18 14:55] patrickritskes commented on #396
I will give it a try, many thanks for your approach!
Will let you know asap

Op di 18 dec. 2018 15:52 schreef x <notifications@github.com>:

[2018-12-18 15:24] newzhongdan commented on #396
ok, i get the arrays

add the template month in your html, and use Viewchild
my code

`... all import...
export class HomePage {
  @ViewChild('templatemonth') elemElem;
... other code
`
use "console.log(this.elemElem);"  in some function (button for example) for get data, and you see all arrays of the month, the info is confused, but you can build a calendar

<img width="1187" alt="captura de pant

[2018-12-18 16:19] patrickritskes commented on #396
Ah ok I see! Looks promising!

Op di 18 dec. 2018 16:24 schreef x <notifications@github.com>:

[2018-12-18 20:33] patrickritskes commented on #396
Got it al working now, nice PDF export of my montly viewed events!

Only 1 thing left:
if you have a montview of December, you still got some days from November
and Januari in the actual monthview unfortunately!

Op di 18 dec. 2018 om 17:19 schreef Patrick Ritskes <
patrickritskes@gmail.com>:

[2018-12-19 15:16] twinssbc commented on #396
@patrickritskes You could use onCurrentDateChanged callback. That date definitely falls into the current displayed month.

[2018-12-19 22:53] jloria13 opened #397 "Change FormatDayHeader"
Hi @twinssbc is there a way I can change the values displayed in the formatDayHeader to specific ones, not provided by the language ? For example instead of S,M,T,W,T,F,S it should show S,M,T,W,X,F,S.
Hope is clear enough

[2018-12-20 09:20] patrickritskes commented on #396
@twinssbc/Ionic2-Calendar
<reply@reply.github.com>
I
only get the selected date back when using onCurrentDateChanged! not the
whole calendar range, am I missing something here?

Op wo 19 dec. 2018 om 16:16 schreef twinssbc <notifications@github.com>:

[2018-12-20 13:04] twinssbc commented on #396
@patrickritskes I thought you just want to know what's the current month?

[2018-12-20 13:32] newzhongdan commented on #396
he need print the calendar in a pdf, using html2canvas isnt posibble (create a screenshot), then he needs get all arrays to create the calendar using only arrays

[2018-12-23 16:57] kaoecoito opened #398 "Call loadEvents result in onTimeSelected"
Hello,

Calls to onTimeSelected or changes in eventSource cause click calls to onTimeSelected

[2018-12-23 17:04] kaoecoito commented on #398
This is result of autoSelect true

[2018-12-23 17:04] #398 closed

[2019-01-01 10:29] ahmedwsi opened #399 "Runtime Error Cannot read property 'event_title' of undefined"
Hello I have issue with my calendar: this my loadEvents function, it returns results successfully, but there is run time error: Runtime Error Cannot read property 'event_title' of undefined

`loadEvents() {
    this.data = this.http.get("http://********/get_events.php");
    this.data.subscribe(result => {
      for (var i=0; i <= result['events'].length; i++) {
        this.eventSource.push({

[2019-01-01 11:03] twinssbc commented on #399
@ahmedwsi As the error indicates, you are referencing to some undefined variable. Could you check if result['events'][i] always refers to a valid object?

[2019-01-03 00:32] twinssbc commented on #399
@ahmedwsi
I don't think this for loop is correct. If i equals result['events'].length, it will return undefined result.
[code]

Also your code is pushing elements to the eventSource array directly. Take a look at the **loadEvents** instance method in README. You need to manually call the loadEvents method.

[2019-01-03 06:59] ahmedwsi commented on #399
Thanks, I changed the for loop to :

`this.data.subscribe(data => {
      this.data = data['events'];
      data['events'].forEach((val, index) => {
        this.eventSource.push({
          id: val.event_id,
          title: val.event_title,
          startTime: new Date(val.event_date),
          endTime: new Date(val.event_date),
          allDay: false
        });
      });
    });`

Its works

[2019-01-03 13:32] #399 closed

[2019-01-04 06:50] agiratech-hari opened #400 "How to hide week and day view?"
Need to hide the week and day view

[2019-01-04 15:15] twinssbc commented on #400
@agiratech-hari, you just don't switch to week and day view, always stay at month view.

[2019-01-09 13:43] iamanandacharya commented on #372
@twinssbc
Hi please updating this issue.
when it will be compatible with v4?

[2019-01-10 08:00] Hlaphoneo opened #401 "Change day title from Mon, Tue, Wed, Thu..."
Hi! Does anyone know how to change the days title from Mon, Tue, Wed, Thu...  to M T W T ?

[2019-01-10 12:52] #401 closed

[2019-01-10 13:45] vohrahul commented on #352
If I remember correctly, I did a more custom approach and modified the plugin a little in my local. Now I realise I should have forked and made a commit. Don't have the source code now. :(

[2019-01-11 21:44] mathisschuelingkamp commented on #372
@twinssbc Could you please give us an update on this? Really waiting for it

[2019-01-13 12:16] twinssbc commented on #372
I have released 0.5.0 version to support Ionic v4. The only incompatible feature is **dir** option which is removed from the ion-slides in Ionic v4.
Feel free to have a try.

[2019-01-14 18:42] mathisschuelingkamp commented on #372
@twinssbc Works great now, thank you! Love this calendar since ionic1

[2019-01-15 10:42] ram1225 opened #402 "Getting error as can't find the module '@ionic/angular'"
I'm trying to import this plugin but getting this below error .

Uncaught Error: Cannot find module "@ionic/angular"
    at Object.<anonymous> (calendar.module.js:1)
    at __webpack_require__ (bootstrap 33a48c14dddc2418a6e4:54)
    at Object.<anonymous> (index.js:1)
    at __webpack_require__ (bootstrap 33a48c14dddc2418a6e4:54)
    at Object.487 (main.ts:5)
    at __webpack_require__ (bootstrap 3

[2019-01-15 11:58] twinssbc commented on #402
@ram1225 It seems you are using 0.5.x version of the calendar? If you are Ionic v3, you should use 0.4.x version of the calendar. You could find the dependency information in README.

[2019-01-15 11:58] #372 closed

[2019-01-15 13:12] ram1225 commented on #402
Yeah! my bad... Its working now. cool . Thanks alot @twinssbc

[2019-01-15 14:55] #402 closed

[2019-01-15 22:06] mathisschuelingkamp opened #403 "Custom styling in Ionic 4"
Hey @twinssbc, thanks for making this plugin and thanks for your update to use it in Ionic 4.

Since Ionic 4 is using shadow dom to prevent scss manipulation of the elements, i see no possibility to change the .monthview-current and .monthview-primary-with-event style like background-color, width and padding because i don't found variables for that.

How can we customize these elements?
Thank you!

[2019-01-16 00:30] twinssbc commented on #403
@mathisschuelingkamp You could add styles in the global.scss like below.

[code]

[2019-01-16 04:49] rajneshkis13 commented on #81
can you explain how i set dynamic event background color for getting an event array

[2019-01-16 04:49] rajneshkis13 commented on #81
in month view and day view
than's for advance

[2019-01-16 06:49] kevinpallado commented on #244
@romulus001 any update of your work? @twinssbc  I`m also doing this the same but I get this kind of [result](https://github.com/romulus001/ESS/blob/master/src/pages/Calendar/ionic2-calendar-result.PNG) seems that the other day that has no event will disappear. Even after following [this](https://github.com/twinssbc/Ionic2-Calendar/issues/94#issuecomment-298194910) method still getting the same [re

[2019-01-16 13:03] romulus001 commented on #244
@kevinpallado I could solve my problem, the matter comes from the node_modules\ionic2-calendar\calendar.js file, in which something was missing but I can't remember what it might be, the updated files I used can be found via [this link](https://github.com/romulus001/Shared-files/blob/master/calendar.js)

[2019-01-16 13:53] twinssbc commented on #244
@kevinpallado Sorry, I can't open your link. What do you mean "the other day that has no event will **disappear**"?

[2019-01-16 14:05] mathisschuelingkamp commented on #403
Thanks @twinssbc, that worked! :)

[2019-01-16 19:59] romulus001 commented on #244
@twinssbc he put a link to an image I uploaded on my account, I put as private my repository which contains the image, I uploaded it on my dropbox, it's [this image](https://www.dropbox.com/s/l0qllmtvwvedgbu/ionic2-calendar-result.PNG?dl=0) he is talking about.

[2019-01-16 23:15] #403 closed

[2019-01-16 23:21] twinssbc commented on #244
@romulus001 Thanks. Looks like no events get displayed? @kevinpallado Do you fill the eventSource correctly?

[2019-01-17 00:57] kevinpallado commented on #244
@twinssbc yep i got it correctly. How can i get the event color in the calendar , from this [image](https://imgur.com/a/eFUyDFa) I want to remove the color the background color of the box?

[2019-01-17 07:47] aceshiryu opened #404 "ionic2-calendar issue"
Hi! I am actually having this kind of an error and it seems that I will install the @ionic/angular. It doesn't solve the problem until such time, an error will pop out that Object(...) is not a function and I don't know also to which error is it referring to. I tried to reinstall the plugin and it's not working again. I got the latest version of the calendar, 0.5.1 .

![screen shot 2019-01-17 at 3

[2019-01-17 17:02] dtgfranca commented on #404
I'm same problem here

[2019-01-17 22:53] twinssbc commented on #404
Could you paste your package.json?

[2019-01-17 23:00] twinssbc commented on #244
@kevinpallado Add below styles in global.scss file. They will set the background  to transparent.

[code]

[2019-01-18 00:51] aceshiryu commented on #404
Here's my package.json

{
  "name": "ionic-app-base",
  "version": "0.0.0",
  "author": "Ionic Framework",
  "homepage": "http://ionicframework.com/",
  "private": true,
  "scripts": {
    "start": "ionic-app-scripts serve",
    "clean": "ionic-app-scripts clean",
    "build": "ionic-app-scripts build",
    "lint": "ionic-app-scripts lint"
  },
  "dependencies": {
    "@angular/animations": "5.2.1

[2019-01-18 00:57] kevinpallado commented on #244
@twinssbc  is it possible to put markers on the day column? like put something number in the top right of the day on how many events occur in that day?

[2019-01-18 14:42] twinssbc commented on #404
@aceshiryu Your dependency is not correct. Try to start a new Ionic 4 project. You will see the angular version is at least 7.1

[2019-01-18 15:04] twinssbc commented on #244
@kevinpallado Take a look at **weekviewHeaderTemplate** option. It allows you to provide the custom view of the day header.

[2019-01-18 23:14] victorcarvalhosp commented on #190
can someone please provide an example?

[2019-01-19 01:53] twinssbc commented on #190
@victorcarvalhosp You could get some idea from the demo directory.

[2019-01-19 07:16] aceshiryu commented on #404
Is there another way that I can resolve this? I already uploaded an APK for this project. I am not using Ionic 4 for now, the project is currently Ionic 3.9

[2019-01-19 10:47] dtgfranca commented on #404
@aceshiryu I figured out thus:
I made a fork ionic2-calendar and I installed @ionic/angular. After this, I runned "npm build" and published on site npm and I updated in my project ionic3. Now it's work

[2019-01-20 14:59] AdiPathak97 opened #405 "Typescript Error Cannot find module '@ionic/angular'."
Hello, I have tried to import this plugin into my application but am getting the runtime error of : Cannot find module '@ionic/angular'.

I am using version 0.4.x of the calendar, unlike a similar issue where the user had used 0.5.x version of the calendar. The module cnnot be found only in the ionic2-calendar/dayview.d.ts, ionic2-calendar/weekview.d.ts and ionic2-calendar/monthview.d.ts files. An

[2019-01-20 17:06] AdiPathak97 commented on #405
I have tried using the command "npm install @ionic/angular" as this directory was itself missing in the node_modules folder of my project directory. However, after doing this, I am getting hundreds of typescript errors. Some of them are syntax errors (eg : missing ; in @ionic/core/dist/types/components.d.ts) which were not present before. Any help is appreciated.

[2019-01-21 13:35] twinssbc commented on #405
@AdiPathak97 I'm bit confused about the calendar version you are using. Version 0.5.x relies on Ionic 4 , which you should import @ionic/angular. Version 0.4.x relies on Ionic 3, which you should import ionic-angular. Could you confirm the exact version you are using?

[2019-01-21 14:52] AdiPathak97 commented on #405
At the beginning, I had used ```npm install ionic2-calendar --save```. Later I realised this installs latest version, so uninstalled it.

Then I had used the command ```npm install ionic2-calendar@0.4.x --save```. It displayed : +ionic2-calendar@0.4.6 after installation. However, after you mentioned this, I checked the version again, and realised that node has installed ionic2-calendar v0.5.1, due

[2019-01-21 15:12] AdiPathak97 commented on #405
It works now. Guess both v0.4.6 and 0.5.1 are present in node now. Thanks for replaying.

[2019-01-21 15:12] #405 closed

[2019-01-22 13:59] aceshiryu commented on #404
I think I upgraded my ionic cli to ionic 4.

I read this issue, https://github.com/twinssbc/Ionic2-Calendar/issues/372 , and you've released a version that will support Ionic 4. Do I need to install something? I really liked your calendar, I really appreciate it but I can't work on it. Sorry for the inconvenience.

[2019-01-23 12:54] FrancescoPaiola commented on #239
@Titoch can you share the custom template for disable date runtime in monthview? and how to use it?

[2019-01-23 13:10] FrancescoPaiola opened #406 "Disabling a day specific day in monthview"
Hi, i'm trying to disable a particular day using markDisabled runtime.
`this.markDisabled(my_date);` seems not working as mentioned here https://github.com/twinssbc/Ionic2-Calendar/issues/239#issuecomment-348651396.

The claim is to implement a disable date logic based on a date returned from a get query.
This date variable is not immediately available, so i can't use it on view load in markDisabl

[2019-01-23 13:54] twinssbc commented on #404
@aceshiryu I don't think your current package.json is correct. If you want to use the Ionic 4, you need to install the calendar 0.5.x version. And Ionic 4 has dependency on Angular 7.1.4. You also need to make sure Angular version is correct in your package.json.
I suggest you start a new project using the ionic cli, then take a look at the package.json of that new project.

[2019-01-23 14:10] twinssbc commented on #406
@FrancescoPaiola As I explained in the issue 239, the markDisabled is only triggered when the view is initialized, it won't be triggered afterwards.

1. If you could stay in another page, then navigate back once your get query returns, then you could store your disabled date and use it in the markDisabled method. Once you navigate back, the calendar will be re-rendered, so the markDisabled method

[2019-01-23 15:54] aceshiryu commented on #404
Good. I got, it's now working but I need to redo some of the designs for this. I just created new project (Ionic 4, not Ionic 3) and tried the ionic2-calendar, it works. Maybe it's time to do the new Ionic 😁 thanks!

[2019-01-24 08:45] FrancescoPaiola commented on #406
Ok but what i'm actually asking is how to implement a customized template to do that.

[2019-01-24 10:34] FrancescoPaiola commented on #406
Thank you so much i'll try it immediately!

[2019-01-24 13:55] #404 closed

[2019-01-25 14:36] aceshiryu commented on #404
Hello sir! Does the ionic2-calendar supports on Ionic 3.9? I tried
recreating an app with Ionic 3.9 framework then sets the NgCalendarModule,
it asks for an installation of @ionic/angular. @ionic/angular is for Ionic
4 right? I followed your steps starting to recreate the app first.

On Thu, 24 Jan 2019, 21:55 twinssbc <notifications@github.com wrote:

[2019-01-25 15:44] twinssbc commented on #404
@aceshiryu If you want to use Ionic 3.9, you should use the 0.4.x version of calendar component.

[2019-01-25 15:51] aceshiryu commented on #404
Is that npm install ionic2-calendar@0.4.9 ?

On Fri, Jan 25, 2019 at 11:44 PM twinssbc <notifications@github.com> wrote:

[2019-01-25 15:53] aceshiryu commented on #404
I mean 0.4.6 ?

On Fri, Jan 25, 2019 at 11:50 PM Ace Glicerio <acecerio1@gmail.com> wrote:

[2019-01-26 12:56] twinssbc commented on #404
yes

[2019-01-29 13:41] agiratech-sankar opened #407 "How to show 'no events' just one time in the calendar plugin?"
I am attaching the sample code that we worked. If any bug in the below code please reply. We are just a beginner to ionic

  <calendar [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
    ste

[2019-01-30 16:10] twinssbc commented on #407
@agiratech-sankar

The problem is you put **hari** inside ngFor, that's why it's repeated.
[code]
You could try use *ngIf to check if eventSource has element, if it has, then use the above block, otherwise display the no event label.

[2019-01-31 13:56] kevinpallado opened #408 "Show only in calendar the interested months"
Hi,

Is it possible to display the specific months in the calendar? For example like I just want to get from January to March only. Do you have any support for this kind of action?

[2019-02-02 04:56] kevinpallado commented on #408
@twinssbc uhm, how can I use the `[lockSwipeToPrev]="lockSwipeToPrev"` properly, when the month changes while I am putting new activity in every month the accessible month will become on a single month. Hoping for you feedback

[2019-02-02 05:08] kevinpallado commented on #408
@twinssbc  so after I added an activity (dismissing the activity modal page) I got this [error](https://imgur.com/a/fdMjhar) I dont know what is the reason. The thing is I am not navigating another page I am just adding layer component, I hope you can see this and suggest what to do

[2019-02-03 12:39] twinssbc commented on #408
@kevinpallado So Angular is doing double check in its rendering lifecycle. This error means the value is changed since last check. It usually happens when you want to set some value before the whole rendering lifecycle completes. What I usually do is to use setTimeout to delay the operation after the rendering. Something like this:

[code]

[2019-02-06 23:08] jloria13 commented on #397
Thank you!

[2019-02-06 23:08] #397 closed

[2019-02-07 21:57] jloria13 opened #409 "Is it possible for you to expose a method for sliding between months ?"
I can't retrieve the swiper element from TS, so if you could expose a method to go back and forth between months would be great, I need it to call it from a button.

[2019-02-08 05:15] #408 closed

[2019-02-09 00:02] twinssbc commented on #409
@jloria13 You should be able to retrieve the swiper element by using below code
[code]

[2019-02-09 20:33] jloria13 commented on #409
Dumb mistake I made, thank you

[2019-02-09 20:33] #409 closed

[2019-02-12 13:56] indraraj26 commented on #380
i am having the same issue @twinssbc  Please look into this issue

[2019-02-12 23:46] twinssbc commented on #380
@indraraj26 Could you check if the startTime and endTime you passed in is valid? There's some date parsing function not supported in Safari.

[2019-02-13 08:20] indraraj26 commented on #380
@twinssbc i can see you already added intl support to your ionic2 calendar but it doesn't seems to work, even i have added intl in main.ts still i cant see event in ios but it works perfectly in android/google chrome.

version of your plugin:

version of intl

version of ionic

this is how i am parsing date for eventSource
code:
[code]
Output:
[code]

[2019-02-13 10:12] stefanvangastel commented on #392
Same issue here, imported the calendar module in `app.module.ts`:

[code]

[2019-02-13 13:14] marlonwesleysimon commented on #120
use in calendar module
       constructor() {
			moment.locale('pt-BR')
		}

[2019-02-13 13:24] twinssbc commented on #392
@stefanvangastel Are you using PageModule? If so, you need to import the calendar module in the page module file.

[2019-02-13 13:27] twinssbc commented on #380
@indraraj26 The problem is not related to Intl, but Date.parse function.
Check below discussion.
https://stackoverflow.com/questions/6427204/date-parsing-in-javascript-is-different-between-safari-and-chrome

[2019-02-13 13:39] indraraj26 commented on #380
Dear @twinssbc ,

Thank you for your awesome plugin for free :)
Let me try stackoverflow solution will get back you with response if that work.

[2019-02-14 12:18] twinssbc commented on #380
@indraraj26 No, it accepts a Date object. You need to convert the string to Date.

[2019-02-25 12:33] ArgHakobyan commented on #184
.

[2019-02-28 07:38] rajkishoreandia opened #410 "select year"
How some body can select the year or can switch between years and can go to the particular month

[2019-03-01 00:22] twinssbc commented on #410
@rajkishoreandia This calendar only supports month, week, day views. You could implement your own year selection logic. To navigate to a particular month, you just need to set the currentDate to a day in that month.

[2019-03-01 19:29] rajkishoreandia commented on #410
Thanks for the quick response @twinssbc .I have a date 198-10-03 and i want to slide the calendar to that particular year's month.Could you guide me how to do ?

[2019-03-02 10:09] rajkishoreandia commented on #158
my calendar dates are not showing after using the template as follow
 <ng-template #template1 let-view="view" let-row="row" let-col="col">
                <div *ngFor="let obj of view.dates[row*7+col].events">
                        <p [ngStyle]="{'background': obj.eventColor } ">{{view.dates[row*7+col].label}}</p>
        </div>
            </ng-template>

    </div>

[2019-03-02 10:24] rajkishoreandia commented on #342
could u give me getCustomClass() snippet

[2019-03-03 23:28] twinssbc commented on #342
@rajkishoreandia The logic of getCustomClass depends on your scenario.
For example, if each event has an eventType field, below sample returns the eventType of the first event on that day.
[code]

[2019-03-03 23:31] twinssbc commented on #158
@rajkishoreandia I think it's just some DOM and CSS manipulation issue. You could use the browser developer tools to hover on the elements to figure out what's wrong?

[2019-03-04 15:25] akshaykatale99 commented on #95
hi @twinssbc i am facing the same issue like https://github.com/twinssbc/Ionic2-Calendar/issues/95#issuecomment-399317331 calender not shows week and day view even when i set mode..

[2019-03-05 00:21] Mo5005 opened #411 "Ionic2-Calendar, Cannot read property 'getTime' of undefined"
![11](https://user-images.githubusercontent.com/39675817/53771804-51f53200-3ee4-11e9-965c-c512ed07ac5d.JPG)

I have a problem with AddEvent in the ionic2-Calendar and it shows the following error
please someone has a solution for it

here this Code for AddEvent:

` modal.onDidDismiss().then(data => {
      if (data) {
        try {
          let eventData = data;

          eventData.data.startTim

[2019-03-05 00:24] Mo5005 commented on #411
@ionic4
@_ionic2-calendar

[2019-03-05 10:01] Mo5005 commented on #411
i am having the same issue @twinssbc Please look this issue

[2019-03-05 15:16] twinssbc commented on #411
@Mo5005 This doesn't seem to be correct. Each element in events should have startTime and endTime fields, instead of having another data field.

[code]

[2019-03-05 15:19] twinssbc commented on #95
@akshaykatale99 Could you provide your code? Not showing week and day view means the calendar stays on the month view?

[2019-03-05 15:37] Mo5005 commented on #411
So where is my mistake in this case?
 here also have a start and end time for each event

[2019-03-05 16:26] akshaykatale99 commented on #95
@twinssbc check this...

yes calendar shows on month view but not on week and day..

.ts

calendar = {
        mode: 'month',
        currentDate: new Date(),
        dateFormatter: {
            formatMonthViewDay: function(date:Date) {
                return date.getDate().toString();
            },
            formatMonthViewDayHeader: function(date:Date) {
                return 'MonMH';

[2019-03-06 21:44] Mo5005 commented on #411
I do not have the error anymore but the events are not displayed, why?

`  async presentModal() {
    const modal = await this.modalController.create({
      component: ModalPage,
      componentProps: {
        selectedDay: this.selectedDay,
        value: 123
      }
    });
    modal.present();
    modal.onDidDismiss().then(data => {
      if (data) {
        try {
          let eventData = dat

[2019-03-07 13:28] twinssbc commented on #411
@Mo5005 I still don't think your eventSource array is populated correctly.
It should be like
[code]
Instead of having data in the middle.

[2019-03-07 13:46] twinssbc commented on #95
@akshaykatale99 How do you set the calendar.mode to week or day?

[2019-03-07 14:03] akshaykatale99 commented on #95
@twinssbc here i set the mode

calendar = {
mode: 'month',
currentDate: new Date(),
dateFormatter: {
formatMonthViewDay: function(date:Date) {
return date.getDate().toString();
},
formatMonthViewDayHeader: function(date:Date) {
return 'MonMH';
},
formatMonthViewTitle: function(date:Date) {
return 'testMT';
},
formatWeekViewDayHeader: function(date:Date) {
return 'MonWH';
},
formatWeekViewTitle: fu

[2019-03-07 15:44] twinssbc commented on #95
@akshaykatale99 How do you switch to week or day?

[2019-03-07 17:01] akshaykatale99 commented on #95
@twinssbc i switch it using on click event

[2019-03-07 23:40] twinssbc commented on #95
@akshaykatale99 Is there any error printed out in the console? Also could you use Developer Tools to hover on the element to see if it is actually there but not rendered correctly for some reason (maybe your other element or css has some conflict with it)

[2019-03-08 06:10] rajneshkis13 opened #412 "can not activate already activated outlet"
into ionic 4 ionic2-calender is not working in ios device
giving errors in some of ios version like 6s

showing blank screen only with error
please help.
![simulator screen shot - iphone 6 - 2019-03-06 at 18 30 03](https://user-images.githubusercontent.com/32674573/54010985-e38bca80-4196-11e9-9053-b1833465c3b5.png)

[2019-03-08 06:17] akshaykatale99 commented on #95
@twinssbc No error in console...wait let me share my screenshot

[2019-03-08 07:36] indraraj26 opened #413 "[bug] onTimeSelected is always return 12:00 or 00:00 instead of currenttime"
When i click on date on calendar it emits this on onTimeSelected , I get actual date but time always stay at 12:00 or 00:00
Is there anyway to emit actual time on onTimeSelected ?

Log:
[code]

log:
[code]

stackblitz: [https://stackblitz.com/edit/ionic-calendar-scheduler?file=pages%2Fhome%2Fhome.ts](url)

Thank you

[2019-03-08 16:00] Titoch commented on #158
Hi,
Maybe the issue comes from ngFor instead of *ngFor in the div?

[2019-03-10 01:37] Mo5005 commented on #411
my eventSource looks like that

`import { Component, OnInit } from '@angular/core';
import { NavParams, ModalController } from '@ionic/angular';
import * as moment from 'moment';
import { OverlayEventDetail } from '@ionic/core';

@Component({
  selector: 'app-modal',
  templateUrl: './modal.page.html',
  styleUrls: ['./modal.page.scss'],
})
export class ModalPage implements OnInit {

  datei: any

[2019-03-10 01:37] #411 closed

[2019-03-10 01:38] Mo5005 commented on #411
my eventSource looks like that

`import { Component, OnInit } from '@angular/core';
import { NavParams, ModalController } from '@ionic/angular';
import * as moment from 'moment';
import { OverlayEventDetail } from '@ionic/core';

@Component({
  selector: 'app-modal',
  templateUrl: './modal.page.html',
  styleUrls: ['./modal.page.scss'],
})
export class ModalPage implements OnInit {

  datei: any

[2019-03-10 03:04] twinssbc commented on #412
@rajneshkis13 Could you use Developer Tools to check what error printed in the console?

[2019-03-10 03:06] twinssbc commented on #411
@Mo5005 Just to confirm you solved the issue?

[2019-03-10 03:14] twinssbc commented on #413
@indraraj26 When onTimeSelected is triggered in month view, the hour of selected time is 12:00:00. When onTimeSelected is triggered in the week view and day view, the hour is the slot actually selected.
Are you expecting different behavior?

[2019-03-10 08:18] kotran88 opened #414 "Cannot find module “/@ionic-native”"
when I just add
import { NgCalendarModule } from 'ionic2-calendar';
and NgCalendarModule to imports
on app.module.ts ,
It has error saying Cannot find module “/@ionic-native” when I typed ionic serve

I'm using ionic 3...
what's wrong with code?

[2019-03-11 05:39] indraraj26 commented on #413
@twinssbc actually it should trigger current time suppose i want to add event i get proper date but time is always 12:00 or 00:00 so user has to edit time everytime he add event .

what was the reason to add 12:00 in month view ? may be i am not aware of that

[2019-03-11 21:15] Mo5005 commented on #411
the problem is not solved :(

[2019-03-11 21:27] Mo5005 commented on #411
first the events are not shown under the calendar  as in the photo

![Unbenannt1](https://user-images.githubusercontent.com/39675817/54159264-e44d8680-444c-11e9-8f6f-0870444ee3b6.JPG)

[2019-03-12 09:22] abdulkadhir opened #415 "color based on event type"
Hi, @twinssbc thanks for the plugin.
I want to different background color for the different event type.
 I'm using **[monthviewEventDetailTemplate]**.
I also tried **[monthviewDisplayEventTemplate]** but it shows only the dates with event
thanks

[2019-03-13 07:37] indraraj26 commented on #414
which version of ionic3 and ionic2-calendar are you using ?

[2019-03-13 13:01] twinssbc commented on #413
@indraraj26 The reason I set it to 12:00 is to avoid the timezone difference. Actually you don't need to use the hour part of the selected time, you could easily get the current time by yourself.

[2019-03-13 13:03] twinssbc commented on #411
@Mo5005 As I said, don't put the "data" field there.
The calendar accepts below format
[code]
Instead of
[code]

[2019-03-13 13:06] twinssbc commented on #415
@abdulkadhir You could use monthviewDisplayEventTemplate.
Suppose you have a field called eventType, you could use ngClass or ngStyle to generate the custom css style based on the eventType.

[2019-03-13 14:06] kotran88 commented on #414
Ionic:

   ionic (Ionic CLI)  : 4.10.3 (/usr/local/lib/node_modules/ionic)
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.0

Cordova:

   cordova (Cordova CLI) : 8.1.2 (cordova-lib@8.1.1)
   Cordova Platforms     : android 6.3.0, ios 4.5.5
   Cordova Plugins       : cordova-plugin-ionic-keyboard 2.1.2, cordova-plugin-ionic-webview 2.1.4, (and 12 other plugins)

System:

[2019-03-13 14:07] kotran88 commented on #414
"ionic2-calendar": "^0.5.2",

[2019-03-14 05:27] indraraj26 commented on #413
Thank you @twinssbc for response. yes i did that with new Date() later join the time with eventSelectedTime.

[2019-03-14 05:27] #413 closed

[2019-03-14 06:37] abdulkadhir commented on #415
thanks @twinssbc

[2019-03-14 06:37] #415 closed

[2019-03-14 13:18] twinssbc commented on #414
@kotran88 If you are using 0.5.2 version of the calendar, you need to upgrade your Ionic version to 4.0

[2019-03-18 06:27] #412 closed

[2019-03-18 06:39] rajneshkis13 opened #416 "day view display time and event in horizontal line"
in ionic 2 calendar i need to display time and event in horizontal line
for now in day view displaying like below

![Screenshot 1940-12-27 at 12 06 47 PM](https://user-images.githubusercontent.com/32674573/54511251-6a4e5d80-4976-11e9-9643-1f67ab2c9d24.png)

i need like this type of view

![Screenshot 1940-12-27 at 12 08 11 PM](https://user-images.githubusercontent.com/32674573/54511295-89e58600-49

[2019-03-18 13:25] twinssbc commented on #416
@rajneshkis13 This is not supported. Also bear in mind, the calendar is supposed to be run in a mobile device. The height is bigger than the width.

[2019-03-18 14:30] karouAhmed commented on #392
@twinssbc i have the same problem ,how to import the calendar module in the module file please ??

[2019-03-19 20:58] akshaykatale99 commented on #95
@twinssbc here is my screens
![FireShot Capture 028 - Ionic App - localhost](https://user-images.githubusercontent.com/12472207/54641303-e3090300-4ab7-11e9-8e99-7048d3d0968a.png)
![FireShot Capture 026 - Ionic App - localhost](https://user-images.githubusercontent.com/12472207/54641304-e3090300-4ab7-11e9-91a8-d3b2cbae2a4a.png)
![FireShot Capture 027 - Ionic App - localhost](https://user-images.git

[2019-03-20 13:15] twinssbc commented on #392
@karouAhmed What error did you get? Are you using the PageModule?

[2019-03-20 13:17] twinssbc commented on #95
@jacob-cross99 So the week view is displayed, but not rendered completely. Usually this is because some other DOM element or customized css cause the rendering issue. Could you use the Developer Tool to check the page content to see why the rest of the calendar is not rendered properly?

[2019-03-21 09:55] VinuthaShreyas commented on #55
I tries using the scrollToHour both in the HTML in the calendar config.
Also tried using in the component by setting calendar
{
  mode: 'day',
        currentDate: new Date(),
        scrollToHour: 9
}
Both the solution seems to be not working

[2019-03-21 14:20] twinssbc commented on #55
@VinuthaShreyas
If you set scrollToHour as below in your component ts file
[code]

You could use it in your component HTML file as below
[code]

[2019-03-21 19:48] AnkitS221 commented on #247
Hey twinssbc
In the onTimeSelected event.....is it possible to not call the event on page load of calendar

[2019-03-22 07:10] VinuthaShreyas commented on #55
I tried all this. Nothing seems to be working. I am using ionic4. Could this be an issue?

[2019-03-22 14:27] twinssbc commented on #55
@VinuthaShreyas "Not working" means the scroll bar doesn't scroll at all when you swipe to next week?

[2019-03-22 14:28] twinssbc commented on #247
@AnkitS221 Yes, you could set autoSelect to false. Or you could use some internal flag to ignore the first time onTimeSelected is triggered

[2019-03-25 10:44] VinuthaShreyas commented on #55
I want the scroll to work in the dayview calendar

[2019-03-25 13:03] twinssbc commented on #55
@VinuthaShreyas It should work. Does it work in week view? Maybe a screenshot or video clip could help.

[2019-03-25 13:45] VinuthaShreyas commented on #55
Actually I have two calendar instances on the same page. One for the month view. Beneath i have the day view.

I have configured events in such a way when a day changes on the month view , the corresponding event loads in the day view. This all works perfectly fine.

I am setting the scrollTohour property for the day view.Following is the code snippet
  <calendar [eventSource]="eventSourceforMonth

[2019-03-26 09:44] VinuthaShreyas commented on #167
This issue is still replicable.
When onCurrentDateChanged is configured in the html. The function is called twice whenever the date changes on the month view calendar

[2019-03-26 15:03] twinssbc commented on #167
@VinuthaShreyas Is it possible in the onCurrentDateChanged method, you set the calendar date again?

[2019-03-26 15:27] twinssbc commented on #55
@VinuthaShreyas I tried putting two calendars in the same page and the second one has scrollToHour set to 9. It is working, although it may not scroll to 9AM, because of the page height limitation. Is preserveScrollPosition option working?

[2019-03-27 07:46] VinuthaShreyas commented on #55
@twinssbc
I agree with you when there are two calendars on the same page,scrolling may be a challenge considering the height limitation.

But scrollToHour doesn't work even when I put the single instance of the day view calendar on the page
commenting the other instance

[2019-03-27 09:54] eugenioghio opened #417 "AllDay true, grafically rendered on day before"
### Issue type
Select all that apply
- [ ] Bug
- [ ] Enhancement
- [ ] Task
- [x] Question
- [ ] Other

### Description
Grafically my allDay event starts the day before and last one day more than supposed to.

My allDay events, in the event source, are reported with the correct date and time, the time being 00:00.

It is only a rendering problem that persist in all views.

I experienced this issue

[2019-03-27 13:53] twinssbc commented on #55
@VinuthaShreyas Could you provide your entire HTML and ts files?

[2019-03-27 13:57] twinssbc commented on #417
@eugenioghio The all day event has to be as a UTC date which time is set to 0:00 AM. For example
[code]
You could get more information in **EventSource** section of README.

[2019-03-27 15:58] eugenioghio commented on #417
Thanks for the help.
I updated my code to create a new UTC date at 00:00, still no joy
[code]
Why is it not enough?

[2019-03-27 16:37] eugenioghio commented on #417
I parsed the utc numbers that I logged, and actually, the early day problem is due to the difference between GMT and my time zone.

The same problem does not apply to the normal events.

How to tell the calendar to use one timezone once and for all?

[2019-03-28 23:56] twinssbc commented on #417
@eugenioghio
I suspect the way you create UTC time is not that correct.
If I use below line to create the date
[code]
The time is Thu May 08 2014 08:00:00 GMT+0800 (CST)
I'm in the GMT+8 time zone, so the time part minus the time zone offset is exactly 0:00 AM.

[2019-03-29 05:59] Jai-Kumaresh commented on #204
It's not work in ionic 4. If you know any solution please tell me. My need is clicking the arrow icon event to trigger the calendar next month swipe.
![ionic2-calendar-issue](https://user-images.githubusercontent.com/43090102/55212485-e9b11c00-5215-11e9-865a-904a657c4b82.png)

[2019-03-30 08:15] abarrios003 opened #418 "Calendar inside ion-slide (ionic 4)"
Inside ion-slide (with ionic 4) the calendar doesn't adjust to the slide width (the rows are rendered along all the slides). With ionic 3 everything is fine... Is there any way to fix the calendar width in order to fit inside ion-slide? Thank you very much for your support and knowledge!

[2019-04-02 00:28] twinssbc commented on #418
@abarrios003 The calendar itself is implemented based on the ion-slides. Are you putting the calendar  inside another ion-slide? In this case, when you swipe on the screen, which one should respond to the swiping?

[2019-04-02 18:03] abarrios003 commented on #418
The calendar is rendered on the center of the first ion-slide, so if I swipe on the calendar central div, the swipe action only triggers the calendar slides. Otherwise, if I swipe on another zone of the slide, then I can move between ion slides. The problem comes with the calendar width, monthview-container class occupies the entire width of the page (all the slides)
I've followed this article: ht

[2019-04-03 12:15] twinssbc commented on #418
@abarrios003 Below is my solution. I put the calendar inside a div and set the width to 100%

[code]

[2019-04-03 17:43] abarrios003 commented on #418
Thank you @twinssbc . That solution also works for me

[2019-04-03 17:43] #418 closed

[2019-04-05 17:18] Ashwaniproctur opened #419 "In the month view previous months templates are rendered."

[2019-04-05 17:24] Ashwaniproctur commented on #419
In the month view previous months templates are rendered.
For example now currently in the April month and in to the month view on some days there are events and I'm showing some information of event on that day by using custom template now when I'm swipe to next month then it is working fine after again swiping in to the the July month the events information from the April month is got displayed

[2019-04-06 00:49] twinssbc commented on #419
@Ashwaniproctur This is the known issue. Checkout the Known Issue section in README.

[2019-04-08 07:13] rajneshkis13 opened #420 "wan to display week number in month view"
I want to display week number as first column in month calender view

or range in calender header section
like april 2019  has week number from 14,15,16,17,18    then in header 14-18.

please help

[2019-04-08 08:07] Kayl06 commented on #402
I have the same issue Mr. twinssbc. I am using also ionic 3 version and I honestly doing your suggestions but I received again the same error.

The process I'm doing :
I created a new blank ionic
I moved my src folder in that blank ionic folder
I installed again the ionic2-calendar using this "npm install ionic2-calendar --save"
and then I run it. then I got that error message.

Please help me.

[2019-04-08 12:42] twinssbc commented on #402
@Kayl06 By default, the npc install command will install the latest version of the calendar. If you are using Ionic 3.2 version, you need to install version 0.3.x.

[2019-04-08 12:45] twinssbc commented on #420
@rajneshkis13 Displaying the week number as the first column is not supported. If you want to display the week number in the header, you could use the dateFormatter option, just implement the formatMonthViewDayHeader method.

[2019-04-10 02:06] #312 closed

[2019-04-11 15:37] mijke75 opened #421 "Calendar resets to current month"
I have a page with ion-segment in the header. The first segment shows the ionic2-calendar, the second segment shows a list of all events in that month.

I keep track of which month is shown in the calendar segment and update the list on the other segment. When I go back a month in time and go to the list it shows the correct events.

However, when I go back to the calendar it resets itself to the

[2019-04-11 20:23] karouAhmed opened #422 "showEventDetail not updating after update the eventSource ?"
@twinssbc  The showEventDetail not updating after updating the eventSource ,the lastest values still below ... Solution please !!!

[2019-04-13 02:06] twinssbc commented on #422
@karouAhmed Do you want to set the showEventDetail dynamically? This is not supported. It only takes effect on the initialization phase.

[2019-04-13 02:07] twinssbc commented on #421
@mijke75 The month displayed depends on the currentDate value. Do you reset the currentDate value when you go back?

[2019-04-13 08:19] karouAhmed commented on #422
@twinssbc can i initialize it ?

[2019-04-14 01:05] twinssbc commented on #422
Just set the showEventDetail option when declaring the calendar in HTML.
[code]

[2019-04-14 08:25] karouAhmed commented on #422
@twinssbc No, i want to reset it every time if it possible please !!

[2019-04-15 06:24] mijke75 commented on #421
@twinssbc

Thanks for your reply. I tried to do that, but it keeps jumping back to the current Month. I added the following code:

  // Change current month/week/day
  next() {
    var swiper = document.querySelector('.swiper-container')['swiper'];
    swiper.slideNext();

    var newDate = dayjs(this.myCal.currentDate).add(1, 'month').format('YYYY-MM-DD');
    // newDate is indeed the date for th

[2019-04-15 12:35] twinssbc commented on #422
@karouAhmed As I said it only takes effect during initialization phase. If you just want to show nothing if there's no event, you could simply set **noEventsLabel** to empty string. Or you could try using **monthviewEventDetailTemplate** to create a custom view of event detail section which could be shown/hidden based on your own variable.

[2019-04-15 12:42] twinssbc commented on #421
@mijke75 Could you paste the code of your whole HTML and ts? When is the next() method get triggered?

[2019-04-15 13:06] karouAhmed commented on #422
@twinssbc Can you give me an exemple of monthviewEventDetailTemplate,i'am beginner in this , please ...

[2019-04-15 14:53] mijke75 commented on #421
**monthly-log.page.html**

<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="calendar">
        Calendar
      </ion-segment-button>
      <ion-segment-button value="list">
        List
      </ion-segment-button>
    </ion-segment>

    <io

[2019-04-15 14:55] mijke75 commented on #421
next() and back() are triggered from the calendar header in the HTML.

I hope I did something stupid and you can point it to me, since this is keeping me busy for a while :)

Thanks in advance for looking at it.

[2019-04-16 07:09] Thisisnarayan commented on #151
Any solution you found of current time indicator for day view and week view

[2019-04-17 00:15] twinssbc commented on #421
@mijke75 It seems you are setting this.myCal.currentDate. But actually you are binding to this.calendar.currentDate. Could you try using that variable?

[2019-04-17 12:23] twinssbc commented on #422
@karouAhmed This is the default template of the month view event detail section. The default logic is the selectedDate.events will be set when you select a date in the month view. You don't need to initialize it.

[2019-04-17 14:53] karouAhmed commented on #422
@twinssbc When i update the evenSource,it not updated,and it will show me the lastest events and upated events , even i delete them !!

[2019-04-18 10:05] mijke75 commented on #421
Thank you! That's the solution. Thank you so much for taking a look at it!

[2019-04-18 12:06] #421 closed

[2019-04-18 12:07] twinssbc commented on #422
@karouAhmed How do you update the eventSource?

[2019-04-18 14:09] karouAhmed commented on #422
@twinssbc I set it null everytime and push the new event ...But thats methode not working !!

[2019-04-18 15:23] StefanVerresen opened #423 "[help] weekviewHeaderTemplate"
**1) Is it possible to only get the particular days in a week like in the example below with the WeekviewHeaderTemplate?**

![image](https://user-images.githubusercontent.com/32302024/56371130-d386f200-61fc-11e9-858c-f0dd8732d251.png)

**2) If it is possible, how do I use it in my code?**

`ng-template #template let-viewDate="viewDate"> `
`<div class="custom-day-header"> {{ viewDate.dayHeader }} <

[2019-04-19 00:37] twinssbc commented on #422
@karouAhmed Could you provide the code of your method? If you just push the event into the eventSource array, it won't work. Take a look at the "EventSource" section in README.

[2019-04-19 00:40] twinssbc commented on #423
@StefanVerresen I'm not sure which part do you want to display as the screenshot you provided.
There are quite a few of week view related templates that can be used for customization. Feel free to get more explanation and usage in README.

[2019-04-19 06:34] StefanVerresen commented on #423
I would like to implement a weekly view like the screenshot above.
I would guess it is the 'weekviewHeaderTemplate' right?µ
And If so, how would I implement a template in my code, I find no direct examples of the usage of templates in the readme or in the examples so I was wondering how to exactly code it.

[2019-04-19 10:33] karouAhmed commented on #422
![image](https://user-images.githubusercontent.com/39932045/56420718-5eb8c400-629f-11e9-8cc9-1ea48df3fc9d.png)

[2019-04-21 15:23] twinssbc commented on #423
@StefanVerresen I'm afraid this calendar doesn't support your requirement. Your layout is more similar to the month view, but only with one week. But the whole month view is swiped on month basis. It doesn't support navigation between weeks.

[2019-04-21 15:40] twinssbc commented on #422
@karouAhmed You don't need to call loadEvents in the forEach loop, you could call it after the whole eventSource array is filled.
Also is it only the event detail section not display the newly loaded events? The other sections could display the events?

[2019-04-22 10:41] karouAhmed commented on #422
@twinssbc I don't unsderstand your question !!

[2019-04-22 12:01] twinssbc commented on #422
@karouAhmed Could you provide a screenshot?

[2019-04-22 12:38] karouAhmed commented on #422
![sd](https://user-images.githubusercontent.com/39932045/56500684-2cf86500-650c-11e9-9f1f-a0c5496f55eb.PNG)
![sq](https://user-images.githubusercontent.com/39932045/56500685-2cf86500-650c-11e9-9287-da58ebbbbd3d.PNG)
when i add an other one ...

[2019-04-22 13:44] twinssbc commented on #422
@karouAhmed Could you debug to see why the eventSource array contains duplicated records after you fill the array in your loading callback?

[2019-04-22 19:29] vagnersabadi commented on #380
If someone is having invalid date issues only in IOS one solution I found was to apply replace within new Date()
``  array.data.map((a: any) => {
        this.eventSource.push({
          title: a.title,
          **_startTime: new Date(a.start_at.replace(/-/g, "/")),
          endTime: new Date(a.end_at.replace(/-/g, "/")),_**
          allDay: false,
        });
      });``

works on both androi

[2019-04-22 20:37] karouAhmed commented on #422
@twinssbc I find the mistake ...the 'rdvs' arrays it not initialized ,evey update it take the old values and the newest ... Sorry for wasting your time ...Thanks 😊

[2019-04-23 07:30] StefanVerresen commented on #423
Yes only the headers of the weekview, without all the 'hours' partition below where the events are located. Even without the navigation between the weeks, just a nice representation of the weeks would be great :)

[2019-04-23 12:39] #422 closed

[2019-04-23 12:40] twinssbc commented on #423
@StefanVerresen In this case, I suggest you write your own page, as you won't be utilize most of the features of this calendar.

[2019-04-23 13:24] akshaykatale99 commented on #423
@twinssbc can we have the events data in weekviewHeaderTemplate

[2019-04-24 09:21] SlimEmShady opened #424 "Week and day view inside card element not well shown"
Hi,

I'm trying to implement your calendar inside an `<ion-card>` element, but it's not shown properly.

(Working on Ionic 4)
[code]

My `<ion-card>` is inside an `<ion-content>` element of course.
If I remove the `<calendar>` element from my card and add it inside the content, it works well.

But there is how it's shown in the card:
![ionic2-calendar1](https://user-images.githubusercontent.com/25

[2019-04-24 12:05] twinssbc commented on #423
@akshaykatale99 No, only viewDate is passed to the weekviewHeaderTemplate.

[2019-04-24 12:36] twinssbc commented on #424
@SlimEmShady You could set the height attribute of **weekview-container** css class to a fixed size.

[2019-04-24 13:07] SlimEmShady commented on #424
I'm actually trying to do it but it's not working :/

`.weekview-container {
  height: 500px;
}
`

But I can't find it at all after compiling my app.
Also tried with `!important` but same result.

[2019-04-25 15:45] twinssbc commented on #424
@SlimEmShady I put below line in global.scss and it works.

[code]

[2019-04-25 16:56] MaryemZOBI opened #425 "Week and day view template makes end time of events wrong"
Hi,
I'm trying to implement week and day view template in my calendar to customize  events color, without template the calendar works fine with right interval (or time range)  but when I use the template  Customisation   that gives just the to each event 1 hour as duration
Example:
without day template Custm:
![err](https://user-images.githubusercontent.com/38964877/56753304-27cf2c00-673f-11e9-9b7

[2019-04-27 14:40] twinssbc commented on #425
@MaryemZOBI Could you provide your template code? The default template is using some css style to set the height of each event, you may need to apply the same logic.

[2019-04-27 23:30] MaryemZOBI commented on #425
thanks for replaying , here is my full code [https://github.com/MaryemZOBI/ionic-app](url) , I have no idea about seting height  of each event can you give some code or example how I can solve that problem .

[2019-04-28 10:35] twinssbc commented on #425
@MaryemZOBI  I copied your code in my demo code, it is working, and no need to set the height separately. I suspect that you didn't set the startTime and endTime correctly, so that the height is not calculated correctly. You could refer to the demo code and modify it to support your own field in the event.

[2019-04-28 12:56] MaryemZOBI commented on #425
I think the startTime and endTime are correct if not, why when I eliminate the Day and week templates the height of each event shows correctly

[2019-04-28 14:11] twinssbc commented on #425
ok, make sense. Then could you clean up your code a bit to make it easy for debugging? I can't directly  run your code.

Below is my sample,

HTML
[code]

event format in ts
[code]

[2019-05-01 08:02] dev2612 commented on #410
I am also looking for the same functionality. @rajkishoreandia, how did you solve this?

[2019-05-01 08:10] kamalessence commented on #410
I am also looking for the same functionality. @rajkishoreandia, Can you please let me know how did you solve this?

[2019-05-01 08:57] rajkishoreandia commented on #410
you can write your own function in html like (click)="selectYear($event)" and then in your ts file write the logic like
selectYear(){
    console.log('in selectYear');
    let year=[2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050]
    let alert = this.alertCtrl.create

[2019-05-01 16:04] Ultimate-System commented on #392
I have solved it in the following way

**mypage.module.ts**

`import { NgCalendarModule  } from 'ionic2-calendar';

@NgModule({
  declarations: [
    MyPage
  ],
  imports: [
    IonicPageModule.forChild(MyPage),
    NgCalendarModule
  ],
  entryComponents: [
    MyPage
  ]
})
export class MyPageModule {}`

**mypage.ts**

`import { Component } from '@angular/core';
import { IonicPage, NavControlle

[2019-05-01 16:17] Ultimate-System commented on #392
I have solved it in the following way

**mypage.module.ts**
[code]

**mypage.ts**

[code]

**mypage.html**

[code]

[2019-05-03 07:12] #133 closed

[2019-05-03 20:00] NiGiInRo opened #426 "Cannot read property 'loadEvents' of undefined"
I have the next code :

[code]

In my Console appears the next issue:

ERROR TypeError: Cannot read property 'loadEvents' of undefined
    at UserService.push

![image](https://user-images.githubusercontent.com/17485629/57162373-ab2df480-6db3-11e9-87c9-12ea086cde73.png)

how can i resolve it?

Thanks!

[2019-05-04 13:40] twinssbc commented on #426
@NiGiInRo It seems this UserService is just a pure service not a component which having a view?
The loadEvent is actually executed on the view component.
You could move below line to your component code so that it could be initialized properly.
And I suppose your component code will call UserService addEvent method.
You could add loadEvents call after calling addEvent method.
[code]

[2019-05-04 15:57] Majedmadamani opened #427 "Ionic2-calendar does not save data"

[2019-05-04 15:58] Majedmadamani commented on #427
Can someone please help me fix the issue

[2019-05-06 19:38] NiGiInRo commented on #426
Thanks for your reply.
i tried your advice, but not works, or maybe im little confused.
Can you help me?
I would really appreciate it
Greetings!

[2019-05-07 00:37] twinssbc commented on #427
@Majedmadamani What do you mean "save data"? The calendar only displays the events stored in the eventSource array. It doesn't write events to anywhere.

[2019-05-07 00:39] twinssbc commented on #426
@NiGiInRo Where do you call loadEvents method now? What's the symptom of "not works"? Is there any error displayed in the console?

[2019-05-07 21:58] Majedmadamani commented on #427
Like if I exit the app when testing on the phone and open it again the event that I added before I exit did not apear

[2019-05-08 15:38] henleywc opened #428 "monthviewDisplayEventTemplate styling"
Hi,

I'm trying to remove the all the border from the month view template but after apply the css all the border still persist. may i know what is the right way to achieve that? thanks~
![Untitled](https://user-images.githubusercontent.com/10055664/57388221-57277380-71ea-11e9-9d69-765594875c9e.png)

[2019-05-09 07:48] abnet3 commented on #427
am facing the same issue. is their any method to achieve this?

[2019-05-09 13:09] rajneshkis13 opened #429 "onTimeSelected wants to add new class name in selected date"
i want to highlight selected date only in some cases.
Like 02-05-2019 i click then there is a classs monthview-selected but i want to add new class if some condition comes true.

please help

[2019-05-09 22:30] twinssbc commented on #427
@abnet3 The calendar is only for displaying the events, not for saving events.

[2019-05-09 22:32] twinssbc commented on #429
@rajneshkis13 You could use **monthviewDisplayEventTemplate** to apply your own template. The template could use ngClass to enable your own conditions.

[2019-05-09 22:40] twinssbc commented on #428
@henleywc You could add below css in global.scss.

[code]

[2019-05-10 00:13] Majedmadamani commented on #427
How would you save them though can you teach us in a specific way please

[2019-05-10 04:10] henleywc commented on #428
@twinssbc  thanks a lot for the help.

[2019-05-10 04:34] samtest2511 commented on #417
How to solve this situation. Please help as I am facing this with IST

[2019-05-10 05:25] rajneshkis13 commented on #429
i am not so clear how to do
can you suggest by snippet

[2019-05-10 06:49] samtest2511 opened #430 "AllDay weekview table has scroll-zoom-wrapper div in next line"
Hi,

I just started integrating the ionic2 calendar. In the week and dayview I am facing an issue in which there is space between all day table and time scroll div. While looking into detail I can see the div with class scroll-zoom-wrapper coming out of the div. Please assist as I am unable to find the solution.

    "ionic2-calendar": "^0.4.6",

![Captured_issue](https://user-images.githubusercon

[2019-05-10 07:22] #430 closed

[2019-05-10 12:09] twinssbc commented on #427
@Majedmadamani You could send your newly added events to the backend, then the backend stores them into the database. When you open the calendar next time, it fetches events from the backend and fill into the eventSource array.

[2019-05-10 12:09] #428 closed

[2019-05-10 12:22] twinssbc commented on #429
@rajneshkis13
You could add ngClass in your template12.
For example,
[code]

Then in the onTimeSelected method, trigger that someCondition.

[2019-05-10 12:32] rajneshkis13 opened #431 "ionic 2 calendar not refresh data"

[2019-05-10 12:50] rajneshkis13 commented on #429
this will not color the whole column
![Screenshot 1941-02-20 at 6 18 23 PM](https://user-images.githubusercontent.com/32674573/57528479-0fbaf780-7350-11e9-9b85-7855aab33e85.png)

i need color in full td

![Screenshot 1941-02-20 at 6 20 12 PM](https://user-images.githubusercontent.com/32674573/57528567-485ad100-7350-11e9-9af5-03731a51c3b2.png)

[2019-05-10 13:49] Majedmadamani commented on #427
Thanks for help

[2019-05-10 14:43] Majedmadamani commented on #427
I still have another question, I use admob pro plugin but when I test the app on an debug apk it does not show ads I don’t use test ads too

[2019-05-11 01:26] Majedmadamani commented on #427
@twinssbc I was able to store the data to firebase database base but I was not able to push when the page reloads. This is my ts file page
`import { CalendarComponent } from 'ionic2-calendar/calendar';
import { Component, ViewChild, OnInit, Inject, LOCALE_ID } from '@angular/core';
import { AlertController } from '@ionic/angular';
import { formatDate } from '@angular/common';
import { AngularFires

[2019-05-11 07:40] twinssbc commented on #431
@rajneshkis13 Could you provide more details?

[2019-05-11 07:42] twinssbc commented on #429
@rajneshkis13 That's because your div doesn't occupy the whole height of the cell. You may need to spend some time on tuning your css styles.

[2019-05-11 07:44] twinssbc commented on #427
@Majedmadamani You could use loadEvents instance method. More details in README.

[2019-05-11 07:48] Majedmadamani commented on #427
There is no link to read me

[2019-05-12 22:35] Majedmadamani opened #432 "I don't know how to push the events when the users reopens the calendar"
`import { CalendarComponent } from 'ionic2-calendar/calendar';
import { Component, ViewChild, OnInit, Inject, LOCALE_ID } from '@angular/core';
import { AlertController } from '@ionic/angular';
import { formatDate } from '@angular/common';
import { AngularFirestore } from '@angular/fire/firestore';
import { AngularFireAuth } from '@angular/fire/auth';
import { Platform, ToastController, IonList }

[2019-05-13 13:23] twinssbc commented on #432
@Majedmadamani Could you clean up your code? Just focus on loading events from backend.

[2019-05-13 14:47] Majedmadamani commented on #432
Thank you I solved it

[2019-05-13 14:47] #432 closed

[2019-05-14 08:41] hicham-alsayed-ahmad commented on #414
and i i want to use with ionic 4.1.2 ??

[2019-05-14 11:56] twinssbc commented on #414
@hicham-alsayed-ahmad Also 0.5.x version.

[2019-05-15 11:55] harpreet2602 opened #433 "Ionic 4 calendar"
Can you share the same example with ionic 4 ?

[2019-05-15 14:21] twinssbc commented on #433
@harpreet2602 The example code is here
https://github.com/twinssbc/Ionic2-Calendar/tree/master/demo
It is based on Ionic 2, but it's almost the same. Just the dependency version and module name may be different.

[2019-05-16 17:06] harpreet2602 commented on #433
Sure, I have integrated it in ionic4 app...
Is there a way I can show the month and year on the top on calendar, such that clicking on it, it shows the stepper with all the months and clicking the month selects that particular month. Toggling it, it changes the month and year in the calendar.
Something like this <MAY, 2019>

[2019-05-16 22:53] twinssbc commented on #433
@harpreet2602 Yes, the calendar binds to currentDate variable. So when you change the currentDate, the calendar will jump to that month. The way you described to select/toggle the month is not part of the calendar. You need to implement it by yourself.

[2019-05-17 01:19] StevenMitrais opened #434 "Marking Multiple Days with event not working on IOS"
I found the solution for IOS in your last answer you make but it's not working only on IOS platform when you scatter the event on other days, only working if you just set the moment event in one day.

Here is my reference : https://github.com/twinssbc/Ionic2-Calendar/issues/77

But in android I found no issue, here's my code :

`data.data.forEach(async res=>{
				events.push(await {
					title: re

[2019-05-18 09:29] manzooralam commented on #407
How i will remove no events in calendar when no event is present

[2019-05-19 07:27] abnet3 opened #435 "Ionic calendar does not load on device"
i am doing a calendar event application and it runs perfect in a browser but when i build it on a device the date format is different and it is showing me errors. i have used ionic2-calendar for this and the error is happening only on a real device it runs perfectly on a browser

i have tried everything but i cant solve this problem, can anyone help me please? it is urgent.

this is my home.page.t

[2019-05-20 15:39] twinssbc commented on #435
@abnet3 Could you debug to see what's inside event_1.startTime? According to the error message, it indicates startTime is not a valid Date object. Is it possible when you retrieve it from your data store, it becomes a String? Then you need to convert it to Date.

[2019-05-20 15:40] twinssbc commented on #407
@manzooralam You could use showEventDetail option.

[2019-05-20 15:42] twinssbc commented on #434
@StevenMitrais What do you mean "not working"? Do you see any error printed in the console?

[2019-05-20 15:58] StevenMitrais commented on #434
there is no error in the console.
Its not working when i set the events with different dates.

But if I set all event's date in the same day, suddenly it appears.

Only occur on IOS platform, perfectly fine on Android

[2019-05-20 16:01] twinssbc commented on #434
That's a bit weird. Could you try using native JavaScript method to construct the startTime and endTime? Just try to see if it's the problem with momentjs.

[2019-05-20 16:10] StevenMitrais commented on #434
I'll try that.

Anyway if you have the working code or data sample for this particular issue, I'm more than happy to take a look.

Multiple events w/ different dates were scattered around on the calendar in Android platform, that was really nice, I only hope this features can work on IOS.

[2019-05-20 16:15] twinssbc commented on #434
You could check the createRandomEvents method in
https://github.com/twinssbc/Ionic2-Calendar/blob/master/demo/pages/home.ts

[2019-05-21 06:06] StevenMitrais commented on #434
Hey Thank You very Much dude.
Its Working Now
Appreciate for your help

[2019-05-21 06:06] #434 closed

[2019-05-21 17:20] harpreet2602 commented on #433
@twinssbc , great.
Which event is triggered when we swipe to change the month on the calendar?

[2019-05-22 00:40] karouAhmed commented on #54
@twinssbc I overriding the scss styles like this  but it not working for me !!!
![Annotation 2019-05-22 013516](https://user-images.githubusercontent.com/39932045/58139456-f9a81380-7c3a-11e9-8f80-c572e5268a6d.png)

[2019-05-22 09:56] harpreet2602 commented on #433
@twinssbc ,
Also, when I call "this.myCalendar.loadEvents();" from the function "onTimeSelected" it goes in loop and "onTimeSelected" gets called endless. Is this a bug ?

My use case is:

[2019-05-22 12:07] abnet3 commented on #435
It is saved as a date format in a browser, but in a device it is saved as a string format. I am confused. Is there anyway to solve this issue? Thank you.

[2019-05-22 12:48] twinssbc commented on #54
@karouAhmed Do you add your styles to component scss file or global.scss file? Could you try global.scss file? Also could you use Developer Tools to inspect the DOM element to see if the styles are applied to the element or not?

[2019-05-22 12:50] twinssbc commented on #433
@harpreet2602 You should set the events in the onRangeChanged method instead of onTimeSelected method.

[2019-05-22 12:53] twinssbc commented on #435
@abnet3 I'm not sure why it is saved as string in the device. You could always convert the data retrieved to Date object before filling it to eventSource.

[2019-05-22 13:31] abnet3 commented on #435
You mean this?
startTime:  new Date(this.event.startTime),

[2019-05-22 15:07] harpreet2602 commented on #433
@twinssbc , onRangeChanged does not solve my purpose.
Hence, I used onViewTitleChanged method from where I am calling firebase based on the month that I get after swiping the calendar but the issue is calendar is not automatically showing the events even after "this.eventSource = events"

`listEventRef.once("value").then((meetingSnapshot) => {
      this.eventSource = [];
      this.meetingData =

[2019-05-22 15:24] evilword666 opened #436 "Is it possible to synchronize with google calendar?"
I would like to know if it is possible to synchronize with the Google calendar, since I would like to add my events to the events that I have in the Google calendar.
How could I do it?

[2019-05-22 16:22] twinssbc commented on #435
@abnet3 I mean https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse
Or you could use any method to parse the String to a Date

[2019-05-22 16:31] twinssbc commented on #433
Your logic seems a bit incorrect.
You just need to fill an event array and assign it to eventSource.
[code]
If the events don't appear in the calendar, could you check if you are actually getting the current month's events?

[2019-05-22 16:33] twinssbc commented on #436
@evilword666 This calendar only cares about the events in the eventSource array. It doesn't provide direct connection with other sources. You need to write your own code to fetch the events from Google calendar, convert them and fill into the eventSource array.

[2019-05-22 17:31] harpreet2602 commented on #433
@twinssbc , I indeed did the code change as you suggested but the calendar does not load the data. In logs I can see that I actually get the month data.
But after adding "this.myCalendar.loadEvents();" it loads the event...

Attaching screen-shot, the data is loaded but not reflecting on the calendar. Either adding loadEvents in the code.
![image](https://user-images.githubusercontent.com/7014110/

[2019-05-23 00:42] karouAhmed commented on #54
@twinssbc it work now when i put it in global.scss ,thanks :)

[2019-05-23 04:59] abnet3 commented on #435
Is it before I store it to the sql or after? Can you show me where to do that in the code? If you can, please?

[2019-05-23 14:07] MatthiasVanMeerbeek-r0670805 opened #437 "Event allDay showing on wrong date and event not showing with specific endTime"
**Version info**
- _"@ionic/angular": "^4.1.0"_
- _"ionic2-calendar": "^0.5.2"_

**Issue [PART 1]**
_First part is the same as #417_

Hello,
I have a problem when I'm using the `allDay` of an event. The event is shown on the day before. So it is an event for the 27th, but it is shown on the 26th.

![image](https://user-images.githubusercontent.com/28530170/58258819-b69d8b80-7d73-11e9-9f70-3c6bc8d7

[2019-05-23 14:42] MatthiasVanMeerbeek-r0670805 commented on #417
I don't see why an `allDay` event needs to be in UTC. More than that the time is 00:00:00 and a boolean that shows something else like 'Full day' should be everything. Why UTC and not the timezones that all the other events are using?
This only makes it more complicated.

[2019-05-23 15:25] #54 closed

[2019-05-23 15:27] twinssbc commented on #435
@abnet3 You need to convert it to a valid Date object when you construct an event and fill into the eventSource.

Is addEvent method the one that you fill the eventSource? Then you need to construct a valid Date object in this method.
[code]

[2019-05-23 15:32] twinssbc commented on #437
@MatthiasVanMeerbeek-r0670805
For issue 1, it seems the startTime and endTime are the same? The endTime should be at least one day after startTime. And you need to construct it to UTC date.

For issue 2, yes, if the startTime and endTime are just within one minute, it won't be displayed. That small interval is used to handle the rounding issue during the float number calculation. And I'm afraid th

[2019-05-23 15:38] twinssbc commented on #417
@MatthiasVanMeerbeek-r0670805 This is because you may see the event you created is today's in your timezone, but when calculating in a device at different timezone, that event may appear in previous day. That's why I need a standard way to construct all day event to overcome the impact of different timezone.

[2019-05-23 15:52] MatthiasVanMeerbeek-r0670805 commented on #437
No offense, but it makes no sense that you need to set the next day as `endTime`. What is `allDay` for then? `allDay` should handle it. You should even be able to set no time at all (not possible because of the Date object, but just in case) and just set `allDay` to true to say that the event is a full day long. And why UTC? I have seen the documentation, but I just don't get it why it has to be U

[2019-05-23 23:14] twinssbc commented on #437
@MatthiasVanMeerbeek-r0670805 Because allDay event could also last couple days, not just one day.
For the UTC question, I have explained in https://github.com/twinssbc/Ionic2-Calendar/issues/417#issuecomment-495271779
It is to make sure the event falls in the current day no matter in what timezone.

[2019-05-24 03:03] ediasep opened #438 "Couldn't override css style."
I am trying to override CSS just like in the documentation.

[code]

The same thing happen for `monthview-primary-with-event`. I'm sure that the css file is correctly loaded as css for custom template are working correctly. Any ideas?

[2019-05-24 03:40] StevenMitrais commented on #434
Actually I Solve that by changing my original DateFormat which is

into

Then suddenly it work because safari only accept certain date Format
Weird

[2019-05-24 08:04] StevenMitrais commented on #438
@twinssbc yeah, i also need to solve this issue

This below for CSS reference
https://github.com/twinssbc/Ionic2-Calendar#view-customization-option

[2019-05-24 08:49] MatthiasVanMeerbeek-r0670805 commented on #437
@twinssbc
Alright I managed to get it to work, but I have 2 more questions:

Does it really need to be a full day, so `startTime` is f.e. _26th 00:00:00_ and `endTime` _27th 00:00:00_ to be able to work or be correct for an `allDay`? Because if so, it is kind of weird to have this (it is in dutch, but you should be able to understand what I mean):
![IonicCalendar_Overview](https://user-images.gith

[2019-05-24 10:32] MatthiasVanMeerbeek-r0670805 opened #439 "Events for a short moment visible on another month"
The title says everything: "Events for a short moment visible on another month"
It only occurs to events that are in the month May. They reappear for a moment when sliding between months. They appear again in August (2019), November(2019), January (2020), May (2020), August (2020), ...

Any idea? Even when I clear the `eventSource` list after sliding to a next month, they still appear...
Do I need

[2019-05-24 11:24] MatthiasVanMeerbeek-r0670805 commented on #439
Now I see that there already was an issue related to this problem. It seems like an Ionic Slide problem?
#5

[2019-05-24 11:38] MatthiasVanMeerbeek-r0670805 commented on #439
Maybe a solution can be found on this thread:
https://github.com/ionic-team/ionic-v3/issues/89

[2019-05-24 12:10] MatthiasVanMeerbeek-r0670805 commented on #190
@twinssbc @victorcarvalhosp
I don't really get it after viewing the demo files. _home.html_ contains nothing related to `onRangeChanged` and the following is everything in _home.ts_:

**TS**
[code]
**HTML**
[code]

What else do I need? Because this doesn't work for me. It just isn't triggered.

[2019-05-24 13:58] twinssbc commented on #438
Could you try to put your css in global.scss instead of the component scss file?

[2019-05-24 14:15] twinssbc commented on #190
@MatthiasVanMeerbeek-r0670805 onRangeChanged is only triggered when the queryMode is set to 'remote'

[2019-05-24 14:17] twinssbc commented on #439
@MatthiasVanMeerbeek-r0670805 This is known issue that when using the looped slides, the first and last slide will be cached. I haven't found a solution so far.

[2019-05-24 14:19] twinssbc commented on #437
@MatthiasVanMeerbeek-r0670805 Do you mean you don't use an allDay event, just a normal event with startTime set to 00:00:00 and endTime set to 23:59:59. It will work in your timezone. But when some other people see that event, it will likely span two days.

[2019-05-24 15:20] MatthiasVanMeerbeek-r0670805 commented on #437
Thank you for your answer and sorry for all my questions.

No both events shown above are with `allDay` to true.