[2019-05-25 08:07] twinssbc commented on #437
@MatthiasVanMeerbeek-r0670805 So I fetch the year, month, and day part of startTime and endTime to check the event falls on which day. Because it's an all day event, it doesn't care about the hour/minute/second part. As long as you can make the startTime and endTime fall in the correct time range, it should be fine.
But I still suggest use Date.UTC to construct the time. And when you store the all

[2019-05-26 09:53] manzooralam commented on #407
Thanks @twinssbc
for suggested,
[showEventDetail]="false"

[2019-05-26 10:09] manzooralam commented on #407
How to set width and height of calendar component ?

[2019-05-26 14:10] twinssbc commented on #407
@manzooralam Could you provide more code? Where do you add class="calendar"? And where do you  set the width and height?

[2019-05-27 07:13] StevenMitrais commented on #438
That work pretty well
Thank You

Btw @twinssbc  could you give advice on how to fully customize the weekView and dayView ?
I have my own design & want to implement only in dayView and weekView

[2019-05-27 08:22] #439 closed

[2019-05-27 08:23] #437 closed

[2019-05-27 13:20] twinssbc commented on #438
@StevenMitrais You could take a look at the **Template Customization**. Basically just need to put your own design into the custom templates.

[2019-05-28 01:23] StevenMitrais commented on #438
@twinssbc I already did.
I manage to remove all the lines and headers on weekView and dayView, but haven't found any way

Could you give an example how to **fully customized** that View ?

Thanks a lot

[2019-05-29 14:17] #436 closed

[2019-05-31 08:50] StevenMitrais commented on #438
Hai @twinssbc
Do you have any idea to completely change weekView or dayView template?
Let say dayView and weekView's template would be ion-list or my own customized template.

I already do my own design, but It merge w/ the default ionic2-calender design and functionality

Thank You

[2019-06-03 10:50] AnkitS221 commented on #247
![cal](https://user-images.githubusercontent.com/37686348/58796549-369cde80-861b-11e9-87f9-81b148700204.PNG)

Hey Twinssbc.....above screen is rendered even after binding the eventSource array with an array received from API only when the first time the page is loaded
Next page load renders events properly....Help needed urgent
Thank YOU

[2019-06-03 11:50] twinssbc commented on #247
@AnkitS221 May I know how do you fill eventSource array? If you just use push to add individual elements, you need to call loadEvents explicitly.

You could get some idea from below note in README:

[2019-06-04 10:40] mukeyshkumar opened #440 "how to change event date class based on json data"
I am getting data in this format
[code]
Is this possible to add class based on "field_present". I am implementing the following way:

[code]

![calendar](https://user-images.githubusercontent.com/47223502/58873111-2ea87180-86e3-11e9-9fb3-bf65eefe3f8b.png)

[2019-06-04 10:51] maik102 opened #441 "How can i override templates for weakview and dayview?"
I'm trying to change de labels for 'all day' and the hours from 'a.m' to 'A.M'. In addition i'm trying to make de hours cells with more width bc the default one is too small and the hours are over of the side cell.
![calendarionic](https://user-images.githubusercontent.com/32304438/58873824-728d7d80-86c7-11e9-9ad3-d7d40e0ea0cd.png)

[2019-06-04 13:18] twinssbc commented on #441
@maik102 The hour column could be formatted using **formatHourColumn** option. Actually the hour column is already displayed as "5AM" (upper case). Do you want to add "." in the label? In this case, I'm afraid **formatHourColumn** could also not help. Instead you could use **dateFormatter**. You could override the **formatWeekViewHourColumn** and **formatDayViewHourColumn** methods to return any t

[2019-06-04 13:20] twinssbc commented on #440
@mukeyshkumar It seems your implementation looks correct. You just need to set field_present field to 0 in your event object.

[2019-06-04 17:43] mukeyshkumar commented on #440
@twinssbc thank you for your reply. I have passed field_present to event object and its working fine. But here is one issue changes are only reflecting when I am changing month by swiping left or right.

[2019-06-04 23:29] twinssbc commented on #440
@mukeyshkumar Because only the whole eventSource array is watched. You could use loadEvents instance method to force refresh the view.

[2019-06-05 08:13] maik102 commented on #441
thanks, another question. Can i display de weekview and dayview without the allday row? I don't see how to do it in README file.

[2019-06-05 21:55] twinssbc commented on #441
@maik102 You could use below styles to hide allday row

[code]

[2019-06-06 10:10] Nitinchavda opened #442 "Display hours number instead of AM or PM."
Hello There,

I'm using Ionic2-Calendar 0.4.5 version for Ionic app, is there any way to display hours number instead of 2PM to 14:00 ?.

Many Thanks,
Nitin

[2019-06-06 13:42] twinssbc commented on #442
@Nitinchavda You could add formatHourColumn="hh:mm" when declaring calendar in the HTML.

[2019-06-06 16:26] tu81t commented on #247
how do you solved buecause

how did you solve becuase seems error like typescpript . Can you post solved form please

[2019-06-06 16:27] tu81t commented on #247
how did you solve becuase seems error like typescpript . Can you post solved form please

[2019-06-07 12:56] tu81t opened #443 "İonic 3 calendar"
How can ı display json api into calendar. I need realy help

[2019-06-07 15:00] tu81t commented on #247
@abdulkadhir  please help me how did you solve your error. My json api  is similar to your api. Can you send here your  .ts file because ı get the error still.

[2019-06-08 00:21] twinssbc commented on #443
You could refer to the demo code. The calendar doesnt care about how and where do you get your data, and in what format. You just need to fill the eventSource array with the correct format.

[2019-06-08 10:14] mukeyshkumar commented on #440
can you please share example?

[2019-06-08 15:10] tu81t commented on #443
my json api like this

{"data":[
{
    title:math
    starttime:10/07/2019
},
{
  title:art
startime:12/07/2019
}

}

end  my ts file

import { Component,ViewChild } from '@angular/core';
import { IonicPage, NavController, NavParams } from 'ionic-angular';
import { NgCalendarModule } from 'ionic2-calendar';
import { CalendarComponent } from "ionic2-calendar/calendar";
import {CalenProvider} from '

[2019-06-09 11:46] tu81t commented on #443
can you respond me ı am so confused

[2019-06-09 23:41] twinssbc commented on #443
@tu81t
There are several places you need to modify.

1. Take a look at the **EventSource** in README. You need to at least pass 4 fields, title, startTime, endTime, allDay.
2. In your restful API callback, you seems assign data to callist. So in your HTML, you need to bind to callist to eventSource property.
3. If you get any error, please provide the error message, otherwise I don't have enough i

[2019-06-09 23:43] twinssbc commented on #440
@mukeyshkumar You could take a look at the **Instance Methods** in README.

[2019-06-13 07:16] StevenMitrais opened #444 "Dot Marking Based on Number of Event List in MonthView"
![Capture](https://user-images.githubusercontent.com/44386841/59411627-44f2b380-8dee-11e9-8e68-394cea4ae8b0.JPG)

Hai @twinssbc ,as you can see the images above I need to make dot indicator based on the events.

If in the current date's only have 1 event, It'll only show 1 dot, if more then show 2 dots.
Do you have any suggestion how to achieve that ?

`<ng-template #templatemonthviewDisplayEvent

[2019-06-13 12:04] twinssbc commented on #444
@StevenMitrais You could add ngIf condition based on the view.dates[row*7+col].events.length. Show dot-sliver span when the length > 0; show the dot-gold span when the length > 1.

[2019-06-13 13:15] StevenMitrais commented on #444
Wow Thanks! That's working perfectly !
I think this is one of the most complete calendar library for javascript framework on the internet 💯

@twinssbc  In addition, I have another question, you see the the dot's color it define by the confirm status property below code.

`{
						title: res.title,
						desc: res.description,
						startTime: startTime,
						endTime: endTime,
						allDay: false,

[2019-06-13 14:09] twinssbc commented on #444
@StevenMitrais The type of view is IMonthViewDisplayEventTemplateContext.
You could check the definition from below file.
https://github.com/twinssbc/Ionic2-Calendar/blob/master/src/calendar.ts
Since the type is nested at many levels, so I don't want to put too many details in README.

For your requirement, you could easily use ngClass, and bind to view.dates[row*7+col].events[0].confirm_status wi

[2019-06-13 14:19] StevenMitrais commented on #444
Thanks!, You completely solve my problem

here is my code

`				<span *ngIf="view.dates[row*7+col].events.length && calendar.currentDate < view.dates[row*7+col].events[0].startTime && view.dates[row*7+col].events[0].confirm_status === 0" class="dot dot-silver"></span>
				<span *ngIf="view.dates[row*7+col].events.length && calendar.currentDate < view.dates[row*7+col].events[1]?.startTime && view.d

[2019-06-13 14:19] #444 closed

[2019-06-17 12:56] pookdeveloper commented on #188
You can use:
[code]
[code]

[2019-06-20 12:31] en-sevilla opened #445 "how to set width and weight to same value?"
Hi,

we are trying to stylize the month view in Ionic 4.

Now, we have the following size:

![image](https://user-images.githubusercontent.com/8984122/59849197-416ba900-9367-11e9-927d-a64dc6403632.png)

Width = 36 px is set dynamically depending on display width.
Height = 20px is set on "line-height: 20px;" rule (monthview.js line 510).

In order to have a circular shape, we need to set the width

[2019-06-20 15:50] twinssbc commented on #445
@en-sevilla This actually is not related to the calendar plugin. It's a tricky CSS problem.
I didn't give a try, but below two solutions look quite promising.
http://www.mademyday.de/css-height-equals-width-with-pure-css.html
https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout

[2019-06-20 20:07] en-sevilla commented on #445
thank you @twinssbc , I tried the first link (http://www.mademyday.de/css-height-equals-width-with-pure-css.html), and It is near to work, it produces a 45x45px cell, but with other undesired effects:

FIRST STEP:
![image](https://user-images.githubusercontent.com/8984122/59878081-ae069800-93a7-11e9-8e0d-651dd8786b3b.png)

SECOND STEP:
![image](https://user-images.githubusercontent.com/8984122/598

[2019-06-21 07:00] en-sevilla commented on #445
I also tried with the following solution, but no chance...
https://jsfiddle.net/ocp36uLb/32/
any idea to explore?
thanks!

[2019-06-21 15:59] AugustoCorti opened #446 "Set event in a specific day after GET call"
Hi,
I receive a list of events from my web service.
If i push these events in the eventSource array, all the events are placed on the current day.
Which parameter i have to set for put the events in their correct day? (The events that i get from my web service have a Date field with the day of the event but i don't know how to use it, where I have to put this value for set the correct day of the e

[2019-06-21 16:26] twinssbc commented on #445
@en-sevilla Below is how I solve it. The idea is you can't directly set the width on td, otherwise the whole table width will not occupy the whole page. Instead, you need to create extra element inside the td and apply the css accordingly.

HTML
[code]

CSS (add to global.scss)
[code]

[2019-06-21 17:48] en-sevilla commented on #445
@twinssbc great! now it works!! fantastic, thanks a lot!

[2019-06-21 17:48] #445 closed

[2019-06-21 22:15] twinssbc commented on #446
@AugustoCorti You need to set the startTime and endTime field properly. Take a look at the **EventSource** section in README.

[2019-06-22 02:15] prashantJadhav opened #447 "how to set one week at a time for month mode"
do we have variable  week mode in  calendar ?
for calendar month mode i want to display only current week days and not event and should be able to scroll to next week .
it would be great to have a directive for  variable weeks view which will only display the number of weeks as provided by the user .

[2019-06-22 03:34] twinssbc commented on #447
@prashantJadhav Sorry, this calendar control doesn't support that.

[2019-06-24 08:19] StevenMitrais opened #448 "Replace WeekView/DayView Template Without Losing It's Sliding Function"
![Capture](https://user-images.githubusercontent.com/44386841/60002451-3e402800-969b-11e9-9192-cec4e2b0d870.JPG)

Hai @twinssbc ,
At first I wanna thank you for this awesome library.

I just wonder whether if i can totally modify default weekview/dayview and retrieving It's data without losing the sliding function, then use the data like above images.

The images above is an example, but It wasn't

[2019-06-24 14:57] twinssbc commented on #448
@StevenMitrais If you check **View Customization** Option in README, there are some customization templates for week view and day view. But for the screenshot you provided, IMO, it is probably easier to implement your own page. Because there are a lot of logic is designed for the current layout, such as how to place each event in which column and row. If you just want to display it as a list, it's

[2019-06-24 16:33] StevenMitrais commented on #448
Yes I think you're right.
I just found a way using ion-card looped inside ion-slide to achieve that
But still has some problematic UI issue

Thanks a Lot

[2019-06-24 16:33] #448 closed

[2019-06-28 06:43] krunal9421 opened #449 "Get notification into ionic app after clearing app data from setting"
I am using ionic native push notification for sending a notification into an app using firebase. But when I clear app data of my app from setting page, still I am getting notification into my mobile.

Can anyone help me out with this?

[2019-06-28 07:51] #449 closed

[2019-06-28 07:51] krunal9421 commented on #449
posted here by mistake.

[2019-07-03 19:07] kaiyuan01 commented on #200
The demo page still did not load

[2019-07-04 11:13] #447 closed

[2019-07-04 11:17] prashantJadhav opened #450 "[help] Week view templates"
I want to change calendar week view to something like shown in below image
can i use templates customization to achieve what is shown in the image for week header as well as event listing .

![test](https://user-images.githubusercontent.com/1639873/60662846-157a1880-9e7b-11e9-947c-a7251178708d.jpg)

[2019-07-05 12:38] twinssbc commented on #450
@prashantJadhav Sorry, the custom template is not flexible enough to suppose such layout.

[2019-07-05 12:40] twinssbc commented on #200
@kaiyuan01 Any error printed out in the console? Or does it stuck at loading certain file? The demo page needs to load many files from CDN and it may take a while until all files are downloaded completely.

[2019-07-13 18:52] daviddea85 opened #451 "startHour / startMinute"
HI there,

Firstly thanks for your calendar, is really cool. I would like to know if it's possible to modify the startHour to be 8:15 - 8:30 - 8:45 ... instead of only 8 (day and week view)

Thanks

[2019-07-14 10:56] mukeyshkumar commented on #440
I have struggled this with a lot but able to do this. I am not able to use the Instance method here. Can you please help me out.
Here is my code:
[code]

[2019-07-15 07:23] rajneshkis13 opened #452 "culture wise showing week name"
hi,
can we show the culture-wise week name according to different countries,
and also I need to show a single character like 'M', 'S'.

example : -
-> Norwegian - week starting from Monday to Sunday.
->USA -  week starting from Sunday to Monday.

Thanks

[2019-07-16 04:01] nikilkumar9 opened #453 "Repurpose Calendar as Gantt Chart?"
Hey guys, my schedule consists of events that usually go on for days at a time.

Hence, I was wondering whether there was any way to take the left-hand column that shows the time, eliminate it and add it to date row? and then have events added on top of each other, if their times overlap.

It is almost re-purposing the calendar app to be a **Gantt Chart**, which is exactly what I want.

If no, any

[2019-07-17 16:01] twinssbc commented on #451
@daviddea85 Yes, it's possible. Just add below options in your HTML code.
[code]

[2019-07-17 16:03] twinssbc commented on #440
@mukeyshkumar
First, you need to import the module.
[code]
Second, you need to declare the component.
[code]
Then you should be able to call instance method, on myCalendar variable.
[code]

[2019-07-17 16:05] twinssbc commented on #453
@nikilkumar9 Sorry, it's not possible to achieve Gantt Chart style in this calendar control.

[2019-07-17 16:08] twinssbc commented on #452
@rajneshkis13
To customize the week name, you could use formatMonthViewDayHeader method in dateFormatter. It accepts a date and return a string, you could use your own logic to return different content based on the current culture.
To change the starting day of a week, you could use startingDayMonth option.

[2019-07-17 16:42] mukeyshkumar commented on #440
I am doing the same way but not working

[code]

[2019-07-17 17:57] mukeyshkumar commented on #440
I tried with this as well but still not working

[code]

[2019-07-18 12:11] twinssbc commented on #440
@mukeyshkumar The problem is this.http.get is an async call. You need to call either
  this.eventSource = events;
or
    this.myCalendar.loadEvents();
in your async callback.

[2019-07-20 10:24] daviddea85 commented on #451
Hi @twinssbc I think I did not explain myself properly or I don't really understand your answer, actually startHour only accepts values from 0 to 23. I have the calendar configured as you said and startHour as 8, what I basically need is startHour at 8:30 for example. Thanks for your response.

[2019-07-21 01:25] twinssbc commented on #451
@daviddea85 Ah, I thought you want to display the hour column in every half hour or 15 mins. Unfortunately it's not possible to set the startHour to 8:30, only integer value works.

[2019-07-21 21:55] daviddea85 commented on #451
Thanks for your response again, I will close the issue.

[2019-07-21 21:55] #451 closed, assigned to nobody

[2019-07-26 08:37] Technokeensmanohar commented on #440
@mukeyshkumar Have you solve this issue? If you solve this please help me to solve.

[2019-07-26 08:51] mukeyshkumar commented on #440
yes, I have resolved this.
Here is my code:
[code]

[2019-07-29 04:39] Technokeensmanohar commented on #440
Hello @mukeyshkumar thank you.

[2019-08-07 06:26] mukeyshkumar commented on #440
@twinssbc
Thank you for this awesome plugin.
Closing this issue.

[2019-08-07 06:26] #440 closed

[2019-08-09 13:46] maciejunio opened #454 "Ionic 4 Custom css"
Hello.
I used your plugin in Ionic 4. Everything works great, well done, but I would like to change css styles. I set it up in calendar.page.scss
`.monthview-selected {
     background-color: red;
}`
but it doesn't work. I think it could be because Angular is adding classes and overwrites my, like this
`monthview-selected[_ngcontent-olq-c5]`

Can you help me ?

[2019-08-09 17:12] rafaelbaiolim commented on #454
Try put the selector inside `global.scss` with `!important`:

`.monthview-selected { background-color: #FF790A !important; } `

[2019-08-09 17:14] maciejunio commented on #454
I tried

[2019-08-09 17:21] rafaelbaiolim commented on #454
![app](https://user-images.githubusercontent.com/8842898/62796930-cf832680-bab0-11e9-85b9-3e383f25208b.jpg)
![globals](https://user-images.githubusercontent.com/8842898/62796931-d01bbd00-bab0-11e9-973d-8f344dda9084.jpg)

In my application is working fine :\

[2019-08-11 13:07] maciejunio commented on #454
@rafaelbaiolim  Thank you, it works

[2019-08-11 13:07] #454 closed, assigned to nobody

[2019-08-26 19:13] wapewape opened #455 "How to remove an Event?"
Hi.
I need to use this calendar in the weekly view and allow only one event per day.
If there is an event by clicking then delete it, if it does not exist add it
I just need to save the time

Thx

[2019-08-28 00:07] twinssbc commented on #455
@wapewape You could implement onTimeSelected method. It has a events parameter which indicates the events happen on that day. You could add some logic to decide if you need to add or delete the event.

[2019-08-28 08:08] StevenChandra opened #456 "Calendar Month View Can't Read Midnight Date"
Hai @twinssbc

My calendar month's View can't detect event on this date
**Wed Aug 28 2019 00:00:00 GMT+0800**

or simply, It can't detect 00 AM
How can i Solve It ?

Thanks

[2019-08-28 14:34] twinssbc commented on #456
@StevenMitrais What do you mean can't detect? Is there any error indicating failed to parse the date?

[2019-08-29 01:40] StevenChandra commented on #456
@twinssbc
I mean It's not showing on **templateMonthEventDetail**

**<calendar [eventSource]="eventSource" />**
The eventSource above contains startTime like **Wed Aug 28 2019 00:00:00 GMT+0800** , I realized It was only data contains 00:00:00 not showing in the list, The other hours is showing, can you help?

Thanks

[2019-08-29 20:03] wapewape commented on #455
Thx

To contribute
// Time slot was clicked
  async onTimeSelected(ev) {
  const comprobate = (ev.events !== undefined && ev.events.length !== 0);
  if (comprobate) {
    const array = this.eventSource;
    const index = arreglo.indexOf(ev.events[0]);
    arreglo.splice(index, 1); //
    this.myCal.loadEvents();
  } else {
    console.log('Normal flow');
}

[2019-08-29 22:35] twinssbc commented on #456
@StevenMitrais Could you provide more details? Are you using a custom template?

[2019-08-30 01:30] StevenChandra commented on #456
@twinssbc
Yes, Im using custom templates

![11](https://user-images.githubusercontent.com/44386841/63986839-5489ba80-cb08-11e9-92f4-79d9429f6d13.JPG)

Above image is the customized month view, it shows no event, but actually It has 2 events that contains hours like this below, observe the hours, its **00 AM** which not showing unlike the other hours

![33](https://user-images.githubusercontent.com

[2019-08-30 08:20] StevenChandra commented on #456
Actually found the cause
It cant show if both **startTime & endTime** is same date value while **allDay** is set to **false**

so i just modified the endDate, add 1 hours, so it's not 00 AM anymore

Anyway, Thank you for your kind response
@twinssbc

[2019-08-30 08:20] #456 closed, assigned to nobody

[2019-08-30 15:13] #455 closed, assigned to nobody

[2019-08-30 17:45] coleweusthem opened #457 "Style wrong on swipe"
I've created a template for my month view:
`<ng-template #template let-view="view" let-row="row" let-col="col" class="calendar-day-wrap">
          <div class="calendar-day" (click)="openModal(view.dates[row*7+col])" tappable>
            {{view.dates[row*7+col].label}}
            <div *ngIf="view.dates[row*7+col].events.length > 0">
              <img src="assets/images/appoin-icon-green-30x30.p

[2019-08-30 18:00] coleweusthem commented on #457
I've added styles for them to my global styles, but this doesn't feel like the right way to do this. is there a better way I'm missing?

[2019-08-31 04:41] twinssbc commented on #457
@coleweusthem There's monthviewInactiveDisplayEventTemplate that can set the styles for previous and next month. Sometimes adding styles to global styles is the correct solution. Because the css encapsulation in each component make it difficult to override styles.

[2019-09-01 18:32] mzaidipk opened #458 "Compile Error ionic serve --prod"
When i try to serve a prod build then i get a bunch of errors. I am using the latest ionic / angular version. it works fine in regular serve. I am thinking it is an AOT issue but i dont know how to get around this. Any help is much appreciated.

`ERROR in node_modules/ionic2-calendar/weekview.d.ts.WeekViewComponent.html(39,78): : Property 'hourColumnLabels' is private and only accessible within cl

[2019-09-02 08:58] bhandaribhumin opened #459 "when i try to use example but got error monthviewEventDetailTemplate"
i was used lazyloading module when i was run command ionic serve -l it will show me some error message in my actual code but i was used stackblitz below example code.

https://stackblitz.com/edit/ionic-calendar-scheduler-kpcgbj?file=pages/home/home.html

ERROR:

[code]

[code]

Ionic:

[2019-09-02 11:29] Nitinchavda commented on #120
@twinssbc : is it possible to register multiple languages at a same time?

[2019-09-02 13:40] twinssbc commented on #120
@Nitinchavda
You could import multiple locales, but when the app launches, you need to decide which one to use.

[code]

[2019-09-02 13:43] twinssbc commented on #459
@bhandaribhumin The error may indicate that the calendar module is not imported. Could you check the app.module file to see if NgCalendarModule is imported?

[2019-09-02 13:54] Nitinchavda commented on #120
Thanks the quick reply @twinssbc, i really appreciate it. Sometime getting headerDay issue. is it because language not found?.

[2019-09-02 13:54] twinssbc commented on #458
@mzaidipk ionic serve --prod works fine at my side. Which version of the calendar component are you using?

[2019-09-02 13:55] twinssbc commented on #120
what kind of headerDay issue?

[2019-09-02 14:09] Nitinchavda commented on #120
I'm getting locale error. My apologies, it was locale error, i was using sp for Spanish while angular is using es.

Thanks again for quick reply.

It's working fine now.

[2019-09-02 14:17] emieuxcharles opened #460 "ionic2-calendar - French"
Hi,
How can I do for use this module in French ?
Thanks

[2019-09-02 18:06] mzaidipk commented on #458
this is snapshot of my package.json

`"dependencies": {
    "@angular/animations": "~8.1.2",
    "@angular/cdk": "~8.1.3",
    "@angular/common": "~8.1.2",
    "@angular/compiler": "~8.1.2",
    "@angular/core": "~8.1.2",
    "@angular/forms": "~8.1.2",
    "@angular/material": "^8.1.3",
    "@angular/material-moment-adapter": "^8.1.4",
    "@angular/platform-browser": "~8.1.2",
    "@angular/plat

[2019-09-02 18:48] bhandaribhumin commented on #459
@twinssbc Yes NgCalendarModule is already important in module.
[code]

Thanks for instant replay

UPDATE: i need to add in to componentname.module.ts file and it works. sorry for my silly question.

[2019-09-02 18:57] #459 closed, assigned to nobody

[2019-09-03 00:49] twinssbc commented on #460
@emieuxcharles You could refer to Localization section in README.

[2019-09-03 04:15] mzaidipk commented on #458
is there any update on this @twinssbc
Also i don't see a main.prod.ts "Note for Ionic Build/Run command"is this applicable for the latest ionic / angular version. i tried pasting them in the environment.ts and environment.prod.ts but didnt work.
another thing from the error i found that i couldnt find a property hourSegments in the source code. only the compiled version of calendar.d.ts which i go

[2019-09-03 06:10] emieuxcharles commented on #460
Thanks, it work

[2019-09-03 06:10] #460 closed, assigned to nobody

[2019-09-04 00:06] twinssbc commented on #458
@mzaidipk I will release a new version that exposes all these properties to be public.
hourSegments is in weekview.ts, you need to check the v5 branch.

[2019-09-04 13:44] twinssbc commented on #458
@mzaidipk I published a new version 0.5.3 which contains the fix. Feel free to give a try.

[2019-09-05 06:44] bhandaribhumin opened #461 "custom css not working"
css working on browser but when i try on device css not applied, also try to add css on app.scss but still not applied

i refer https://github.com/twinssbc/Ionic2-Calendar#css-customization

[code]

i want to achieve below style :

![Event](https://user-images.githubusercontent.com/3336047/64318012-bf3e6880-cfd6-11e9-8876-9f955fb0dd4a.jpg)

[2019-09-06 02:51] twinssbc commented on #461
@bhandaribhumin Could you try adding these styles in global.scss?

[2019-09-09 06:35] bhandaribhumin commented on #461
@twinssbc yes but now i fixed using getCustomClass().
Thanks so much.

[2019-09-09 06:35] #461 closed, assigned to nobody

[2019-09-10 02:10] #458 closed, assigned to nobody

[2019-09-10 11:54] bhandaribhumin opened #462 "anyone know how do i get which month i'm selected while swipe left and right"
i need to pass start date and end date while select next or previous month. right now i get current month's startdate and enddate in api.
while swipe right or left i need month.

i try onCurrentDateChanged() but it call every time when i change date i only do to swipe left right and get month.

[2019-09-10 13:31] twinssbc commented on #462
@bhandaribhumin If you set the query mode to 'remote', the onRangeChanged method will be triggered and you will get the start and end date. You could get more details from README.

[2019-09-11 08:48] bhandaribhumin commented on #462
@twinssbc didn't fire onRangeChanged() when i swipe left and right.

[code]

but i fix using

[code]
Thanks for help but i have one design issue i want to  **fix calendar container** and **event body enable to scroll**.

[2019-09-11 13:30] twinssbc commented on #462
@bhandaribhumin The onRangeChanged method should be triggered. Notice that the range not just include the dates of current month, also may contain several days in previous or next months.
To fix the calendar table, I think you may try position:absolute, to make the event body scroll, you just need to set a fixed height for the event detail list.

[2019-09-12 09:58] bhandaribhumin commented on #462
@twinssbc range where is that range come from?

my ts file

[code]

my html file

[code]

[2019-09-13 00:23] twinssbc commented on #462
@bhandaribhumin You need to add (onRangeChanged)="onRangeChanged($event)" in your html. And implement onRangeChanged method in your ts file. You could get more information from README.

[2019-09-13 07:53] bhandaribhumin commented on #462
@twinssbc thanks [try](https://stackblitz.com/edit/ionic-calendar-scheduler-kpcgbj) but not working :(

https://stackblitz.com/edit/ionic-calendar-scheduler-kpcgbj

[2019-09-13 15:20] twinssbc commented on #462
@bhandaribhumin Because you didn't set queryMode option in HTML.

[2019-09-17 20:04] wenindoubt opened #463 "Month View - All Day events showing after time-based events"
In the [demo](https://twinssbc.github.io/Ionic2-Calendar/demo/), the all-day events are shown after the time-based events.

For example:
08:00 - 12:00 | Eat Lunch
all day | Eat Dinner

Is it possible to have the all-day event show first?

For example:
all day | Eat Dinner
08:00 - 12:00 | Eat Lunch

[2019-09-17 21:09] wenindoubt opened #464 "Customized DayView does not have background color"
I use the following example to create a customized DayView. With this basic example, it shows my events in the DayView without any background color. What am I missing that would get me the highlighted time block again?

<img width="325" alt="Screen Shot 2019-09-17 at 2 06 30 PM" src="https://user-images.githubusercontent.com/6639351/65079742-b04fa280-d954-11e9-911a-df609f274a20.png">

[code]

[2019-09-17 22:51] wenindoubt commented on #464
It looks like when I use `<ng-template>` to override the default template, the CSS classes are not applied.

I had to copy the following CSS class from the source code:
[code]

[2019-09-17 22:51] #464 closed, assigned to nobody

[2019-09-18 00:05] twinssbc commented on #463
@wenindoubt Yes, you could use monthviewEventDetailTemplate option to provide a customized view of that part. More details in README.

[2019-09-18 16:43] wenindoubt commented on #463
I am currently using the `monthviewEventDetailTemplate` option and specified the **allDay** block first, and then the non-allDay block second. However, the **allDay** events are still showing **after** the normal events.
[code]

[2019-09-18 21:59] napisani commented on #347
@efezter @twinssbc
Hi All - I was running into the same thing because of the following css
.weekview-normal-event-container {
  position: absolute;
left:0;
top:0;
bottom:0;
right:0;
} /* this css effectively hid the div containing all of the time specific rows */
below is my current fix/hack

:host ::ng-deep .weekview-normal-event-container {
  position: relative;
}

:host ::ng-deep .dayview-norma

[2019-09-18 23:27] twinssbc commented on #463
@wenindoubt You need to sort the events first.
I tried below method, and it's working.
[code]

Then in the template
[code]

Or you could use two separate event list, the first one for allDay events, the second one for normal events.

[2019-09-19 08:23] mike-pin1 commented on #380
If you are doing this
`startTime: new Date('2019-09-19T10:30.000Z')`

This format is not supported in Safari. You'll have to replace '-' with '/', remove the T and everything after the dot (.000Z)
`startTime: new Date(('2019-09-19T10:30.000Z').replace(/-/g, '/').replace('T', ' ').replace(/\..*|\+.*/, ''))`

[2019-09-19 12:43] radious15 commented on #371
Hello!

Thanks a lot for the awesome calendar, it really helps and the customization options are the best!

I have the same requirement as Brand0n, I am trying to get rid of the delay between switching from one week/day to another and the display of the events.

Would it be possible to have the same monthViewInactiveDIsplayEventTemplate for week and day?
My ultimate goal if I cannot get rid of the

[2019-09-19 15:20] twinssbc commented on #371
@radious15 I get the idea, will spend some time on it.

[2019-09-24 21:51] radious15 commented on #55
Hello!

I have a small issue with scrolling as well, it only works when I am changing the mode from week to day or the contrary, not on the first display of the calendar.  However PreserveScroll works perfectly.

Any idea?

Thanks you very much!!

BR,
Radious

[2019-09-24 21:56] radious15 commented on #371
@twinssbc thank you! I disabled the swipe for now :)

[2019-09-24 23:22] twinssbc commented on #55
@radious15 This looks like a bug. I will fix it.

[2019-09-25 09:36] radious15 commented on #55
@twinssbc thanks !

[2019-09-27 00:46] twinssbc commented on #371
@radious15 I added disabled template options in version 0.5.5. Feel free to give a try. You could find more information in README.

[2019-09-27 00:56] twinssbc commented on #55
@radious15 I have fixed it in version 0.5.5. Feel free to have a try.

[2019-09-30 10:15] radious15 commented on #55
@twinssbc thanks!

Unfortunately, it doesn't work on first opening of the calendar after updating to 0.5.5:

- I open the calendar for the first time, it doesn't scroll.
- I close the calendar, open it again and it works.

My code is as follow:

[code]

[code]

Thanks for your kind help!

BR,
Radious

[2019-10-01 07:46] MurugeshwaranAegham opened #465 "Events only show in current month not in previous or next month"
The events of current month are only highlighted in month view. when I swipe to the next or previous month that didn't show the events in that month

[2019-10-01 11:00] twinssbc commented on #465
@MurugeshwaranAegham The calendar displays events stored in the eventSource array. When changing the month, you also need to change the eventSource array element accordingly.

[2019-10-01 11:01] twinssbc commented on #55
@radious15 You mentioned you close the calendar and open it again. When do you put the calendar? In  a modal dialog?

[2019-10-01 12:50] MurugeshwaranAegham commented on #465
I already added in eventSource Array.

[2019-10-05 10:46] radious15 commented on #55
@twinssbc yes, I put the calendar in a modal dialog. Do you have any idea what causes the issue? Thank you very much!

[2019-10-05 10:52] twinssbc commented on #465
@MurugeshwaranAegham How do you add the events in the eventSource array? If you just modify the array element directly, you need to call loadEvents to force refresh. See the **EventSource** section in README.

[2019-10-05 14:05] twinssbc commented on #55
@radious15 I think it's due to the modal dialog hasn't been fully rendered, but the calendar tries to scroll to the init position. I slightly adjust the delay time, it's working in my test project now. Could you try the latest version 0.5.6?

[2019-10-05 16:38] radious15 commented on #55
@twinssbc I tried, and it still doesn't scroll on first opening. Any guess? I tried changing my html with less customization but it didn't change anything. Thank you!

[2019-10-05 22:46] twinssbc commented on #55
@radious15 Could you provide your source code?

[2019-10-06 09:45] radious15 commented on #55
@twinssbc I tried to reproduce it on stackblitz, but at the moment I upgrade the calendar to 0.5.6 I get the error "Error in /turbo_modules/@ionic/angular@4.10.0/dist/fesm5.cjs.js (942:54)
i0.defineInjectable is not a function"

[2019-10-06 10:12] radious15 commented on #55
@twinssbc I tried a light version on my code, I still have the issue:

**Calendar-test.html**

`<ion-content>
  <calendar [eventSource]="this.eventList" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    [formatHourColumn]="calendar.formatHourColumn" [startHour]="calendar.startHour" [endHour]="calendar.endHour"
    [step]="calendar.step" [startingDayWeek]="calendar.startingDay

[2019-10-08 04:33] gentixyann opened #466 "Events doesn't display on Android and browser only October to March"
I made calendar app with ionic2-Calendar and Firebase.

Build was success. But, something strange has happened.

Event doesn't display on Android and browser only October to March.

**It was displayed on iOS completely.**

I can add events to Firestore, and I can see events in console log in any platform.
 But  on Android and Browser, events doesn't display in calendar between October to March.
If

[2019-10-08 11:51] twinssbc commented on #466
@gentixyann You have a lot of business logic in the code probably I can't fully understand. Let's just focus on the calendar itself. It only cares about the eventSource array. If any event in the eventSource array falls into the current month, it is displayed.

I can see the only place eventSource array is manipulated is in below code
[code]

Could you debug to see if it is always triggered as exp

[2019-10-09 03:22] gentixyann commented on #466
### In conclusion, I could fix that problem!

I don't understand why it works, but events was displayed on Android and browser in October to March.

I changed allDay property like this

[code]

I'm wondering why if `allDay: true` events doesn't displayed on Android and Browser only October to March.
Other than that, it works any platforms...

**Thank you for reply and greate library for ionic!!**

[2019-10-09 23:32] twinssbc commented on #466
@gentixyann How do you construct the startTime and endTime of allDay event?
AllDay event has below rule.
[code]

[2019-10-10 00:21] gentixyann commented on #466
I only use MonthView, so I don't need data of hour and minute in event.
It means, my app checks  to see `true or false` if there's event.
That's why I thought allDay property has to be defined in the code.

The startTime and endTime is same time.
`end.setHours(end.getHours() + 1);` doesn't work.

The startTime and endTime are like this in database.
`startTime  2019年8月15日　13:00:00 UTC + 12
 endTime

[2019-10-10 07:00] twinssbc commented on #466
@gentixyann Ok, that probably explains. Because you only set the startTime and endTime have one hour difference. And when calendar processes all day event, it also ignore the hour/minute/second part, so startTime and endTime are basically the same and won't display in the calendar.

[2019-10-10 08:02] gentixyann commented on #466
Thank you for explain.

[2019-10-10 14:46] #466 closed, assigned to nobody

[2019-10-17 09:13] bhandaribhumin commented on #462
@twinssbc sorry i'm late but thanks so much it work..... did you know how can we fix the calendar and event list is scrollable?

[2019-10-17 09:13] #462 closed, assigned to nobody

[2019-10-18 11:51] radious15 commented on #55
Hi @twinssbc , did you manage to reproduce the issue? Thank you very much!!!

[2019-10-20 06:04] twinssbc commented on #55
@radious15 Yes, cannot always reproduce, I guess still the timing issue. I published a new version, 0.5.7 which further increase the interval. Feel free to give a try.

[2019-10-21 17:26] timstoute commented on #380
I'm still stuck with this; my start_date timestamp comes out of Firestore like this:

Timestamp {seconds: 1571769000, nanoseconds: 0}

And then

startTime: (doc["start_date"]).toDate(),

works properly in Chrome / Android, but I cannot get it working in Safari / IOS.

Using Angular / TypeScript / Ionic 4 - I've tried the replacements suggested above with no success. Any advice appreciated.

[2019-10-21 19:58] vagnersabadi commented on #380
try using lib momentjs. Example

[code]

[2019-10-22 09:31] radious15 commented on #55
Hi @twinssbc , unfortunately I still have the same issue. It does not scroll on first opening of the modal, only on the second opening. I also changed the modal to a push navigation, and got the same issue. I used the version 0.5.7, and the same simple code that I posted above. Also, if I have two calendars on two different pages, I can open the first one and it doesn't scroll, but if I open the s

[2019-10-22 11:07] timstoute commented on #380
@vagnersabadi  thanks for the nudge to use momentjs. This is what worked for me:

 let startTimeMomentObj = moment(doc["start_date"].toDate(), 'MMMM Do YYYY, h:mm:ss a')
 let endTimeMomentObj = moment(doc["end_date"].toDate(), 'MMMM Do YYYY, h:mm:ss a')

let event = {
            startTime: startTimeMomentObj.toDate(),
            endTime: endTimeMomentObj.toDate(),
            ...
}

[2019-10-22 11:56] radious15 commented on #55
@twinssbc I changed the modal to a push navigation, and unfortunately I have the same issue. I use the version 0.5.7, and the same simple code that I posted above. It is the same behavior: doesn't scroll on first opening, only on second. Thanks for your kind help!

[2019-10-22 12:23] radious15 commented on #55
@twinssbc I investigated, if I remove the "preserveScrollPosition" variable, it doesn't scroll when I open the calendar for the second time. Sorry for spamming!

[2019-10-22 18:02] BrettButcher opened #467 "Update to Android, or something ? is causing problems with loading events."
I had a working calendar on browser (testing using Ionic Serve) and Android (ionic cordova run android  - with and without livereload).
Last week my phone (Samsung A8) was updated with a security patch but I can't positively state that was the 'event' when all changed. However.
I now find that when loading my events iam now getting this error just as the calendar loads the events:

**vendor.js:418

[2019-10-23 09:42] Siva021 commented on #332
<calendar
        [eventSource]="calendarEvents"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        [monthviewEventDetailTemplate]="template">
    </calendar>
    <ng-template #template let-currentDate='

[2019-10-23 13:48] twinssbc commented on #332
@Siva021 Unfortunately startTime and endTime is the mandatory fields which will be used internally.

[2019-10-23 17:18] radious15 commented on #55
Hi @twinssbc , I set 400 on the setTimeOut and it works for me. As I am anyway retrieving the events from a DB, I have a loading screen set as an overlay on the calendar. So on the first opening, I block my "loading" event to minimum 400, it's not much an issue.  I investigated the problem and it is very hard (even maybe impossible) to find, seems like there is nothing we can do about it anyway. T

[2019-10-24 04:57] baeteja opened #468 "Problem with overlap detection between events"
I'm using this calendar for a simple time logging application. However, I'm currently facing the following issue:

When 2 bookings are logged on the same day it sometimes falsely detects an overlap. For example the following bookings should not be displayed as an overlap:

![image](https://user-images.githubusercontent.com/23073251/67454530-c6731180-f62a-11e9-8869-cafc566e7a20.png)

The first one

[2019-10-24 16:55] BrettButcher commented on #467
I am commenting on my own post because I couldn't find enough coverage of this issue.
Ok, I know Javascript Dates are all a bit weird, but thought that a Date would at least be a Date? Well no, it appears not.
my appointments are coming from a server in ISO string form. I read that the eventSource for the calendar should use new Date() when setting them up... all fine so far. I did that and it wor

[2019-10-25 12:02] twinssbc commented on #467
@BrettButcher I don't think it needs Date.UTC to fix your issue. There are some similar issues get reported, but it's due to the Safari browser doesn't work on certain date format. It's the first time the error happens on Android browser.

Date constructor in javascript accepts many different parameters, I think the safest one is this
[code]
This one should also work which is basically what you do

[2019-10-25 12:06] twinssbc commented on #468
@baeteja The end time of the first event should be 12:39, then they are considered not overlapped. I need to leave some buffer during the overlap calculation, because of the float number precision.

[2019-10-25 13:22] BrettButcher commented on #467
@twinssbc, thanks for coming back on this... I don't have a lot of choice re the server end, which is why I have server and  client versions of the time. However, I just found as well, that even saving to the device store with Ionic-Storage (after conversion and all ok... ), when bringing it back from the Ionic-Storage, I have to re-parse the server date again, as the previous (miillisecond - UTC

[2019-10-26 09:52] radious15 opened #469 "Display events before sliding"
Hello!

Would it be possible to display the events of the next/previous week/day **before** actually starting the slide?

What we currently have (please don't mind the CSS it's just a test calendar):

![slide_current](https://user-images.githubusercontent.com/44028371/67617786-11d21f00-f7e7-11e9-85b8-ed6370cf72e0.gif)

What I would love to have (Google calendar):

![slide_googlecalendar-expected](

[2019-10-27 01:10] twinssbc commented on #467
@BrettButcher Thanks for the suggestion. I added it in the **common questions** section.

[2019-10-27 01:12] twinssbc commented on #469
@radious15 Yes, it's possible. First when you fetch the events, you need to fetch 3 months, instead of 1 month. Second you could use the several weekview inactive templates to customize the inactive views, because by default, it doesn't display any event. More explanation about the templates can be found in README.

[2019-10-27 01:13] #467 closed, assigned to nobody

[2019-10-27 10:30] radious15 commented on #469
Hi @twinssbc , thanks for your quick response!

I tried and found few issues (I think):

1. [PreserveScrollPosition] has a weird behavior: when I set this option to true, if I scroll vertically it refreshes my event and it doesn't scroll properly. Also, swiping to next or previous doesn't automatically conserve my scrolling position, sometimes it goes to 0 then scroll, sometimes it starts from 18.

[2019-10-30 11:28] pborregongo opened #470 "no events"

[2019-10-30 11:28] #470 closed, assigned to nobody

[2019-10-31 07:15] tschonner commented on #55
<img width="456" alt="Github Change Inputtime" src="https://user-images.githubusercontent.com/57210611/67926078-61cd2f00-fbb5-11e9-8c83-afaec9d567c9.PNG">
Hi @twinssbc, it is possible to bind the scrollToHour option for example to an input type time, so if you change its value, it will scroll to the current input time in day view. Unfortunately it only works, after you changed between day and week

[2019-11-01 10:42] ilprima opened #471 "In monthview are displayed also next months columns (Slider problem)"
Hi, i have a problem.
When the calendar is rendere are shown more columns than expected. When i click or resize the window the calendar becomes well rendered. There are 9 days displayed instead of 7. Seems a slider problem because the current slider doesn't cover all the width, as more than 1 slide per view is shown.
I tried also to set slidesOptions to
slidesOptions = {
        slidesPerView: 1

[2019-11-02 12:02] ilprima commented on #471
I found the way to reproduce this problem:
if you put a ngIf in the calendar container, and then set the condition to false, and later (after x time) to true it shows that bug. The slider seems not rendered with the right width and you have to do a swipe or to change month to fix it

[2019-11-03 15:04] twinssbc commented on #471
@ilprima Are you using some custom css? I put the calendar in ion-content, and use a button to control loading variable to achieve rendering the calendar in a later time. But I'm not able to reproduce your issue. Could you debug why the width is calculated as 252px?
I think one workaround is you can always display the calendar but present some loading mask when the event is loading.

[2019-11-03 15:08] twinssbc commented on #55
@twinssbc Unfortunately, scrollToHour option doesn't support changing value dynamically. I think you could probably use some native DOM selector to find the weekview element and scroll its position.

[2019-11-03 16:08] danielehrhardt opened #472 "Angular 9 Issue"
Hi ive tried to upgrade my Angular Project to Version 9
I get this error:
[code]

when i run:
`ngcc --properties es2015 browser module main --first-only --create-ivy-entry-points`

[2019-11-04 00:46] twinssbc commented on #469
@radious15
Regarding your first issue, the abnormal behavior when scrolling vertically, I'm still trying to reproduce.
For the second issue, scrollbar doesn't preserve position, this is because I'm using a looped the Ionic slides control. It's internal implementation has some cached page on the first and last view. I can't control the behavior of these cached pages. That's why when you scroll twic

[2019-11-04 00:53] twinssbc commented on #472
@danielehrhardt Which Ionic version are you using? Could you provide all of your dependency versions in the package.json?

[2019-11-04 12:16] radious15 commented on #469
@twinssbc thank you very much! I am going to deep test the scrolling issue and let you know if I find any workaround. Thanks for the event, it would be perfect to see them when scrolling! Have a nice day :)

[2019-11-04 12:20] danielehrhardt commented on #472
I think it is a problem with Angular.
I did a upgrade to Angular 9 (https://next.angular.io/guide/updating-to-version-9)

[code]

[2019-11-04 20:12] tschonner commented on #55
@twinssbc It's working perfectly. Thank you very much for you advice.

[2019-11-07 07:00] anikinitek opened #473 "Custom template without event section"
@twinssbc Please help me get below screen. to get that type screen. what i need to do . i tried so many ways. i don't want event section . help me to do this
![week view with custom screen](https://user-images.githubusercontent.com/38279492/68366765-1e953200-015a-11ea-8f94-c328f7a1cfc8.PNG)

[2019-11-10 10:29] twinssbc commented on #473
@anikinitek Sorry, this calendar doesn't support customization like that.

[2019-11-12 16:59] townheadbluesboy opened #474 "Month View Event Detail Customisation"
Hi How do you customise the event details section at the bottom of the Monthview screen which seems to be 'all day' (if all day) and Title from the Eventsource array?  I've read the docs on the MonthviewEventDetail template but I need a bit more help to get going  - I pretty new to this stuff.  Thanks

[2019-11-13 13:32] twinssbc commented on #474
@townheadbluesboy
In your component html, you specify a custom template as below
[code]
And pass it to the calendar monthviewEventDetailTemplate
[code]

The default event detail template is as below
[code]

You could change the layout of that section to whatever you want to display.

[2019-11-13 16:39] townheadbluesboy commented on #474
Thanks I'll be having a go in a few days.

[2019-11-14 20:17] auflint commented on #167
Still have this issue November 2019

[2019-11-15 03:41] rodrigogsn opened #475 "Calendar support for Ionic React"
Hello guys! Is there a way to use this calendar with React?https://ionicframework.com/blog/announcing-ionic-react/

The calendar works so great in Ionic/Angular, but I'm not sure if it could be installed in Ionic React, or how I could help if it's not.

Thanks!

[2019-11-16 13:28] twinssbc commented on #475
@rodrigogsn Sorry, it is built based on Ionic/Angular, no Ionic React version. Feel free to contribute one if you have time.

[2019-11-17 19:56] SackeyDavid commented on #54
Hello @twinssbc. Thanks for your work.

How do I show only tr with monthview-selected class? That is, only week with the current day for month view.

[2019-11-17 23:11] twinssbc commented on #54
@SackeyDavid You could certainly use css to achieve that. But the month view itself doesn't support navigating between weeks. When you swipe left or right, the whole month changes.

[2019-11-18 10:30] SackeyDavid commented on #54
@twinssbc i tried this

`.monthview-datetable tr:not(td:not([class])) {
    display: none;
}
`
to access the rows other than the current day row which do not have any css class. But it didn't work.
Basically I was trying to **hide html `table tr` if it does not contain a `td` with specified classname using css.**

The current day row has a `td` with `monthview-selected` and `monthview-current` cla

[2019-11-18 22:48] twinssbc commented on #54
@SackeyDavid As I explained, even if you could make the month view only show one week, you won't be able to navigate from week to week in the month view, it is navigated per month. So before you spend a lot of effort on sorting out the CSS trick, maybe you could first think about if that could fit your requirement?

[2019-11-19 08:43] SackeyDavid commented on #54
Okay, thanks @twinssbc.

[2019-11-20 08:13] ralscha commented on #472
I've encountered the same issue.
It has something to do with Ivy. When you disable Ivy everything works fine.

Here is a demo application:
https://github.com/ralscha/ionic-calendar-demo
In this version Ivy is disabled and `ng build` and `ng build --prod` works fine.

But when you enable Ivy, the build process fails.
To enable Ivy open `tsconfig.json` and change `"enableIvy": false` to `"enableIvy"

[2019-11-20 16:34] jcmendes9898 opened #476 "Make it readOnly"
Is it possible to make the events on the calendar read only and disable the selection of date?  the green square.

[2019-11-21 09:57] jcmendes9898 opened #477 "Start Time, End Time, events BUG"
`    this.addEventValue = new EventPush();
    var date = new Date(2019, 9, 12)
    this.addEventValue.allDay = true;
    this.addEventValue.title = "Férias";
    this.addEventValue.startTime =  new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate()));
    this.addEventValue.endTime = new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate() + 1));

[2019-11-21 11:30] sdore2021 opened #478 "how to personalize ionic2-calendar"
hello. someone can help me. I want to personnalize my view event detail. so i have to add un new component in my file.ts and call it in my html file.
but i don't kwon how to use this TemplateRef:

monthviewEventDetailTemplate: TemplateRef<IMonthViewEventDetailTemplateContext>

myfile.ts

@Component({
  selector: 'page-agenda',
  templateUrl: 'agenda.html',
})
//#monthviewDefaultEventDetailTemplate

[2019-11-21 11:33] sdore2021 commented on #478
how to use this:
monthviewEventDetailTemplate: TemplateRef<IMonthViewEventDetailTemplateContext>

[2019-11-21 13:55] twinssbc commented on #476
@jcmendes9898 You can't disable selection. But you can simply set the background color of the selected date to white by overriding below css.

[code]

[2019-11-21 14:02] jcmendes9898 commented on #476
OK, thanks for the answer.

[2019-11-21 14:03] twinssbc commented on #477
@jcmendes9898 You need to take the time difference into account. Also why not just set the date like below
[code]

[2019-11-21 14:05] twinssbc commented on #478
@sdore2021 You need to put the template code in HTML file like below:

[code]

[2019-11-21 15:27] jcmendes9898 commented on #158
Same problem as @rajkishoreandia . Did you manage to solve it?

[2019-11-21 16:33] jcmendes9898 commented on #94
Hi, i can only change de color of the days if i had `:host ::ng-deep .monthview-primary-with-event {
    background-color: #387ef5 !important;
    color: white !important;
}
`,
Need the :host ::ng-deep. That way i can't change the color of each day. Any suggestions or tips? I'm using this [template](https://github.com/twinssbc/Ionic2-Calendar/issues/94#issuecomment-298194910)

[2019-11-22 09:18] jcmendes9898 opened #479 "ionic2-calendar - styling events. Different color according event"
So I've been working on this for the last days, i really strugle to make it work. I'll show my final result, the best i can do for my project. I'm using Ionic4. So base on other people solutions, my final code looks like this:
<img width="166" alt="calendar" src="https://user-images.githubusercontent.com/51124654/69413267-65f9f180-0d08-11ea-8859-f2ae6a8da036.PNG">

my Scss looks like this:

`:host

[2019-11-22 13:31] sdore2021 commented on #478
Thanks for yours answers.

so i need to create a new component in ionic (e.g : ionic g component calendar) and insert template code in calendar.html like this:

and add this option in my agenda.html
but i don't know how to use this component in my agenda.ts code because the onligne documentation said that
my problem is how to put this argument {"showEventDetail', "seletedDate ", "noEventLabel "} a

[2019-11-23 06:05] #476 closed, assigned to nobody

[2019-11-23 06:12] twinssbc commented on #94
@jcmendes9898 You could put it in global.scss, then you don't need :host ::ng-deep.

[2019-11-23 06:24] twinssbc commented on #478
@sdore2021

You don't need to specify the showEventDetail, selectedDate or noEventsLabel by yourself. It is passed in automatically, you just need to use it.

This link may give you some idea.
https://angular.io/api/common/NgTemplateOutlet#description

[2019-11-24 04:08] sdore2021 commented on #478
okay thanks.
I think I need to learn angular before continue this project because i have not understood yet how to use this in my file.ts

thank you for all.

De: "twinssbc" <notifications@github.com>
À: "twinssbc/Ionic2-Calendar" <Ionic2-Calendar@noreply.github.com>
Cc: "Samouka Dore" <samouka.dore@insa-cvl.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Samedi 23 Novembre 2019 07:24:26
Objet

[2019-11-25 14:01] ghost commented on #386
Hi,
Where can I found the default ones for daily and weekly events?
Thanks and great job for ionic2-calendar!

[2019-11-25 21:49] sdore2021 commented on #479
how to you working this html template "<ng-template #template let-view="view" let-row="row" let-col="col">---<ng-template>" in yours typescript file. I have this problem. i wanna see you extract code about working the <ng-template #template> if that is possible.

[2019-11-25 23:46] twinssbc commented on #386
@cyber-greg It is in
https://github.com/twinssbc/Ionic2-Calendar/blob/v5/src/calendar.ts

[2019-11-25 23:47] twinssbc commented on #479
@sdore2021 You probably want to check the default template used in the calendar and modify them accordingly.
https://github.com/twinssbc/Ionic2-Calendar/blob/v5/src/calendar.ts

[2019-11-26 12:40] sdore2021 commented on #479
thank you so much. I finaly resolve my problem afther reading many last comment in issue section.

De: "twinssbc" <notifications@github.com>
À: "twinssbc/Ionic2-Calendar" <Ionic2-Calendar@noreply.github.com>
Cc: "Samouka Dore" <samouka.dore@insa-cvl.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Mardi 26 Novembre 2019 00:47:45
Objet: Re: [twinssbc/Ionic2-Calendar] ionic2-calendar - styling ev

[2019-11-26 12:45] sdore2021 commented on #478
thanks.
my problem is solved.

[2019-11-27 08:13] sdore2021 opened #480 "put the title of the date in capital letter"
![image](https://user-images.githubusercontent.com/54699660/69705242-6b36b200-10f5-11ea-9af7-3b2fcad562cb.png).

do it is possible to put the title the month date in capital lettre like this 'NOVEMBRE 2019'. i have already this 'novembre 2019'. I want just to put in capital lettre.

[2019-11-27 13:43] twinssbc commented on #480
@sdore2021
I can think out two ways,
1. You could use uppercase pipe, for example {{ value_expression | uppercase }}
2. You could use **dateFormatter** option, it allows you to pass any custom logic to generate the title string.

[2019-12-02 11:09] NIYASSURABHI commented on #204
this is not working in my ionic4 app (Angular 8). Can you please help me on this?

[2019-12-02 11:23] NIYASSURABHI opened #481 "Next and Back button click event not working"
I'am using  two arrow buttons to navigate next/prev month. using

  var mySwiper = document.querySelector('.swiper-container')['swiper'];
  mySwiper.slideNext();

But its not working in my ionic4 (Angular8) Application. Please help me on this

[2019-12-02 14:48] twinssbc commented on #481
@NIYASSURABHI How is it not working? Any error message printed out in the console? This is just a simply DOM query, could you check the DOM structure to if the queried element exists ('.swiper-container')?

[2019-12-03 04:37] NIYASSURABHI commented on #481
When i console the swiper , the active index is changing. But view is not changing. Normal swiping is working

[2019-12-03 05:51] NIYASSURABHI commented on #79
What will happens if i click navigation button from 31 January to February? it is coming to march 2. How can handle this?

[2019-12-03 06:06] NIYASSURABHI commented on #481
I have fixed this issue by  changing current date as you said in another issue.
 this.calendar.currentDate = new Date(this.calendar.currentDate.setMonth(this.calendar.currentDate.getMonth() + 1));

But i noticed another situation that, when i click right navigation from January 31 its showing march 2 (because February have only 29 days) .this issue is happening on several months because some have

[2019-12-04 00:45] twinssbc commented on #481
@NIYASSURABHI You could set the date to some day in the middle of the month so that it won't cause such edge case. Another way is you could check after setting the month, whether the month is the expected one, if not, adjust the date to the expected month.

[2019-12-05 08:36] NIYASSURABHI commented on #481
Do u have any workaround to handle this. it will be very helpful for me

[2019-12-06 09:05] NIYASSURABHI commented on #481
"Another way is you could check after setting the month, whether the month is the expected one, if not, adjust the date to the expected month."

How can i do this? Can u please give a guidance?

[2019-12-06 13:36] NIYASSURABHI commented on #481
var cuurentday=this.calendar.currentDate;
    let currentMonth = cuurentday.getMonth();
    let nextMonth = new Date(cuurentday.setMonth(cuurentday.getMonth() + 1));
    debugger

    if(nextMonth.getMonth()-currentMonth>1){
      this.calendar.currentDate = new Date(this.calendar.currentDate.getFullYear(),currentMonth+1, 0);
     }
     else{

      this.calendar.currentDate = new Date(this.calen

[2019-12-06 14:23] Fresh-Dev-zunairzakir commented on #481
I am also getting the below error when clicking on next or previous:
ERROR TypeError: Cannot read property 'swiper' of null

And I am also not able to see any generated elements inside the DOM.
![image](https://user-images.githubusercontent.com/22615381/70329653-b707fa80-185d-11ea-87cc-68bb99f39965.png)

Please guide me in this.

[2019-12-09 15:31] twinssbc commented on #481
@Fresh-Dev-zunairzakir Did you import the NgCalendarModule in module file? This looks like the calendar element is not recognized.

[2019-12-09 15:35] twinssbc commented on #481
@NIYASSURABHI You need to add more logic to avoid edge case, for example always set the date to some day in the middle of the month, instead the first and last day.
For example, new Date(2019,01,31) return Mar 03, instead of some day in Febuary.

[2019-12-10 13:14] JuniorFlorentino commented on #342
how to change the selected event, can not, already tried in css, ts and nothing works.

    <ng-template #template let-view="view" let-row="row" let-col="col">
        {{view.dates[row*7+col].label}}
    </ng-template>

    <p>

        <calendar
            [monthviewDisplayEventTemplate]="template"
            [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [sh

[2019-12-11 00:29] twinssbc commented on #342
@JuniorFlorentino When is this changeDateAndAddAtCalendar method being triggered? Could you try just adding some dummy event, instead of using the datas to construct an event, see if it works?
Also I don't quite get "change the selected event", how do you want to change? Basically the calendar display all events in the eventSource array, if you construct the eventSource array properly, the events

[2019-12-11 13:33] JuniorFlorentino commented on #342
would be to change the color of the day that is selected, to put a red color but it doesn't work.

[2019-12-12 14:47] kelokchan commented on #479
Can you show me how you solved this issue?

[2019-12-12 19:09] sdore2021 commented on #479
you don't need to modify your typescrypt code for working this template, just insert this default template bellow you html code and personnalize the view. for me I just replace list component to card component and delete hour from view.

[2019-12-13 12:37] twinssbc commented on #342
@JuniorFlorentino If you just want to change the selected date color, you could add style to monthview-selected class. It is applied to the selected cell automatically.

[2019-12-18 14:31] insidew commented on #481
Do you sloved this problem ? I have also problem with next prev button navigation. Sometimes it works but mostly not...
it's hard to say why it's false..

[2019-12-20 09:17] sivadinesh1 commented on #472
yes, this breaks in angular 9, had to remove this wonderful calendar from my project because of this.

[2019-12-20 16:50] cr1pt0r0 opened #482 "Ionic 3 Can't build/run the app"
Hi, I'm having trouble building/running the app to my android phone. App is working fine when I did "ionic serve". Below are the errors that I'm encountering when I do "ionic cordova run android --prod"

![Untitled](https://user-images.githubusercontent.com/49737524/71270193-ec4b3700-238b-11ea-9faf-ccb4eeac87e1.png)

[2019-12-21 03:27] twinssbc commented on #482
@cr1pt0r0 Which Ionic and Angular version are you using? Could you kindly check the * Dependency* section in README, it documents the corresponding version should be used.

[2019-12-21 10:59] cr1pt0r0 commented on #482
Nevermind. I was using someone else's ionic template. Creating a newly fresh ionic works well. Sorry for the cause. haha.

[2019-12-21 10:59] #482 closed, assigned to nobody

[2019-12-22 05:33] rafaxplayer opened #483 "Error: ENOENT: no such file or directory, open 'C:\Users\rafax\Desktop\gym-progress\node_modules\ionic2-calendar\index.js'"
Hi, I have this problem in ionic 4 I can't get ionic2-calendar to work, this is the console error:
ERROR in ./node_modules/ionic2-calendar/index.js
[ng] Module build failed: Error: ENOENT: no such file or directory, open 'C: \ Users \ rafax \ Desktop \ gym-progress \ node_modules \ ionic2-calendar \ index.js'
[ng] at Object.openSync (fs.js: 443: 3)
[ng] at Object.readFileSync (fs.js: 343: 35)
[ng]

[2019-12-22 23:58] twinssbc commented on #483
@rafaxplayer As the error indicates,
"Error: ENOENT: no such file or directory, open 'C: \ Users \ rafax \ Desktop \ gym-progress \ node_modules \ ionic2-calendar \ index.js'"

Could you check your node_modules folder to see if index.js exists?

[2019-12-23 20:04] Fagundesbf commented on #405
eu estou com o mesmo tipo de erro ! pode me dizer o que fez?

[2020-01-03 13:41] #446 closed

[2020-01-03 16:30] ErickTechuso commented on #347
I have the same issue, only shows allday row in week and day view, i try to change the css but still hide

[2020-01-06 19:38] ghost commented on #84
You can use formatDayHeader="EEEEE" as described in https://angular.io/api/common/DatePipe

It's not only one 'E' as we imagined but 5 :)

[2020-01-08 07:31] #483 closed, assigned to nobody

[2020-01-08 07:40] rafaxplayer commented on #438
yo tengo el problema anterior , no se sobreescriben las clases css , he usado global.scss y tampoco funciona.
mi global.scsss:

[code]
Another question I have is that I would also like to know how I can make the list of events disappear completely, I do not need it, and if I use it I will use it in a different view, thanks

[2020-01-08 12:49] twinssbc commented on #438
@rafaxplayer there's a **showEventDetail** option, just set it to false.

[2020-01-08 21:14] rafaxplayer commented on #438
Thanks, that part worked perfectly,
but I still can't overshadow css classes.
My css in the previous post.

[2020-01-08 23:58] twinssbc commented on #438
@rafaxplayer You need to add !important

[code]

[2020-01-09 05:40] rajneshkis13 opened #484 "Month calender not showing properly on android device"
hi,
I am getting issue in an android device when killing the app and get back to the app here is attachment how my calendar show after kill app.
![image_2020_01_09T05_18_35_518Z](https://user-images.githubusercontent.com/32674573/72041094-9dc8f280-32d0-11ea-899d-33234da9b040.png)

Thanks,

[2020-01-09 23:36] twinssbc commented on #484
@rajneshkis13 May I know which part is not shown properly? Did you override some css style?

[2020-01-10 08:56] rafaxplayer commented on #438
Thanks this worked fine for me but there are other types of changes that I cannot make because the css rules are not overwritten.
For example, a larger line height in the cells, this way I did it in global.scss

[code]
Greetings

[2020-01-10 19:01] tarunpahuja1980 opened #485 "using two finger swipe on dayview"
In the day view, if i use two finger swap, the calendar acts up totally. It keeps on swiping but it doesn't change the date on the header while swipping

Anything which can be done with it ?

[2020-01-10 19:05] tarunpahuja1980 commented on #484
The default style looks like below on the calendar. We have overwritten the CSS so that only the selected month's days looks like active. See below:

![image](https://user-images.githubusercontent.com/6523770/72179071-44fd7500-340a-11ea-9907-e5e316c249b5.png)

Now, when we set the app to the background by terminating the app and relaunch it again, it shows the screenshot which @rajneshkis13 posted

[2020-01-11 11:48] twinssbc commented on #438
@rafaxplayer
This syntax [_ngcontent-qpy-c3] is called view encapsulation.
https://coryrylan.com/blog/css-encapsulation-with-angular-components

It encapsulates the css style to the specific view.
When you override it globally, you need to remove that syntax, for example:

[code]

[2020-01-11 11:50] twinssbc commented on #484
@tarunpahuja1980 How do you override the css? Is it possible the css class is changed after the app relaunch?

[2020-01-11 11:55] twinssbc commented on #485
@tarunpahuja1980 Sorry, I'm not quite clear how to reproduce this behavior. Is it possible you could provide a video? Is it possible your finger gesture is recognized as another gesture other than swipe?

[2020-01-12 09:23] rafaxplayer commented on #438
Thanks i`m solved

[2020-01-13 15:08] wapewape opened #486 "swiper.slidePrev() and swiper.slideNext() it doesn't work without restarting the browser"
i friend, I need a help
I have my calendar working but I have a problem
When you start the calendar, the buttons for changing the week, or going backwards or forwards, do not work.
I am printing on the console
const swiper = document.querySelector ('. swiper-container') ['swiper'];
console.log ('BACK swiper', swiper);
swiper.slidePrev ();
console.log ('swiper.slideNext ();', swiper.slidePrev ());

[2020-01-13 22:54] twinssbc commented on #486
@wapewape It seems your console print will also trigger the swiping? Could you remove it and only let your button control the swiping? Also it seems the code you provided doesn't match your screenshot. Could you provide the exact code you tested? And how do you trigger the swiping in the buttons?

[2020-01-14 18:29] wapewape commented on #486
my friend explained to you
In the first image I am printing on the console by pressing the button to change the slide
console.log ('swiper.slideNext ();', swiper.slidePrev ()); and returns true but does not change the slide

on that same page when reloading the page without touching the code, it works correctly and returns false by changing the slide correctly

[2020-01-15 15:41] wapewape opened #487 "Validate hours weekview"
Hello, I would like to know how to validate in the week view the choice of two or more consecutive hours
example

the user can select two hours
from 8am to 9am
and from 9am to 10am

but no
8am to 9am
11am to 12pm

thx

[2020-01-15 22:54] twinssbc commented on #487
@wapewape There's a callback method "onTimeSelected" will be triggered when a time slot is clicked. You could add logic in this method to track the start hour and validate the end hour.

[2020-01-15 22:58] twinssbc commented on #486
@wapewape I'm still confused about your code

[code]

If seems you called swiper.slidePrev twice? Also why do you need to trigger swiper.slidePrev() in the console.log? Do you realize it has side effect, not just printing some output? Your output contains NEXT, but I don't see how your code could print that out.

[2020-01-16 17:42] rafaxplayer opened #488 "format date"
Hello I would like to know how I can format the dates of departure in events like onCurrentDateChanged ($ event)?
I need a 'd-M-yyy' pattern for my dates, thanks

[2020-01-18 03:19] twinssbc commented on #488
@rafaxplayer If I understand correctly, you want to format your dates to a string? You could just use string operation or any other 3rd party library.

[2020-01-18 03:37] wapewape commented on #486
I shared with you an small video explain my problem
https://drive.google.com/file/d/1uWZA1PjHjmL9zeQTQ4qjzy2kIXwPcRQl/view?usp=sharing
Please see

[2020-01-19 12:04] twinssbc commented on #486
@wapewape Thanks for the video, especially with the music! I notice that you have another sliders in the page and before reproducing the problem, you also slide second couple times. Maybe it could be the problem.
Could you try below steps?
1. Could you try also slide the second slide after the refresh, then slide the calendar to see if the problem occurs?
2. Could you also try just slide the calen

[2020-01-20 11:46] wapewape commented on #486
Hello Friend
  I already checked what you mentioned and I don't get the problem
You could help me to check the code through remote assistance. I could pay you for this job. thanks

[2020-01-20 13:20] twinssbc commented on #486
@wapewape Did you also check step 3? If you remove the second slide, you no longer meet this issue?
May I know which time zone are you in?
If it's not convenient to do remote assistance, is it possible you could send me your code? You could just leave the code that can reproduce the issue.

[2020-01-20 13:24] wapewape commented on #486
time zone Isla de Pascua (GMT-5)

don't worry about the time, I can connect 24/7
I can also send you the code, you can leave me an email
thanks

[2020-01-20 13:31] twinssbc commented on #486
@wapewape You could send code to the email address in my profile.

[2020-01-21 01:52] roGreenRock opened #489 "Day view only showing time until 10pm"
I am checking the day view and found that even if I have scheduled an event at 11:08pm - 11:30pm, the calendar only displays events until 10pm.

How do i show time later than 10pm in the Day View?

Thanks.

![Calendar](https://user-images.githubusercontent.com/56145613/72768850-b1ab1780-3c33-11ea-8079-6fe4b78d9d96.png)

[2020-01-22 11:21] roGreenRock opened #490 "While waiting for calendar to render, show a loader."
Hi. I have been looking for answers about how I can "pre-render" the events of prev and next month.

My issue i somewhat related to this one : https://github.com/twinssbc/Ionic2-Calendar/issues/196
When  read your response, I learned that it would be hard to "pre-render" the events. So instead of pre-rendering the events, my plan is to just show a loader while the calendar is still loading.

I can

[2020-01-22 14:56] twinssbc commented on #490
@roGreenRock As far as I understand, the transitionStart and transitionEnd is used when the slides are transitioned from the current one to the next one. I think your requirement could be implemented as below:
1. Use *ngIf="!loading" to control the visibility of the calendar
2. Use *ngIf="loading" to display a loading image
3. After loading the events, set loading to true.

And you can load events

[2020-01-23 10:01] jcmendes9898 commented on #486
Sometimes i get the same problem! I need to restart the page in order to work. If you find a solution please share it.

[2020-01-23 10:23] jcmendes9898 opened #491 "Calendar Styles. Remove borders of table inside component"
So i'm trying to remove the borders of the calendar, to remove the look like table view. When i inspect element i can remove the borders
`.table-bordered[_ngcontent-jto-c5] > thead[_ngcontent-jto-c5] > tr[_ngcontent-jto-c5] > th[_ngcontent-jto-c5], .table-bordered[_ngcontent-jto-c5] > tbody[_ngcontent-jto-c5] > tr[_ngcontent-jto-c5] > th[_ngcontent-jto-c5], .table-bordered[_ngcontent-jto-c5] > tfo

[2020-01-24 04:33] twinssbc commented on #491
@jcmendes9898 The [_ngcontent-jto-c5] syntax is used for view encapsulation. When you overriding it, you could remove it, for example

[code]

[2020-01-24 06:30] twinssbc commented on #486
@wapewape @jcmendes9898 I did some investigation and found probably it's because the document.querySelector way is directly manipulating the DOM element. But sometimes the DOM element is not rendered completely in time. I added two instance method slidePrev and slideNext which leverages the official exposed ion-slides method, so no longer doing some DOM level manipulation. The change is in the lat

[2020-01-24 06:39] twinssbc commented on #489
@roGreenRock Did you set endHour option to limit the calendar should display what hour range? If not, could you check if you set the height of the page to some limited number, so that part of the calendar is hidden?

[2020-01-24 06:39] #438 closed

[2020-01-24 06:40] #473 closed, assigned to nobody

[2020-01-24 06:41] #309 closed

[2020-01-24 06:41] #300 closed

[2020-01-24 06:42] #295 closed

[2020-01-24 06:42] #294 closed

[2020-01-24 06:42] #293 closed

[2020-01-24 06:42] #290 closed

[2020-01-24 06:42] #289 closed

[2020-01-24 06:43] #285 closed

[2020-01-24 06:43] #283 closed

[2020-01-24 06:43] #280 closed

[2020-01-24 06:43] #303 closed

[2020-01-24 06:43] #304 closed

[2020-01-24 06:43] #305 closed

[2020-01-24 06:44] #310 closed

[2020-01-24 06:44] #260 closed

[2020-01-24 06:44] #256 closed

[2020-01-24 06:45] #247 closed

[2020-01-24 06:45] #244 closed

[2020-01-24 06:45] #243 closed

[2020-01-24 06:45] #239 closed

[2020-01-24 06:45] #236 closed

[2020-01-24 06:45] #232 closed

[2020-01-24 06:46] #225 closed

[2020-01-24 06:46] #220 closed

[2020-01-24 06:46] #264 closed

[2020-01-24 06:47] #265 closed

[2020-01-24 06:47] #272 closed

[2020-01-24 06:47] #273 closed

[2020-01-24 06:48] #275 closed

[2020-01-24 06:48] #277 closed

[2020-01-24 06:49] #45 closed

[2020-01-24 06:49] #44 closed

[2020-01-24 06:49] #36 closed

[2020-01-24 06:49] #27 closed

[2020-01-24 06:49] #20 closed

[2020-01-24 06:49] #15 closed

[2020-01-24 06:49] #13 closed

[2020-01-24 06:49] #8 closed

[2020-01-24 06:50] #50 closed

[2020-01-24 06:50] #112 closed

[2020-01-24 06:50] #107 closed

[2020-01-24 06:51] #105 closed

[2020-01-24 06:51] #100 closed

[2020-01-24 06:51] #96 closed

[2020-01-24 06:51] #92 closed

[2020-01-24 06:51] #81 closed

[2020-01-24 06:51] #80 closed

[2020-01-24 06:52] #78 closed

[2020-01-24 06:53] #113 closed

[2020-01-24 06:53] #121 closed

[2020-01-24 06:53] #124 closed

[2020-01-24 06:53] #125 closed

[2020-01-24 06:53] #134 closed

[2020-01-24 06:54] #108 closed

[2020-01-24 06:54] #111 closed

[2020-01-24 06:54] #68 closed

[2020-01-24 06:55] #62 closed

[2020-01-24 06:55] #58 closed

[2020-01-24 06:55] #56 closed

[2020-01-24 06:56] #60 closed

[2020-01-24 06:56] #55 closed

[2020-01-24 06:57] #351 closed

[2020-01-24 06:57] #350 closed

[2020-01-24 06:57] #349 closed

[2020-01-24 06:57] #348 closed

[2020-01-24 06:58] #346 closed

[2020-01-24 06:58] #345 closed

[2020-01-24 06:58] #344 closed

[2020-01-24 06:58] #343 closed

[2020-01-24 06:59] #342 closed

[2020-01-24 06:59] #331 closed

[2020-01-24 06:59] #324 closed

[2020-01-24 06:59] #321 closed

[2020-01-24 06:59] #320 closed

[2020-01-24 06:59] #319 closed

[2020-01-24 07:00] #316 closed

[2020-01-24 07:00] #95 closed

[2020-01-24 07:01] #341 closed

[2020-01-24 07:02] #337 closed

[2020-01-24 07:02] #336 closed

[2020-01-24 07:02] #334 closed

[2020-01-24 07:02] #330 closed

[2020-01-24 07:02] #329 closed

[2020-01-24 07:02] #164 closed

[2020-01-24 07:02] #166 closed

[2020-01-24 07:03] #168 closed

[2020-01-24 07:03] #172 closed

[2020-01-24 07:03] #182 closed

[2020-01-24 07:03] #189 closed

[2020-01-24 07:03] #191 closed

[2020-01-24 07:03] #192 closed

[2020-01-24 07:03] #195 closed

[2020-01-24 07:04] #202 closed

[2020-01-24 07:04] #203 closed

[2020-01-24 07:05] #154 closed

[2020-01-24 07:05] #153 closed

[2020-01-24 07:05] #151 closed

[2020-01-24 07:05] #139 closed

[2020-01-24 07:05] #135 closed

[2020-01-24 07:05] #137 closed

[2020-01-24 07:05] #162 closed

[2020-01-24 07:05] #159 closed

[2020-01-24 07:06] twinssbc commented on #204
Add new instance methods slideNext/slidePrev in version 0.5.8. Feel free to give a try.

[2020-01-24 07:06] #204 closed

[2020-01-24 07:07] #326 closed

[2020-01-24 07:07] #328 closed

[2020-01-24 07:07] #371 closed

[2020-01-24 07:08] #370 closed

[2020-01-24 07:08] #365 closed

[2020-01-24 07:08] #361 closed

[2020-01-24 07:08] #360 closed

[2020-01-24 07:08] #359 closed

[2020-01-24 07:08] #352 closed

[2020-01-24 07:08] #358 closed

[2020-01-24 07:08] #373 closed

[2020-01-24 07:08] #376 closed

[2020-01-24 07:09] #380 closed

[2020-01-24 07:09] #385 closed

[2020-01-24 07:09] #386 closed

[2020-01-24 07:09] #387 closed

[2020-01-24 07:09] #389 closed

[2020-01-24 07:10] #353 closed

[2020-01-24 07:11] #355 closed

[2020-01-24 07:11] #356 closed

[2020-01-24 07:11] #362 closed

[2020-01-24 07:11] #368 closed

[2020-01-24 07:11] #367 closed

[2020-01-24 07:11] #366 closed

[2020-01-24 07:11] #364 closed

[2020-01-24 07:11] #94 closed

[2020-01-24 07:12] #390 closed

[2020-01-24 07:12] #392 closed

[2020-01-24 07:13] #394 closed

[2020-01-24 07:13] #396 closed

[2020-01-24 07:13] #400 closed

[2020-01-24 07:13] #406 closed

[2020-01-24 07:13] #407 closed

[2020-01-24 07:13] #410 closed

[2020-01-24 07:13] #414 closed

[2020-01-24 07:13] #416 closed

[2020-01-24 07:14] #441 closed

[2020-01-24 07:14] #435 closed

[2020-01-24 07:14] #431 closed

[2020-01-24 07:14] #429 closed

[2020-01-24 07:15] #427 closed

[2020-01-24 07:15] #426 closed

[2020-01-24 07:15] #423 closed

[2020-01-24 07:15] #442 closed

[2020-01-24 07:15] #443 closed

[2020-01-24 07:16] #425 closed

[2020-01-24 07:17] #424 closed

[2020-01-24 07:18] #420 closed

[2020-01-24 07:18] #419 closed

[2020-01-24 07:18] #417 closed

[2020-01-24 07:18] #369 closed

[2020-01-24 07:18] #450 closed, assigned to nobody

[2020-01-24 07:19] #453 closed, assigned to nobody

[2020-01-24 07:19] #457 closed, assigned to nobody

[2020-01-24 07:19] #463 closed, assigned to nobody

[2020-01-24 07:19] #465 closed, assigned to nobody

[2020-01-24 07:19] #433 closed

[2020-01-24 07:20] #475 closed, assigned to nobody

[2020-01-24 07:27] rafaxplayer commented on #488
I do know that, but my question was whether calendar has functionality to avoid having to use third-party libraries.

[2020-01-24 07:41] twinssbc commented on #488
@rafaxplayer The calendar itself doesn't have this functionality. But I also leverage the Angular DatePipe to do some formatting instead of using third-party library.
https://stackoverflow.com/questions/48183677/how-to-format-date-in-component-of-angular-5

[2020-01-24 07:46] rafaxplayer commented on #488
Ok, solved, thanks for responding so soon.

[2020-01-24 07:55] #488 closed, assigned to nobody

[2020-01-24 13:31] wapewape commented on #486
it really works !!
you are a great person, thank you very much, blessings

[2020-01-25 00:05] #486 closed, assigned to nobody

[2020-01-28 15:14] jcmendes9898 commented on #491
I do place it on the .scss but notthing happens. I place it on the scss of the page as on the variable or on the global... It stays the same.

[2020-01-28 15:48] jcmendes9898 commented on #491
Ok, the way i found was to replace all.   .table-bordered > thead > tr > th {
    border: 0px solid #ddd !important;
  }
  .table-bordered > tbody > tr > th {
    border: 0px solid #ddd !important;
  }
  .table-bordered > tfoot > tr > th {
    border: 0px solid #ddd !important;
  }
  .table-bordered > thead > tr > td {
    border: 0px solid #ddd !important;
  }
  .table-bordered > tbody > tr > td

[2020-01-29 22:43] rafaxplayer opened #493 "Order of the days of the week"
Is it possible to change the order of the days of the week in the month view? For example, that the week starts on Monday and ends on Sunday? Greetings

[2020-01-29 23:17] #491 closed, assigned to nobody

[2020-01-29 23:17] twinssbc commented on #493
@rafaxplayer Yes, you could use **startingDayMonth** option.

[2020-01-30 09:02] rafaxplayer commented on #493
Ok, solved , thank´s a lot

[2020-01-30 09:03] #493 closed, assigned to nobody

[2020-01-31 09:18] rafaxplayer opened #494 "show marked days with events"
Hello partner, I have problems in my app to show marked days with events.
My app is training in the gym and I only use the event system to know what day training has been done, so the starttime, endtime ranges do not make sense in the app.
I use this code to load the events, I think the problem is due to the format of dates or something like that:
ngOnInit () {
    this.subscriptionTraining = this

[2020-01-31 13:01] twinssbc commented on #494
@rafaxplayer The code looks good to me. What's the issue? The event is not displayed or not in the expected date? Could you try push some dummy events to this.entrenosEvent instead of fetching events from database, see if it works?

[2020-01-31 16:59] rafaxplayer commented on #494
The problem is that the days with calendar events are not marked.
One question I have is if the same date is established for the beginning as for the end, is it a valid event? Should it be marked on the calendar?

[2020-02-01 01:34] twinssbc commented on #494
@rafaxplayer No, the start date and end date should not be the same if you are using allDay event.

[2020-02-01 21:49] rafaxplayer commented on #494
So how could I do it so they show up? , my events are like this:
[code]
There is no different end time because my app does not need anything more than the date the training took place.

My code to fill events is now like this:

[code]
Thanks spor respond so soon, greetings

[2020-02-02 00:13] twinssbc commented on #494
@rafaxplayer If you set allDay to true, you can set endTime one day later than the startTime. If you set allDay to false, you also need to set the endTime later than startTime, they can't be the same. You could first try using some dummy event before converting events from your database.

[2020-02-03 16:17] rafaxplayer commented on #494
Hello, I still can show the events in my calendar, my objects have this format:
{
title: "Training: 2020-01-30T23: 00: 00.000Z"
startTime: 1580342400000
endTime: 1580342401000
allDay: true
}
I added a second in endtime to eviatr errors but
and in console I have this error:
"ERROR Error: Uncaught (in promise): TypeError: event_1.startTime.getTime is not a function
TypeError: event_1.startTime.getTi

[2020-02-03 23:52] twinssbc commented on #494
@rafaxplayer This is because startTime and endTime accepts a Date object, instead of number. You could set time like below
[code]

[2020-02-05 00:02] rafaxplayer commented on #494
I already did it but I can't get the events marked on the calendar.
My objects are like this now:
[code]
and my code for loading them is this:

[code]

I don't understand why it doesn't work ...

[2020-02-06 00:02] twinssbc commented on #494
@rafaxplayer I think it's because you set the startTime and endTime to be the same day.
Try this
[code]

[2020-02-06 09:08] andrea-mori commented on #158
Hi,
here the solution for @rajkishoreandia and @jcmendes9898 :
[calendar-custom.html.txt](https://github.com/twinssbc/Ionic2-Calendar/files/4164163/calendar-custom.html.txt)

[2020-02-06 13:56] ktk312 opened #495 "week view header implementation indside day view"
i cannot implement week view header inside day view. i want weekviewdayheader inside of day view

[2020-02-06 13:57] ktk312 commented on #495
@twinssbc

[2020-02-06 14:19] twinssbc commented on #495
@ktk312 There is no day header in the day view, only week view has a header for each day.

[2020-02-06 14:29] ktk312 commented on #495
@twinssbc  i am stuck in a project which needs day view but along with week view header. i have tried all possible ways to do that but failed until now. any help would be appreciated Thanks

[2020-02-06 14:31] ktk312 commented on #495
![Capture](https://user-images.githubusercontent.com/46324095/73946085-2b6f2080-4917-11ea-9fa7-d439967a2e6e.PNG)

this is what i need to implement

[2020-02-06 15:15] twinssbc commented on #495
@ktk312 This calendar doesn't contain such week view header in the day view.
You could implement one by yourself.
Basically you could add a table above the calendar element, the table needs to be filled with one week date. The date could be calculated by the current date.

[2020-02-07 05:20] #495 closed, assigned to nobody

[2020-02-07 07:55] drekinov commented on #472
angular 9.0.0 is released.
I can confirm that it is not working same way as reported.

[2020-02-07 12:52] jcmendes9898 opened #496 "Remove animation of ion-card"
Hi, i have a question. Is it possible to remove the animation of sliding between months? Because it saves in cache 3 cards, and when you pass from for example, March to April it preview the January month and it gets a litle ugly and do not look pretty for a user. My question, is if it is possible to remove the animation in order to go directly to the month with no animation, so that the bug won't

[2020-02-07 15:10] jcmendes9898 commented on #496
Found it ont he monthview.js. Just change:
this.slider.slideNext(0);
this.slider.slidePrev(0);
and it works as expected.

[2020-02-07 16:03] #496 closed, assigned to nobody

[2020-02-10 01:31] roGreenRock commented on #489
Hi, thanks for your reply.
I did not set the endHour option.
I also did not set the height of the calendar. It is just set to 100%.

Thanks.

[2020-02-10 02:01] roGreenRock commented on #489
Hi. Ive set the endHour option to 24. I tested and it seems the day view does not show any of the events at all. Here is my code:

`<calendar [dayviewAllDayEventTemplate]="dayviewAllDayEventTemplate"
    [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate"
    [monthviewEventDetailTemplate]="monthviewEventDetailTemplate"
    [dayviewNormalEventTemplate]="dayviewNormalEventTemplate" quer

[2020-02-10 04:53] roGreenRock commented on #490
Hi. Yes I did try what you suggested.
The problem is, its still doing the "flashing".

The behavior is:
1. User swipes the calendar
2. the user will see the next month
3. The isLoading will be set to true.
4.  Ngif will do its thing and hide the calendar
5. Loading will then finish and set to false..
6. Ngif will show the calendar.

The behavior I described above still results to a "flashing" effe

[2020-02-11 15:00] twinssbc commented on #490
@roGreenRock I think you can hook your logic to onRangeChanged event. But if I understand correctly, as long as you use *ngIf to hide/show the calendar, there will always a flash. How about just display a loading mask on top of the page?

[2020-02-12 02:06] gentixyann opened #497 "Can I change color depend on property of event on month view."
Hi, I'm looking for how can I set different color depend on property of event on month view.

My calendar is like this.

![スクリーンショット 2020-02-12 14 41 42](https://user-images.githubusercontent.com/25972149/74296105-cc425d80-4da7-11ea-9d48-ec4cbfe9f3f2.jpg)

[code]

[code]

### For example,

**Case A**
[code]

**Case B**
[code]

If event is **CaseB(event.item === 'item02')** ,
I want to change color

[2020-02-13 00:08] sdore2021 opened #498 "update ionic version"
will module be able to support new version of ionic, I have to update to upgrade to new version?

[2020-02-13 00:14] twinssbc commented on #498
@sdore2021 You mean Ionic 5.0? Yes, I will upgrade the module.

[2020-02-13 00:18] twinssbc commented on #497
@gentixyann yes, you need to use monthviewDisplayEventTemplate
Just like the discussion in the issue link you provided.
You could implement getEventClass logic to return a css class based on the events happen on that day. And you can use any event field to help generate the css class you want. Then you just need to apply proper style on the css class.
[code]

[2020-02-13 00:18] sdore2021 commented on #498
ok thanks.

[2020-02-13 08:11] gentixyann commented on #497
Thanks!
I got it. I understood about Template Customization !

![スクリーンショット 2020-02-13 21 02 21](https://user-images.githubusercontent.com/25972149/74413394-304a4c00-4ea4-11ea-9060-9191b94d350b.jpg)

[code]

[code]

[2020-02-13 10:40] ktk312 opened #499 "Day view current time bar to represent current time"
Day View doesnt have a bar for showing current time as it is present in most calendars.
![Capture](https://user-images.githubusercontent.com/46324095/74426438-30802280-4e77-11ea-93fc-2b91fd904c76.PNG)

[2020-02-13 14:22] GodsFavoriteDeveloper opened #500 "Next Slide Styles Loading Delayed"
After adding these custom styles on global.scss they work but when i navigate to the next slide they are delayed. The screen first renders without them, then after a split second they are then applied

.table > tbody > tr > td {
    padding: 0px !important;
    border: 1px solid #f4df9c !important;
}
.table > thead > tr > td {
    border: 1px solid var(--ion-color-secondary) !important;
}
.table-b

[2020-02-14 00:08] twinssbc commented on #500
@GodsFavoriteDeveloper Did you use any custom template in the calendar. From your description, it seems your css styles only applies to the current slide (active slide), it doesn't apply to the next slide(inactive slide). So only when next slide becomes to current slide, some css class is applied and the styles take effect.

[2020-02-14 14:47] twinssbc commented on #498
@sdore2021 I tested to use the latest version in Ionic 5.0 project, it is working fine. Seems no break change.

[2020-02-17 17:03] drekinov commented on #472
after having Ivy disabled as suggested i got another error in browser (ionic serve):

[code]
ionic 5 with angular 9.0.2
so with ivy i cant compile, without ivy it compile but got that error.
it can be related  somehow to ionic 5 too.

[2020-02-18 07:32] louis123562 opened #501 "Create event in the past"
Hello,

is it possible to configure the calendar to allow creating events in/for the past?
For example: today's the 18.02.2020 and i can't select a date before it (05.01.2020).

Thank you, Louis

[2020-02-18 07:33] louis123562 commented on #501
Okay - found the solution... sorry.

[min]="minDate" <= is set to new Date(), which is the current date.

[2020-02-18 07:33] #501 closed, assigned to nobody

[2020-02-18 07:45] ktk312 commented on #499
any solutions please @twinssbc  @tobika  @lcaprini @marabesi

[2020-02-18 08:16] bashoogzaad opened #502 "Upgrading to Ionic 5/Angular 6 build failing"
Hi there!

I have updated my project to Ionic 5/Angular 6. I now get the following errors:

ERROR in Failed to compile entry-point ionic2-calendar (main as commonjs) due to compilation errors:
[ng] node_modules/ionic2-calendar/weekview.js:744:28 - error NG1010: encapsulation must be a member of ViewEncapsulation enum from @angular/core
[ng] 744             encapsulation: ViewEncapsulation.None
[ng

[2020-02-18 08:24] bashoogzaad commented on #472
I also have this problem. Any idea if this will be fixed?

[2020-02-18 08:24] bashoogzaad commented on #502
Sorry this is a duplicate of #472

[2020-02-18 08:24] #502 closed, assigned to nobody

[2020-02-18 14:11] Pezloba commented on #472
Exact same problem here, right after updating angular to 9.0.1.

Also I tried adding `"enableIvy": false` in my `tsconfig.json` but it changes nothing (not sure if I added it up correctly though)

[2020-02-18 17:24] massimodeluisa commented on #472
I solved it just by upgrading the typescript version to the latest release:
`npm install —save-dev typescript@latest`

Hope this will help.

[2020-02-19 06:01] twinssbc commented on #499
@ktk312 The current version of the calendar doesn't support this feature. I think this is a valid requirement, I'll find some time to implement it, but can't guarantee when it will be released.

[2020-02-19 06:07] ktk312 commented on #499
@twinssbc  thank you very much for a positive response. i need it now and i may implement it if i am able to. That is a normal requirement for every calendar used. Whenever it is released may help the developers at that point of time. Regards :)

[2020-02-19 15:08] adnanjarfy opened #503 "Weekview cell not Highlighted when clicking"
Dear
first of all, thank you for your library ,
I am working on ionic 3 but when I am using weekview the hour cell not Highlighted when click
in monthview ,every thing is ok

thanks

[2020-02-19 15:09] adnanjarfy opened #504 "Weekview cell not Highlighted when clicking"
Dear
first of all, thank you for your library ,
I am working on ionic 3 but when I am using weekview the hour cell not Highlighted when click
in monthview ,every thing is ok

thanks

[2020-02-19 22:03] losorio35 commented on #472
hello, Ionic2-Calendar only works with ivy disabled, any updates?

[2020-02-19 23:26] twinssbc commented on #503
duplicate with https://github.com/twinssbc/Ionic2-Calendar/issues/504

[2020-02-19 23:26] #503 closed, assigned to nobody

[2020-02-19 23:26] twinssbc commented on #504
@adnanjarfy Actually highlight the cell when clicking is only supported in month view.

[2020-02-20 06:54] drekinov commented on #472
i cant recall but i am pretty sure i tried with ivy disabled and typescript 3.6.x 3.7.x 3.8.x and all compile but then fail with last error i mention in app runtime. i tried to remove everything custom too so during one of my tests i had only ```<calendar>``` and same errors because i thought it can be something related to my customized code.
if i recall right, angular 9 suppot typescript 3.7.x ma

[2020-02-20 07:17] adnanjarfy commented on #504
can I set start and end date for weekview?

[2020-02-20 15:47] twinssbc commented on #504
@adnanjarfy You mean you don't want to display 7 days in the week view?

[2020-02-20 15:53] twinssbc commented on #472
guys, I didn't comment on this issue is because it was not clear to me that this issue is specific to this calendar component.
Even the latest Ionic 5.0.0 also just has dependency on Angular 8, not 9.
And it seems different ways are provided to fix the issue.
May I know if you are able to compile successfully without the calendar included in your project?

[2020-02-22 03:11] #497 closed, assigned to nobody

[2020-02-23 08:33] adnanjarfy commented on #504
i mean to start the calendar from today and disable past days in weekview

[2020-02-24 15:16] twinssbc commented on #504
@adnanjafy you could set the binded currentDate to today. The calendar will navigate automatically. You could use lockSwipeToPrev option to lock swiping to the previous days.

[2020-02-27 18:53] ojulianos commented on #477
i have a problem with hour exibition i send 2020-02-27T09:00:00Z and the plugin show 2020-02-27T07:00:00Z

[2020-02-28 02:59] benjoabrasado25 opened #505 "Remove Weekly date from weekly he"
Hi guys,

I really like the lib. I just would like to ask if It's possible to remove the number from week. If it's possible how?

Here's the image.
![image](https://user-images.githubusercontent.com/32357669/75506481-1cacf280-5a19-11ea-8aa3-a0d8efd6676d.png)

Thank you,

[2020-02-28 03:34] benjoabrasado25 opened #506 "Time range is not accurate."
Hi,

I tried to change the content of the event source. I printing the eventSource on console but it's not acting as expected. Please see this image.

![image](https://user-images.githubusercontent.com/32357669/75508202-503e4b80-5a1e-11ea-983d-066a135d643d.png)

Thank you in advance,

[2020-02-28 14:12] twinssbc commented on #506
@benjoabrasado25 The float number has the accuracy problem, when I'm calculating the slot of each event, I can't simply use == to compare two date time, instead I have to use data1-data2 < eps. This means if you set the endTime exactly to 14:00:00, it becomes the edge case, it call fall to the previous or next slot. So I suggest you set it to 13:59:00

[2020-02-28 14:15] twinssbc commented on #505
@benjoabrasado25 Yes, you just need to add **formatWeekViewDayHeader="EEE"** to the HTML.

[2020-02-28 14:16] twinssbc commented on #477
@ojulianos Could you provide more information? Are you creating normal event or all day event? Which timezone are you in? Maybe you could provide your code snippet.

[2020-03-03 12:26] jcmendes9898 commented on #274
@twinssbc , @marabesi  @Manduro  @tobika  @lcaprini   I'm having the same issue after calling a modal page to add events as so:
`    modal.present();
    modal.onWillDismiss().then(() => { this.loadingController.loadingControllerPresent() })
    await modal.onDidDismiss().then(async x => {
      if (x.data) {
        let tmp: DiasFerias = x.data
        this.diaAdicionadoArray.push(tmp)
        th

[2020-03-03 13:33] twinssbc commented on #274
@jcmendes9898 If that's the case, you need to check if tmp is a valid event, are the startTime and endTime fields of tmp really Date object?

[2020-03-03 13:40] jcmendes9898 commented on #274
@twinssbc It all checks, on my console.logs(). i follow the properties and all check. If it wasn't a date object  it would not load never. It just seems that it not reload component.

`add: {"allDay":false,"title":"Férias","startTime":"2020-03-11T01:00:00.000Z","endTime":"2020-03-11T11:00:00.000Z","cor":"anoAtual"}
ferias.page.ts:215 modal: {"allDay":false,"title":"Férias","startTime":"2020-03-16T

[2020-03-03 15:04] jcmendes9898 commented on #274
@twinssbc Can you sen an example of how you do it? You have a date in string. How would you proceed to add it to eventSource?

[2020-03-04 10:09] jcmendes9898 opened #507 "Change language directly on the component - Days of week too long for header"
Hi, so when i changed the language, it all went great except for the fact that the days of the weak are too long to fit on the header. Is there a way to make to display like short-name of the day, or to directly change the values on the component?
<img width="206" alt="language-calendar-header" src="https://user-images.githubusercontent.com/51124654/75868620-37f47500-5e00-11ea-8b33-dd9fbd313184.PN

[2020-03-04 11:35] #507 closed, assigned to nobody

[2020-03-04 12:21] twinssbc commented on #274
@jcmendes9898
It depends on what format of your date string it is. Normally you can use the native Date.parse() function to parse the string into a Date object.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse

If the format is unusual, you want want to parse it by yourself or use other third party tool.

[2020-03-04 12:41] adnanjarfy commented on #504
lockSwipeToPrev  is preventing me to backward from next week to current week

[2020-03-06 14:17] twinssbc commented on #504
@adnanjarfy This is exactly the effect of lockSwipeToPrev. Then what do you mean you want to display the past days?

[2020-03-06 14:42] iamnels1 commented on #472
Hi, same problem here with a fresh install of Ionic5 Angular9 on a new project, right after installing the ionic2-calendar component :

`[ng] Compiling ionic2-calendar : main as commonjs
[ng] chunk {main} main.js, main.js.map (main) 1.99 kB [initial] [rendered]
[ng] chunk {polyfills} polyfills.js, polyfills.js.map (polyfills) 671 bytes [initial] [rendered]
[ng] chunk {runtime} runtime.js, runtime.

[2020-03-08 06:06] adnanjarfy commented on #504
yes, I want to disable past days before today,I am working on appointment App and I want to change color of past days and prevent the user from selecting past time , I worked around by adding events and changing the color to gray and when user clicks on past time , the app shows alert
![weekview](https://user-images.githubusercontent.com/15521042/76157621-1bb44900-611c-11ea-8ca6-6f466bc3901b.JPG)

[2020-03-09 19:04] GodsFavoriteDeveloper commented on #500
Thanks. So how can I fix this? I added my styles to global.css and I'm using a custom template. Below is my custom template

[2020-03-09 21:29] danielehrhardt commented on #472
Yes we are able to build the Project without the Calendar

[2020-03-09 22:26] danielehrhardt commented on #472
https://github.com/twinssbc/Ionic2-Calendar/pull/508/files

[2020-03-11 09:41] SkinnyA opened #509 "ERROR TypeError: event_1.startTime.getTime is not a function"
Hello, im trying to format date from the api to UTC and it keeps me logging this error:
ERROR TypeError: event_1.startTime.getTime is not a function

`import { Component, OnInit, ViewChild, Inject, LOCALE_ID } from '@angular/core';
import { CalendarComponent } from 'ionic2-calendar/calendar';
import { AlertController } from '@ionic/angular';
import { formatDate } from '@angular/common';
import { H

[2020-03-11 10:33] #509 closed, assigned to nobody

[2020-03-11 10:34] SkinnyA commented on #509
error solved.
Instead of creating a variable called eventos which will contain all the api data, it must be named as eventSource

[2020-03-11 11:54] SkinnyA opened #510 "How to load events from an api"
Hello
My question is how can i load events from an api because i dont know how to implement it.
I have an object filled with data from the api but i cant see nothing in the agenda

`import { Component, OnInit, ViewChild, Inject, LOCALE_ID } from '@angular/core';
import { CalendarComponent } from 'ionic2-calendar/calendar';
import { AlertController } from '@ionic/angular';
import { formatDate } fro

[2020-03-12 12:07] fruhland commented on #498
It works fine with Ionic 5 and Agular 8, but since I updated to Angular 9, I get compilation errors:

[code]

Is there something I need to do, or does the code have to be updated for compatibility with Angular 9?

[2020-03-16 21:09] ustadji commented on #472
So the last commit fixes the issue with Ivy then?  Pardon the noob question but when I tried npm update on ionic2-calendar it stayed on version 0.5.8.  Is this not released yet to the npm repository?
Thank you!

[2020-03-18 14:46] stevenjose commented on #510
import { Component, OnInit, ViewChild } from '@angular/core';
import { IonicPage, NavController, NavParams } from 'ionic-angular';
import { CalendarComponent } from 'ionic2-calendar/calendar';

//RxJs
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/catch';
import 'rxjs/add/operator/map';
import { MensajeroProvider } from '../../providers';

/**
 * Generated class for the Pa

[2020-03-18 14:49] stevenjose commented on #510
Saludos te comparto el código funcional para que te fije que te falta. startTime y endTime son de tipo date asignarlo new Date(tufecha)
Formato de fecha = 2020-03-17T11:20:30Z

[2020-03-18 14:52] stevenjose commented on #510
Guíate por la function loadEvents() que se cargan datos por defectos.

[2020-03-18 15:41] stevenjose opened #511 "Place bar above the calendar with the name of the month with next and previous"
Greetings could you help me how can I place a bar above the calendar with the name of the Month

[2020-03-18 15:43] stevenjose commented on #511
![p1](https://user-images.githubusercontent.com/4751992/76978861-9c89f680-690d-11ea-890e-6bc157e8b4ad.png)

[2020-03-18 15:43] stevenjose commented on #511
<ion-header>

  <ion-navbar>
    <ion-title>{{ viewTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('month')">MES</button>
        </ion-col>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('day')">DIA</button>
        </ion-col>

[2020-03-18 15:44] stevenjose commented on #511
<ion-header>

  <ion-navbar>
    <ion-title>{{ viewTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('month')">MES</button>
        </ion-col>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('day')">DIA</button>
        </ion-col>

[2020-03-18 15:45] stevenjose commented on #511
<ion-header>
  <ion-navbar>
    <ion-title>{{ viewTitle }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('month')">MES</button>
        </ion-col>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('day')">DIA</button>
        </ion-col>
        <io

[2020-03-18 15:45] stevenjose commented on #511
``
<ion-header>

  <ion-navbar>
    <ion-title>{{ viewTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('month')">MES</button>
        </ion-col>
        <ion-col size="4">
            <button ion-button block (click)="changueMode('day')">DIA</button>
        </ion-col>

[2020-03-18 21:07] danielehrhardt commented on #472
You could use this until it is merged
npm install ionic5-calendar

[2020-03-18 21:27] ustadji commented on #472
Many thanks Daniel!

[2020-03-18 22:09] SkinnyA commented on #510
Muchas gracias amigo! El problema de que no cargaba datos era porque estaba formateando la fecha en un formato erróneo. Al hacer el new Date(mifecha) ya lo cogió bien y me pintó los datos de la base de datos en el calendario.
Gracias por tu ayuda, un saludo!

[2020-03-18 22:09] #510 closed, assigned to nobody

[2020-03-21 10:37] MedaiP90 commented on #472
I can't use it anyway: installing the module and updating the imports i get this error
`error TS2307: Cannot find module 'ionic5-calendar'.`

[2020-03-21 16:25] manisi opened #512 "Jalaali Calendar Support"
hi
how to use calandar in  jalali calendar (shamsi or persian calendar)?
Thanks

[2020-03-22 06:44] twinssbc commented on #512
@manisi Sorry, this calendar control doesn't support jalali calendar.

[2020-03-22 06:47] twinssbc commented on #511
@stevenjose How does your HTML code look like. You should be able to simply add some DOM element between your month header and calendar element.

[2020-03-22 06:48] twinssbc commented on #509
@SkinnyA You can change the variable name, but also need to change the binding in HTML.

[2020-03-22 06:51] twinssbc commented on #500
@GodsFavoriteDeveloper Are you customizing monthviewDisplayEventTemplate? If you also want to add some customization to your inactive months, you could customize on monthviewInactiveDisplayEventTemplate.

[2020-03-22 06:53] twinssbc commented on #504
@adnanjarfy The lockSwipe option only disabling the swiping, doesn't disable selection. You could use markDisabled option to achieve that.

[2020-03-22 08:17] manisi commented on #512
ُThanks.

‫‪twinssbc‬‏ <‪notifications@github.com‬‏> در تاریخ یکشنبه ۲۲ مارس ۲۰۲۰
ساعت ۱۱:۱۴ نوشت:‬

[2020-03-22 08:21] #512 closed, assigned to nobody

[2020-03-22 10:10] twinssbc commented on #472
I published a version 0.5.9 with Ivy disabled so that it won't cause any error in Angular 9 project.
I tried to turn on Ivy, but it complains about @ionic/angular has some compatibility issue with ngcc/Ivy. I checked the Ionic project configuration, seems also turned off Ivy support. Will do more investigation to find out Ionic 5 supports Ivy to what extent.
Before that, could you try this version

[2020-03-22 10:17] twinssbc commented on #498
@fruhland Try the 0.5.9 version, in that version I'm trying to make it compatible with Angular 9.

[2020-03-22 10:17] #506 closed, assigned to nobody

[2020-03-23 14:33] danielehrhardt commented on #472
use
`import { NgCalendarModule } from 'ionic5-calendar/dist';`

[2020-03-23 14:35] danielehrhardt commented on #472
Hi @twinssbc
you can see if you install ionic5-calendar that my Pull Request ist working with Ive Enabled.
`import { NgCalendarModule } from 'ionic5-calendar/dist';`
You can try this Fork:
https://github.com/codextde/Ionic2-Calendar

[2020-03-23 15:27] kartiksolanki commented on #511
For the name of the month, you can inject angular variable "currentMonth" from onViewTitleChanged method. For next and previous, I am still looking for a solution. How do i get the variables or what variables are for next and previous?

[2020-03-23 15:47] iamnels1 commented on #472
It doesn't work, i got this error :
`[ng]     ERROR in node_modules/ionic2-calendar/calendar.module.d.ts:1:22 - error NG6002: Appears in the NgModule.imports of ScheduleModule, but could not be resolved to an NgModule class.
[ng]
[ng]     This likely means that the library (ionic2-calendar) which declares NgCalendarModule has not been processed correctly by ngcc, or is not compatible with Angular

[2020-03-24 07:23] MedaiP90 commented on #472
Already tried, the compiler tells me that `CalendarComponent` isn't exposed and to import it elsewhere

[2020-03-24 07:29] abarrios003 commented on #472
Same error here:

ERROR in Symbol CalendarComponent declared in /../node_modules/ionic5-calendar/dist/calendar.d.ts is not exported from ionic5-calendar/dist (import into /../src/app/app.component.ts)
[ng] /../node_modules/@angular/compiler-cli/src/ngtsc/transform/src/compilation.js:452
[ng]                 finally { if (e_7) throw e_7.error; }
[ng]                                    ^

[2020-03-24 14:19] kartiksolanki commented on #511
I found the solution for next and previous. Use the below functions:

nextMonth(){
    var mySwiper = document.querySelector('.swiper-container')['swiper'];
    mySwiper.slideNext();
  }

  previousMonth(){
    var mySwiper = document.querySelector('.swiper-container')['swiper'];
    mySwiper.slidePrev();
  }

[2020-03-24 16:06] jcmendes9898 opened #513 "Call markDisable method after received array with dates."
Hi, I need to call the method for disabled dates after i received the dates. It s called when component load,

`  markDisabled = (date: Date) => {
    console.log("MARK_DISABLED")
    this.diaFeriadoArray.forEach(dia => {
      if (date.getTime() === new Date(dia.startTime.getFullYear(), dia.startTime.getMonth(), dia.startTime.getDate(), 12).getTime()) {
        console.log("entrou")
        retur

[2020-03-25 16:10] kartiksolanki opened #514 "Date Time Format while using Firebase Realtime Database"
Hi,
I am using ionic2-calender to retrieve events from firebase realtime database. What is the best format to save data and time inside firebase realtime database such that my eventsource from calendar app can read it properly?

[2020-03-26 19:25] tacur commented on #498
I still getting following ERROR:
"ERROR in node_modules/ionic2-calendar/calendar.module.d.ts:1:22 - error NG6002: Appears in the NgModule.imports of CalendarPageModule, but could not be resolved to an NgModule class.

This likely means that the library (ionic2-calendar) which declares NgCalendarModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer

[2020-03-27 11:40] SkinnyA opened #515 "calendar with specific timezone"
Hello @twinssbc
I would like to use in the calendar an specific timezone (Madrid, Spain) because even if you are in Dubai or you are in NY, i want to show the date as CET/GMT+1 always.

[2020-03-27 12:17] javierec21 commented on #498
With 0.5.9, ionic 5 and angular 9 I was having the same problem in my app. I've solved it (by now) disabling Ivy.

tsconfig.json =>
"angularCompilerOptions": { "enableIvy": false }

[2020-03-27 15:29] kartiksolanki opened #516 "Cannot read property 'getTime' of undefined"
My Code is:

this.newsService.getCalendar().valueChanges().subscribe(events=> {
        this.eventSource = [];
        events.forEach(element => {
          let tmp = [];
          tmp.push({
            title: element["title"],
            startTime: new Date(element["startTime"]),
            endTime: new Date(element["endTime"]),
            allDay: element["allDay"]
          });
          con

[2020-03-28 14:56] twinssbc commented on #516
@kartiksolanki The tmp is already an array, but you push the whole array to eventSource, which makes it a nested array. Actually you just need to assign tmp to eventSource.

[2020-03-28 15:02] kartiksolanki commented on #516
Perfect. I made it work by assigning tmp instead of pushing. Thanks a lot @twinssbc for developing this wonderful component. I have one more question:
How do I store startTime and endTime values in the database for ALLDAY events?
My database structure looks like below in case of allday=false:

1-
 -- allday: false
 -- startTime:  "2020-03-27T17:00"
 -- endTime: "2020-03-27T18:00"
 -- title: "Demo

[2020-03-28 15:06] twinssbc commented on #515
@SkinnyA The calendar display the events in local time zone. That is the usual case, for example, if you want to book an event at 4PM CET/UTC+1, you want people in NY see that event at 11 AM UTC-4, so that both place can join the event at the same time. But if your case is really to always display at the same time no matter in which timezone, you have to adjust it at your side. For example, when y

[2020-03-28 15:07] twinssbc commented on #514
@kartiksolanki The calendar only cares about the element in EventSource array has the necessary field in order to display it. You can store your data and time in whatever format you feel convenient in the database, just do the proper conversation when filling the EventSource array.

[2020-03-28 15:11] #514 closed, assigned to nobody

[2020-03-28 15:14] twinssbc commented on #513
@jcmendes9898 Unfortunately markDisabled can't be called after receiving the data. I think you can insert dummy events on these disabled dates, and use custom template to customize the dates that having dummy events, to display them as disabled look and feel.

[2020-03-28 15:22] twinssbc commented on #516
@kartiksolanki I suggest you always store the numeric value (epoch time) into your database, instead of plain text date string. It's because, "2020-03-27T17:00", this string doesn't contain time zone information. What if the user who publishes the event and the user who consumes the event in different time zone?

For the allDay event, you need to use Date.UTC as below. So that no matter, the user

[2020-03-28 15:43] SkinnyA commented on #515
@twinssbc When i load the calendar, it asks for an startTime and endTime date parse as UTC format to load all the events properly. The problem comes here, because i want to load the calendar events without timezone and if i try to load the startTime and endTime without parseing correctly (with UTC format) it throws me an error.

This is my code:
`
//Here i get all the data from my json
getData() {

[2020-03-28 20:27] JeongJun-Lee commented on #472
@danielehrhardt same error here:

ERROR in Symbol CalendarComponent declared in /node_modules/ionic5-calendar/dist/calendar.d.ts is not exported from ionic5-calendar/dist

[2020-03-28 23:58] kartiksolanki commented on #516
@twinssbc : Even after converting datetime to epoch, I am NOT able to display AllDay =
"true" events. Below is how my events look like:

- 1 -
 ---- title: "Epoch with 6 to 9"
 ---- startTime: 1585418400000 //Saturday, March 28, 2020 6:00:00 PM
 ---- endTime: 1585429200000 //Saturday, March 28, 2020 9:00:00 PM
 ---- allDay: false
- 2 -
 ---- title: "AllDay Event"
 ---- startTime: 1585353600000 //S

[2020-03-29 04:16] twinssbc commented on #472
I published a new version 0.6.1 which is Ivy built and also resolved that CalendarComponent export issue. Feel free to give a try.

[2020-03-29 04:17] twinssbc commented on #498
I published a new version 0.6.1. Feel free to give a try.

[2020-03-29 04:21] twinssbc commented on #516
@kartiksolanki The startTime and endTime still needs to accept a Date object. So once you got the epoch value from your database, you need to convert it into Date object. For example,
startTime: new Date(1585418400000)

[2020-03-29 04:31] twinssbc commented on #515
@SkinnyA Yes, timezone is just part of a time. Although normally when we tell others about a time without telling timezone, it's because we are in the same place. But if you want to tell people in other place of the world, you need to tell the timezone, otherwise it will cause confusion.
If your date string doesn't contain the timezone, then Date.parse is probably not an option.
There are many way

[2020-03-29 11:03] fruhland commented on #498
Version 0.6.1 is working fine with Angular 9 and Ivy, Thanks!

[2020-03-29 12:36] SkinnyA commented on #515
@twinssbc My main problem is about how to load the date because if i try to load it without timezone it throws me an error
This is how i recieve the date

[code]

And then i parse it like this

[code]

I parse the date like that because its the only way i can load events in the calendar (with a Date.parse)

However, tomorrow i will try the epoch time and tell you if it work or not.

Thank you for

[2020-03-29 13:49] kartiksolanki commented on #516
@twinssbc : Perfect. Silly me, I kept startTime: new Date(1585418400000) inside allday=false condition while storing in tmp. I removed the condition and it worked. Thank a lot @twinssbc for the help. I appreciate that.

[2020-03-29 13:49] #516 closed, assigned to nobody

[2020-03-29 15:11] twinssbc commented on #515
@SkinnyA Actually below method call works.
new Date(Date.parse("2020-03-14T07:05"))
You could just remove the timezone part from your date string.
Another way, is you can use
new Date(2020, 2, 14, 7, 5)

[2020-03-30 01:40] danielehrhardt commented on #472
Perfect 🎉

[2020-03-30 06:17] SkinnyA commented on #515
@twinssbc Ok, i will try it today!

[2020-03-30 16:16] drekinov commented on #472
Hi, i am sorry but probably i dont get something :)
i have everything latest
Angular 9.1.0
Ionic 5.0.7
ionic2-calendar 0.6.1
and etc
 i still get error from 17th February i reported.

[code]

Pobably it is my 4th or 5th attempt to make update (after each angular or ionic2-calendar versions) and all failed.
Am i missing something ?

Thanks

[2020-03-31 06:40] NewBaa commented on #472
Hi, I have a problem. After opening the calendar page and close it. When opening the calendar page again It won't work. event not load and slideNext, slidePrev won't work.

Update: If open other page before open the calendar page it won't work too.
What can be done to solve this problem?
Thanks.

Angular 9.1.0
Ionic 5.0.7
ionic2-calendar 0.6.1
@angular-devkit/architect         0.901.0
@angular-dev

[2020-03-31 13:04] twinssbc commented on #472
@drekinov The Angular 9 issue I'm addressing is that the calendar doesn't work for Ivy build. But you still get the error when Ivy is disabled. So I think your issue probably is related to something else.
Let's step back a bit to check couple things:
1. Is this error happen when you don't upgrade to Angular 9?
2. Are you using any custom template? Does it work if you simply use the code in the dem

[2020-03-31 13:07] twinssbc commented on #472
@NewBaa Could you confirm this behavior only happens in Angular 9 or it happens in previous Angular version? You mentioned that you open and close the calendar page? How do you achieve that in an app? Are you using some popup window which contains the calendar.

[2020-04-01 02:23] NewBaa commented on #472
@twinssbc Only happens in Angular 9.
you can see this behavior in link below.
[https://youtu.be/acsVsIJx0G0](https://youtu.be/acsVsIJx0G0)

And open other page before open the calendar page it won't work too.
[https://youtu.be/d_X1hKWTLlw](https://youtu.be/d_X1hKWTLlw)

[2020-04-01 15:15] kartiksolanki opened #518 "How to limit years?"
I am using monthview for my calendar and I want to restrict the previous and next year user can swipe too. For example, I just want user to see all the events starting from Jan 2020 and until Dec 2023. Is it possible to restrict years?

[2020-04-01 15:49] twinssbc commented on #472
@NewBaa Yes, your videos are very helpful. I wonder how do you open and close the new page, use which component? Is there any error printed in the console? If you could provide more code about how do you create the calendar, that will be helpful.

[2020-04-01 15:52] twinssbc commented on #518
@kartiksolanki
There is lockSwipeToPrev option that you could set it when the current month goes to Jan 2020.
Unfortunately there's no lockSwipeToNext option, because last time when I want to add it, I found it's not working as expected in the underlying Swiper component. Let me check again to see if the issue is resolved now.

[2020-04-02 01:41] NewBaa commented on #472
@twinssbc I open Page with navController.  No error printed in the console.

Ionic
   Ionic CLI                     : 6.4.0 (/Users/new/.npm-global/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 5.0.7
   @angular-devkit/build-angular : 0.901.0
   @angular-devkit/schematics    : 8.3.26
   @angular/cli                  : 9.1.0
   @ionic/angular-toolkit        : 2.2.0

[2020-04-02 09:34] jcmendes9898 opened #519 "Only show days of the current month"
Hi,
Is there way to show only the days of the month we are seeing? so in the view you also can see the next and previous month dates in order to complete the row .

[2020-04-02 15:29] twinssbc commented on #519
@jcmendes9898 Sorry, I don't have a clear picture of your requirement. How to also see the next and previous month dates? Maybe some mockup pages could help.

[2020-04-02 15:31] twinssbc commented on #472
@NewBaa I'm a bit confused. version 0.5.9 works for you? It is supposed not working in Angular 9 project. And version 0.6.1 doesn't work?

[2020-04-02 15:33] jcmendes9898 commented on #519
It's like it presents you 6 rows, normally the last onde shows the days of the next month. I want to show 5 rows instead. I tried to change de number that u had on the component that is 42 on the for.(i assume that is 6 rows mulitplied by the 7 days of the week). i change it to 35 (to be 5 rows multiplied by the 7 days of the week). but it just give me erros.

[2020-04-02 16:10] jcmendes9898 commented on #519
Forget, i make it work. But if it only shows 5 rows, some months will miss the 30 or 31 day....

[2020-04-03 01:20] twinssbc commented on #519
@jcmendes9898 Yes, that's why if you check all calendar components, it normally shows 7 rows.

[2020-04-03 02:00] kartiksolanki commented on #518
I did this if condition:
if (event.getFullYear() < this.calendar.currentDate.getFullYear()) {
this.lockSwipeToPrev = true;
}

And the lock swipe works but it locks on December 2019 not Janurary 2020. I don't want user to go to December 2019. I just want to lock it at January 2020. Any idea what needs to be done?

[2020-04-03 04:14] NewBaa commented on #472
@twinssbc I confused too. just install 0.5.9 and it works. install 0.6.1 again and it not work like before. I'm used version 0.5.9 now.

Ionic info
Ionic CLI                     : 6.4.0 (/Users/new/.npm-global/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 5.0.7
   @angular-devkit/build-angular : 0.901.0
   @angular-devkit/schematics    : 9.1.0
   @angular/cli

[2020-04-03 08:47] jcmendes9898 commented on #519
@twinssbc and if you keep the number of rows and show only the days of the month. Instead of reduce the number of rows. Like if other month, instead of number u pass empty string

[2020-04-03 12:30] twinssbc commented on #518
@kartiksolanki Then you have to also check month, if year is 2020, month is January, disable the swipe.

[2020-04-03 13:48] kartiksolanki commented on #518
@twinssbc Perfect. That worked like a charm. Thanks a lot. Please let me know if you can find a solution for "lockSwipeToNext".

[2020-04-05 10:17] twinssbc commented on #518
@kartiksolanki I did a test with lockSwipeToNext function, it seems the behavior is still not expected. Actually I found even **lockSwipeToPrev** function has the same problem. As long as I set lockSwipeToXXX option to true, after swiping several slides, you will find that some slides don't update automatically. Only after you hovering your mouse/finger, the slide will refresh. This will cause con

[2020-04-05 10:22] twinssbc commented on #472
@NewBaa Could you provide your HTML code that is using the calendar? Are you opening an action sheet and somehow nest a calendar inside? Do you have two calendars exist? Because the calendar or underlying Ionic slides don't support display two calendars at the same time.

[2020-04-06 13:49] kartiksolanki commented on #518
@twinssbc Thanks.

[2020-04-06 13:49] #518 closed, assigned to nobody

[2020-04-07 02:19] NewBaa commented on #472
@twinssbc my HTML code.

[code]

[2020-04-09 14:51] kartiksolanki opened #520 "Change Time Format inside Event Detail in Month View"
Hi,
I am using Month View and inside event details, my time is displayed as 11:00 - 16:00. Is there any way i can convert it to 11 AM - 4 PM ???

[2020-04-09 14:57] kartiksolanki commented on #520
Nevermind, I solved it using Angular Date Pipe 'h:mm a'

[2020-04-09 14:57] #520 closed, assigned to nobody

[2020-04-10 12:51] hariraghupathy opened #521 "isetting timeInterval to a value displays duplicate time values"
I have set [timeInterval]=10, so it should display in 10 minutes interval like 02:00 AM , 02:10 AM,.... ,03:00AM ; instead it displays as 02:00AM for all the values

[2020-04-11 08:58] twinssbc commented on #521
@hariraghupathy Are you referring to the hour column? It will still display the row hourly. The timeInterval only controls how an event should be positioned in one hour slot.

[2020-04-14 14:35] kartiksolanki opened #522 "Not able to complile in Android"
Hi I am trying to compile my code in Android and it is giving be following error:

[ng] ERROR in node_modules/ionic2-calendar/calendar.d.ts(153,9): error TS1086: An accessor cannot be declared in an ambient context.
[ng] node_modules/ionic2-calendar/calendar.d.ts(154,9): error TS1086: An accessor cannot be declared in an ambient context.
[ng] node_modules/ionic2-calendar/calendar.d.ts(219,21): err

[2020-04-14 17:30] Tintedshadows opened #523 "Ionic Issue"
I am trying to install and use this calendar in my app but it fails to compile.

./node_modules/ionic2-calendar/calendar.js 21:4-16
"export 'ɵɵadvance' (imported as 'i0') was not found in '@angular/core'

[ng] ERROR in ./node_modules/ionic2-calendar/dayview.js 718:31-45
[ng] "export 'ɵɵloadQuery' (imported as 'i0') was not found in '@angular/core'

Module page:

import { NgCalendarModule  } from '

[2020-04-15 00:09] twinssbc commented on #522
could you provide the version of angular, ionic and ionic2-calendar package you are using? each calendar version has different dependency of angular and ionic.

[2020-04-15 00:11] twinssbc commented on #523
could you provide the version of angular and ionic2-calendar package you are using? Each calendar version has different dependency of angular and ionic.

[2020-04-15 00:23] Tintedshadows commented on #523
I believe the angular is 8.2.14

 "dependencies": {
        "@angular/common": "~8.2.14",
        "@angular/core": "~8.2.14",
        "@angular/forms": "~8.2.14",
        "@angular/platform-browser": "~8.2.14",
        "@angular/platform-browser-dynamic": "~8.2.14",

I am using the most up-to-date version of the calendar.

[2020-04-15 07:11] marcelo-ansaldi-baltazar commented on #523
My app also fails to compile, it throws the following error:

[ng] ERROR in node_modules/ionic2-calendar/calendar.d.ts:153:9 - error TS1086: An accessor cannot be declared in an ambient context.
[ng] 153     get currentDate(): Date;
[ng]             ~~~~~~~~~~~
[ng] node_modules/ionic2-calendar/calendar.d.ts:154:9 - error TS1086: An accessor cannot be declared in an ambient context.
[ng] 154     s

[2020-04-15 11:47] TanguyMrtn opened #524 "Add more than 2 all day events"
Hello,

I'd like to add more than 2 all day events, in the top bar of the calendar (All Day bar). Is there a way to do so ?

Thanks !

[2020-04-15 11:52] TanguyMrtn commented on #524
I'm sorry for the question, I didn't saw that the all day box was scrollable

[2020-04-15 11:52] #524 closed, assigned to nobody

[2020-04-15 13:11] kartiksolanki commented on #522
Never mind, I solved it. It was a version mismatch only. Thanks a lot.

[2020-04-15 13:11] #522 closed, assigned to nobody

[2020-04-16 00:30] twinssbc commented on #523
the latest version of calendar requires Angular 9. could u try version 0.5.8 or 0.5.9?

[2020-04-16 00:49] Tintedshadows commented on #523
Okay that fixed my issue.

Thanks for your help!

[2020-04-16 00:49] #523 closed, assigned to nobody

[2020-04-16 04:09] marcelo-ansaldi-baltazar opened #525 "ionic problem"
My app also fails to compile, it throws the following error:

[ng] ERROR in node_modules/ionic2-calendar/calendar.d.ts:153:9 - error TS1086: An accessor cannot be declared in an ambient context.
[ng] 153 get currentDate(): Date;
[ng] ~~~~~~~~~~~
[ng] node_modules/ionic2-calendar/calendar.d.ts:154:9 - error TS1086: An accessor cannot be declared in an ambient context.
[ng] 154 set currentDate(val:

[2020-04-16 08:38] marcelo-ansaldi-baltazar commented on #525
upgrading to angular 9 fixed the problem.

[2020-04-16 08:38] #525 closed, assigned to nobody

[2020-04-17 10:50] rawadymario opened #526 "Issue with Highlighted Day on Click"
When I click on any day in the month of April, the day before is highlighted.
All the other months are working fine, this bug is only happening in the month of April.

It seems that the bug is related to the user timezone because my Current timezone is **+2 Beirut**. When I changed my timezone to **+1 Madrid**, the bug was fixed (The day I click in April is highlighted), but when I changed my time

[2020-04-17 13:55] twinssbc commented on #526
@rawadymario I tried testing the calendar in +1 and +2 timezone, seems no such behavior. Maybe you could provide more details about what happened when you select a date in the calendar? Maybe you could show how do you declare the calendar in your HTML code, and what kind of logic you add in the component ts file.

[2020-04-18 07:41] rawadymario commented on #526
@twinssbc When u set the calendar for +2 was it in a Middle Eastern Area (Try Beirut +2)

[Image 1](https://drive.google.com/open?id=18rZVvRXZCko7XQWVRjwcJrCOq--rVk1x)
[Image 2](https://drive.google.com/open?id=1vRSqbCwyKUEVkfYHaurLPOpuZD6bTVMO)
[Image 3](https://drive.google.com/open?id=1e1e8qO079_HQjmhrYBAEfL45wlJhg_nc)

- In the first image, I am calling the Module and Importing it in my Module

[2020-04-19 08:59] a4armaan opened #527 "Error on loading the page second time."
Ionic2-Calendar is not working after reopening the page 2nd time.

I am using it on the page and it loads properly. I am using the month view to display the calendar. I have a back button on my page to go back. After I reopen the calendar page second time I am getting bellow error. After that, all calendar functions stop working, Like loading events, slid next etc. It starts working after changing

[2020-04-19 12:27] twinssbc commented on #527
@a4arman According to the error stack, it seems the calendar fails to process some loaded data.
May I know what happened when the calendar is opened at the second time? Could you do some debugging to see if you load any different data when this error happens?

[code]

[2020-04-19 12:32] twinssbc commented on #526
. @rawadymario So I can see currentDate is bound to the this.selectedDate. How do you calculate the selectedDate?

[2020-04-19 14:44] chewCCS opened #528 "Uncaught ReferenceError: __importDefault is not defined"
Hi,

I installed the calendar with updated package.json settings and managed to compile with ionic serve. However it ran a blank screen, and under Chrome Developer Tools, there are errors:

Uncaught ReferenceError: __importDefault is not defined
    at Module../src/app/app.component.ts (app.component.ts:9)
    at __webpack_require__ (bootstrap:84)
    at Module../src/app/app.module.ts (app.compone

[2020-04-19 15:47] rawadymario commented on #526
@twinssbc
`public selectedDate = new Date();
calendar = {
    mode: 'month',
    currentDate: this.selectedDate
  }`

[2020-04-20 10:30] rawadymario commented on #526
I debugged the code and figured out where the issue is.
In file **monthview.js** > Line **229** > Function **MonthViewComponent.prototype.getRange**

I used **console.log** on **startDate** and **endDate**. Because of Daylight Saving, the Month of April is returning **startDate = Sun Mar 29 2020 01:00:00 GMT+0300 (Eastern European Summer Time)** and **endDate = Sun May 10 2020 01:00:00 GMT+0300 (E

[2020-04-20 12:48] twinssbc commented on #528
@chewCCS you probably need to upgrade @angular-devkit/build-angular.
Check this question:
https://stackoverflow.com/questions/57662571/uncaught-referenceerror-importdefault-is-not-defined

[2020-04-20 15:34] twinssbc commented on #526
@rawadymario OK, I'm able to reproduce it, will take a look how to fix it.

[2020-04-20 15:42] rawadymario commented on #526
@twinssbc Thank you!
Honestly, I tried to fix it but I was not able to.

[2020-04-20 17:09] mariosanz97 opened #529 "Issue on load multi event on the same day"
-My event has one attribute, 'approved' can be true or false, in case the event is false the bg color is red, and in case true, green.

In case the day has two events, (one aproved and one not), the color would be the last one event.

-But my problem is when i want to load the events with my own template, the event duplicate my div.

Any idea about how to solve it? Thx a lot.

My template:

[2020-04-20 22:00] alonsoavotz commented on #527
I have a similar problem.. when try for the first time, the calendar does not works.. but when refresh the page the calendar work fine
here is a video of the situation: https://youtu.be/hOncLfpqolU

plugin version> "ionic2-calendar": "^0.6.2",

my system info
Ionic:

   Ionic CLI                     : 5.2.8
   Ionic Framework               : @ionic/angular 5.0.7
   @angular-devkit/build-angular :

[2020-04-21 03:06] chewCCS commented on #528
@twinssbc thanks. Changed it to
"@angular-devkit/build-angular": "^0.901.1",

I now have an issue of
"Uncaught (in promise) Could not establish connection. Receiving end does not exist. (content.js:2)"

As well as a bunch of

ERROR TypeError: Cannot read property 'mode' of undefined
    at HomePage_Template (template.html:21)
    at executeTemplate (core.js:12046)
    at refreshView (core.js:11893

[2020-04-21 03:15] chewCCS commented on #528
@twinssbc hi boss. I used the scripts provided by Simon Grimm from Devdactic and I am now able to see a calendar (finally :3)

There are still some errors like such:
ERROR TypeError: ctx.onViewTitleChanged is not a function
    at HomePage_Template_calendar_onTitleChanged_29_listener (template.html:75)
    at executeListenerWithErrorHandling (core.js:21888)
.....

Will continue to work on it...

T

[2020-04-21 16:05] kartiksolanki opened #530 "Any way to completely remove endTime???"
I just want start time in my calendar and I am able to display it successfully in the frontend but my backend still needs end time greater than start time to work. Is there any way, I can completely remove the endTime from my eventSource??? I tried giving endTime as null but it gives me error and doesn't display my events properly.

[2020-04-22 06:57] iamnels1 commented on #472
Hi @twinssbc

There's a problem with your update 0.61

It works on the browser with ionic@5.0.7 & A9, but when you build for production, then, for what I can see in IOS, nothing work...

What can I do ?

  // Config

   "dependencies": {
    "@angular/common": "~9.1.2",
    "@angular/core": "~9.1.2",
    "@angular/fire": "^5.4.2",
    "@angular/forms": "~9.1.2",
    "@angular/platform-browser": "~

[2020-04-22 15:04] twinssbc commented on #528
@chewCCS It seems you want to bind the onViewTitleChanged function in your HTML. Do you have this onViewTitleChanged method implemented in your component?

[2020-04-22 15:04] twinssbc commented on #528
@chewCCS It seems you want to bind the onViewTitleChanged function in your HTML. Do you have this onViewTitleChanged method implemented in your component?

[2020-04-22 15:07] twinssbc commented on #529
@Mariosanz97 You may want to try ngClass to apply the custom css class based on your event property. Then add the styles for different css class.

[2020-04-22 15:46] twinssbc commented on #527
@alonsoavotz From your video, it seems related to the loaded data issue. Could you verify the difference between the data you load at the first time and second time?

[2020-04-22 16:12] mariosanz97 commented on #529
Solved, Thanks so much.

I did this.

                <ng-template #template let-view="view" let-row="row" let-col="col">
                        <div  *ngIf="view.dates[row*7+col].events == ''">{{view.dates[row*7+col].label}}</div>
                        <div [ngClass]="view.dates[row*7+col].events[0].aproved ? 'withEvent' : 'withNoEvent'"
                                *ngIf="view.dates[row*7+

[2020-04-22 16:12] #529 closed, assigned to nobody

[2020-04-22 16:47] a4armaan commented on #527
I am not loading any data. The mentioned error coming when page is open **second time**. Fist time it works fine. But after going back to previous page then coming back to calendar page i am getting mentioned error.

[2020-04-22 17:02] a4armaan commented on #527
Now the interesting thing,
 Initially I had **Angular version 8.3.26**. After installing this (ionic2-calendar) package I have upgraded the Angular version 9. But mentioned error is coming.
So I went through so many bugs comment here, then I took the old version of my repo, which has Angular version 8.3.26 and the installed **ionic2-calendar@0. 5.9**.
Now with this combination its working perfect.

[2020-04-24 12:18] chewCCS commented on #528
@twinssbc Hi, sorry for the late response. I've just gotten back to the code. Apparently quite a few functions not up yet, including the back and forth buttons, etc. Will work on those next.

[2020-04-24 13:08] Simbaclaws opened #531 "onCurrentDateChanged get previous date"
Hi,

How can I get the previous date that was selected from onCurrentDateChanged?
I need to know whether the month has changed, not a specific day but the actual month has been swiped to the left or right.

[2020-04-24 13:17] Simbaclaws commented on #531
Apologies all I had to do was store the previous date in a variable. Which was super easy.

[2020-04-24 13:17] #531 closed, assigned to nobody

[2020-04-24 14:09] #528 closed, assigned to nobody

[2020-04-24 14:10] #527 closed, assigned to nobody

[2020-04-24 17:08] MedaiP90 opened #532 "Issue with calendar loading"
Since the last update (ionic2-calendar version 0.6.2), when I access the calendar page in my android app everything is ok, but when I navigate to another page, change the source data and return to the calendar page the calendar itself (in monthview mode) load only one month with no events in it and this error appear:
[code]

[2020-04-24 17:11] gmorton21 opened #533 "Hi @twinssbc"
Hi @twinssbc

There's a problem with your update 0.61

It works on the browser with ionic@5.0.7 & A9, but when you build for production, then, for what I can see in IOS, nothing work...

What can I do ?

  // Config

   "dependencies": {
    "@angular/common": "~9.1.2",
    "@angular/core": "~9.1.2",
    "@angular/fire": "^5.4.2",
    "@angular/forms": "~9.1.2",
    "@angular/platform-browser": "~

[2020-04-24 17:11] gmorton21 commented on #533
Has this issue been resolved? I just installed the calendar and I am getting errors.

[2020-04-24 17:11] #533 closed, assigned to nobody

[2020-04-25 12:30] twinssbc commented on #532
@MedaiP90 Could you provide more code? How do you navigate between the pages and where do you change the source data?

[2020-04-25 14:39] MedaiP90 commented on #532
The events data are updated retriving them from firebase but I think the problem is in the monthview template override:
[code]

[2020-04-27 06:49] MedaiP90 commented on #532
And here they are some pictures of the problem: the first is when the calendar correctly load the first time I open the page, the second one is when I change the source data and navigate back to the calendar and the third is when I swipe to change month. I wound like to point out that this issue has never shown up before the "ivy" update of the calendar package.

![No problem](https://user-images.

[2020-04-27 08:18] a4armaan commented on #527
What is the solutions?

[2020-04-27 09:32] bhandaribhumin commented on #475
@rodrigogsn hey bro did you find any alternative for ionic-react?

[2020-04-28 16:58] amamitpandey commented on #472
try this
uninstall first
and install again 0.5.x version
npm install ionic2-calendar@0.5  --save

[2020-04-29 12:00] TitoSniberb opened #534 "Is it possible to hide the calendar after choosing a day?"
This is my current calendar:

![image](https://user-images.githubusercontent.com/44405296/80593289-3a023b00-8a21-11ea-8c18-70f47bbab3e2.png)

I wanted to know if it was possible to hide it like this after selecting a day:
![image](https://user-images.githubusercontent.com/44405296/80593470-96655a80-8a21-11ea-99f5-46c866e660a9.png)

Is this possible? Thanks in advance!

[2020-04-29 17:30] anush-swaminathan opened #535 "Ionic 5.0.7: Unexpected value 'NgCalendarModule in node_modules/ionic2-calendar/calendar.module.d.ts' imported by the module. Please add a @NgModule annotation."
This may be a copy of #254
But I am getting the message when making a production build with AOT.

[2020-04-29 18:05] #535 closed, assigned to nobody

[2020-04-30 05:22] aastudillo91 commented on #472
this work for me, thanks

[2020-04-30 08:13] massimodeluisa commented on #532
Quote @MedaiP90, same issue.

[2020-04-30 20:35] benmesza opened #536 "Current day row and column style"
Hello!

I would like to ask, how can I set a different background color for the row and column of the current day in the month view?
Thank you in advance for your reply.

All the best!

[2020-05-01 14:22] MGaden commented on #532
i had this issue.
i solved it by change in file (monthview.js) as below image
![Annotation 2020-05-01 162013](https://user-images.githubusercontent.com/15795301/80812259-de25e680-8bc7-11ea-85c8-dad510608d35.png)

the issue is (this.currentViewIndex) is null, i don't know why. but this solve my issue

[2020-05-02 03:27] twinssbc commented on #532
@MedaiP90 @MGaden I'm still not able to reproduce this issue. But based on @MGaden 's code, I also add some fix accordingly. Could you give a try? The latest version is 0.6.3.

Also if you could continue sharing more information, that will be helpful. May I know when the event retrieving happen in your code? Could you provide your component ts code?

[2020-05-02 03:29] twinssbc commented on #536
@benmesza Do you want to just change current day cell? Or entire row and column?

[2020-05-02 03:30] twinssbc commented on #534
@aldimirprincipal This calendar doesn't support such feature.

[2020-05-02 03:31] twinssbc commented on #526
@rawadymario I refactored the code to solve the DST problem. Could you try the latest version?

[2020-05-02 07:22] MedaiP90 commented on #532
@twinssbc I'll give a try to the new **0.6.3** version. Anyway this is my component code:
[code]

[2020-05-02 08:38] MedaiP90 commented on #532
@twinssbc the update hasn't solved the problem for me and not even @MGaden solution did. I'm using capacitor instead of cordova (if that could help) and a tab based view to navigate between pages. I've inserted a `console.log(this.currentViewIndex)` in the `onDataLoaded()` method and I found this: the first load do what it's supposed to, it loads the data and update it when swiping; the second tim

[2020-05-02 13:52] benmesza commented on #536
@twinssbc Entire row and column.

[2020-05-03 12:53] twinssbc commented on #532
@MedaiP90 Today I was able to reproduce this error and then started looking into the ion slides source code.
Then I encounter this commit.
https://github.com/ionic-team/ionic/commit/3123a318b6755dbf8fde8476f81c37e6ffa9b70e#diff-e0874821af764a71e89442a158a223f8

After I upgrade the @ionic/angular to 5.1.0, seems the issue is solved.
Could you give a try? If that also works for you, I will upgrade t

[2020-05-03 12:56] twinssbc commented on #536
@benmesza This is not supported. The closest solution (but not perfect) I can think out is you could insert "fake" event on each day of entire row the column. Then do some customization thing to set different background for these fake events.

[2020-05-04 08:31] MedaiP90 commented on #532
@twinssbc thank you, updating `@ionic/angular` to **5.1.0** solved the problem

[2020-05-04 08:44] massimodeluisa commented on #532
@twinssbc same for me!

[2020-05-04 09:39] #534 closed, assigned to nobody

[2020-05-04 12:13] TanguyMrtn opened #537 "Remove All Day row"
Hello,

I'd like to know if it's possible to remove the whole All Day feature ? (at least the All Day line from the Week and Day Views, and also in Month View).

Regards !

TanguyMrtn

[2020-05-04 12:15] TanguyMrtn opened #538 "All Day Feature"
Hello,

I'd like to know if it was possible to display all the All Day events without the need of scrolling ?

Regards,

TanguyMrtn

[2020-05-04 16:23] TanguyMrtn commented on #537
I find an Issue with the answer, thanks

[2020-05-04 16:23] #537 closed, assigned to nobody

[2020-05-04 16:24] TanguyMrtn opened #539 "Change event color based on a value in weekview"
Hello,

I'd like to change the color of an event, based on a value (if the value is 1 then color is red, if 2 then green etc...) on weekview, I shall use a template or override css there ? Without changing the other parameters (width etc)

Thanks

[2020-05-05 09:22] pescador07 commented on #527
Hello,
I have the same problem. Any solution?
Thanks

[2020-05-05 09:32] iamnels1 commented on #472
Tried; same problem..

[2020-05-05 11:14] SilverMountainSoftware commented on #532
I'm using @ionic/angular 5.0.7 and your 0.6.3 fixed it for me. I will update all of my packages today

[2020-05-05 12:27] twinssbc commented on #532
I have published a version 0.6.4 which requires using Ionic 5.1.0 onwards, feel free to give a try.

[2020-05-05 12:27] #532 closed, assigned to nobody

[2020-05-05 12:29] twinssbc commented on #527
This issue because a bug that was fixed in Ionic 5.1.0.
https://github.com/ionic-team/ionic/commit/3123a318b6755dbf8fde8476f81c37e6ffa9b70e#diff-e0874821af764a71e89442a158a223f8

You could upgrade the calendar to 0.6.4 version and @Ionic/angular to 5.1.0 to resolve it.

[2020-05-05 12:34] twinssbc commented on #472
There was some issue reported that the calendar doesn't work when the page is opened at the second time.
https://github.com/twinssbc/Ionic2-Calendar/issues/527
https://github.com/twinssbc/Ionic2-Calendar/issues/532

You could upgrade the calendar version to 0.6.4 and @ionic/angular to 5.1.0 to resolve it.

If you encounter other error, please check the Dependency section in README to use the corre

[2020-05-05 12:34] #472 closed, assigned to nobody

[2020-05-05 12:38] twinssbc commented on #539
@TanguyMrtn You need to use the custom template as you have some logic based on a field value. You could use weekviewNormalEventTemplate option, use ngClass to bind some event field to different css classes. Then set different color on these css classes. More information can be found in README.

[2020-05-05 12:44] twinssbc commented on #538
@TanguyMrtn Yes, you can increase the height by overriding css.
You could increase the height of weekview-allday-table (currently is 50px) and increase the margin-top of weekview-normal-event-container (currently is 87px). But one thing to note that, no matter what value do you increase, you can't predict how many all day events need to be displayed. So scrolling probably is still needed, if they

[2020-05-05 12:49] TanguyMrtn commented on #539
Thanks a lot for your answer ! 👍

[2020-05-05 12:49] #539 closed, assigned to nobody

[2020-05-05 12:50] TanguyMrtn commented on #538
Ok so I'll keep the scrolable feature, thanks for your answer anyway 🥇

[2020-05-05 12:50] #538 closed, assigned to nobody

[2020-05-05 13:35] benmesza commented on #536
@twinssbc Thanks your help!

[2020-05-06 13:28] #536 closed, assigned to nobody

[2020-05-07 06:25] benmesza opened #540 "Select day from list."
Hello!

I want to ask for help again. The problem is that there is two content on the page, a list in the left content and a calendar in the right content. I would like to resolve if I click on an item in the list, jump to the date in the list item on the calendar. I tried to pass the value to the calendar.currentDate variable, but it immediately jumps back to the current day. Calendar is on month

[2020-05-07 10:38] TitoSniberb opened #541 "Showing multi-day events on the calendar with CSS"
I'd like to know if its possible to do this:
![image](https://user-images.githubusercontent.com/44405296/81285000-28dbae80-905f-11ea-8d13-3858c5700048.png)

As shown on the image, for example for the days 09, 10 and 11, I'd like to mark on the calendar multi-day events just like that. Would that be possible? And if yes, how would you handle it if there's a multi-day event going form the 7th to the

[2020-05-07 11:48] SilverMountainSoftware commented on #532
Yes, this fix worked well for me, thanks

[2020-05-07 20:27] benmesza commented on #540
I solved this.

[2020-05-07 20:27] #540 closed, assigned to nobody

[2020-05-10 05:47] twinssbc commented on #541
@aldimirprincipal Unfortunately this is not supported by default. You may be able to use monthviewDisplayEventTemplate option provide some custom look and feel. But you also need to consider what if there are multiple events happen on a single day, how do you want to display them?

[2020-05-12 03:54] MathanM commented on #498
Hi,

I am getting the following error

ERROR in ./node_modules/ionic2-calendar/weekview.js 360:4-16
[ng] "export 'ɵɵadvance' (imported as 'i0') was not found in '@angular/core'
[ng] ERROR in ./node_modules/ionic2-calendar/weekview.js 374:4-16
[ng] "export 'ɵɵadvance' (imported as 'i0') was not found in '@angular/core'
[ng] ERROR in ./node_modules/ionic2-calendar/weekview.js 385:4-16
[ng] "export '

[2020-05-13 15:27] TitoSniberb commented on #541
@twinssbc My idea was having it the same way google does, adding more space if needed. Thanks for the answer tho!

One last question, how could I get the date of the current selected day?
![image](https://user-images.githubusercontent.com/44405296/81831802-191c0880-953e-11ea-9606-98e0a3dad322.png)
The "15 MAR" is hard-coded right now, and I would want to show the day the user selected. How would I

[2020-05-15 17:51] rawadymario commented on #526
@twinssbc It looks like the bug was fixed. Thank you!

[2020-05-15 17:51] #526 closed, assigned to nobody

[2020-05-15 21:58] mikeaka opened #542 "If 'calendar' is an Angular component, then verify that it is part of this module"
Hello guys,
I create a new project and try to implement ionic2-calendar and i have this issue?.

[Angular]
'calendar' is not a known element:

If 'calendar' is an Angular component, then verify that it is part of this module.
To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component.

i am using page module so i add the calendar module into page module instead of app

[2020-05-16 06:38] svknvs commented on #244
How to reset the date range if another event changed
I changed as below in
onSelectionChanged(){
this.dateTo = this.dateFrom;
}
but the date range color is not cleared fully
but shown in disabled / dim color

[2020-05-16 12:37] twinssbc commented on #244
@svknvs I don't quite understand your question. The onSelectionChanged, dateTo and dateFrom seems are all from your own code, how is it related to the calendar?

[2020-05-16 12:41] twinssbc commented on #542
@mikeaka Where do you use the calendar element in your html file? This error indicates that the Angular doesn't recognize the calendar element. You need to make sure the NgCalendarModule is properly set up. I see you Home.module.ts has related code, but probably not linked with your HTML file?

[2020-05-16 12:43] twinssbc commented on #541
@aldimirprincipal When you use the calendar, you will bind a a currentDate variable. When the selected date is changed, the currentDate will also be changed.

[2020-05-16 12:45] twinssbc commented on #498
@MathanM If you want to use calendar version 0.6.4,  you need to use Ionic version >=5.1.0 and Angular version >= 9.1.0. You could get more information from the Dependency section in README.

[2020-05-16 12:46] #498 closed, assigned to nobody

[2020-05-16 14:46] mikeaka commented on #542
@twinssbc thank you very much for your reply below the HTML, NgCalendarModule is imported in home.module.ts

**Home.page.html**
<ion-content>
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    step="30">
  </calendar>
</ion-content>

Did i do something wrong ?

Thank you.

[2020-05-16 14:47] mikeaka commented on #542
<ion-content>
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    step="30">
  </calendar>

</ion-content>

[2020-05-17 02:33] twinssbc commented on #542
@mikeaka I didn't spot anything wrong. Although what's the version of @ionic/angular are you using? I saw the dependency is ^5.0.0, could you upgrade it to ^5.1.0?

[2020-05-17 09:23] chewCCS commented on #542
Hi,

I also have a similar problem, though probably in a different situation. Do I need to create a new post or can I seek your assistance from here?

1. I created a new project with tabs template
2. renamed Tab1, Tab2, Tab3 into Calendar, Inbox and Notepad
3. ported the package.json file from my previous successful ionic-calendar project
4. copied the home.page.ts, home.page.html and home.module.

[2020-05-17 09:25] mikeaka commented on #542
@twinssbc i have upgrade but still the same issue.
in Chrome i have this ERROR TypeError: Cannot read property 'dayHeaders' of undefined
in HTML still not recognized.
it is a fresh project.
i used Ionic start calendar blank --type=angular to start the project

[2020-05-18 14:05] TitoSniberb commented on #541
@twinssbc currentDate as itself is not anything, but if I use calendar.currentDate it gives me Monday 05 for all days.
![image](https://user-images.githubusercontent.com/44405296/82222163-31669b80-9921-11ea-9a05-00b67ad72264.png)

![image](https://user-images.githubusercontent.com/44405296/82222224-45120200-9921-11ea-855f-543ea8f70b24.png)

[2020-05-19 01:18] chewCCS commented on #542
@twinssbc hi, please ignore my feedback. Apparently I was forgetful enough to miss out running npm ionic-calendar in the first place :P the whole thing works now. Thanks!

[2020-05-22 15:51] twinssbc commented on #541
@aldimirprincipal Could you provide more code to show how do you use the calendar in HTML?

[2020-05-22 15:51] #542 closed, assigned to nobody

[2020-05-24 15:48] brluizfelippe commented on #347
I was facing the exact same issue. What I did to make calendar day view mode work correctly is quite simple. I have placed the calendar component inside a `<ion-grid>` tag. Once I removed it from it and placed it directly inside the `<ion-content>` I got it working as expected.

[2020-05-24 16:04] TitoSniberb commented on #541
@twinssbc Sure! Here it is:
![image](https://user-images.githubusercontent.com/44405296/82758790-fbc22680-9de8-11ea-96a1-e600f51f2b78.png)
and in the ts:
![image](https://user-images.githubusercontent.com/44405296/82758804-07ade880-9de9-11ea-85c5-b329c205bfdf.png)

[2020-05-25 22:27] ACouasnonPerso commented on #105
i comment that post after a long time. This has happen to me. I'm using IONIC 5 and a calendar on popup.
On android device freeze the first time i oppened the popup, after some time or after close and open the popup it was working fine.
I just put mode="ios" on the calendar and now it work perfectly.
I hope this comment will help someone in the same case :)

[2020-05-29 10:09] innovativethinkingteam opened #543 "Cannot find module 'ionic-calendar' (Ionic2-Calendar: 0.5.9 Ionic: 5.4.9)"
Hi,

As per Instructions for version 0.5.x:

1. npm i ionic5-calendar
2. If you are using PageModule, you need to import the NgCalendarModule in your page module

[code]

Ts error: "Cannot find module 'ionic-calendar'."

[2020-05-31 10:31] twinssbc commented on #543
@Bottley Could you check your ionic2-calendar, @ionic/angular and angular versions? They need to be like the combination described in README.

[2020-06-01 16:36] marcelo-ansaldi-baltazar opened #544 "calendar - navigate issue"
Hi,

First, the calendar works correctly:
![image](https://user-images.githubusercontent.com/26723811/83430552-d98d6180-a403-11ea-80e3-46985ac9f09c.png)

but when I use the router.navigate method to go back to some menu page

![image](https://user-images.githubusercontent.com/26723811/83430641-fde93e00-a403-11ea-9d94-b823a8f5f71f.png)

![image](https://user-images.githubusercontent.com/26723811/83

[2020-06-01 21:05] ustadji opened #545 "Calendar is not a known element and Can't Bind to XXX since it is not a known property"
Hey twinssbc,
Love the work you're doing!   Getting these errors after upgrading Ionic and Angular to latest:
'calendar' is not a known element:
1. If 'calendar' is an Angular component, then verify that it is part of this module.
2. To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component.
Can't bind to 'eventSource' since it isn't a known property of 'calendar'.
{

[2020-06-02 08:32] ilprima opened #546 "[BUG v. 0.6.x] NgCalendarModule not found in Angular 9, Ionic 5 and calendar v. 0.6.x"
Using the calendar version 0.6.x it is not possible to import NgCalendarModule. To reproduce this problem just create a new project with Ionic 5 and Angular 9. You can see that NgCalendarModule does not exist in ionic2-calendar, it means import {NgCalendarModule} from 'ionic2-calendar' it is not importable saying to add @NgModule in ionic2-calendar file.

I think also that using v. 0.5.x with Ioni

[2020-06-02 12:20] SansDK commented on #546
Working here.

I have this in my module file:
[code]

Package versions:
ionic2-calendar v0.6.4
Angular v9.1.9
Ionic v5.26.0

[2020-06-03 21:01] craigsh commented on #546
I have a similar issue. The calendar works, but in my template it shows as an error - hovering over it shows 'calendar' is not a known element.

I have imported NgCalendarModule as shown above.

For me, it's just an annoyance.

![image](https://user-images.githubusercontent.com/12677787/83688740-fb742780-a641-11ea-8143-b4fdb227e8d7.png)

[2020-06-03 21:36] SansDK commented on #546
@craigsh I have the same issue.

Please comment on issue #545 and / or +1 it.

[2020-06-04 16:32] ZiTrOz opened #547 "If 'calendar' is an Angular component, then verify that it is part of this module. Ionic 5.4.16"
Hi, im trying to use this component but i'm getting this error
If 'calendar' is an Angular component, then verify that it is part of this module.

my page module
![image](https://user-images.githubusercontent.com/6886092/83783214-b0640f80-a655-11ea-9cd1-d7648ab26056.png)

html
![image](https://user-images.githubusercontent.com/6886092/83783397-bfe35880-a655-11ea-8cbc-6529e339208a.png)

when compil

[2020-06-05 13:43] MedaiP90 commented on #544
The issue can be a duplicate of this one I opened: [Issue with calendar loading](https://github.com/twinssbc/Ionic2-Calendar/issues/532).
Try updating to Ionic **5.1.0**.

[2020-06-07 12:24] twinssbc commented on #547
@ZiTrOz Which calendar version are you using? Could you refer to README to pick the correct version and dependencies?

[2020-06-09 07:51] playgamemy opened #548 "event is not loaded in remote query mode"
Expected: In remote query mode, events are loaded once and displayed when the calendar DOM instantiate, and persist to be displayed between range/mode change. Events are reload and re-render automatically when the binded eventSource variable is reassigned to new value (not push).

Issue: event is not loaded unless loadEvent() is called manually, both at the start and everytime the mode/range is ch

[2020-06-09 10:00] marcopes commented on #504
Hi all, someone worked around in some way to highlight the cell when clicked in weekview?

[2020-06-13 09:11] Prajakta2910 commented on #490
@twinssbc  Can you please suggest me how can I add loader when sliding to next month.
Actually I am pre-rendering the events but since I have applied custom some styles it takes 2-3 seconds to apply those style. Can you please suggest how can I show loader on calendar

[2020-06-13 17:33] winnievips opened #549 "hasEvents css style"
<img width="208" alt="Screenshot 2020-06-14 at 1 28 00 AM" src="https://user-images.githubusercontent.com/27732258/84575245-4dedda80-adde-11ea-9a59-7b341dcb8885.png">

Hi, is there a way to create a dot below the day if having events (as above image)?
currently I just able to find this class
.monthview-primary-with-event { }
which only makes the big circle by border-radius as below

<img width="27

[2020-06-14 04:43] winnievips commented on #549
<ng-template #templatemonthviewDisplayEvent let-view="view" let-row="row" let-col="col">
    <div class="round-event">{{view.dates[row*7+col].label}}</div>
    <ion-icon name="ellipse" *ngIf="view.dates[row*7+col].hasEvent"></ion-icon>
  </ng-template>

i found the solution
thanks
Duplicate of #444 and #332

[2020-06-14 04:43] #549 closed, assigned to nobody

[2020-06-14 05:48] winnievips opened #550 "calendar timezone issue"
<img width="1388" alt="Screenshot 2020-06-14 at 1 46 22 PM" src="https://user-images.githubusercontent.com/27732258/84585755-8674cf00-ae45-11ea-8833-ea7a2a60f070.png">

I was adding an event on 14th June from the console log seems like the data is following my local timezone
but after I add the data appears on 13th June
I am not sure which part causes it probably time zone?

[2020-06-15 16:13] SatyaShodhaka commented on #546
@craigsh Hey could you paste the solution in here when you find it pls

[2020-06-16 07:49] SatyaShodhaka commented on #542
Hey i've the same issue If 'calendar' is an Angular component, then verify that it is part of this module

[2020-06-17 19:28] Elmabtoul88 commented on #472
ionic2-calendar dosnt work i tried many and many version of this calendar i upgrade typescript version, i created a new project just for try all solution possible i insist on this librery cause its offre lot of easy advantage anybody has a trick for skip this problem.
i use ionic 5 angular 9

[2020-06-17 23:39] twinssbc commented on #472
@Elmabtoul88 could you provide more information, what is not working? And could you provide the version you specify in your package.json? If you could share some code how do you use the calendar, that will be more helpful.

[2020-06-18 08:28] Prajakta2910 opened #551 "How to set custom selected date in Calendar"
I want set custom selected day for month view calendar on load. I have set autoSelect="false" since I don't want to trigger onTimeSelected event on load or sliding to next event. Please give some solution.

Thanks for the plugin

[2020-06-18 12:23] Elmabtoul88 commented on #472
@twinssbc  thank you for your answer :

private": true,
  "dependencies": {
    "@angular/common": "~9.1.6",
    "@angular/core": "~9.1.6",
    "@angular/forms": "~9.1.6",
    "@angular/platform-browser": "~9.1.6",
    "@angular/platform-browser-dynamic": "~9.1.6",
    "@angular/router": "~9.1.6",
    "@ionic-native/core": "^5.0.7",
    "@ionic-native/splash-screen": "^5.0.0",
    "@ionic-native/s

[2020-06-18 12:25] Elmabtoul88 commented on #472
the error is "calendar is not know element"

[2020-06-18 12:35] Elmabtoul88 commented on #472
{
	"message": "'calendar' is not a known element:\n1. If 'calendar' is an Angular component, then verify that it is part of this module.\n2. To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component.",
	"source": "ng",
	"startLineNumber": 11,
	"startColumn": 5,
	"endLineNumber": 19,
	"endColumn": 15
}

[2020-06-20 12:13] danbn-100295 opened #552 "[HELP] Show month only"
Hi guys
I want display month and year only like this.
<img width="339" alt="85198548-9ee85c00-b313-11ea-9af1-d4bf893b40d0" src="https://user-images.githubusercontent.com/61224981/85201508-20e37f80-b32a-11ea-871d-88398ffa8b07.png">
How can i implement it ?
Thanks all !

[2020-06-21 15:43] twinssbc commented on #542
@SatyaShodhaka Could you try the latest version 0.6.5?

[2020-06-21 15:43] twinssbc commented on #546
could you try the latest version 0.6.5?

[2020-06-21 15:44] twinssbc commented on #472
could you try the latest version 0.6.5?

[2020-06-21 15:46] twinssbc commented on #552
@danbn-100295 this calendar is mainly for displaying events in a calendar look and feel. It doesn't support such year/month selection.

[2020-06-21 15:46] #552 closed, assigned to nobody

[2020-06-21 15:56] twinssbc commented on #550
@winnievips You seems want to use allDay event? In this case, you need to set the event start and end time as UTC time. Such as Date.UTC(2020, 5, 14). There are more explanation in **EventSource** section in README.

[2020-06-21 16:00] twinssbc commented on #490
@Prajakta2910 I think you could try add a div on top of the whole page, and only show that div when loading? You could set the div using grey and transparent backend.

[2020-06-21 16:06] twinssbc commented on #548
@playgamemy I don't quite understand your test code. In updateDateRange method, this.eventSource is always assigned same sampleEvent variable which is initialized in the constructor. How do you expect any update when range is changed?

[2020-06-21 17:57] Elmabtoul88 commented on #472
@twinssbc right bro its work fine thank you so much you save me i appreciate what you did for me thanks again <3

[2020-06-22 02:26] danbn-100295 commented on #552
@twinssbc  Ok.thanks so much

[2020-06-22 07:34] drekinov commented on #472
0.6.5 break my app. reverted to 0.6.4 and everything is OK again.
[code]
angular - 9.1.11, ionic 5.2.2 and TS 3.8.3

[2020-06-22 12:27] twinssbc commented on #472
@drekinov could u try changing the place you import 'ionic2-calendar/calendar' to just 'ionic2-calendar'?

[2020-06-22 15:13] antoniomtnez commented on #95
The same thing happens to me, the week view is shown, but without data.
.....
I fixed it. In my code, the element above <calendar ... <ion-list, I added style = "height: 100%! important"

[2020-06-22 16:46] Elmabtoul88 commented on #472
@twinssbc  for ionic5 users all versions arn't working except last v 0.6.5

[2020-06-23 15:26] drekinov commented on #472
@twinssbc

thanks that worked :)

[2020-06-23 17:08] lcaprini opened #553 "Class weekview-current did not added anymore"
I'm using the v6 version of plugin, but the CSS class `weekview-current` for the current day in week mode doesn't added anymore. The month view works correctly.

I think something goes wrong on `currentDayDifference` calculation in `updateCurrentView` inside `weekview.ts` file; I tried to update my fork and run the demo project but without success...

Could you help me (or fix the issue)?

Thanks

[2020-06-24 13:17] SansDK commented on #545
This seems to be fixed in version 0.6.5.

[2020-06-25 03:18] playgamemy commented on #548
This is test code, I have not put in the logic to grab the data from the firestore backend yet. I am just using that sampleEvent mocking that the eventSource is indeed updated.
The problem I have is unless instance method loadEvents() is called, no events will be loaded into view for ALL triggers in remote querymode.
I thought the eventSource is watched such once new value is assigned it will auto

[2020-06-25 14:40] #545 closed, assigned to nobody

[2020-06-25 14:42] twinssbc commented on #548
@playgamemy yes, that's how it should work. But your test code seems not assign new value to eventSource.

[2020-06-25 21:57] dmmd10 commented on #411
How was the problem solved?
I have the same problem too

[2020-06-27 11:06] dmmd10 commented on #411
How was the problem solved?
I have the same problem too
@Mo5005

[2020-07-02 06:49] rbertolig commented on #358
Hi!, just wanted to share a simple workaround I used to display the day number under the week day name on the week view:
just need to set the `formatWeekViewDayHeader="d"` and add one row with the seven cols before the 'calendar' tags, ex:
[code]
I use it inside the page header that is why also used the ion-toolbar, that way the week day title can be customized with colors and fonts etc, using css

[2020-07-02 12:36] jayordway opened #554 "loadEvents() not working when using templates"
I am using version ^0.6.5 with angular 9.1.11 and ionic 5.2.1. I have a large monthviewDisplayEventTemplate template, and
when I simply click a button to call a function (below) which should clear the events, it doesn't work. If I remove the template from the calendar attributes it will work.

[code]

[2020-07-02 13:44] #554 closed, assigned to nobody

[2020-07-03 20:17] Saddi993 commented on #411
still facing same issue

[2020-07-04 00:40] dmmd10 commented on #411
Yes, i have not found a solution Gesendet von Mail für Windows 10 Von: Saad AhmedGesendet: Freitag, 3. Juli 2020 22:17An: twinssbc/Ionic2-CalendarCc: dmmd10; CommentBetreff: Re: [twinssbc/Ionic2-Calendar] Ionic2-Calendar, Cannot read property 'getTime' of undefined (#411) still facing same issue—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or unsubs

[2020-07-04 13:37] IMiMineDigital opened #555 "error TS1086: An accessor cannot be declared in an ambient context."
![error](https://user-images.githubusercontent.com/48542324/86513653-91f65d00-be29-11ea-88fb-f0e23ad48b7f.jpg)

[2020-07-06 09:40] shalini-github commented on #537
how to remove the all day row

[2020-07-07 08:08] louiemiranda commented on #514
Hi @twinssbc UTC will only be used `allDay` is `true`?

Then, the rest of the time should just be regular timezone time and not UTC? Am I correct?

Thank you

[2020-07-07 08:10] louiemiranda commented on #550
Hi @twinssbc for startTime and endTime, UTC will only be used allDay is true?

Then, the rest of the time should just be regular timezone time and not UTC? Am I correct?

Thank you

[2020-07-07 13:09] Simbaclaws commented on #198
Dear @twinssbc,

I seem to have this issue also when trying to change my screen orientation from portrait to landscape.
The calendar doesn't change its width according to the screen size. This is without a ion-slide. Just a regular page does this as well. Only when I change the month does it change the calendar's size to the correct size.

Would it be an idea to have some sort of update function i

[2020-07-08 12:02] Simbaclaws commented on #198
How exactly can I target #monthSlider inside the monthview so I can call slider.update() on it?
Apparently all that needs to happen is call the ion-slides update function in order to update the slide's width.
I'm doing that with other ion slides as well, but whenever I try to access the month view inside of the calendar I have no idea how to access it's values.

Is there a way to expose the slider

[2020-07-09 11:18] Simbaclaws commented on #198
Dear @twinssbc

I created a pull request to allow for updating the ion-slides inside the month, week and day views.
This way users are able to manually call the update method from calendar in order to update the slides (aka make them resize to it's containers) whenever they feel like.

https://github.com/twinssbc/Ionic2-Calendar/pull/556

[2020-07-09 22:49] twinssbc commented on #550
@louiemiranda correct.

[2020-07-09 22:57] twinssbc commented on #555
@IMiMineDigital which version of @angular/cli and typescript are you using? I suspect you are using some old version.

[2020-07-09 23:00] twinssbc commented on #537
@shalini-github you could try the approaches in https://github.com/twinssbc/Ionic2-Calendar/issues/54

[2020-07-09 23:09] twinssbc commented on #198
@Simbaclaws the PR looks great. I will do some test for it, then merge it. Thanks.

[2020-07-10 07:57] Simbaclaws commented on #198
Note:

Apparently changing the orientation of the screen on smaller mobile devices seems to work for me. When I use an ipad to rotate the screen, does it not want to update the calendar size.

[2020-07-10 08:05] Simbaclaws commented on #471
I'm experiencing the same thing when rotating my screen on an ipad.

I created this pull request:
https://github.com/twinssbc/Ionic2-Calendar/pull/556

That might help in solving the issue, by manually calling the calendar.update function that I added.
This would give you the option to resize the calendar to it's container by updating the ion-slides it's in.

Perhaps my code can be improved to acc

[2020-07-10 10:04] ilprima commented on #471
The only way to fix this is to add:
.swiper-slide-active {
  width: 100% !important;
}

To your global style file.

[2020-07-10 11:17] Simbaclaws commented on #471
Well yeah that could work too as a workaround.
I'm just trying to figure out what is wrong with ionic's ion-slides for specific ios device orientation changes.

I'll try this workaround to see if it'll help me solve the issue as well.

Still wouldn't be a bad idea to have a update function you can manually call though.
Could work for other use cases.

[2020-07-12 09:00] twinssbc commented on #198
@Simbaclaws merged your PR and published version 0.6.6

[2020-07-12 19:10] javapach commented on #105
I have the same problem, what do you mean with "put mode="ios" "?

[2020-07-13 13:28] dmmd10 commented on #411
help @Mo5005

[2020-07-22 12:28] dmmd10 commented on #455
@wapewape
can you show the complete code?

[2020-07-23 08:13] javitineo opened #557 "My ionic2-calendar never shows monday events"
Hello, here is my code to show a calendar2-plugin inside an ionic app.

<calendar formatWeekViewDayHeader=“EE d” [locale]=“calendar.locale” [monthviewDisplayEventTemplate]=“template” [eventSource]=“eventSource” [calendarMode]=“calendar.mode” [currentDate]=“calendar.currentDate” [startingDayMonth]=“calendar.startingDayMonth” (onRangeChanged)="onCurrentDateChanged($event)" [showEventDetail]="calenda

[2020-07-24 01:54] chentong98 opened #558 "Error"
why I will getting this error message? can some one help me?

core.js:6237 ERROR TypeError: eventStartTime.getFullYear is not a function
    at MonthViewComponent.onDataLoaded (ionic2-calendar.js:1768)
    at MonthViewComponent.ngOnChanges (ionic2-calendar.js:1614)
    at MonthViewComponent.wrapOnChangesHook_inPreviousChangesStorage (core.js:27137)
    at callHook (core.js:4739)
    at callHooks (

[2020-07-24 05:18] #558 closed, assigned to nobody

[2020-07-26 02:39] chewCCS opened #559 "How do I store events?"
Hi, I seem to be missing out on something very basic here, but I'm not really sure how to solve this. Everytime I open the app, the events that I keyed in previously are gone. Is there a setting or function that I need to call to store events?

[2020-07-26 04:16] chewCCS commented on #559
Is this one of the solutions?
https://ionicframework.com/docs/angular/storage

Under home.page.ts, do I save my CalendarComponent?
storage.set(myCal);
storage.get(myCal);

Or how can I use localstorage instead?

[2020-07-27 05:05] darron1217 commented on #474
On angular 9 default styles are not applied to custom template.

How can I inherit default style while customizing?

[2020-07-27 18:13] shalini-github commented on #202
hi @twinssbc I am using [ngIf]="uploadEvent == 'yes'" condition on ng-template. the calendar is not loading with day events. it loads if i remove ngIf condition.

[2020-07-28 02:49] shalini-github commented on #477
can we set 12AM hour column after 11PM in the day view?

[2020-07-28 02:50] shalini-github commented on #477
how to set 12AM column hour after 11PM normal day event view?
![image](https://user-images.githubusercontent.com/25053785/88613585-5feeb880-d0c0-11ea-933d-dcae3c78d59d.png)

[2020-07-29 12:28] twinssbc commented on #477
@shalini-github after 12AM, it's the next day, it's the first row.

[2020-07-29 12:29] twinssbc commented on #202
@shalini-github if that's the case, I think it's related to your ngIf condition, uploadEvent == 'yes'.

[2020-07-29 12:31] twinssbc commented on #474
@darron1217 could you be more specific about what default style? Since you are using custom template, you can apply any style you want.

[2020-07-29 12:32] twinssbc commented on #559
@chewCCS the calendar doesn't care about how do you store the events, it can be localStorage or can be a database. As long as you can fetch the events and fill the eventSource array, the calendar will display the events.

[2020-07-29 12:33] twinssbc commented on #558
@chentong98 This indicates that the event startTime probably is not a valid Date object. Could you double check what's the type of startTime? If it's a string, you need to convert it into Date object.

[2020-07-29 12:43] chentong98 commented on #558
Ya I already fixed it

[2020-07-29 12:43] twinssbc commented on #557
@javitineo is your event all day event or normal event? could you provide some sample event?

[2020-07-29 12:58] darron1217 commented on #474
Yeah, but I just wanted to add more data without changing styles.
But it seems strip default style when I'm using custom template

[2020-07-29 14:53] shalini-github commented on #202
I have two div elements one with calendar, ng-template. other one with some labels. ngIf condition is simple and the calendar div comes blank when i click on the segmentbutton. not sure what i'm missing here. please see my below sample code and screenshot

[code]

![image](https://user-images.githubusercontent.com/25053785/88815630-21571c00-d1ee-11ea-9c67-ccccb7b8234e.png)

[2020-07-30 10:41] playgamemy commented on #548
Sorry was in another project and did not get to reply promptly.
Maybe it is my misunderstanding on "assign new value to eventSource".
In readme you explicitly said not to use Array.push() as it does not assign new value and need to assign new value in order to trigger the loadEvent()

if  `this.eventSource = this.sampleEvent; `
&
[code]
are both not counted as assign new value, what is counted as

[2020-07-31 16:28] andrejwright commented on #349
@twinssbc @arulmanoa do you know if this ever got added as a feature? I am interested in this as well!

[2020-08-01 18:37] evanmonfee commented on #555
Hi, I'm getting the same error:

[code]

Plugin version: "ionic2-calendar": "^0.5.10"

Ionic info:

[code]

[2020-08-02 08:17] chewCCS commented on #559
Trying to figure out how all these form up... available online sources are quite scattered for me...

On one end, if I wish to use SQLite, I will need to import IonicStorageModule, and I suppose using the get() and set() functions to retrieve and save the eventSource array?

On the other end, based on your demo pages, under home.ts, I will have to create a loadEvents() function and assign using th

[2020-08-04 14:53] finn2212 opened #560 "Error when loading Events from Stroage"
I implented a verison of the ionic2-Calender. It works very fine. When i have no events in my eventSource and create an Event, the event is displayed correctly. The Problem comes when i am trying to load Events from my Storage with the "getEntries()" method. I am always getting this error:

 TypeError: eventStartTime.getFullYear is not a function
    at MonthViewComponent.onDataLoaded (ionic2-cale

[2020-08-05 08:05] tubauwe opened #561 "Custom weekviewAllDayEventTemplate ignores setting for step"
I'm trying to costumize the week view of events using the following code:

`<ng-template #weekviewNormalEventTemplate let-displayEvent="displayEvent">
      <div class="calendar-event-inner"
      [style.top]="(37*displayEvent.startOffset/hourParts)+'px'"
      [style.left]="100/displayEvent.overlapNumber*displayEvent.position+'%'"
      [style.width]="100/displayEvent.overlapNumber+'%'"
      [st

[2020-08-05 14:02] playgamemy commented on #548
Thank you for your response previously. I have done a bit more digging and realise
`this.eventSource = this.sampleEvent;`
is assigning the eventSource to sampleEvent by reference instead of by value. Which is probably why you said "not assign new value to eventSource"
This problem would have been solved if it is truly calling a function/API where an array is returned as value.

Just to proof the c

[2020-08-05 14:02] #548 closed, assigned to nobody

[2020-08-09 14:42] twinssbc commented on #555
@evanmonfee It seems your @ionic/angular and angular version are quite old, could you try the latest one?

[2020-08-09 14:44] twinssbc commented on #559
@chewCCS It really doesn't matter how and when (It can be triggered on page load or by clicking a load button) do you load your data, as long as after you load the events, you set it into eventSource.

[2020-08-09 14:46] twinssbc commented on #560
@finn2212 this indicates that the eventStartTime is a valid Date object. Could you check if the startTime and endTime field in your event object is Date type, instead of String?

[2020-08-09 14:55] twinssbc commented on #561
@tubauwe How do you use your template in your html code? It is bound to which template option? If you check the source code in calendar.ts. The normal event section template already takes care of the position and size of each event for you.
You just need to add some style to normal event template to customize the color or font.

[code]

[2020-08-10 14:28] andrejwright opened #562 "45 minute time slots not working as expected"
Hi,
When I set timeInterval and step to 45, the grid doesn't work as expected.
For example, I will see 00:00, 00:45 and then 01:00. Where I would expect to see 00:00, 00:45 and then 01:30.

<img width="526" alt="Screenshot 2020-08-10 at 15 25 52" src="https://user-images.githubusercontent.com/29167931/89793489-d6a69f80-db1d-11ea-8b54-67821cd65829.png">

I am using ionic 5 Angular and 0.6.6 of ioni

[2020-08-10 23:25] twinssbc commented on #562
@andrejwright 45 is not supported. It is explained in the README.
[code]

[2020-08-15 02:16] EdgarBaeza13 commented on #29
How can i translate the values of the calendar to spanish? I've already tried the same that all of you say in the comennts but it doesn´t work

[2020-08-15 13:32] magnaleo commented on #551
I also need this, I need the current date to be selected regardless of `[autoSelect]="false"`. I tried starting out with disabled swipes and `autoSelect=true` then enabling swipes and setting `autoSelect=false` but the selected date is gone as soon as the first swipe happens.

If there's any quick workaround that it would be greatly appreciated.

[2020-08-16 02:31] twinssbc commented on #29
@EdgarBaeza13 Could you provide your code?

[2020-08-16 02:33] twinssbc commented on #551
@magnaleo According to your description, it seems you still want a selected date when swiping. Why do you need autoSelect set to false?

[2020-08-16 02:34] twinssbc commented on #546
Should be fixed in version 0.6.5

[2020-08-16 02:34] #546 closed, assigned to nobody

[2020-08-16 02:38] twinssbc commented on #530
@kartiksolanki The event should always has a time range.

[2020-08-16 02:38] #530 closed, assigned to nobody

[2020-08-16 02:38] twinssbc commented on #553
@lcaprini do you still have problem with this issue?

[2020-08-16 13:30] guetstudio commented on #190
Sorry if this is too damn question but what do you mean by 'it needs to bind to a variable'? Taking any of the example codes above, how different that should be to make it trigger the callback function. I have also tried setting   [queryMode]="remote" and still onRangeChaged does nothing. How should I bind what to a variable? Again, sorry if this is too damn to ask.

[2020-08-16 14:22] magnaleo commented on #551
@twinssbc I'm using it as a date picker and I need it to return a date only when the user clicks a date. If I set autoSelect=true, whenever the user swipes, a new date is selected which is what I don't want.

[2020-08-16 14:23] magnaleo commented on #551
By "returning a date" I mean the onTimeSelected event

[2020-08-17 15:35] mtsuggs opened #563 "Dynamically apply class to TD on month view"
Is there a way to dynamically apply a class to the TD of the month view.  I do not want to use jquery if at all possible and the current css3 spec does not allow for parent selectors.  My use case is simply to dynamically set the entire background of a given cell in the month view.  Thank you!

[2020-08-17 16:23] mtsuggs commented on #563
For anyone else the work around is to remove the padding from the TD element and apply it in your override template.

[2020-08-17 16:23] #563 closed, assigned to nobody

[2020-08-18 12:10] twinssbc commented on #190
@guetstudio It means you should have something like below in your HTML

[code]

And set calendar.queryMode = 'remote' in your component ts code.
It doesn't support setting 'remote' directly in HTML.

[2020-08-18 12:13] twinssbc commented on #551
@magnaleo I think this is how autoSelect works, it won't auto select the date for you, instead needs user to select it. What else functionality do you need?

[2020-08-18 14:29] guetstudio commented on #190
Ahh ok, perfect, it's working now! Thanks dude!

[2020-08-21 05:20] chen-nee opened #564 "Event not loaded to calendar"
Event not loaded to calendar when get from backend api, however it is working if assigned to dummy data.

Image below show that there is data for event source, however it not loaded to calendar.

![image](https://user-images.githubusercontent.com/6364476/90854836-97474100-e3b0-11ea-8681-d86ecf1379d4.png)

Code as below. Please advise.

    this.getEvents('2020-08-01', '2020-08-31');
  }

    conso

[2020-08-21 06:14] chen-nee commented on #564
I found the root cause, the start time and end time not set correctly

[2020-08-21 06:14] #564 closed, assigned to nobody

[2020-08-27 15:06] rmoreno-w opened #565 "How to change days and months text?"
Hello!

I'm new to Ionic and I'm trying to use your directive in an app. I wanted to change the description of days and months to another language (portuguese, in the case) like, instead of showing August and Monday, I would like to change it to "Agosto" and "Segunda". I saw another user doing a similar thing in another Issue that was closed, but he only linked a part of his code that didn't show

[2020-08-29 15:36] pixolopr commented on #423
`
    <div class="scrollable-calender">
        <ng-template #template let-viewDate="viewDate">
            <div class="single-date" (click)="dateClick(viewDate.date)"
                [ngClass]="{'active-date': getDateCode(viewDate.date) == activeDate}">
                <div class="custom-day-header date-title"> {{ viewDate.dayHeader.substring(0, 3) }} </div>
                <div class="custom-day

[2020-08-30 03:22] twinssbc commented on #565
@rmoreno-w You could use dateFormatter option. There's sample code in the README. Basically it allows you to override the formatXXX methods. It accepts a Date object, and you can convert it to any string you want.

[2020-09-03 14:50] jonny1811 commented on #347
I have the same problem. I think this happens when I put the calendar inside a div tag and try to change from month to week mode as well as day mode.
Example: https://stackblitz.com/edit/ionic-ceyyvd?file=pages/home/home.html

[2020-09-06 15:55] twinssbc commented on #347
@jonny1811 you need to set the height of that div as 100%

[code]

[2020-09-07 18:22] ghost opened #566 "Collaborator"
Hello twinssbc

We are using this component for a project and the truth is that it has saved us a lot of time.

However, due to the requirements of our application, it lacks some additional functions and we would like to know if we could collaborate with you on the project?

It would be possible to add ourselves to the GIT, and create local branches, to be able to make modifications.

Regards.

[2020-09-08 10:46] tubauwe opened #567 "Wrong layout after navigating to other page first"
I've added a page with ionic2-calendar in my pwa. It's working well, but after navigating to another page and back to calendar again, the layout becomes wrong:

Here the wanted layout:
<img width="428" alt="ok" src="https://user-images.githubusercontent.com/5855116/92466784-ec68bc80-f1d0-11ea-9b27-ead9c9247e6b.png">

Here the wrong layout:
<img width="426" alt="not-ok" src="https://user-images.git

[2020-09-08 14:12] twinssbc commented on #566
@seguroapp I'm glad that you feel my component is useful. To work on this project doesn't require any permission. It is also MIT license, so feel free to fork it to your own repository and modify it.

[2020-09-08 14:14] twinssbc commented on #567
@tubauwe I'm afraid your question is too general. As I don't know what css styles causing the layout conflict. Could you use the browser developer toolbar to inspect the DOM element, see if any calendar element has some of your css class applied? And then try not to set your css class too generic?

[2020-09-09 17:32] leandrorebelo opened #568 "It doesn't set the date after the first open"
Hello,

I'm trying to use the project at my company to make a popover calendar to our app but we got something wrong at the process.

After the first open from the calendar component, the calendar doesn't set the day passed from param and is weird in the scrolling.

![calendar-2](https://user-images.githubusercontent.com/5497621/92633398-1a213480-f2a9-11ea-82c6-638931d6d4d1.gif)

There are no erro

[2020-09-10 17:01] Yossri21 commented on #244
@twinssbc  I want to change the color of event
I did like that in the html
`<ng-template #template let-view="view" let-row="row" let-col="col">
  <div *ngIf="view.dates[row*7+col].events == ''">{{view.dates[row*7+col].label}}</div>
  <div *ngFor="let obj of view.dates[row*7+col].events">
    <div [ngStyle]="{'background-color': obj.eventColor    } ">{{view.dates[row*7+col].label}}</div>
  </div>
<

[2020-09-10 17:02] Yossri21 commented on #244
![image](https://user-images.githubusercontent.com/26494296/92768310-d0f7e000-f38f-11ea-8724-e4df08e0e52b.png)

[2020-09-10 17:37] Yossri21 commented on #158
@twinssbc
I had same problem as @rajkishoreandia
I did all the instructions for customize each event with different background color
 <div [ngStyle]="{'background': obj.eventColor    } ">{{view.dates[row*7+col].label}}</div>
the problem is the color not for the whole background and when I check the source of the blue color :
.monthview-primary-with-event[_ngcontent-c1] {
    background-color: #3a8

[2020-09-10 19:56] tubauwe commented on #567
Thanks for your help! It's solved now.

[2020-09-10 19:56] #567 closed, assigned to nobody

[2020-09-12 06:24] marrahi opened #569 "Show all events month"
Hi, it's possible that can i show by default all events month?, and if you clic on day list event go to this day.

[2020-09-18 00:21] twinssbc commented on #569
@marrahi This is not supported by the calendar. This calendar control is intended to display the events for the current time range. What you want is display the time range having events. It's quite different behavior.

[2020-09-25 09:49] ErnestoLopez opened #570 "ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked"
Hello,

Inside "onCurrentDateChanged" I update some variables that modify the header of the app always showing the day I am.

On the other hand, inside "onTimeSelected" I assign to "currentDate" of my calendar the selected date.
I do this so that when in the "week" mode I click on a day it will take me to that day.

well, this produces the error ...

ExpressionChangedAfterItHasBeenCheckedError

I'

[2020-09-26 23:59] phyr0s commented on #570
Same error here

[2020-09-28 12:34] twinssbc commented on #570
@ErnestoLopez I think you could try using setTimeout to make certain piece of code execute in a later cycle.

[code]

[2020-09-29 09:34] ErnestoLopez commented on #570
thank you very much

but at this time the error is not reproduced.

If it happens again I use that option and tell you

Greetings,

Ernesto.

[2020-10-09 18:36] Prajakta2910 opened #571 "unable to load events in calendar in ios device"
hi,
 I have creted one appointment schedule app using ionic. it is working perfectly fine with android and chrome browser but when I create ios build it is not working. event sare not loade in the calendar.
 I am getting start and end date 2020-08-05T12:00:00Z format. and while need to convert it to singapore timezone.
I am using moment timzone library to convert it. Please help to identifying the

[2020-10-12 08:49] GroupeBEL commented on #560
@twinssbc  I have the same problem with this array:

[{"startTime":1602806400000,"endTime":1602806400000},{"startTime":1602720000000,"endTime":1602720000000},{"startTime":1603497600000,"endTime":1603497600000},{"startTime":1604016000000,"endTime":1604016000000},{"startTime":1602633600000,"endTime":1602633600000},{"startTime":1602547200000,"endTime":1602547200000}]

I add a Date like this :

[code]

[2020-10-12 13:49] twinssbc commented on #571
@Prajakta2910
check this discussion
https://stackoverflow.com/questions/3085937/safari-js-cannot-parse-yyyy-mm-dd-date-format

Safari has some limitation on the date format. I think you could try to get the millisecond of the date, then parse to new Date()

[2020-10-13 15:52] thinking-brain opened #572 "MonthView don't change when reopen de page"
Hi,
The calendar work fine, i'm loading the events from a service and all is ok. But when i change to another page in the application and return to the calendar page it load the events of the current month ok and when try to change to another month don't do anything, when i try swipe change the numbers in the calendar but is not in the order of that month, don't change the title to the current mon

[2020-10-15 23:42] twinssbc commented on #572
@brainstormECP Could you check the loadEvents method is actually triggered, when you swiping to other month? Also I suggest you set the queryMode to '**remote**' and use **onRangeChanged** method.
I don't quite get this
-- when i try swipe change the numbers in the calendar but is not in the order of that month

[2020-10-16 10:38] sapabg commented on #347
I had the same problem. The <calendar> tag needs to be inside <ion-content> and it works.

[2020-10-17 16:38] harinderratton commented on #472
worked for me

[2020-10-20 09:03] yourzed commented on #572
Hi, same issue here. I have two calendars, the second one is on a modal.
My querymode is set to remote and I use onrangechanged. The fact is that the first calendar works fine, and the first time you open the second also works. But if you enter again to the second one, it stops working.
The calendar month is not set and the buttons prev and next month doesn't work. But if you swipe manualy, you ca